Repository TheBranchDriftCatalyst/talos-homelab: changes, and which lefthook commands are due for each by the changed paths.
All: gitleaks, yamllint, kube-validate, shellcheck, shfmt, markdownlint, trailing-whitespace, helm-lint

gitleaks:
  tags: security
  run: gitleaks protect --verbose --redact --staged
  skip:
  - merge
  - rebase

yamllint:
  tags: linting yaml
  run: yamllint --strict .
  skip:
  - merge
  - rebase

kube-validate:
  tags: kubernetes yaml
  ...

shellcheck:
  tags: linting shell
  run: shellcheck -x {staged_files}
  skip:
  - merge
  - rebase

shfmt:
  tags: formatting shell
  run: shfmt -w -i 2 -ci -sr {staged_files}
  skip:
  - merge
  - rebase
  stage_fixed: true

markdownlint:
  tags: linting markdown
  run: npx markdownlint-cli2 {staged_files}
  skip:
  - merge
  - rebase

trailing-whitespace:
  tags: formatting
  run: "if grep -n '[[:space:]]$' {staged_files}; then\n  echo \"‚ùå Error: Trailing whitespace found\"\n  echo \"Run: sed -i '' 's/[[:space:]]*$//' <file>\"\n  exit 1\nfi\n"
  skip:
  - merge
  - rebase

helm-lint:
  tags: kubernetes helm
  run: "for chart_dir in infrastructure/base/*/; do\n  if [ -f \"$chart_dir/Chart.yaml\" ]; then\n    echo \"Linting Helm chart: $chart_dir\"\n    helm lint \"$chart_dir\" || exit 1\n  fi\ndone\n"
  skip:
  - merge
  - rebase

feat(minio): a scoped bucket for fchat-bouncer's saved images
  infrastructure/base/minio/scoped-users/externalsecrets.yaml
  infrastructure/base/minio/scoped-users/provision.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(fchat-bouncer): stop the bridge from taking the database with it
  clusters/catalyst-cluster/fchat-bouncer.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(fchat-bouncer): retire the Flux bridge, ArgoCD owns the app
  applications/fchat-bouncer/base/deployment.yaml
  applications/fchat-bouncer/base/externalsecret.yaml
  applications/fchat-bouncer/base/ingressroute.yaml
  applications/fchat-bouncer/base/kustomization.yaml
  applications/fchat-bouncer/base/namespace.yaml
  applications/fchat-bouncer/base/patch-image.yaml
  applications/fchat-bouncer/base/postgres-cluster.yaml
  applications/fchat-bouncer/base/registry-pull-secret.yaml
  applications/fchat-bouncer/base/service.yaml
  clusters/catalyst-cluster/fchat-bouncer.yaml
  clusters/catalyst-cluster/flux-system/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(aws-gpu): hfModel-driven XGPUInstance + launch the 1x L40S rig (TALOS-iymy)
  infrastructure/base/aws/apps/gpu-node-235b.yaml
  infrastructure/base/aws/apps/gpu-node-27b-fp8.yaml
  infrastructure/base/aws/apps/gpu-profiles.yaml
  infrastructure/base/aws/apps/gpu-test-rig.yaml
  infrastructure/base/aws/apps/kustomization.yaml
  infrastructure/base/aws/xgpuinstance-composition.yaml
  infrastructure/base/aws/xgpuinstance-xrd.yaml
  scripts/check-spot-avail.sh
  scripts/gpu-tunnel.sh
Due: gitleaks, yamllint, kube-validate, shellcheck, shfmt, trailing-whitespace

fix(aws-gpu): rotate the 1x L40S rig to us-west-2d — 2a has no capacity
  infrastructure/base/aws/apps/gpu-node-27b-fp8.yaml
  infrastructure/base/aws/apps/gpu-profiles.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(aws-gpu): capacityType param; run the 1x L40S rig on-demand
  infrastructure/base/aws/apps/gpu-node-235b.yaml
  infrastructure/base/aws/apps/gpu-node-27b-fp8.yaml
  infrastructure/base/aws/apps/gpu-profiles.yaml
  infrastructure/base/aws/xgpuinstance-composition.yaml
  infrastructure/base/aws/xgpuinstance-xrd.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(aws-gpu): put /cache on local NVMe and unpin placement (TALOS-rkg0)
  infrastructure/base/aws/apps/gpu-node-235b.yaml
  infrastructure/base/aws/apps/gpu-node-27b-fp8.yaml
  infrastructure/base/aws/apps/gpu-profiles.yaml
  infrastructure/base/aws/xgpuinstance-composition.yaml
  infrastructure/base/aws/xgpuinstance-xrd.yaml
  scripts/check-spot-avail.sh
Due: gitleaks, yamllint, kube-validate, shellcheck, shfmt, trailing-whitespace

fix(aws-gpu): move the 1x L40S rig to us-east-2 — us-west-2 is dry
  infrastructure/base/aws/apps/gpu-node-27b-fp8.yaml
  infrastructure/base/aws/apps/gpu-profiles.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(aws-gpu): tear down the 1x L40S rig — off is the default now
  infrastructure/base/aws/apps/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(kyverno): arm the one-rig guard for XGPUInstance (TALOS-5drv.4)
  infrastructure/base/kyverno-policies/kustomization.yaml
  infrastructure/base/kyverno-policies/single-gpu-rig.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(aws-gpu): EC2 Fleet placement, derived TP, streamed weights (TALOS-5drv)
  infrastructure/base/aws/apps/gpu-node-235b.yaml
  infrastructure/base/aws/apps/gpu-node-27b-fp8.yaml
  infrastructure/base/aws/apps/gpu-profiles.yaml
  infrastructure/base/aws/xgpuinstance-composition.yaml
  infrastructure/base/aws/xgpuinstance-xrd.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(aws-providers): activate launchtemplates + fleets for XGPUInstance (TALOS-i91u)
  infrastructure/base/aws-providers/activation-policy.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

refactor(aws-gpu): one home for the endpoint contract, not four
  infrastructure/base/aws/apps/gpu-profiles.yaml
  scripts/gpu-tunnel.sh
Due: gitleaks, yamllint, kube-validate, shellcheck, shfmt, trailing-whitespace

fix(gpu-inference): strip gpuprofile keys describing a dead API (TALOS-tt48)
  infrastructure/base/gpu-inference/gpuprofile.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

docs(aws-gpu): colocated architecture.md for the GPU inference plane
  infrastructure/base/aws/architecture.md
Due: gitleaks, markdownlint, trailing-whitespace

docs(aws-gpu): ROADMAP.md — three levels, the trigger model, and the metric that decides
  infrastructure/base/aws/ROADMAP.md
Due: gitleaks, markdownlint, trailing-whitespace

feat(gpu-inference): LEVEL 2 — relay Pod takes the Mac out of the loop (TALOS-x1sb)
  infrastructure/base/aws/apps/gpu-profiles.yaml
  infrastructure/base/aws/apps/gpu-relay-user.yaml
  infrastructure/base/aws/apps/kustomization.yaml
  infrastructure/base/gpu-inference/gpu-service.yaml
  infrastructure/base/gpu-inference/ingressroute.yaml
  infrastructure/base/gpu-inference/kustomization.yaml
  infrastructure/base/gpu-inference/relay-deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(gpu-inference): delete the ollama-gateway proxy and its HTTPScaledObject
  infrastructure/base/gpu-inference/alerts.yaml
  infrastructure/base/gpu-inference/gateway-deployment.yaml
  infrastructure/base/gpu-inference/gateway-service.yaml
  infrastructure/base/gpu-inference/httpscaledobject.yaml
  infrastructure/base/gpu-inference/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(gpu-inference): drop the now-empty availability alert group
  infrastructure/base/gpu-inference/alerts.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

docs(session): close out 2026-09-30/10-01 — GPU plane rebuild
  SESSION_STATUS.md
Due: gitleaks, markdownlint, trailing-whitespace

feat(aws-inventory): account-wide drift detection — Resource Explorer + an exact MR join (TALOS-hnod)
  infrastructure/base/aws/inventory-ro-user.yaml
  infrastructure/base/monitoring/aws-inventory-exporter/alerts.yaml
  infrastructure/base/monitoring/aws-inventory-exporter/deployment.yaml
  infrastructure/base/monitoring/aws-inventory-exporter/exporter.py
  infrastructure/base/monitoring/aws-inventory-exporter/kustomization.yaml
  infrastructure/base/monitoring/aws-inventory-exporter/rbac.yaml
  infrastructure/base/monitoring/grafana-dashboards/json/aws-inventory.json
  infrastructure/base/monitoring/grafana-dashboards/resources/aws-inventory.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(aws-inventory): arm the exporter RBAC so orphan detection can answer (TALOS-hnod)
  infrastructure/base/monitoring/aws-inventory-exporter/deployment.yaml
  infrastructure/base/monitoring/aws-inventory-exporter/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(themepark): Catalyst Synthwave code syntax highlighting for Forgejo (TALOS-6nf)
  infrastructure/base/themepark/server/css/catalyst.css
Due: none

fix(aws-inventory): read tags the inventory APIs withhold, and count the blind spots
  infrastructure/base/aws/inventory-ro-user.yaml
  infrastructure/base/monitoring/aws-inventory-exporter/exporter.py
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(aws-gpu): arm the relay IAM identity (TALOS-x1sb)
  infrastructure/base/aws/apps/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(gpu): arm the relay Pod — take the Mac out of the transport path (TALOS-x1sb)
  infrastructure/base/gpu-inference/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

test(gpu): arm one rig for the first end-to-end run (TALOS-x1sb)
  infrastructure/base/aws/apps/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(gpu-relay): StringEquals on SessionDocumentAccessCheck denied every session
  infrastructure/base/aws/apps/gpu-relay-user.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

test(gpu): tear the e2e rig back down — off is the default again (TALOS-x1sb)
  infrastructure/base/aws/apps/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

docs(gpu): record the first successful e2e run, and correct the cold-pull claim
  infrastructure/base/aws/apps/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(gpu): the three follow-ups from the first e2e run, plus a probe that lied
  infrastructure/base/aws-providers/activation-policy.yaml
  infrastructure/base/aws/apps/ec2fleet-service-linked-role.yaml
  infrastructure/base/aws/apps/gpu-profiles.yaml
  infrastructure/base/aws/apps/kustomization.yaml
  infrastructure/base/aws/xgpuinstance-composition.yaml
  infrastructure/base/gpu-inference/relay-deployment.yaml
  scripts/check-spot-avail.sh
Due: gitleaks, yamllint, kube-validate, shellcheck, shfmt, trailing-whitespace

feat(aws-inventory): allowlist the audited AWS-owned furniture so "review" can reach zero
  infrastructure/base/monitoring/aws-inventory-exporter/exporter.py
Due: none

fix(gpu-relay): drop the startupProbe — it turns the idle state into a crash loop
  infrastructure/base/gpu-inference/relay-deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(gpu-relay): Recreate strategy — a never-Ready Pod made every revision stack another
  infrastructure/base/gpu-inference/relay-deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(aws-inventory): verify an orphan candidate still EXISTS before calling it an orphan
  infrastructure/base/aws/inventory-ro-user.yaml
  infrastructure/base/monitoring/aws-inventory-exporter/exporter.py
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(aws-inventory): arm the alerts — every input verified quiet first
  infrastructure/base/monitoring/aws-inventory-exporter/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(gpu): tag fleet-launched instances so an orphaned $4/hr box is detectable (TALOS-fpsx)
  infrastructure/base/aws/xgpuinstance-composition.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(aws-inventory): index EVERY served API version — whole MR kinds were invisible
  infrastructure/base/monitoring/aws-inventory-exporter/exporter.py
Due: none

fix(monitoring): restore the ConfigMap content hash so script edits actually take effect
  infrastructure/base/monitoring/aws-inventory-exporter/kustomization.yaml
  infrastructure/base/monitoring/nfs-storage-exporter/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

revert(monitoring): keep the nfs-storage-exporter ConfigMap name stable — the hash broke its mount
  infrastructure/base/monitoring/nfs-storage-exporter/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

Path conditions:
  gitleaks: any of: *.{yaml,yml,sh,json,env,txt,md}
  yamllint: any of: *.{yaml,yml}
  kube-validate: any of: *.{yaml,yml}
  shellcheck: any of: *.sh
  shfmt: any of: *.sh
  markdownlint: any of: *.md
  trailing-whitespace: any of: *.{yaml,yml,sh,md,json}
  helm-lint: any of: **/Chart.yaml
