Repository TheBranchDriftCatalyst/talos-homelab: changes, and which lefthook commands are due for each by the changed paths.
All: gitleaks, yamllint, kube-validate, shellcheck, shfmt, markdownlint, trailing-whitespace, helm-lint

gitleaks:
  tags: security
  run: gitleaks protect --verbose --redact --staged
  skip:
  - merge
  - rebase

yamllint:
  tags: linting yaml
  run: yamllint --strict .
  skip:
  - merge
  - rebase

kube-validate:
  tags: kubernetes yaml
  ...

shellcheck:
  tags: linting shell
  run: shellcheck -x {staged_files}
  skip:
  - merge
  - rebase

shfmt:
  tags: formatting shell
  run: shfmt -w -i 2 -ci -sr {staged_files}
  skip:
  - merge
  - rebase
  stage_fixed: true

markdownlint:
  tags: linting markdown
  run: npx markdownlint-cli2 {staged_files}
  skip:
  - merge
  - rebase

trailing-whitespace:
  tags: formatting
  run: "if grep -n '[[:space:]]$' {staged_files}; then\n  echo \"‚ùå Error: Trailing whitespace found\"\n  echo \"Run: sed -i '' 's/[[:space:]]*$//' <file>\"\n  exit 1\nfi\n"
  skip:
  - merge
  - rebase

helm-lint:
  tags: kubernetes helm
  run: "for chart_dir in infrastructure/base/*/; do\n  if [ -f \"$chart_dir/Chart.yaml\" ]; then\n    echo \"Linting Helm chart: $chart_dir\"\n    helm lint \"$chart_dir\" || exit 1\n  fi\ndone\n"
  skip:
  - merge
  - rebase

feat(dashboards): beelzebub-ops LLM-honeypot dashboard + telemetry audit (TALOS-ztch)
  infrastructure/base/monitoring/grafana-dashboards/json/beelzebub-ops.json
  infrastructure/base/monitoring/grafana-dashboards/kustomization.yaml
  infrastructure/base/monitoring/grafana-dashboards/resources/beelzebub-ops.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(beads): Beelzebub working + dashboard live (Phase 2a)
  .beads/issues.jsonl
Due: none

fix(unifi-bouncer): interactive SSH (prompt once) for the provisioning script (TALOS-spov)
  scripts/security/provision-udm-crowdsec-bouncer.sh
Due: gitleaks, shellcheck, shfmt, trailing-whitespace

fix(unifi-bouncer): run the UDM installer with bash, not sh (TALOS-spov)
  scripts/security/provision-udm-crowdsec-bouncer.sh
Due: gitleaks, shellcheck, shfmt, trailing-whitespace

fix(dashboards): rebuild beelzebub-ops from cowrie-ops skeleton — fixes load-then-crash (TALOS-ztch)
  infrastructure/base/monitoring/grafana-dashboards/json/beelzebub-ops.json
Due: gitleaks, trailing-whitespace

revert(crowdsec): remove the UDM edge-bouncer footprint — tooling too immature (TALOS-spov)
  infrastructure/base/cilium/lb-ipam.yaml
  infrastructure/base/crowdsec/blocklist-mirror.yaml
  infrastructure/base/crowdsec/externalsecret.yaml
  infrastructure/base/crowdsec/helmrelease.yaml
  infrastructure/base/crowdsec/kustomization.yaml
  infrastructure/base/monitoring/grafana-dashboards/json/crowdsec-ops.json
  infrastructure/base/monitoring/v2-otel/alloy/helmrelease.yaml
  scripts/security/provision-udm-crowdsec-bouncer.sh
Due: gitleaks, yamllint, kube-validate, shellcheck, shfmt, trailing-whitespace

feat(falco): cluster-wide runtime syscall detection + honeypot-breach tripwires (TALOS-slbn)
  clusters/catalyst-cluster/falco.yaml
  clusters/catalyst-cluster/flux-system/kustomization.yaml
  infrastructure/base/falco/helmrelease.yaml
  infrastructure/base/falco/helmrepository.yaml
  infrastructure/base/falco/kustomization.yaml
  infrastructure/base/falco/namespace.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(beads): Falco (TALOS-slbn) done + verified firing
  .beads/issues.jsonl
Due: none

fix(honeypot): re-escape $ in backup-cronjob (envsubst) — reverted again by an earlier rebase, ks BuildFailed (TALOS-a8kx)
  infrastructure/base/honeypot/backup-cronjob.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(honeypot-vm): ephemeral KubeVirt detonation VM — internal-only, isolated (TALOS-82um)
  clusters/catalyst-cluster/flux-system/kustomization.yaml
  clusters/catalyst-cluster/honeypot-vm.yaml
  infrastructure/base/honeypot-vm/cilium-network-policy.yaml
  infrastructure/base/honeypot-vm/kustomization.yaml
  infrastructure/base/honeypot-vm/namespace.yaml
  infrastructure/base/honeypot-vm/vm.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(beads): Phase 2c v1 detonation VM substrate done + isolation verified
  .beads/issues.jsonl
Due: none

fix(infra): cnpg operator HA (replicaCount 2) + remove unused tempo-operator
  infrastructure/base/databases/cloudnative-pg/helmrelease.yaml
  infrastructure/base/monitoring/v2-otel/operators/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(beads): cnpg-HA + tempo-operator-removal fixes recorded
  .beads/issues.jsonl
Due: none

fix(flux): drop stale tempo-operator-controller healthCheck — was blocking monitoring-v2-operators
  clusters/catalyst-cluster/monitoring-v2-operators.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(beads): TALOS-gk9n — [discovery] custom blocklist-mirror bouncer (P4)
  .beads/issues.jsonl
Due: none

fix(dashboards): invalid color.mode 'text' -> 'thresholds' on cowrie-ops + beelzebub-ops
  infrastructure/base/monitoring/grafana-dashboards/json/beelzebub-ops.json
  infrastructure/base/monitoring/grafana-dashboards/json/cowrie-ops.json
Due: gitleaks, trailing-whitespace

feat(falco): UI ingress, metrics scrape, and Grafana dashboards (falco cluster)
  infrastructure/base/falco/ingress.yaml
  infrastructure/base/falco/kustomization.yaml
  infrastructure/base/falco/podmonitor.yaml
  infrastructure/base/monitoring/grafana-dashboards/json/cowrie-ops.json
  infrastructure/base/monitoring/grafana-dashboards/json/falco-ops.json
  infrastructure/base/monitoring/grafana-dashboards/kustomization.yaml
  infrastructure/base/monitoring/grafana-dashboards/resources/falco-ops.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(falco): scrape falcosidekick metrics on http (2801) not http-notls
  infrastructure/base/falco/podmonitor.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(authentik): register Falco UI for SSO (falco.talos00) — fixes OIDC 404 (TALOS-spov/falco)
  infrastructure/base/authentik/infra-admin-blueprint.yaml
  infrastructure/base/authentik/talos-private-blueprint.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(crowdsec): bump web-ui to 2026.8.3 (was a bare pinned digest)
  infrastructure/base/crowdsec/webui.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(telemetry): resolve dashboard template vars in the panel audit (TALOS-gsa2)
  tests/telemetry/dashboards.py
  tests/telemetry/test_dashboards.py
Due: none

feat(honeypot-vm): Phase 2c.1 — SSH access + in-guest capture on the detonation VM (TALOS-82um)
  infrastructure/base/honeypot-vm/cilium-network-policy.yaml
  infrastructure/base/honeypot-vm/kustomization.yaml
  infrastructure/base/honeypot-vm/service.yaml
  infrastructure/base/honeypot-vm/vm.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(honeypot): move Beelzebub (honeypot-hi) to WAN + scrape metrics; Cowrie -> backup
  infrastructure/base/honeypot-hi/cilium-network-policy.yaml
  infrastructure/base/honeypot-hi/deployment.yaml
  infrastructure/base/honeypot-hi/kustomization.yaml
  infrastructure/base/honeypot-hi/podmonitor.yaml
  infrastructure/base/honeypot/deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(beads): Phase 2c.1 done + sister-repo SSO-reconciler note
  .beads/issues.jsonl
Due: none

fix(honeypot-hi): PSA restricted->privileged so Beelzebub can bind hostPort 2222 (WAN)
  .beads/issues.jsonl
  infrastructure/base/honeypot-hi/namespace.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(honeypot): hotswap to detonation-vm as active WAN honeypot; beelzebub->0
  infrastructure/base/honeypot-hi/deployment.yaml
  infrastructure/base/honeypot-vm/kustomization.yaml
  infrastructure/base/honeypot-vm/vm.yaml
  infrastructure/base/honeypot-vm/wan-proxy.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(honeypot-vm): pin detonation VM to talos02-gpu, off the high-risk nodes (WAN exposure)
  infrastructure/base/honeypot-vm/vm.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(security): replace detonation-vm with T-Pot standalone; new infrastructure/security/ tree
  clusters/catalyst-cluster/flux-system/kustomization.yaml
  clusters/catalyst-cluster/honeypot-vm.yaml
  clusters/catalyst-cluster/tpot.yaml
  infrastructure/base/catalyst-cnpg-appdb/xrd.yaml
  infrastructure/base/honeypot-vm/cilium-network-policy.yaml
  infrastructure/base/honeypot-vm/service.yaml
  infrastructure/base/honeypot-vm/vm.yaml
  infrastructure/base/honeypot-vm/wan-proxy.yaml
  infrastructure/security/tpot/cilium-network-policy.yaml
  infrastructure/security/tpot/externalsecret.yaml
  infrastructure/security/tpot/kustomization.yaml
  infrastructure/security/tpot/namespace.yaml
  infrastructure/security/tpot/proxies.yaml
  infrastructure/security/tpot/service.yaml
  infrastructure/security/tpot/vm.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

refactor(security): move tpot under infrastructure/base/security/ (not top-level)
  clusters/catalyst-cluster/tpot.yaml
  infrastructure/base/security/tpot/cilium-network-policy.yaml
  infrastructure/base/security/tpot/externalsecret.yaml
  infrastructure/base/security/tpot/kustomization.yaml
  infrastructure/base/security/tpot/namespace.yaml
  infrastructure/base/security/tpot/proxies.yaml
  infrastructure/base/security/tpot/service.yaml
  infrastructure/base/security/tpot/vm.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(tpot): ESO template field is engineVersion, not engine (dry-run reject)
  infrastructure/base/security/tpot/externalsecret.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(tpot): CDI immediate-bind so the disk imports before the VM consumes it (WFFC race)
  infrastructure/base/security/tpot/vm.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(beads): T-Pot infra deployed, importing disk (TALOS-qish)
  .beads/issues.jsonl
Due: none

fix(tpot): Halt VM during disk import to end the virt-launcher-vs-CDI-importer RWO race
  infrastructure/base/security/tpot/vm.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(tpot): start VM (runStrategy Always) — disk import done, boots into T-Pot install
  infrastructure/base/security/tpot/vm.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(falco): tune 5990 alerts to signal; rebuild honeypot rules around containment
  infrastructure/base/falco/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(tpot): distributed Hive+Sensor (memory split across nodes)
  infrastructure/base/falco/helmrelease.yaml
  infrastructure/base/security/tpot/cilium-network-policy.yaml
  infrastructure/base/security/tpot/externalsecret.yaml
  infrastructure/base/security/tpot/hive.yaml
  infrastructure/base/security/tpot/kustomization.yaml
  infrastructure/base/security/tpot/proxies.yaml
  infrastructure/base/security/tpot/sensor.yaml
  infrastructure/base/security/tpot/service.yaml
  infrastructure/base/security/tpot/vm.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(tpot): start Hive+Sensor (runStrategy Always) — disks imported, boot into T-Pot install
  infrastructure/base/security/tpot/hive.yaml
  infrastructure/base/security/tpot/sensor.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(falco): restore the alert tuning clobbered by 530a5923
  infrastructure/base/falco/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(tpot): allow guest DNS to the kube-dns ClusterIP (masquerade CIDR-identity miss)
  infrastructure/base/falco/helmrelease.yaml
  infrastructure/base/security/tpot/cilium-network-policy.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(falco): exclude operator CRI exec from the VM escape rule
  infrastructure/base/falco/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

Path conditions:
  gitleaks: any of: *.{yaml,yml,sh,json,env,txt,md}
  yamllint: any of: *.{yaml,yml}
  kube-validate: any of: *.{yaml,yml}
  shellcheck: any of: *.sh
  shfmt: any of: *.sh
  markdownlint: any of: *.md
  trailing-whitespace: any of: *.{yaml,yml,sh,md,json}
  helm-lint: any of: **/Chart.yaml
