Repository TheBranchDriftCatalyst/talos-homelab: changes, and which lefthook commands are due for each by the changed paths.
All: gitleaks, yamllint, kube-validate, shellcheck, shfmt, markdownlint, trailing-whitespace, helm-lint

gitleaks:
  tags: security
  run: gitleaks protect --verbose --redact --staged
  skip:
  - merge
  - rebase

yamllint:
  tags: linting yaml
  run: yamllint --strict .
  skip:
  - merge
  - rebase

kube-validate:
  tags: kubernetes yaml
  ...

shellcheck:
  tags: linting shell
  run: shellcheck -x {staged_files}
  skip:
  - merge
  - rebase

shfmt:
  tags: formatting shell
  run: shfmt -w -i 2 -ci -sr {staged_files}
  skip:
  - merge
  - rebase
  stage_fixed: true

markdownlint:
  tags: linting markdown
  run: npx markdownlint-cli2 {staged_files}
  skip:
  - merge
  - rebase

trailing-whitespace:
  tags: formatting
  run: "if grep -n '[[:space:]]$' {staged_files}; then\n  echo \"‚ùå Error: Trailing whitespace found\"\n  echo \"Run: sed -i '' 's/[[:space:]]*$//' <file>\"\n  exit 1\nfi\n"
  skip:
  - merge
  - rebase

helm-lint:
  tags: kubernetes helm
  run: "for chart_dir in infrastructure/base/*/; do\n  if [ -f \"$chart_dir/Chart.yaml\" ]; then\n    echo \"Linting Helm chart: $chart_dir\"\n    helm lint \"$chart_dir\" || exit 1\n  fi\ndone\n"
  skip:
  - merge
  - rebase

fix(tpot): re-run install with DNS fixed — Halt for clean re-import + add cloud-init DNS-wait guard
  infrastructure/base/falco/helmrelease.yaml
  infrastructure/base/security/tpot/externalsecret.yaml
  infrastructure/base/security/tpot/hive.yaml
  infrastructure/base/security/tpot/sensor.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(tpot): start Hive+Sensor for the real install run (DNS fixed)
  infrastructure/base/security/tpot/hive.yaml
  infrastructure/base/security/tpot/sensor.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(falco): restore alert tuning clobbered a SECOND time
  infrastructure/base/falco/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(falco): cover locally-built CNPG operand images in the WAL-hook exception
  infrastructure/base/falco/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(tpot): guests resolve via public DNS 1.1.1.1 (masquerade/kube-dns path unreliable for guests)
  infrastructure/base/falco/helmrelease.yaml
  infrastructure/base/security/tpot/cilium-network-policy.yaml
  infrastructure/base/security/tpot/externalsecret.yaml
  infrastructure/base/security/tpot/hive.yaml
  infrastructure/base/security/tpot/sensor.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(falco): restore alert tuning clobbered a THIRD time
  infrastructure/base/falco/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(tpot): start Hive+Sensor (public-DNS install run)
  infrastructure/base/falco/helmrelease.yaml
  infrastructure/base/security/tpot/hive.yaml
  infrastructure/base/security/tpot/sensor.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(tpot): pin DNS in bootcmd (before package phase) + force TCP DNS (use-vc) for masquerade
  infrastructure/base/security/tpot/externalsecret.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(tpot): recreate for bootcmd DNS fix validation
  infrastructure/base/security/tpot/hive.yaml
  infrastructure/base/security/tpot/sensor.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(tpot): use Debian 13 (trixie) — T-Pot installer requires it, rejects bookworm/12
  infrastructure/base/security/tpot/hive.yaml
  infrastructure/base/security/tpot/sensor.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(tpot): wan-proxy strategy Recreate (hostPort 2222 can't double-bind on rolling update)
  infrastructure/base/security/tpot/proxies.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(tpot): runStrategy Always (committed) — Debian 13 install run, no live-patch revert
  infrastructure/base/security/tpot/hive.yaml
  infrastructure/base/security/tpot/sensor.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(tpot): permanent guest DNS — disable systemd-resolved in bootcmd + hive OS login
  infrastructure/base/security/tpot/externalsecret.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(tpot): hive Halted for re-import with fixed cloud-init (DNS+login)
  infrastructure/base/security/tpot/hive.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

refactor(tpot): remove KubeVirt VM approach — pivot to native honeypot Deployments
  clusters/catalyst-cluster/tpot.yaml
  infrastructure/base/security/tpot/cilium-network-policy.yaml
  infrastructure/base/security/tpot/externalsecret.yaml
  infrastructure/base/security/tpot/hive.yaml
  infrastructure/base/security/tpot/kustomization.yaml
  infrastructure/base/security/tpot/namespace.yaml
  infrastructure/base/security/tpot/proxies.yaml
  infrastructure/base/security/tpot/sensor.yaml
  infrastructure/base/security/tpot/service.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(tpot): cowrie SSH/telnet honeypot as native Deployment (WAN:2222, hostPort, source-IP-preserving)
  infrastructure/base/security/tpot/cowrie.yaml
  infrastructure/base/security/tpot/kustomization.yaml
  infrastructure/base/security/tpot/namespace.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(tpot): let cowrie image do its own privilege drop (no_new_privs/drop-ALL broke setuid)
  infrastructure/base/security/tpot/cowrie.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(tpot): use self-contained upstream cowrie/cowrie image (T-Pot repackage needs tpotinit)
  infrastructure/base/security/tpot/cowrie.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(tpot): egress cage for honeypots (default-deny + DNS + public-only, world ingress on listen ports)
  infrastructure/base/security/tpot/cilium-network-policy.yaml
  infrastructure/base/security/tpot/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(security): consolidate honeypots under security/ — cowrie + beelzebub on one VIP, 90/10 sticky
  clusters/catalyst-cluster/flux-system/kustomization.yaml
  clusters/catalyst-cluster/honeypot-hi.yaml
  clusters/catalyst-cluster/honeypot.yaml
  clusters/catalyst-cluster/honeypots.yaml
  clusters/catalyst-cluster/tpot.yaml
  infrastructure/base/cilium/lb-ipam.yaml
  infrastructure/base/honeypot-hi/kustomization.yaml
  infrastructure/base/honeypot-hi/namespace.yaml
  infrastructure/base/honeypot/cilium-network-policy.yaml
  infrastructure/base/honeypot/kustomization.yaml
  infrastructure/base/security/honeypots/Tiltfile
  infrastructure/base/security/honeypots/backup-cronjob.yaml
  infrastructure/base/security/honeypots/beelzebub-cilium-network-policy.yaml
  infrastructure/base/security/honeypots/beelzebub-configmap.yaml
  infrastructure/base/security/honeypots/beelzebub-deployment.yaml
  infrastructure/base/security/honeypots/beelzebub-externalsecret.yaml
  infrastructure/base/security/honeypots/beelzebub-podmonitor.yaml
  infrastructure/base/security/honeypots/beelzebub-service.yaml
  infrastructure/base/security/honeypots/cilium-network-policy.yaml
  infrastructure/base/security/honeypots/configmap.yaml
  infrastructure/base/security/honeypots/dashboard.sh
  infrastructure/base/security/honeypots/deployment.yaml
  infrastructure/base/security/honeypots/fs-hardening/lscpu
  infrastructure/base/security/honeypots/fs-hardening/nproc
  infrastructure/base/security/honeypots/haproxy.yaml
  infrastructure/base/security/honeypots/kustomization.yaml
  infrastructure/base/security/honeypots/namespace.yaml
  infrastructure/base/security/honeypots/pvc.yaml
  infrastructure/base/security/honeypots/service.yaml
  infrastructure/base/security/honeypots/tests/.gitignore
  infrastructure/base/security/honeypots/tests/pentest-job.yaml
  infrastructure/base/security/honeypots/tests/test_honeypot_security.py
  infrastructure/base/security/honeypots/vip.yaml
  infrastructure/base/security/tpot/cilium-network-policy.yaml
  infrastructure/base/security/tpot/cowrie.yaml
  infrastructure/base/security/tpot/kustomization.yaml
  infrastructure/base/security/tpot/namespace.yaml
Due: gitleaks, yamllint, kube-validate, shellcheck, shfmt, trailing-whitespace

fix(honeypots): bump haproxy memory (64Mi OOMKilled at startup)
  infrastructure/base/security/honeypots/haproxy.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(honeypots): pin honeypot VIP L2 announce to talos02-gpu (Local policy needs local backend)
  infrastructure/base/cilium/lb-ipam.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(honeypots): VIP owns its WAN forward via unifi-port-forward annotation (drop cowrie-honeypot CRD)
  infrastructure/base/security/honeypots/vip.yaml
  infrastructure/base/unifi-port-forward/portforward-rules.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

refactor(unifi-port-forward): owning services declare their own WAN forwards via annotation
  applications/gaming/base/kubevirt/windows-service.yaml
  applications/gaming/base/opensim/service.yaml
  infrastructure/base/unifi-port-forward/portforward-rules.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(unifi-port-forward): grant services update/patch for annotation-mode finalizer
  infrastructure/base/unifi-port-forward/rbac.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(port-forward): annotation mapping is externalPort:portNAME not :portNumber
  applications/gaming/base/kubevirt/windows-service.yaml
  applications/gaming/base/opensim/service.yaml
  infrastructure/base/security/honeypots/vip.yaml
  infrastructure/base/unifi-port-forward/rbac.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(crowdsec): wire honeypot VIP haproxy front -> bans (real attacker IPs)
  infrastructure/base/crowdsec/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(security): honeypot dashboard audit + falco haproxy FP + abuseipdb DNS crash
  infrastructure/base/monitoring/grafana-dashboards/json/beelzebub-ops.json
  infrastructure/base/monitoring/grafana-dashboards/json/cowrie-ops.json
  infrastructure/base/security/crowdsec/abuseipdb-reporter/reporter.py
  infrastructure/base/security/falco/helmrelease.yaml
  tests/telemetry/dashboards.py
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(dashboards): merge cowrie-ops + beelzebub-ops into one honeypot-ops dashboard
  infrastructure/base/monitoring/grafana-dashboards/json/beelzebub-ops.json
  infrastructure/base/monitoring/grafana-dashboards/json/cowrie-ops.json
  infrastructure/base/monitoring/grafana-dashboards/json/honeypot-ops.json
  infrastructure/base/monitoring/grafana-dashboards/kustomization.yaml
  infrastructure/base/monitoring/grafana-dashboards/resources/beelzebub-ops.yaml
  infrastructure/base/monitoring/grafana-dashboards/resources/cowrie-ops.yaml
  infrastructure/base/monitoring/grafana-dashboards/resources/honeypot-ops.yaml
  tests/telemetry/dashboards.py
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(security): scaffold `security` namespace migration (INERT, gated on TALOS-ic20)
  infrastructure/base/security/_namespace-migration/README.md
  infrastructure/base/security/_namespace-migration/namespace.yaml
Due: gitleaks, yamllint, kube-validate, markdownlint, trailing-whitespace

fix(falco): scope honeypot-breach rule to emulator containers only (cowrie, beelzebub)
  infrastructure/base/security/falco/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(honeypots): persist real attacker IP through haproxy to cowrie via PROXY protocol
  infrastructure/base/security/honeypots/configmap.yaml
  infrastructure/base/security/honeypots/haproxy.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(dashboards): add SSH-vs-telnet protocol panels to honeypot-ops
  infrastructure/base/monitoring/grafana-dashboards/json/honeypot-ops.json
  tests/telemetry/dashboards.py
Due: gitleaks, trailing-whitespace

fix(dashboards): correct legendFormat on honeypot-ops split panels
  infrastructure/base/monitoring/grafana-dashboards/json/honeypot-ops.json
Due: gitleaks, trailing-whitespace

test(telemetry): allowlist honeypot-ops Failed Logins (sporadic) + Falco breach panel (empty=healthy)
  tests/telemetry/dashboards.py
Due: none

feat(honeypots): ensure 90:10 ratio WITH sticky sessions (roundrobin + stick-table)
  infrastructure/base/security/honeypots/haproxy.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(dashboards): honeypot-ops pies split + kill 'Value #A' labels
  infrastructure/base/monitoring/grafana-dashboards/json/honeypot-ops.json
Due: gitleaks, trailing-whitespace

test(telemetry): auto-discover ALL dashboards for the structural smoke test
  tests/telemetry/dashboards.py
  tests/telemetry/test_dashboards.py
Due: none

test(telemetry): live-audit EVERY dashboard + infer datasources from CRs
  tests/telemetry/dashboards.py
  tests/telemetry/test_dashboards.py
Due: none

Path conditions:
  gitleaks: any of: *.{yaml,yml,sh,json,env,txt,md}
  yamllint: any of: *.{yaml,yml}
  kube-validate: any of: *.{yaml,yml}
  shellcheck: any of: *.sh
  shfmt: any of: *.sh
  markdownlint: any of: *.md
  trailing-whitespace: any of: *.{yaml,yml,sh,md,json}
  helm-lint: any of: **/Chart.yaml
