Repository TheBranchDriftCatalyst/talos-homelab: changes, and which lefthook commands are due for each by the changed paths.
All: gitleaks, yamllint, kube-validate, shellcheck, shfmt, markdownlint, trailing-whitespace, helm-lint

gitleaks:
  tags: security
  run: gitleaks protect --verbose --redact --staged
  skip:
  - merge
  - rebase

yamllint:
  tags: linting yaml
  run: yamllint --strict .
  skip:
  - merge
  - rebase

kube-validate:
  tags: kubernetes yaml
  ...

shellcheck:
  tags: linting shell
  run: shellcheck -x {staged_files}
  skip:
  - merge
  - rebase

shfmt:
  tags: formatting shell
  run: shfmt -w -i 2 -ci -sr {staged_files}
  skip:
  - merge
  - rebase
  stage_fixed: true

markdownlint:
  tags: linting markdown
  run: npx markdownlint-cli2 {staged_files}
  skip:
  - merge
  - rebase

trailing-whitespace:
  tags: formatting
  run: "if grep -n '[[:space:]]$' {staged_files}; then\n  echo \"‚ùå Error: Trailing whitespace found\"\n  echo \"Run: sed -i '' 's/[[:space:]]*$//' <file>\"\n  exit 1\nfi\n"
  skip:
  - merge
  - rebase

helm-lint:
  tags: kubernetes helm
  run: "for chart_dir in infrastructure/base/*/; do\n  if [ -f \"$chart_dir/Chart.yaml\" ]; then\n    echo \"Linting Helm chart: $chart_dir\"\n    helm lint \"$chart_dir\" || exit 1\n  fi\ndone\n"
  skip:
  - merge
  - rebase

fix(cilium): enable all Cilium dashboards in Grafana
  configs/cilium-manifest.yaml
  configs/cilium-values.yaml
  infrastructure/base/monitoring/grafana-dashboards/cilium-dashboards.yaml
  infrastructure/base/monitoring/v2-otel/alloy/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(plex): move SQLite databases to local storage
  applications/arr-stack/base/plex/backup-cronjob.yaml
  applications/arr-stack/base/plex/deployment.yaml
  applications/arr-stack/base/plex/kustomization.yaml
  applications/arr-stack/base/plex/pvc.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(plex): mount db-local volume in main container
  applications/arr-stack/base/plex/deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(arr-stack): DRY up SQLite local storage migration
  .beads/issues.jsonl
  applications/arr-stack/base/jellyfin/backup-cronjob.yaml
  applications/arr-stack/base/jellyfin/deployment.yaml
  applications/arr-stack/base/jellyfin/kustomization.yaml
  applications/arr-stack/base/jellyfin/pvc.yaml
  applications/arr-stack/base/kustomization.yaml
  applications/arr-stack/base/plex/deployment.yaml
  applications/arr-stack/base/shared/db-migration-configmap.yaml
  applications/arr-stack/base/shared/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(arr-stack): use decimal for defaultMode (493 = 0o755)
  applications/arr-stack/base/jellyfin/backup-cronjob.yaml
  applications/arr-stack/base/jellyfin/deployment.yaml
  applications/arr-stack/base/plex/backup-cronjob.yaml
  applications/arr-stack/base/plex/deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(vpn): checkpoint before dedicated NIC setup
  .beads/issues.jsonl
  .gitignore
  configs/cilium-manifest.yaml
  configs/cilium-values.yaml
  configs/patches/wireguard-remove-talos01.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(vpn-gateway): add gluetun pod-based VPN gateway with ProtonVPN WireGuard
  .beads/issues.jsonl
  configs/cilium-manifest.yaml
  configs/cilium-values.yaml
  infrastructure/base/traefik/helmrelease.yaml
  infrastructure/base/vpn-gateway/deployment.yaml
  infrastructure/base/vpn-gateway/externalsecret.yaml
  infrastructure/base/vpn-gateway/ingressroute-tcp.yaml
  infrastructure/base/vpn-gateway/kustomization.yaml
  infrastructure/base/vpn-gateway/namespace.yaml
  infrastructure/base/vpn-gateway/service.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(vpn-gateway): add true SOCKS5 proxy and control server
  infrastructure/base/vpn-gateway/deployment.yaml
  infrastructure/base/vpn-gateway/service.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(monitoring): add VPN Gateway Grafana dashboard
  infrastructure/base/monitoring/grafana-dashboards/kustomization.yaml
  infrastructure/base/monitoring/grafana-dashboards/vpn-gateway-dashboard.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(vpn-gateway): add SecureXNG with mTLS and Shadowsocks support
  .beads/deletions.jsonl
  .beads/issues.jsonl
  .gitignore
  .gitleaksignore
  infrastructure/base/traefik/helmrelease.yaml
  infrastructure/base/vpn-gateway/README.md
  infrastructure/base/vpn-gateway/ingressroute-tcp.yaml
  infrastructure/base/vpn-gateway/kustomization.yaml
  infrastructure/base/vpn-gateway/mtls-ca.yaml
  infrastructure/base/vpn-gateway/securexng.yaml
Due: gitleaks, yamllint, kube-validate, markdownlint, trailing-whitespace

fix(monitoring): improve VPN Gateway dashboard with pod filtering
  infrastructure/base/monitoring/grafana-dashboards/vpn-gateway-dashboard.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(monitoring): group VPN metrics by service name, not pod hash
  infrastructure/base/monitoring/grafana-dashboards/vpn-gateway-dashboard.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(vpn-gateway): add gluetun-exporter for VPN metrics + Alloy PodMonitor support
  infrastructure/base/monitoring/v2-otel/alloy/helmrelease.yaml
  infrastructure/base/monitoring/v2-otel/alloy/rbac.yaml
  infrastructure/base/vpn-gateway/deployment.yaml
  infrastructure/base/vpn-gateway/gluetun-exporter.yaml
  infrastructure/base/vpn-gateway/kustomization.yaml
  infrastructure/base/vpn-gateway/securexng.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(monitoring): enhance VPN dashboard with connection info and bullet charts
  infrastructure/base/monitoring/grafana-dashboards/vpn-gateway-dashboard.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(monitoring): add negative-Y transform to all TX series in VPN dashboard
  infrastructure/base/monitoring/grafana-dashboards/vpn-gateway-dashboard.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(vpn-gateway): increase securexng liveness probe timeout
  infrastructure/base/vpn-gateway/securexng.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(grafana): use 1Password for admin credentials via ESO
  infrastructure/base/monitoring/grafana-instances/admin-credentials-externalsecret.yaml
  infrastructure/base/monitoring/grafana-instances/grafana-instance.yaml
  infrastructure/base/monitoring/grafana-instances/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore: sync beads database and update gitignore
  .beads/issues.jsonl
  .gitignore
Due: none

feat(storage): add Synology Archive10T volume for tdarr
  applications/arr-stack/base/tdarr/deployment.yaml
  infrastructure/base/storage/synology-storage.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(tdarr): increase probe delays for slow ffmpeg download
  applications/arr-stack/base/tdarr/deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(gpu): add supplementalGroups for video group access
  applications/arr-stack/overlays/gpu/jellyfin-gpu-patch.yaml
  applications/arr-stack/overlays/gpu/plex-gpu-patch.yaml
  applications/arr-stack/overlays/gpu/tdarr-gpu-patch.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(gpu): use privileged mode for full GPU device access
  applications/arr-stack/overlays/gpu/jellyfin-gpu-patch.yaml
  applications/arr-stack/overlays/gpu/plex-gpu-patch.yaml
  applications/arr-stack/overlays/gpu/tdarr-gpu-patch.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(tdarr): remove device plugin request, use hostPath only
  applications/arr-stack/overlays/gpu/tdarr-gpu-patch.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore: add GPU retrospective task TALOS-707
  .beads/issues.jsonl
  .gitignore
  configs/nodes/talos02-gpu-schematic.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore: update GPU retrospective with full investigation results
  .beads/issues.jsonl
Due: none

docs(gpu): document rollback attempt and root cause analysis
  .beads/issues.jsonl
  RETRO-GPU-2025-12-19.md
  configs/nodes/talos02-gpu-schematic.yaml
Due: gitleaks, yamllint, kube-validate, markdownlint, trailing-whitespace

docs(gpu): GPU FIXED - cold boot resolved wedged state
  .beads/issues.jsonl
  RETRO-GPU-2025-12-19.md
Due: gitleaks, markdownlint, trailing-whitespace

docs: move GPU retrospective to docs/retros/
  configs/patches/wireguard-remove-talos01.yaml
  docs/retros/RETRO-GPU-2025-12-19.md
  scripts/network-layer-tests.sh
Due: gitleaks, yamllint, kube-validate, shellcheck, shfmt, markdownlint, trailing-whitespace

feat(tdarr): add GPU worker for talos03 (AMD Radeon Vega)
  applications/arr-stack/base/tdarr/kustomization.yaml
  applications/arr-stack/base/tdarr/tdarr-node-gpu-talos03.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(plex): enable read/write access to media directories
  applications/arr-stack/base/plex/deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

docs(project): add cluster power & resource optimization project
  .beads/issues.jsonl
  docs/05-projects/cluster-optimization/README.md
Due: gitleaks, markdownlint, trailing-whitespace

docs(project): add control plane isolation strategy
  .beads/issues.jsonl
  docs/05-projects/cluster-optimization/README.md
Due: gitleaks, markdownlint, trailing-whitespace

docs(project): add Karpenter for hybrid cloud GPU scaling
  .beads/issues.jsonl
  applications/arr-stack/base/plex/deployment.yaml
  docs/05-projects/cluster-optimization/README.md
Due: gitleaks, yamllint, kube-validate, markdownlint, trailing-whitespace

fix(tdarr): add synology-archive volume mount to node pods
  applications/arr-stack/base/tdarr/tdarr-node-daemonset.yaml
  applications/arr-stack/base/tdarr/tdarr-node-gpu-talos03.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(tdarr): reduce readiness probe delay from 300s to 30s
  applications/arr-stack/base/tdarr/deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(tdarr): add fsGroup/supplementalGroups for NFS access
  applications/arr-stack/base/tdarr/deployment.yaml
  applications/arr-stack/base/tdarr/tdarr-node-daemonset.yaml
  applications/arr-stack/base/tdarr/tdarr-node-gpu-talos03.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(dashboard): add dynamic infrastructure storage display
  applications/arr-stack/dashboard.sh
  scripts/lib/dashboard-common.sh
Due: gitleaks, shellcheck, shfmt, trailing-whitespace

beads: add LDAP user management feature issue (TALOS-2zkp)
  .beads/issues.jsonl
Due: none

feat(control-plane): add tolerations for stateful workloads with local-path PVs
  applications/arr-stack/base/kometa/deployment.yaml
  applications/arr-stack/base/posterizarr/deployment.yaml
  applications/arr-stack/base/posterr/deployment.yaml
  applications/arr-stack/base/postgresql/deployment.yaml
  applications/arr-stack/base/tautulli/deployment.yaml
  infrastructure/base/authentik/helmrelease.yaml
  infrastructure/base/monitoring/v2-otel/loki/helmrelease.yaml
  infrastructure/base/monitoring/v2-otel/tempo/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(scripts): add GPU transcode test script
  scripts/gpu-transcode-test.sh
Due: gitleaks, shellcheck, shfmt, trailing-whitespace

Path conditions:
  gitleaks: any of: *.{yaml,yml,sh,json,env,txt,md}
  yamllint: any of: *.{yaml,yml}
  kube-validate: any of: *.{yaml,yml}
  shellcheck: any of: *.sh
  shfmt: any of: *.sh
  markdownlint: any of: *.md
  trailing-whitespace: any of: *.{yaml,yml,sh,md,json}
  helm-lint: any of: **/Chart.yaml
