Repository TheBranchDriftCatalyst/talos-homelab: changes, and which lefthook commands are due for each by the changed paths.
All: gitleaks, yamllint, kube-validate, shellcheck, shfmt, markdownlint, trailing-whitespace, helm-lint

Path conditions:
  gitleaks: any of: *.{yaml,yml,sh,json,env,txt,md}
  yamllint: any of: *.{yaml,yml}
  kube-validate: any of: *.{yaml,yml}
  shellcheck: any of: *.sh
  shfmt: any of: *.sh
  markdownlint: any of: *.md
  trailing-whitespace: any of: *.{yaml,yml,sh,md,json}
  helm-lint: any of: **/Chart.yaml

fix(tilt): resolve port conflicts when catalyst-llm Tiltfile is included
  applications/catalyst-llm/Tiltfile
Due: none

feat(ollama): add init container to auto-pull models on startup
  applications/catalyst-llm/ollama-talos06.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(llm-scaler): add routing mode toggle and topbar stats
  applications/catalyst-llm/llm-scaler/scaler.go
  applications/catalyst-llm/llm-scaler/ui.go
  applications/catalyst-llm/llm-scaler/websocket.go
Due: none

feat(nebula): add Flux management for Nebula mesh VPN
  .beads/issues.jsonl
  clusters/catalyst-cluster/catalyst-llm.yaml
  clusters/catalyst-cluster/nebula.yaml
  infrastructure/base/nebula/daemonset.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(flux): include nebula.yaml in flux-system kustomization
  clusters/catalyst-cluster/flux-system/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(tiltfile): add local Mac Ollama resource for dev
  .beads/issues.jsonl
  applications/catalyst-llm/Tiltfile
Due: none

feat(tiltfile): auto-pull default models for Mac Ollama
  applications/catalyst-llm/Tiltfile
Due: none

feat(llm-scaler): add Mac Ollama routing mode for Tilt dev
  applications/catalyst-llm/Tiltfile
  applications/catalyst-llm/llm-scaler/main.go
  applications/catalyst-llm/llm-scaler/scaler.go
  applications/catalyst-llm/llm-scaler/ui.go
  applications/catalyst-llm/llm-scaler/websocket.go
Due: none

beads: close TALOS-z53e Mac routing feature
  .beads/issues.jsonl
Due: none

feat(catalyst-llm): add ConfigMap-based model management + uncensored models
  applications/catalyst-llm/Tiltfile
  applications/catalyst-llm/ollama-models-configmap.yaml
  applications/catalyst-llm/ollama-talos06.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(nebula): update lighthouse IP from 52.13.210.163 to 52.10.38.70
  applications/catalyst-llm/Tiltfile
  clusters/catalyst-cluster/nebula.yaml
  infrastructure/base/nebula/configmap.yaml
  scripts/hybrid-llm/worker-userdata.sh
Due: gitleaks, yamllint, kube-validate, shellcheck, shfmt, trailing-whitespace

beads: close TALOS-q501 (Nebula mesh fix)
  .beads/issues.jsonl
Due: none

beads: migrate llm-scaler .todo to beads issues
  .beads/issues.jsonl
  applications/catalyst-llm/llm-scaler/.todo
Due: none

docs(llm-scaler): add .todo as beads issue index
  applications/catalyst-llm/llm-scaler/.todo
Due: none

beads: add TALOS-pzv6 (priority + autostart for Ollama providers)
  .beads/issues.jsonl
  applications/catalyst-llm/llm-scaler/.todo
Due: none

feat(ollama): expand uncensored/abliterated model list
  applications/catalyst-llm/ollama-models-configmap.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

beads: add RabbitMQ broker + routing features
  .beads/issues.jsonl
  applications/catalyst-llm/llm-scaler/.todo
Due: none

fix(llm-scaler): fix formatBytes using wrong string conversion
  .beads/issues.jsonl
  applications/catalyst-llm/llm-scaler/websocket.go
Due: none

beads: close TALOS-az0s, update .todo index
  .beads/issues.jsonl
  applications/catalyst-llm/llm-scaler/.todo
Due: none

docs: add GPU instance guide for LLM inference
  docs/07-reference/gpu-instance-guide.md
Due: gitleaks, markdownlint, trailing-whitespace

feat(catalyst-llm): add LobeChat UI
  applications/catalyst-llm/ingressroute.yaml
  applications/catalyst-llm/kustomization.yaml
  applications/catalyst-llm/lobe-chat.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(catalyst-llm): match PVC size to actual (100Gi)
  applications/catalyst-llm/ollama-talos06.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

beads: add TALOS-4rgv (LobeChat enhancements)
  .beads/issues.jsonl
Due: none

feat(catalyst-llm): add RabbitMQ message broker for LLM routing
  .beads/issues.jsonl
  CLAUDE.md
  applications/catalyst-llm/configmap.yaml
  applications/catalyst-llm/kustomization.yaml
  applications/catalyst-llm/llm-scaler/.todo
  applications/catalyst-llm/rabbitmq-secrets.yaml
  applications/catalyst-llm/rabbitmq.yaml
  applications/catalyst-llm/scaler-deployment.yaml
Due: gitleaks, yamllint, kube-validate, markdownlint, trailing-whitespace

feat(llm-scaler): add RabbitMQ AMQP client for broker mode
  applications/catalyst-llm/llm-scaler/.todo
  applications/catalyst-llm/llm-scaler/broker.go
  applications/catalyst-llm/llm-scaler/go.mod
  applications/catalyst-llm/llm-scaler/go.sum
  applications/catalyst-llm/llm-scaler/main.go
  applications/catalyst-llm/llm-scaler/scaler.go
  applications/catalyst-llm/llm-scaler/websocket.go
Due: none

beads: update TALOS-x3ik progress notes
  .beads/issues.jsonl
Due: none

feat(rabbitmq): use temp hardcoded credentials (panda/turbopookipanda)
  .beads/issues.jsonl
  applications/catalyst-llm/configmap.yaml
  applications/catalyst-llm/rabbitmq-secrets.yaml
  applications/catalyst-llm/rabbitmq.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

refactor(catalyst-llm): rename llm-scaler to llm-proxy (TALOS-i53f)
  .beads/issues.jsonl
  .github/workflows/llm-proxy.yaml
  applications/catalyst-llm/Tiltfile
  applications/catalyst-llm/dashboard.sh
  applications/catalyst-llm/ingressroute.yaml
  applications/catalyst-llm/kustomization.yaml
  applications/catalyst-llm/llm-proxy/.todo
  applications/catalyst-llm/llm-proxy/Dockerfile
  applications/catalyst-llm/llm-proxy/broker.go
  applications/catalyst-llm/llm-proxy/go.mod
  applications/catalyst-llm/llm-proxy/go.sum
  applications/catalyst-llm/llm-proxy/main.go
  applications/catalyst-llm/llm-proxy/scaler.go
  applications/catalyst-llm/llm-proxy/scripts/llm-worker.sh
  applications/catalyst-llm/llm-proxy/ui.go
  applications/catalyst-llm/llm-proxy/websocket.go
  applications/catalyst-llm/llm-scaler/Dockerfile
  applications/catalyst-llm/lobe-chat.yaml
  applications/catalyst-llm/open-webui.yaml
  applications/catalyst-llm/proxy-deployment.yaml
  applications/catalyst-llm/proxy-secrets.yaml
  applications/catalyst-llm/pvc.yaml
Due: gitleaks, yamllint, kube-validate, shellcheck, shfmt, trailing-whitespace

beads: close TALOS-i53f (llm-scaler → llm-proxy rename complete)
  .beads/issues.jsonl
Due: none

fix(tiltfile): update yaml references from scaler to proxy
  applications/catalyst-llm/Tiltfile
Due: none

feat(llm-proxy): add RabbitMQ worker consumer sidecar (TALOS-x3ik)
  applications/catalyst-llm/llm-proxy/main.go
  applications/catalyst-llm/llm-proxy/worker.go
  applications/catalyst-llm/ollama-talos06.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(rabbitmq): switch to OCI registry for Bitnami chart
  applications/catalyst-llm/rabbitmq.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(rabbitmq): use official RabbitMQ image instead of Bitnami
  applications/catalyst-llm/rabbitmq.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(worker): use dedicated channels per queue + unique consumer tags
  applications/catalyst-llm/llm-proxy/worker.go
Due: none

beads: update TALOS-x3ik progress (worker sidecar complete)
  .beads/issues.jsonl
Due: none

feat(vpn-rotation): derive server list dynamically + add key validation
  infrastructure/base/vpn-gateway/rotation/configmap-script.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

beads: close TALOS-ccco (VPN rotation dynamic server list)
  .beads/issues.jsonl
Due: none

feat(catalyst-llm): integrate broker routing in llm-proxy
  applications/catalyst-llm/apps/lobe-chat.yaml
  applications/catalyst-llm/apps/open-webui.yaml
  applications/catalyst-llm/apps/searxng.yaml
  applications/catalyst-llm/apps/sillytavern.yaml
  applications/catalyst-llm/configmap.yaml
  applications/catalyst-llm/kustomization.yaml
  applications/catalyst-llm/llm-proxy/broker.go
  applications/catalyst-llm/llm-proxy/go.mod
  applications/catalyst-llm/llm-proxy/go.sum
  applications/catalyst-llm/llm-proxy/scaler.go
  applications/catalyst-llm/llm-proxy/scripts/llm-worker.sh
Due: gitleaks, yamllint, kube-validate, shellcheck, shfmt, trailing-whitespace

beads: close TALOS-x3ik (RabbitMQ broker integration)
  .beads/issues.jsonl
Due: none

fix(catalyst-llm): use specific routing keys to prevent 5x message processing
  applications/catalyst-llm/llm-proxy/broker.go
  applications/catalyst-llm/llm-proxy/worker.go
Due: none
