Repository TheBranchDriftCatalyst/talos-homelab: changes, and which lefthook commands are due for each by the changed paths.
All: gitleaks, yamllint, kube-validate, shellcheck, shfmt, markdownlint, trailing-whitespace, helm-lint

Path conditions:
  gitleaks: any of: *.{yaml,yml,sh,json,env,txt,md}
  yamllint: any of: *.{yaml,yml}
  kube-validate: any of: *.{yaml,yml}
  shellcheck: any of: *.sh
  shfmt: any of: *.sh
  markdownlint: any of: *.md
  trailing-whitespace: any of: *.{yaml,yml,sh,md,json}
  helm-lint: any of: **/Chart.yaml

fix(otel-operator): bump chart 0.74.0 -> 0.114.1 to escape SM CrashLoop
  infrastructure/base/monitoring/v2-otel/operators/otel-operator/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(pod-cleanup): per-resource deletion events + dashboard table
  infrastructure/base/kube-system/pod-cleanup/cleanup.py
  infrastructure/base/monitoring/grafana-dashboards/json/pod-cleanup.json
Due: gitleaks, trailing-whitespace

gitblobstore: checkandput manifest
  bdcmfad2uujdu71ncp2fk779h8e2reef.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  2cjm7pi1940eh68nviv8ug4017rmm4i2
  manifest
Due: none

gitblobstore: checkandput manifest
  3v5m3g2sbenicqdfqepbl9gqopos8bbj.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  8ouqh7eltqc7o5ea1hesunhecvp2emcc
  manifest
Due: none

gitblobstore: checkandput manifest
  manifest
  vak3ppflsoo3m85ej7ss3eki8h76fli2.darc
Due: none

gitblobstore: checkandput manifest
  3unaccqpqemgr9s7f4ek3ncimop4ee16
  manifest
Due: none

dolt remote info
  DOLT_REMOTE.md
Due: gitleaks, markdownlint, trailing-whitespace

fix(registry): add websecure entrypoint + tls to nexus-docker IngressRoute
  infrastructure/base/registry/deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(registry): add nexus-admin ExternalSecret synced from 1Password
  infrastructure/base/registry/externalsecret-nexus-admin.yaml
  infrastructure/base/registry/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(registry): split nexus-docker into web + websecure IngressRoutes
  infrastructure/base/registry/deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(authentik): expose portal at auth.kelsboi.dedyn.io
  infrastructure/base/authentik/ingressroute.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(authentik): catalyst default brand + mount slots for kelsboi
  infrastructure/base/authentik/catalyst-brand-assets-configmap.yaml
  infrastructure/base/authentik/catalyst-brand-blueprint.yaml
  infrastructure/base/authentik/helmrelease.yaml
  infrastructure/base/authentik/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(authentik): catalyst brand rebrands the built-in default instead of creating a 2nd default
  infrastructure/base/authentik/catalyst-brand-blueprint.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(argocd): register boomtime Application
  infrastructure/base/argocd/applications/boomtime.yaml
  infrastructure/base/argocd/applications/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(argocd): image-updater for boomtime GHCR tags (gaka-xwt)
  infrastructure/base/argocd/image-updater/boomtime-image-updater.yaml
  infrastructure/base/argocd/image-updater/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(monitoring): drop upstream tempo-operator Namespace to end ownership flap
  infrastructure/base/monitoring/v2-otel/operators/tempo-operator/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(cilium): raise spire-agent projected SA token TTL 600s → 3600s
  infrastructure/base/cilium/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(cilium): repair broken postRender namespace patch (blocking spire-agent TTL bump)
  infrastructure/base/cilium/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(alloy): bound WAL max_keepalive_time to 2h (TALOS-234 root cause)
  infrastructure/base/monitoring/v2-otel/alloy-node/helmrelease.yaml
  infrastructure/base/monitoring/v2-otel/alloy/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(kube-system): wedge-buster staggered restart CronJobs
  infrastructure/base/kube-system/kustomization.yaml
  infrastructure/base/kube-system/wedge-buster/cronjob-alloy.yaml
  infrastructure/base/kube-system/wedge-buster/cronjob-mimir.yaml
  infrastructure/base/kube-system/wedge-buster/cronjob-spire-agent.yaml
  infrastructure/base/kube-system/wedge-buster/kustomization.yaml
  infrastructure/base/kube-system/wedge-buster/rbac.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(alerts): pipeline-health PrometheusRule (9 rules)
  infrastructure/base/monitoring/v2-otel/baseline-alerts/kustomization.yaml
  infrastructure/base/monitoring/v2-otel/baseline-alerts/pipeline-health-alerts.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(alerts): push Mimir Alertmanager tenant config with Discord routing
  infrastructure/base/monitoring/v2-otel/alertmanager-config/config-template.yaml
  infrastructure/base/monitoring/v2-otel/alertmanager-config/cronjob.yaml
  infrastructure/base/monitoring/v2-otel/alertmanager-config/externalsecret.yaml
  infrastructure/base/monitoring/v2-otel/alertmanager-config/kustomization.yaml
  infrastructure/base/monitoring/v2-otel/alertmanager-config/rbac.yaml
  infrastructure/base/monitoring/v2-otel/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

gitblobstore: checkandput manifest
  2imnrpiqbchvihei5sihdrpicr95egfo.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  lf8sdg4udfusi5jaj4lh726v2teard91
  manifest
Due: none

fix(alloy): drop blackbox-exporter from service_monitors scrape
  infrastructure/base/monitoring/v2-otel/alloy/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(argocd): CNPG ignoreDifferences on boomtime Application
  infrastructure/base/argocd/applications/boomtime.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(argocd): enable ServerSideDiff so CNPG managedFieldsManagers works
  infrastructure/base/argocd/applications/boomtime.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(downloads): wire metube + tubesync into Flux, bind existing NFS data (TALOS-il2)
  .beads/.local_version
  .beads/last-touched
  applications/metube/pvc.yaml
  applications/tubesync/kustomization.yaml
  applications/tubesync/namespace.yaml
  applications/tubesync/pvc.yaml
  clusters/catalyst-cluster/metube.yaml
  clusters/catalyst-cluster/tubesync.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

gitblobstore: checkandput manifest
  bg39jtghst506bs37s2apqlp6fnji6v6.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  manifest
  o4h3htacjb68vvrcfkj2vdf9sdlel8sm
Due: none

fix(flux): register metube + tubesync Kustomizations in flux-system resources
  clusters/catalyst-cluster/flux-system/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

gitblobstore: checkandput manifest
  b8mgj4dpkmagett1n16tbsqqr0ifu3lc.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  1md4e87u54i9l8scpuceca9b797u2op6
  manifest
Due: none

fix(arr-stack): disable 3 unbacked homepage ExternalSecrets to unblock reconcile (TALOS-e01)
  .beads/last-touched
  applications/arr-stack/base/homepage/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

gitblobstore: checkandput manifest
  h9sb29vt85i1m7lj7u2f1jrpivhrdlkd.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  e2m31brc5bka57p5lhdsu64hf2crbm1h
  manifest
Due: none

fix(vpn-gateway): unwedge vpn-rotator CronJob (TALOS-r22)
  .beads/last-touched
  infrastructure/base/vpn-gateway/rotation/cronjob.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

gitblobstore: checkandput manifest
  manifest
  rp4dbfisphuskq6msu3gdkd8v8vnhlk9.darc
Due: none
