Repository TheBranchDriftCatalyst/talos-homelab: changes, and which lefthook commands are due for each by the changed paths.
All: gitleaks, yamllint, kube-validate, shellcheck, shfmt, markdownlint, trailing-whitespace, helm-lint

gitleaks:
  tags: security
  run: gitleaks protect --verbose --redact --staged
  skip:
  - merge
  - rebase

yamllint:
  tags: linting yaml
  run: yamllint --strict .
  skip:
  - merge
  - rebase

kube-validate:
  tags: kubernetes yaml
  ...

shellcheck:
  tags: linting shell
  run: shellcheck -x {staged_files}
  skip:
  - merge
  - rebase

shfmt:
  tags: formatting shell
  run: shfmt -w -i 2 -ci -sr {staged_files}
  skip:
  - merge
  - rebase
  stage_fixed: true

markdownlint:
  tags: linting markdown
  run: npx markdownlint-cli2 {staged_files}
  skip:
  - merge
  - rebase

trailing-whitespace:
  tags: formatting
  run: "if grep -n '[[:space:]]$' {staged_files}; then\n  echo \"‚ùå Error: Trailing whitespace found\"\n  echo \"Run: sed -i '' 's/[[:space:]]*$//' <file>\"\n  exit 1\nfi\n"
  skip:
  - merge
  - rebase

helm-lint:
  tags: kubernetes helm
  run: "for chart_dir in infrastructure/base/*/; do\n  if [ -f \"$chart_dir/Chart.yaml\" ]; then\n    echo \"Linting Helm chart: $chart_dir\"\n    helm lint \"$chart_dir\" || exit 1\n  fi\ndone\n"
  skip:
  - merge
  - rebase

feat(catalyst-llm): add RabbitMQ and LLM Proxy Grafana dashboards
  applications/catalyst-llm/kustomization.yaml
  applications/catalyst-llm/llm-proxy-dashboard.yaml
  applications/catalyst-llm/rabbitmq-dashboard.yaml
  applications/catalyst-llm/rabbitmq-monitoring.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(tilt): add broker.go, worker.go to build context + attach rabbitmq
  applications/catalyst-llm/Tiltfile
Due: none

fix(qbittorrent): add CDN subnets for Docker Mods download
  applications/arr-stack/base/qbittorrent/deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(monitoring): move catalyst-llm dashboards to monitoring namespace
  applications/catalyst-llm/kustomization.yaml
  applications/catalyst-llm/llm-proxy-dashboard.yaml
  applications/catalyst-llm/rabbitmq-dashboard.yaml
  infrastructure/base/monitoring/grafana-dashboards/json/llm-proxy-overview.json
  infrastructure/base/monitoring/grafana-dashboards/json/rabbitmq-overview.json
  infrastructure/base/monitoring/grafana-dashboards/kustomization.yaml
  infrastructure/base/monitoring/grafana-dashboards/resources/llm-proxy-overview.yaml
  infrastructure/base/monitoring/grafana-dashboards/resources/rabbitmq-overview.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(llm-proxy): add broker status to WebSocket API
  applications/catalyst-llm/llm-proxy/websocket.go
Due: none

feat(llm-proxy): add React UI with broker visualization
  applications/catalyst-llm/Tiltfile
  applications/catalyst-llm/llm-proxy/Dockerfile
  applications/catalyst-llm/llm-proxy/main.go
  applications/catalyst-llm/llm-proxy/ui/index.html
  applications/catalyst-llm/llm-proxy/ui/package.json
  applications/catalyst-llm/llm-proxy/ui/public/vite.svg
  applications/catalyst-llm/llm-proxy/ui/src/App.tsx
  applications/catalyst-llm/llm-proxy/ui/src/components/ActivityLog.tsx
  applications/catalyst-llm/llm-proxy/ui/src/components/BrokerCard.tsx
  applications/catalyst-llm/llm-proxy/ui/src/components/ControlPanel.tsx
  applications/catalyst-llm/llm-proxy/ui/src/components/Header.tsx
  applications/catalyst-llm/llm-proxy/ui/src/components/IframeTab.tsx
  applications/catalyst-llm/llm-proxy/ui/src/components/ScalerCard.tsx
  applications/catalyst-llm/llm-proxy/ui/src/components/TabBar.tsx
  applications/catalyst-llm/llm-proxy/ui/src/components/WorkerCard.tsx
  applications/catalyst-llm/llm-proxy/ui/src/components/index.ts
  applications/catalyst-llm/llm-proxy/ui/src/hooks/index.ts
  applications/catalyst-llm/llm-proxy/ui/src/hooks/useWebSocket.ts
  applications/catalyst-llm/llm-proxy/ui/src/index.css
  applications/catalyst-llm/llm-proxy/ui/src/main.tsx
  applications/catalyst-llm/llm-proxy/ui/src/types/api.ts
  applications/catalyst-llm/llm-proxy/ui/src/types/index.ts
  applications/catalyst-llm/llm-proxy/ui/tsconfig.json
  applications/catalyst-llm/llm-proxy/ui/tsconfig.node.json
  applications/catalyst-llm/llm-proxy/ui/vite.config.ts
Due: gitleaks, trailing-whitespace

feat(llm-proxy-ui): add FlipCard for EC2 worker + Auto-Scale config
  .beads/issues.jsonl
  applications/catalyst-llm/llm-proxy/ui/src/components/BrokerCard.tsx
  applications/catalyst-llm/llm-proxy/ui/src/components/ControlPanel.tsx
  applications/catalyst-llm/llm-proxy/ui/src/components/FlipCard.tsx
  applications/catalyst-llm/llm-proxy/ui/src/components/ScalerBackPanel.tsx
  applications/catalyst-llm/llm-proxy/ui/src/components/TabBar.tsx
  applications/catalyst-llm/llm-proxy/ui/src/hooks/useWebSocket.ts
  applications/catalyst-llm/llm-proxy/ui/src/index.css
  applications/catalyst-llm/llm-proxy/ui/src/vite-env.d.ts
Due: none

fix(tilt): fix llm-proxy-ui-dev path and add --ignore-scripts
  applications/catalyst-llm/Tiltfile
Due: none

refactor(tilt): use k8s_attach for llm-proxy instead of docker_build
  applications/catalyst-llm/Tiltfile
Due: none

fix(hybrid-llm): quote heredoc marker to prevent variable expansion
  scripts/hybrid-llm/worker-userdata.sh
Due: gitleaks, shellcheck, shfmt, trailing-whitespace

feat(tools): add ec2-agent WebSocket control interface
  tools/ec2-agent/README.md
  tools/ec2-agent/cmd/main.go
  tools/ec2-agent/examples/ec2/config.sh
  tools/ec2-agent/examples/fargate/config.sh
  tools/ec2-agent/examples/test-client.html
  tools/ec2-agent/go.mod
  tools/ec2-agent/go.sum
  tools/ec2-agent/integration_test.go
  tools/ec2-agent/pkg/hub/hub.go
  tools/ec2-agent/pkg/monitor/ec2.go
  tools/ec2-agent/pkg/monitor/fargate.go
  tools/ec2-agent/pkg/process/manager.go
  tools/ec2-agent/pkg/process/manager_test.go
  tools/ec2-agent/pkg/protocol/message.go
  tools/ec2-agent/pkg/protocol/message_test.go
  tools/ec2-agent/scripts/mock-worker.sh
Due: gitleaks, shellcheck, shfmt, markdownlint, trailing-whitespace

feat(ec2-agent): add Tiltfile and Dockerfile for dev workflow
  tools/ec2-agent/.gitignore
  tools/ec2-agent/Dockerfile
  tools/ec2-agent/Tiltfile
Due: none

fix(hybrid-llm): fix userdata heredoc + EBS volume detection + ec2-agent CGO
  scripts/hybrid-llm/llm-worker.sh
  scripts/hybrid-llm/worker-userdata.sh
  tools/ec2-agent/Tiltfile
Due: gitleaks, shellcheck, shfmt, trailing-whitespace

fix(hybrid-llm): use device model to detect EBS vs instance store
  scripts/hybrid-llm/worker-userdata.sh
Due: gitleaks, shellcheck, shfmt, trailing-whitespace

feat(llm-proxy): integrate ec2-agent for WebSocket output streaming
  applications/catalyst-llm/llm-proxy/executor.go
  applications/catalyst-llm/llm-proxy/go.mod
  applications/catalyst-llm/llm-proxy/go.sum
  applications/catalyst-llm/llm-proxy/scaler.go
  applications/catalyst-llm/llm-proxy/websocket.go
Due: none

fix(llm-proxy): sort models by size descending in UI
  applications/catalyst-llm/llm-proxy/ui/src/components/WorkerCard.tsx
Due: none

feat(llm-proxy): dynamic tabs from IngressRoutes + UI improvements
  applications/catalyst-llm/ingressroute.yaml
  applications/catalyst-llm/llm-proxy/go.mod
  applications/catalyst-llm/llm-proxy/go.sum
  applications/catalyst-llm/llm-proxy/ingress.go
  applications/catalyst-llm/llm-proxy/main.go
  applications/catalyst-llm/llm-proxy/ui/src/App.tsx
  applications/catalyst-llm/llm-proxy/ui/src/components/Header.tsx
  applications/catalyst-llm/llm-proxy/ui/src/components/TabBar.tsx
  applications/catalyst-llm/llm-proxy/ui/src/types/api.ts
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

beads: sync
  .beads/issues.jsonl
Due: none

feat(ec2-agent): add gRPC fleet management and Packer AMI templates
  .beads/issues.jsonl
  tools/ec2-agent/Makefile
  tools/ec2-agent/ami/README.md
  tools/ec2-agent/ami/base.pkr.hcl
  tools/ec2-agent/ami/base/scripts/.gitkeep
  tools/ec2-agent/ami/gpu-worker.pkr.hcl
  tools/ec2-agent/ami/gpu-worker/scripts/.gitkeep
  tools/ec2-agent/ami/lighthouse.pkr.hcl
  tools/ec2-agent/ami/lighthouse/scripts/.gitkeep
  tools/ec2-agent/ami/userdata/gpu-worker.sh
  tools/ec2-agent/ami/userdata/lighthouse.sh
  tools/ec2-agent/ami/variables.pkr.hcl
  tools/ec2-agent/ami/versions.pkr.hcl
  tools/ec2-agent/buf.gen.yaml
  tools/ec2-agent/buf.yaml
  tools/ec2-agent/cmd/control-plane/main.go
  tools/ec2-agent/cmd/worker-agent/main.go
  tools/ec2-agent/go.mod
  tools/ec2-agent/go.sum
  tools/ec2-agent/pkg/agent/client.go
  tools/ec2-agent/pkg/agent/executor.go
  tools/ec2-agent/pkg/agent/status.go
  tools/ec2-agent/pkg/fleet/manager.go
  tools/ec2-agent/pkg/fleet/node.go
  tools/ec2-agent/pkg/grpc/server.go
  tools/ec2-agent/pkg/proto/agent.pb.go
  tools/ec2-agent/pkg/proto/agent_grpc.pb.go
  tools/ec2-agent/proto/agent.proto
Due: gitleaks, yamllint, kube-validate, shellcheck, shfmt, markdownlint, trailing-whitespace

feat(hybrid-llm): update llm-worker.sh to use pre-baked AMI
  .beads/issues.jsonl
  scripts/hybrid-llm/llm-worker.sh
Due: gitleaks, shellcheck, shfmt, trailing-whitespace

feat(llm-proxy): add RBAC for IngressRoute discovery
  applications/catalyst-llm/proxy-deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(llm-proxy): update to Go 1.24, add build dependencies
  applications/catalyst-llm/llm-proxy/.gitignore
  applications/catalyst-llm/llm-proxy/Dockerfile
  applications/catalyst-llm/llm-proxy/go.mod
  applications/catalyst-llm/llm-proxy/go.sum
Due: none

fix(llm-proxy-ui): improve vite dev proxy for /_/ endpoints
  applications/catalyst-llm/llm-proxy/ui/vite.config.ts
Due: none

fix(llm-proxy): fix UI asset paths and imagePullPolicy
  applications/catalyst-llm/llm-proxy/ui/vite.config.ts
  applications/catalyst-llm/proxy-deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(catalyst-llm): add CORS headers to iframe-allow middleware
  applications/catalyst-llm/ingressroute.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(catalyst-llm): enable SearXNG and fix iframe embedding issues
  applications/catalyst-llm/apps/open-webui.yaml
  applications/catalyst-llm/apps/sillytavern.yaml
  applications/catalyst-llm/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(ec2-agents): implement worker self-registration via RabbitMQ
  .beads/issues.jsonl
  applications/catalyst-llm/llm-proxy/fleet.go
  applications/catalyst-llm/llm-proxy/main.go
  applications/catalyst-llm/llm-proxy/scaler.go
  applications/catalyst-llm/proxy-deployment.yaml
  applications/catalyst-llm/rabbitmq-secrets.yaml
  infrastructure/base/ec2-agents/control-plane.yaml
  infrastructure/base/ec2-agents/ingressroute.yaml
  infrastructure/base/ec2-agents/kustomization.yaml
  infrastructure/base/ec2-agents/namespace.yaml
  tools/ec2-agent/ami/gpu-worker.pkr.hcl
  tools/ec2-agent/ami/userdata/gpu-worker.sh
  tools/ec2-agent/cmd/control-plane/main.go
  tools/ec2-agent/cmd/worker-agent/main.go
  tools/ec2-agent/go.mod
  tools/ec2-agent/go.sum
  tools/ec2-agent/pkg/agent/rabbitmq.go
  tools/ec2-agent/pkg/fleet/manager.go
  tools/ec2-agent/pkg/fleet/node.go
  tools/ec2-agent/pkg/fleet/rabbitmq.go
Due: gitleaks, yamllint, kube-validate, shellcheck, shfmt, trailing-whitespace

docs(ec2-agent): add QA checklist for worker self-registration
  tools/ec2-agent/QA-CHECKLIST.md
Due: gitleaks, markdownlint, trailing-whitespace

fix(llm-proxy): bypass broker when routing to Mac dev endpoint
  applications/catalyst-llm/llm-proxy/fleet.go
  applications/catalyst-llm/llm-proxy/scaler.go
Due: none

feat(catalyst-llm): add Tilt integration for ec2-agents fleet
  applications/catalyst-llm/Tiltfile
Due: none

fix(ec2-agents): add Dockerfile and fix deployment for control-plane
  infrastructure/base/ec2-agents/control-plane.yaml
  tools/ec2-agent/Dockerfile.control-plane
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(lobechat): upgrade to server mode with database backend
  .beads/issues.jsonl
  applications/catalyst-llm/apps/lobe-chat.yaml
  applications/catalyst-llm/cold-start-timing.sh
Due: gitleaks, yamllint, kube-validate, shellcheck, shfmt, trailing-whitespace

feat(networking): replace Liqo with Nebula mesh + Cilium ClusterMesh
  .beads/issues.jsonl
  infrastructure/base/hybrid-llm/liqo/README.md
  infrastructure/base/hybrid-llm/liqo/kustomization.yaml
  infrastructure/base/liqo/aws-gpu-cluster-peering.yaml
  infrastructure/base/liqo/dashboard.sh
  infrastructure/base/liqo/helmrelease.yaml
  infrastructure/base/liqo/kustomization.yaml
  infrastructure/base/nebula-mesh/configmap.yaml
  infrastructure/base/nebula-mesh/daemonset.yaml
  infrastructure/base/nebula-mesh/kustomization.yaml
  infrastructure/base/nebula-mesh/namespace.yaml
Due: gitleaks, yamllint, kube-validate, shellcheck, shfmt, markdownlint, trailing-whitespace

feat(networking): replace Liqo with Nebula mesh + Cilium ClusterMesh
  .beads/issues.jsonl
  infrastructure/base/hybrid-llm/liqo/README.md
  infrastructure/base/hybrid-llm/liqo/kustomization.yaml
  infrastructure/base/liqo/aws-gpu-cluster-peering.yaml
  infrastructure/base/liqo/dashboard.sh
  infrastructure/base/liqo/helmrelease.yaml
  infrastructure/base/liqo/kustomization.yaml
  infrastructure/base/nebula-mesh/configmap.yaml
  infrastructure/base/nebula-mesh/daemonset.yaml
  infrastructure/base/nebula-mesh/kustomization.yaml
  infrastructure/base/nebula-mesh/namespace.yaml
  infrastructure/base/nebula-mesh/secret.yaml
Due: gitleaks, yamllint, kube-validate, shellcheck, shfmt, markdownlint, trailing-whitespace

fix(lobechat): use client mode until Authentik OIDC configured
  .beads/issues.jsonl
  applications/catalyst-llm/apps/lobe-chat.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(lobechat): enable server mode with Authentik OIDC
  .beads/issues.jsonl
  applications/catalyst-llm/apps/lobe-chat.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(lobechat): add hostAlias for Authentik OIDC resolution
  applications/catalyst-llm/apps/lobe-chat.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

Path conditions:
  gitleaks: any of: *.{yaml,yml,sh,json,env,txt,md}
  yamllint: any of: *.{yaml,yml}
  kube-validate: any of: *.{yaml,yml}
  shellcheck: any of: *.sh
  shfmt: any of: *.sh
  markdownlint: any of: *.md
  trailing-whitespace: any of: *.{yaml,yml,sh,md,json}
  helm-lint: any of: **/Chart.yaml
