Repository TheBranchDriftCatalyst/talos-homelab: changes, and which lefthook commands are due for each by the changed paths.
All: gitleaks, yamllint, kube-validate, shellcheck, shfmt, markdownlint, trailing-whitespace, helm-lint

gitleaks:
  tags: security
  run: gitleaks protect --verbose --redact --staged
  skip:
  - merge
  - rebase

yamllint:
  tags: linting yaml
  run: yamllint --strict .
  skip:
  - merge
  - rebase

kube-validate:
  tags: kubernetes yaml
  ...

shellcheck:
  tags: linting shell
  run: shellcheck -x {staged_files}
  skip:
  - merge
  - rebase

shfmt:
  tags: formatting shell
  run: shfmt -w -i 2 -ci -sr {staged_files}
  skip:
  - merge
  - rebase
  stage_fixed: true

markdownlint:
  tags: linting markdown
  run: npx markdownlint-cli2 {staged_files}
  skip:
  - merge
  - rebase

trailing-whitespace:
  tags: formatting
  run: "if grep -n '[[:space:]]$' {staged_files}; then\n  echo \"‚ùå Error: Trailing whitespace found\"\n  echo \"Run: sed -i '' 's/[[:space:]]*$//' <file>\"\n  exit 1\nfi\n"
  skip:
  - merge
  - rebase

helm-lint:
  tags: kubernetes helm
  run: "for chart_dir in infrastructure/base/*/; do\n  if [ -f \"$chart_dir/Chart.yaml\" ]; then\n    echo \"Linting Helm chart: $chart_dir\"\n    helm lint \"$chart_dir\" || exit 1\n  fi\ndone\n"
  skip:
  - merge
  - rebase

chore(beads): close TALOS-ouf8, update TALOS-700h with DNS progress
  .beads/issues.jsonl
Due: none

feat(linkwarden): add external-dns annotations for Cloudflare CNAME
  applications/home-stack/base/linkwarden/ingressroute.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(cloudflare-ddns): remove wildcard DNS record for security
  infrastructure/base/cloudflare-ddns/deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(cilium): enable ClusterMesh via Nebula mesh network
  configs/cilium-values.yaml
  docs/HYBRID-CLOUD-PLAYBOOK.md
  infrastructure/base/cilium/clustermesh-port-forwarder.yaml
  infrastructure/base/nebula/configmap.yaml
Due: gitleaks, yamllint, kube-validate, markdownlint, trailing-whitespace

bd sync: 2026-01-15 08:52:53
  .beads/issues.jsonl
Due: none

bd sync: 2026-01-15 08:53:50
  .beads/issues.jsonl
Due: none

feat(aws-k3s): create dedicated cluster directory for EC2/ClusterMesh management
  .beads/issues.jsonl
  clusters/aws-k3s/README.md
  clusters/aws-k3s/Tiltfile
  clusters/aws-k3s/ami/README.md
  clusters/aws-k3s/ami/base.pkr.hcl
  clusters/aws-k3s/ami/base/scripts/.gitkeep
  clusters/aws-k3s/ami/gpu-worker.pkr.hcl
  clusters/aws-k3s/ami/gpu-worker/scripts/.gitkeep
  clusters/aws-k3s/ami/lighthouse.pkr.hcl
  clusters/aws-k3s/ami/lighthouse/scripts/.gitkeep
  clusters/aws-k3s/ami/userdata/gpu-worker.sh
  clusters/aws-k3s/ami/userdata/lighthouse.sh
  clusters/aws-k3s/ami/variables.pkr.hcl
  clusters/aws-k3s/ami/versions.pkr.hcl
  docs/HYBRID-CLOUD-PLAYBOOK.md
  tools/carrierarr/Tiltfile
Due: gitleaks, shellcheck, shfmt, markdownlint, trailing-whitespace

bd sync: 2026-01-15 09:47:28
  .beads/issues.jsonl
Due: none

bd sync: 2026-01-16 11:34:59
  .beads/issues.jsonl
Due: none

feat(storage): add Democratic-CSI Synology iSCSI configuration
  .beads/issues.jsonl
  applications/home-stack/base/linkwarden/deployment.yaml
  applications/home-stack/base/linkwarden/pvc.yaml
  infrastructure/base/storage/democratic-csi/values.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

bd sync: 2026-01-16 11:35:50
  .beads/issues.jsonl
Due: none

fix(storage): correct synology-iscsi naming config
  .beads/issues.jsonl
  infrastructure/base/storage/democratic-csi/values.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

bd sync: 2026-01-16 11:41:30
  .beads/issues.jsonl
  infrastructure/base/storage/democratic-csi/values.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

bd sync: 2026-01-16 11:56:44
  .beads/issues.jsonl
Due: none

feat(storage): migrate arr-stack configs from local-path to NFS
  .beads/issues.jsonl
  applications/arr-stack/base/kometa/deployment.yaml
  applications/arr-stack/base/kometa/pvc.yaml
  applications/arr-stack/base/posterizarr/deployment.yaml
  applications/arr-stack/base/posterizarr/pvc.yaml
  applications/arr-stack/base/posterr/deployment.yaml
  applications/arr-stack/base/posterr/pvc.yaml
  applications/arr-stack/base/qbittorrent/deployment.yaml
  applications/arr-stack/base/qbittorrent/pvc.yaml
  applications/arr-stack/base/tautulli/deployment.yaml
  applications/arr-stack/base/tautulli/pvc.yaml
  infrastructure/base/storage/democratic-csi/values.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(posterizarr): use securityContext instead of PUID/PGID env vars
  applications/arr-stack/base/posterizarr/deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(storage): migrate Home Assistant to NFS storage
  applications/home-stack/base/homeassistant/deployment.yaml
  applications/home-stack/base/homeassistant/pvc.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

bd sync: 2026-01-16 15:03:28
  .beads/issues.jsonl
  applications/home-stack/base/homeassistant/deployment.yaml
  applications/home-stack/base/homeassistant/pvc.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(storage): migrate Home Assistant to NFS storage
  .beads/issues.jsonl
  applications/home-stack/base/homeassistant/deployment.yaml
  applications/home-stack/base/homeassistant/pvc.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

bd sync: 2026-01-16 15:04:33
  .beads/issues.jsonl
Due: none

Path conditions:
  gitleaks: any of: *.{yaml,yml,sh,json,env,txt,md}
  yamllint: any of: *.{yaml,yml}
  kube-validate: any of: *.{yaml,yml}
  shellcheck: any of: *.sh
  shfmt: any of: *.sh
  markdownlint: any of: *.md
  trailing-whitespace: any of: *.{yaml,yml,sh,md,json}
  helm-lint: any of: **/Chart.yaml
