Repository TheBranchDriftCatalyst/talos-homelab: changes, and which lefthook commands are due for each by the changed paths.
All: gitleaks, yamllint, kube-validate, shellcheck, shfmt, markdownlint, trailing-whitespace, helm-lint

gitleaks:
  tags: security
  run: gitleaks protect --verbose --redact --staged
  skip:
  - merge
  - rebase

yamllint:
  tags: linting yaml
  run: yamllint --strict .
  skip:
  - merge
  - rebase

kube-validate:
  tags: kubernetes yaml
  ...

shellcheck:
  tags: linting shell
  run: shellcheck -x {staged_files}
  skip:
  - merge
  - rebase

shfmt:
  tags: formatting shell
  run: shfmt -w -i 2 -ci -sr {staged_files}
  skip:
  - merge
  - rebase
  stage_fixed: true

markdownlint:
  tags: linting markdown
  run: npx markdownlint-cli2 {staged_files}
  skip:
  - merge
  - rebase

trailing-whitespace:
  tags: formatting
  run: "if grep -n '[[:space:]]$' {staged_files}; then\n  echo \"‚ùå Error: Trailing whitespace found\"\n  echo \"Run: sed -i '' 's/[[:space:]]*$//' <file>\"\n  exit 1\nfi\n"
  skip:
  - merge
  - rebase

helm-lint:
  tags: kubernetes helm
  run: "for chart_dir in infrastructure/base/*/; do\n  if [ -f \"$chart_dir/Chart.yaml\" ]; then\n    echo \"Linting Helm chart: $chart_dir\"\n    helm lint \"$chart_dir\" || exit 1\n  fi\ndone\n"
  skip:
  - merge
  - rebase

fix(lobechat): complete Authentik OIDC integration
  .beads/issues.jsonl
  applications/catalyst-llm/apps/lobe-chat.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(cilium): add ClusterMesh infrastructure for multi-cluster connectivity
  configs/cilium-values.yaml
  infrastructure/base/cilium/clustermesh/clustermesh-apiserver.yaml
  infrastructure/base/cilium/clustermesh/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(beads): update TALOS-rrnk progress notes
  .beads/issues.jsonl
  infrastructure/base/cilium/clustermesh/clustermesh-apiserver.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(ec2-agent): update lighthouse AMI with Cilium ClusterMesh and RabbitMQ
  tools/ec2-agent/ami/lighthouse.pkr.hcl
  tools/ec2-agent/ami/userdata/lighthouse.sh
  tools/ec2-agent/ami/variables.pkr.hcl
  tools/ec2-agent/manifest-lighthouse.json
Due: gitleaks, shellcheck, shfmt, trailing-whitespace

fix(ec2-agent): use IMDSv2 for instance metadata in userdata scripts
  tools/ec2-agent/ami/userdata/gpu-worker.sh
  tools/ec2-agent/ami/userdata/lighthouse.sh
Due: gitleaks, shellcheck, shfmt, trailing-whitespace

fix(vpn): add IPv6 cleanup init container to qbittorrent gluetun sidecar
  .gitleaksignore
  applications/arr-stack/base/homepage/configmap-services.yaml
  applications/arr-stack/base/qbittorrent/deployment.yaml
  infrastructure/base/shared/gluetun-sidecar/README.md
  infrastructure/base/shared/gluetun-sidecar/ipv6-cleanup-init.yaml
Due: gitleaks, yamllint, kube-validate, markdownlint, trailing-whitespace

feat(homepage): enable qBittorrent widget with auth
  applications/arr-stack/base/homepage/configmap-services.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(homepage): supercharge all widgets and dashboard
  applications/arr-stack/base/homepage/configmap-services.yaml
  infrastructure/base/nebula-mesh/configmap.yaml
  tools/ec2-agent/ami/userdata/lighthouse.sh
Due: gitleaks, yamllint, kube-validate, shellcheck, shfmt, trailing-whitespace

feat(nebula): remove Nebula mesh for clean slate reimplementation
  .beads/issues.jsonl
  clusters/catalyst-cluster/flux-system/kustomization.yaml
  clusters/catalyst-cluster/nebula.yaml
  infrastructure/base/nebula-mesh/configmap.yaml
  infrastructure/base/nebula-mesh/daemonset.yaml
  infrastructure/base/nebula-mesh/kustomization.yaml
  infrastructure/base/nebula-mesh/namespace.yaml
  infrastructure/base/nebula-mesh/secret.yaml
  infrastructure/base/nebula/configmap.yaml
  infrastructure/base/nebula/daemonset.yaml
  infrastructure/base/nebula/dashboard.sh
  infrastructure/base/nebula/kustomization.yaml
  infrastructure/base/nebula/namespace.yaml
  infrastructure/base/nebula/secret.yaml
  scripts/hybrid-llm/llm-worker.sh
  scripts/hybrid-llm/nebula-certs.sh
  tools/ec2-agent/ami/base.pkr.hcl
  tools/ec2-agent/ami/gpu-worker.pkr.hcl
  tools/ec2-agent/ami/lighthouse.pkr.hcl
  tools/ec2-agent/ami/userdata/gpu-worker.sh
  tools/ec2-agent/ami/userdata/lighthouse.sh
  tools/ec2-agent/ami/variables.pkr.hcl
Due: gitleaks, yamllint, kube-validate, shellcheck, shfmt, trailing-whitespace

feat(nebula): remove Nebula mesh for clean slate reimplementation
  .beads/issues.jsonl
  clusters/catalyst-cluster/flux-system/kustomization.yaml
  clusters/catalyst-cluster/nebula.yaml
  infrastructure/base/nebula-mesh/configmap.yaml
  infrastructure/base/nebula-mesh/daemonset.yaml
  infrastructure/base/nebula-mesh/kustomization.yaml
  infrastructure/base/nebula-mesh/namespace.yaml
  infrastructure/base/nebula/configmap.yaml
  infrastructure/base/nebula/daemonset.yaml
  infrastructure/base/nebula/dashboard.sh
  infrastructure/base/nebula/kustomization.yaml
  infrastructure/base/nebula/namespace.yaml
  infrastructure/base/nebula/secret.yaml
  scripts/hybrid-llm/llm-worker.sh
  scripts/hybrid-llm/nebula-certs.sh
  tools/ec2-agent/ami/base.pkr.hcl
  tools/ec2-agent/ami/gpu-worker.pkr.hcl
  tools/ec2-agent/ami/lighthouse.pkr.hcl
  tools/ec2-agent/ami/userdata/gpu-worker.sh
  tools/ec2-agent/ami/userdata/lighthouse.sh
  tools/ec2-agent/ami/variables.pkr.hcl
Due: gitleaks, yamllint, kube-validate, shellcheck, shfmt, trailing-whitespace

fix(vpn-gateway): dynamic IPv6 rule cleanup to prevent crash loop
  .gitignore
  infrastructure/base/vpn-gateway/deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(grafana): enhance Tdarr dashboard with gauges, donut charts, better visuals
  infrastructure/base/monitoring/grafana-dashboards/json/tdarr-transcoding.json
Due: gitleaks, trailing-whitespace

chore: add gitleaks false positives for Congress.gov API descriptions
  .gitleaksignore
Due: none

fix(grafana): fix Tdarr dashboard metrics and table columns
  infrastructure/base/monitoring/grafana-dashboards/json/tdarr-transcoding.json
Due: gitleaks, trailing-whitespace

refactor(carrierarr): complete ec2-agent to carrierarr rename
  infrastructure/base/carrierarr/control-plane.yaml
  infrastructure/base/carrierarr/ingressroute.yaml
  infrastructure/base/carrierarr/kustomization.yaml
  infrastructure/base/carrierarr/namespace.yaml
  tools/carrierarr/.gitignore
  tools/carrierarr/Dockerfile
  tools/carrierarr/Makefile
  tools/carrierarr/QA-CHECKLIST.md
  tools/carrierarr/README.md
  tools/carrierarr/Tiltfile
  tools/carrierarr/ami/README.md
  tools/carrierarr/buf.gen.yaml
  tools/carrierarr/buf.yaml
  tools/carrierarr/cmd/control-plane/main.go
  tools/carrierarr/cmd/main.go
  tools/carrierarr/cmd/worker-agent/main.go
  tools/carrierarr/examples/ec2/config.sh
  tools/carrierarr/examples/fargate/config.sh
  tools/carrierarr/go.mod
  tools/carrierarr/integration_test.go
  tools/carrierarr/manifest-gpu-worker.json
  tools/carrierarr/pkg/agent/client.go
  tools/carrierarr/pkg/agent/executor.go
  tools/carrierarr/pkg/agent/rabbitmq.go
  tools/carrierarr/pkg/agent/status.go
  tools/carrierarr/pkg/fleet/manager.go
  tools/carrierarr/pkg/fleet/node.go
  tools/carrierarr/pkg/grpc/server.go
  tools/carrierarr/pkg/hub/hub.go
  tools/carrierarr/pkg/monitor/ec2.go
  tools/carrierarr/pkg/monitor/fargate.go
  tools/carrierarr/pkg/process/manager.go
  tools/carrierarr/pkg/process/manager_test.go
  tools/carrierarr/pkg/protocol/message.go
  tools/carrierarr/proto/agent.proto
  tools/carrierarr/scripts/mock-worker.sh
Due: gitleaks, yamllint, kube-validate, shellcheck, shfmt, markdownlint, trailing-whitespace

feat(vpn-gateway): persist SecureChrome user data to NFS
  .gitleaksignore
  infrastructure/base/vpn-gateway/secure-chrome.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(vpn-dashboard): add secure-chrome to all queries and color overrides
  infrastructure/base/monitoring/grafana-dashboards/json/vpn-gateway.json
Due: gitleaks, trailing-whitespace

fix(vpn-gateway): disable shadowsocks to stop memory-leaking error spam
  infrastructure/base/traefik/helmrelease.yaml
  infrastructure/base/vpn-gateway/deployment.yaml
  infrastructure/base/vpn-gateway/ingressroute-tcp.yaml
  infrastructure/base/vpn-gateway/service.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(tdarr-dashboard): fix Rate (24h avg) query using offset
  infrastructure/base/monitoring/grafana-dashboards/json/tdarr-transcoding.json
Due: gitleaks, trailing-whitespace

fix(qbittorrent): add explicit namespace to IngressRoute
  applications/arr-stack/base/qbittorrent/ingressroute.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

Path conditions:
  gitleaks: any of: *.{yaml,yml,sh,json,env,txt,md}
  yamllint: any of: *.{yaml,yml}
  kube-validate: any of: *.{yaml,yml}
  shellcheck: any of: *.sh
  shfmt: any of: *.sh
  markdownlint: any of: *.md
  trailing-whitespace: any of: *.{yaml,yml,sh,md,json}
  helm-lint: any of: **/Chart.yaml
