Repository TheBranchDriftCatalyst/talos-homelab: changes, and which lefthook commands are due for each by the changed paths.
All: gitleaks, yamllint, kube-validate, shellcheck, shfmt, markdownlint, trailing-whitespace, helm-lint

gitleaks:
  tags: security
  run: gitleaks protect --verbose --redact --staged
  skip:
  - merge
  - rebase

yamllint:
  tags: linting yaml
  run: yamllint --strict .
  skip:
  - merge
  - rebase

kube-validate:
  tags: kubernetes yaml
  ...

shellcheck:
  tags: linting shell
  run: shellcheck -x {staged_files}
  skip:
  - merge
  - rebase

shfmt:
  tags: formatting shell
  run: shfmt -w -i 2 -ci -sr {staged_files}
  skip:
  - merge
  - rebase
  stage_fixed: true

markdownlint:
  tags: linting markdown
  run: npx markdownlint-cli2 {staged_files}
  skip:
  - merge
  - rebase

trailing-whitespace:
  tags: formatting
  run: "if grep -n '[[:space:]]$' {staged_files}; then\n  echo \"‚ùå Error: Trailing whitespace found\"\n  echo \"Run: sed -i '' 's/[[:space:]]*$//' <file>\"\n  exit 1\nfi\n"
  skip:
  - merge
  - rebase

helm-lint:
  tags: kubernetes helm
  run: "for chart_dir in infrastructure/base/*/; do\n  if [ -f \"$chart_dir/Chart.yaml\" ]; then\n    echo \"Linting Helm chart: $chart_dir\"\n    helm lint \"$chart_dir\" || exit 1\n  fi\ndone\n"
  skip:
  - merge
  - rebase

fix(external-dns): drop --traefik-disable-legacy flag removed in v0.21 (TALOS-zadf)
  infrastructure/base/external-dns/deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(1password-connect): bump connect-api + connect-sync 1.7.3 -> 1.8.2 (TALOS-zadf)
  infrastructure/base/external-secrets/onepassword-connect/deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

docs(changelog): TALOS-zadf — external-dns (breaking: traefik flag) + 1password-connect done (11 total)
  docs/changelogs/image-updates-TALOS-zadf.md
Due: gitleaks, markdownlint, trailing-whitespace

chore(crossplane-demo): pause demo workloads to down-state, keep Plausible up (TALOS-4gg)
  applications/crossplane-demo/celery/deployment.yaml
  applications/crossplane-demo/celery/scaledobject.yaml
  applications/crossplane-demo/clickhouse.yaml
  applications/crossplane-demo/dragonfly.yaml
  applications/crossplane-demo/flex/deployment.yaml
  applications/crossplane-demo/opensearch.yaml
  applications/crossplane-demo/rabbitmq.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(kubevirt): stepped upgrade 1/5 — virt-operator v1.4.0 -> v1.5.0 (TALOS-zadf)
  infrastructure/base/kubevirt/operator.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(linkwarden): bump meilisearch v1.12.8 -> v1.52.0 (TALOS-zadf)
  applications/home-automation/base/linkwarden/deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(beads): file 4 operational findings from dashboard re-audit
  .beads/last-touched
Due: none

fix(linkwarden): enable MEILI_UPGRADE_DB for meilisearch in-place migration (TALOS-zadf)
  applications/home-automation/base/linkwarden/deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

Revert "chore(kubevirt): stepped upgrade 1/5 — virt-operator v1.4.0 -> v1.5.0 (TALOS-zadf)"
  infrastructure/base/kubevirt/operator.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

docs(changelog): TALOS-zadf — meilisearch migrated (MEILI_UPGRADE_DB); kubevirt ref-bump failed+rolled back
  docs/changelogs/image-updates-TALOS-zadf.md
Due: gitleaks, markdownlint, trailing-whitespace

chore(beads): close TALOS-o40f (SPIRE socket — transient/self-healed)
  .beads/last-touched
Due: none

fix(cf-exporter): fail-soft cache + slower poll + retry/backoff (TALOS-lfxg)
  infrastructure/base/external-dns/cf-records-exporter/deployment.yaml
  infrastructure/base/external-dns/cf-records-exporter/exporter.py
  infrastructure/base/external-dns/cf-records-exporter/podmonitor.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(beads): close TALOS-se67 (expired Traefik cert flushed via rollout)
  .beads/last-touched
Due: none

fix(grafana): 14 dashboard-defect fixes from re-audit (dead metrics/labels) (TALOS-vmd)
  infrastructure/base/monitoring/grafana-dashboards/json/cilium-bpf-pressure.json
  infrastructure/base/monitoring/grafana-dashboards/json/kubevirt-control-plane.json
  infrastructure/base/monitoring/grafana-dashboards/json/pod-cleanup.json
  infrastructure/base/monitoring/grafana-dashboards/json/spire-health.json
  infrastructure/base/monitoring/grafana-dashboards/json/talos-cluster-debug.json
  infrastructure/base/monitoring/grafana-dashboards/json/talos00-memory-deepdive.json
  infrastructure/base/monitoring/grafana-dashboards/json/vpn-gateway.json
Due: gitleaks, trailing-whitespace

chore(beads): file keepalived/VRRP Pi-hole VIP investigation (preferred-primary)
  .beads/last-touched
Due: none

chore(images): argocd-image-updater v1.0.1->v1.2.2 + vpn-gateway python 3.11->3.14-alpine (TALOS-zadf)
  infrastructure/base/argocd/image-updater/install.yaml
  infrastructure/base/vpn-gateway/rotation/exporter.yaml
  infrastructure/base/vpn-gateway/rotation/maintenance.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

docs(changelog): TALOS-zadf — argocd-image-updater + python bumps (16 done)
  docs/changelogs/image-updates-TALOS-zadf.md
Due: gitleaks, markdownlint, trailing-whitespace

feat(dbgate): promote from scratch to databases ns + upgrade 5.5.6 -> 7.2.4 (TALOS-zadf)
  applications/scratch/kustomization.yaml
  clusters/catalyst-cluster/scratch.yaml
  infrastructure/base/databases/dbgate/deployment.yaml
  infrastructure/base/databases/dbgate/ingressroute.yaml
  infrastructure/base/databases/dbgate/kustomization.yaml
  infrastructure/base/databases/dbgate/pvc.yaml
  infrastructure/base/databases/dbgate/service.yaml
  infrastructure/base/databases/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

docs(changelog): dbgate promoted+upgraded (17 done)
  docs/changelogs/image-updates-TALOS-zadf.md
Due: gitleaks, markdownlint, trailing-whitespace

feat(reflector): install emberstack/reflector for cross-ns secret mirroring (TALOS-7jxm)
  clusters/catalyst-cluster/flux-system/kustomization.yaml
  clusters/catalyst-cluster/reflector.yaml
  infrastructure/base/reflector/helmrelease.yaml
  infrastructure/base/reflector/helmrepository.yaml
  infrastructure/base/reflector/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(scratch): remove unused example-postgres CNPG cluster (TALOS-pp56/a1hk)
  applications/scratch/example-postgres/backup.yaml
  applications/scratch/example-postgres/cluster.yaml
  applications/scratch/example-postgres/kustomization.yaml
  applications/scratch/example-postgres/secret.yaml
  applications/scratch/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(cnpg): reflect crowdsec/forgejo/homeassistant -app secrets into databases ns for dbgate (TALOS-7jxm)
  applications/home-automation/base/homeassistant/postgres.yaml
  infrastructure/base/crowdsec/postgres.yaml
  infrastructure/base/forgejo/postgres.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(beads): file P1 security — MinIO root cred publicly exposed in git
  .beads/last-touched
Due: none

chore(beads): file EPIC secrets-audit -> 1Password migration
  .beads/last-touched
Due: none

feat(kyverno): install Kyverno + mutating ClusterPolicy to auto-reflect CNPG app secrets (TALOS-7jxm)
  clusters/catalyst-cluster/flux-system/kustomization.yaml
  clusters/catalyst-cluster/kyverno-policies.yaml
  clusters/catalyst-cluster/kyverno.yaml
  infrastructure/base/kyverno-policies/kustomization.yaml
  infrastructure/base/kyverno-policies/reflect-cnpg-app-secrets.yaml
  infrastructure/base/kyverno/helmrelease.yaml
  infrastructure/base/kyverno/helmrepository.yaml
  infrastructure/base/kyverno/kustomization.yaml
  infrastructure/base/kyverno/namespace.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(beads): file MinIO Console Authentik OIDC SSO
  .beads/last-touched
Due: none

feat(dbgate): auto-linked CNPG connections + docs/patterns for the reflection pattern (TALOS-7jxm)
  docs/patterns/README.md
  docs/patterns/cross-namespace-secret-reflection.md
  infrastructure/base/databases/dbgate/deployment.yaml
Due: gitleaks, yamllint, kube-validate, markdownlint, trailing-whitespace

feat(dbgate): add homeassistant connection; drop redundant per-cluster reflection annotations (TALOS-7jxm)
  applications/home-automation/base/homeassistant/postgres.yaml
  infrastructure/base/databases/dbgate/deployment.yaml
  infrastructure/base/forgejo/postgres.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(crowdsec): activate CNPG postgres datastore via config.yaml.local (TALOS-pbn)
  infrastructure/base/crowdsec/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(beads): record crowdsec sqlite-not-postgres root cause + fix
  .beads/last-touched
Due: none

chore(flux): upgrade Flux 2.8.6 → 2.9.4 (unlocks Kustomization spec.ignore) [TALOS-rutt]
  infrastructure/base/minio/helmrelease.yaml.bak
Due: none

chore(flux): apply Flux 2.9.4 gotk-components [TALOS-rutt]
  clusters/catalyst-cluster/flux-system/flux-system/gotk-components.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(minio): rotate root cred to pandamin + ESO all S3 consumers off 1Password + Console OIDC (TALOS-tmqq/475t)
  DAH_REPORT.md
  applications/crossplane-demo/flex/deployment.yaml
  applications/crossplane-demo/flex/kustomization.yaml
  applications/crossplane-demo/flex/minio-externalsecret.yaml
  applications/the-corpus/memex/src/resources/s3_resource.py
  docs/03-operations/etcd-backup-restore.md
  infrastructure/base/authentik/externalsecret.yaml
  infrastructure/base/authentik/helmrelease.yaml
  infrastructure/base/authentik/kustomization.yaml
  infrastructure/base/authentik/minio-blueprint.yaml
  infrastructure/base/backup/etcd-backup.yaml
  infrastructure/base/backup/kustomization.yaml
  infrastructure/base/backup/minio-credentials.yaml
  infrastructure/base/backup/velero-s3-externalsecret.yaml
  infrastructure/base/backup/velero.yaml
  infrastructure/base/minio/kustomization.yaml
  infrastructure/base/minio/tenant.yaml
  infrastructure/base/monitoring/v2-otel/loki/externalsecret.yaml
  infrastructure/base/monitoring/v2-otel/loki/helmrelease.yaml
  infrastructure/base/monitoring/v2-otel/loki/kustomization.yaml
  infrastructure/base/monitoring/v2-otel/mimir/externalsecret.yaml
  infrastructure/base/monitoring/v2-otel/mimir/helmrelease.yaml
  infrastructure/base/monitoring/v2-otel/mimir/kustomization.yaml
  infrastructure/base/monitoring/v2-otel/tempo/externalsecret.yaml
  infrastructure/base/monitoring/v2-otel/tempo/helmrelease.yaml
  infrastructure/base/monitoring/v2-otel/tempo/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, markdownlint, trailing-whitespace

fix(argocd): set IMAGE_UPDATER_WATCH_NAMESPACES=* so v1.2.2 sees the ImageUpdater CRs [boomtime gaka-vuu]
  infrastructure/base/argocd/image-updater/install.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(dbgate): event-driven CNPG auto-connect via Kyverno mutate + Flux spec.ignore (TALOS-5ccm)
  applications/home-automation/base/homeassistant/postgres.yaml
  clusters/catalyst-cluster/databases.yaml
  docs/patterns/cross-namespace-secret-reflection.md
  infrastructure/base/databases/dbgate/deployment.yaml
  infrastructure/base/kyverno-policies/dbgate-cnpg-connections.yaml
  infrastructure/base/kyverno-policies/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, markdownlint, trailing-whitespace

chore(beads): MinIO rotation + de-git complete (TALOS-tmqq)
  .beads/last-touched
Due: none

fix(storage): remove abandoned democratic-csi values.yaml leaking DSM admin cred (TALOS-rpyc)
  infrastructure/base/storage/democratic-csi/values.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(beads): democratic-csi cred removed from git (TALOS-rpyc)
  .beads/last-touched
  docs/investigations/policy-reflection-observability.md
Due: gitleaks, markdownlint, trailing-whitespace

fix(dbgate): single-writer CronJob for CNPG connections; drop racy Kyverno mutate (TALOS-5ccm)
  clusters/catalyst-cluster/databases.yaml
  infrastructure/base/databases/dbgate-connection-sync/cronjob.yaml
  infrastructure/base/databases/dbgate-connection-sync/kustomization.yaml
  infrastructure/base/databases/dbgate-connection-sync/rbac.yaml
  infrastructure/base/databases/dbgate/deployment.yaml
  infrastructure/base/databases/kustomization.yaml
  infrastructure/base/kyverno-policies/dbgate-cnpg-connections.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(dbgate): initContainer sync so 'a deploy = a run' + shared script ConfigMap (TALOS-5ccm)
  infrastructure/base/databases/dbgate-connection-sync/configmap-script.yaml
  infrastructure/base/databases/dbgate-connection-sync/cronjob.yaml
  infrastructure/base/databases/dbgate-connection-sync/kustomization.yaml
  infrastructure/base/databases/dbgate/deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

Path conditions:
  gitleaks: any of: *.{yaml,yml,sh,json,env,txt,md}
  yamllint: any of: *.{yaml,yml}
  kube-validate: any of: *.{yaml,yml}
  shellcheck: any of: *.sh
  shfmt: any of: *.sh
  markdownlint: any of: *.md
  trailing-whitespace: any of: *.{yaml,yml,sh,md,json}
  helm-lint: any of: **/Chart.yaml
