Repository TheBranchDriftCatalyst/talos-homelab: changes, and which lefthook commands are due for each by the changed paths.
All: gitleaks, yamllint, kube-validate, shellcheck, shfmt, markdownlint, trailing-whitespace, helm-lint

gitleaks:
  tags: security
  run: gitleaks protect --verbose --redact --staged
  skip:
  - merge
  - rebase

yamllint:
  tags: linting yaml
  run: yamllint --strict .
  skip:
  - merge
  - rebase

kube-validate:
  tags: kubernetes yaml
  ...

shellcheck:
  tags: linting shell
  run: shellcheck -x {staged_files}
  skip:
  - merge
  - rebase

shfmt:
  tags: formatting shell
  run: shfmt -w -i 2 -ci -sr {staged_files}
  skip:
  - merge
  - rebase
  stage_fixed: true

markdownlint:
  tags: linting markdown
  run: npx markdownlint-cli2 {staged_files}
  skip:
  - merge
  - rebase

trailing-whitespace:
  tags: formatting
  run: "if grep -n '[[:space:]]$' {staged_files}; then\n  echo \"‚ùå Error: Trailing whitespace found\"\n  echo \"Run: sed -i '' 's/[[:space:]]*$//' <file>\"\n  exit 1\nfi\n"
  skip:
  - merge
  - rebase

helm-lint:
  tags: kubernetes helm
  run: "for chart_dir in infrastructure/base/*/; do\n  if [ -f \"$chart_dir/Chart.yaml\" ]; then\n    echo \"Linting Helm chart: $chart_dir\"\n    helm lint \"$chart_dir\" || exit 1\n  fi\ndone\n"
  skip:
  - merge
  - rebase

gitblobstore: checkandput manifest
  manifest
  oku8acjblnu337aa7jkr9tjie43q2ar1
Due: none

fix(crowdsec): send a versioned inventory user agent
  infrastructure/base/crowdsec/decision-exporter/exporter.py
Due: none

fix(security): tighten log privacy and reconcile CrowdSec policy intent
  docs/05-runbooks/crowdsec-verification.md
  infrastructure/base/crowdsec/decision-exporter.yaml
  infrastructure/base/crowdsec/dynamic-allowlist.yaml
  infrastructure/base/crowdsec/helmrelease.yaml
  infrastructure/base/iocaine/deployment.yaml
  infrastructure/base/iocaine/ingressroute.yaml
  infrastructure/base/traefik/helmrelease.yaml
  scripts/security/check-crowdsec-vpn.py
Due: gitleaks, yamllint, kube-validate, markdownlint, trailing-whitespace

test(security): assert repository and live security posture
  .github/workflows/security-posture.yaml
  docs/05-runbooks/crowdsec-verification.md
  infrastructure/base/crowdsec/helmrelease.yaml
  scripts/security/check-crowdsec-parsers.py
  scripts/security/check-crowdsec-vpn.py
  scripts/security/test_security_posture.py
Due: gitleaks, yamllint, kube-validate, markdownlint, trailing-whitespace

test(security): verify replica recovery and record audit evidence
  docs/05-runbooks/crowdsec-audit-2026-09-07.md
  docs/05-runbooks/crowdsec-verification.md
  scripts/security/check-crowdsec-vpn.py
Due: gitleaks, markdownlint, trailing-whitespace

fix(grafana): apply storage filters and map PVCs to pods
  infrastructure/base/monitoring/grafana-dashboards/json/central-cluster-storage.json
Due: gitleaks, trailing-whitespace

fix(grafana): keep pod and PVC names readable in storage table
  applications/crossplane-demo/plausible/sites-registry.yaml
  infrastructure/base/analytics/sites-middlewares.yaml
  infrastructure/base/monitoring/grafana-dashboards/json/central-cluster-storage.json
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(authentik): mount private brand assets for Amber flow
  infrastructure/base/authentik/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(talos): reclaim unused images earlier on talos06
  configs/patches/talos06-image-gc.yaml
  configs/talconfig.yaml
  docs/05-runbooks/talos06-storage-reclamation.md
Due: gitleaks, yamllint, kube-validate, markdownlint, trailing-whitespace

docs(talos): record verified image cache reclamation
  docs/05-runbooks/talos06-storage-reclamation.md
Due: gitleaks, markdownlint, trailing-whitespace

gitblobstore: checkandput manifest
  92a7itligvitablejnoatpbvr0a622ui.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  e6alg4lfakmojdndrg3kaesu0h9km6vf
  manifest
Due: none

fix(bt-radar): wait for Bluetooth hardware without crash looping
  .github/workflows/security-posture.yaml
  applications/bt-radar/base/40-bt-agent.yaml
  clusters/catalyst-cluster/bt-radar.yaml
  scripts/security/test-bt-agent-preflight.py
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

gitblobstore: checkandput manifest
  kpulq88rmbnemqnko2rml894s8skpt52.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  manifest
  tbcrmlh3a57rvq9132oiv55qaqv9etpv
Due: none

gitblobstore: checkandput manifest
  l2o2f0um9djnb58hnlecudrdpeulgvrc.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  manifest
  oovcqrbrp2vgsfrogfrud6cpigioqinv
Due: none

dolt remote info
  DOLT_REMOTE.md
Due: gitleaks, markdownlint, trailing-whitespace

feat(auth): prepare Amberdark DNS certificates and internal resolution
  infrastructure/base/authentik/private-sso-reconciler.yaml
  infrastructure/base/cert-manager-issuers/amberdark-wildcard-certificate.yaml
  infrastructure/base/cert-manager-issuers/kustomization.yaml
  infrastructure/base/cert-manager-issuers/letsencrypt-issuer.yaml
  infrastructure/base/external-dns/deployment.yaml
  infrastructure/base/external-dns/orphan-cronjobs.yaml
  infrastructure/base/kyverno-policies/oidc-hostalias.yaml
  infrastructure/base/pihole/statefulset.yaml
  infrastructure/base/traefik/tlsstore.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(auth): mount the private brand blueprint for Amber login
  infrastructure/base/authentik/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(dns): isolate Amberdark credentials using existing vault item
  infrastructure/base/cert-manager-issuers/cloudflare-secret.yaml
  infrastructure/base/cert-manager-issuers/letsencrypt-issuer.yaml
  infrastructure/base/cloudflare-ddns/amberdark/externalsecret.yaml
  infrastructure/base/cloudflare-ddns/amberdark/kustomization.yaml
  infrastructure/base/cloudflare-ddns/amberdark/workload/kustomization.yaml
  infrastructure/base/cloudflare-ddns/kustomization.yaml
  infrastructure/base/cloudflare-ddns/workload/deployment.yaml
  infrastructure/base/cloudflare-ddns/workload/kustomization.yaml
  infrastructure/base/external-dns/amberdark/externalsecret.yaml
  infrastructure/base/external-dns/amberdark/kustomization.yaml
  infrastructure/base/external-dns/amberdark/workload/kustomization.yaml
  infrastructure/base/external-dns/kustomization.yaml
  infrastructure/base/external-dns/orphan-cronjobs.yaml
  infrastructure/base/external-dns/workload/deployment.yaml
  infrastructure/base/external-dns/workload/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(dns): proxy web records and retain direct streaming origin
  infrastructure/base/cloudflare-ddns/amberdark/workload/kustomization.yaml
  infrastructure/base/external-dns/README.md
  infrastructure/base/external-dns/amberdark/workload/kustomization.yaml
  infrastructure/base/external-dns/workload/deployment.yaml
Due: gitleaks, yamllint, kube-validate, markdownlint, trailing-whitespace

feat(auth): move private app providers and analytics to Amberdark
  applications/crossplane-demo/plausible/sites-registry.yaml
  applications/zipline/ingressroute.yaml
  infrastructure/base/analytics/sites-middlewares.yaml
  infrastructure/base/authentik/ingressroute.yaml
  infrastructure/base/authentik/talos-private-blueprint.yaml
  infrastructure/base/traefik/middlewares.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(traefik): lock down the dashboard/API — HTTPS + auth, off the plaintext :80 (TALOS-lxz5.1.1)
  .beads/issues.jsonl
  TESTING.md
  infrastructure/base/traefik/helmrelease.yaml
  scripts/security/test_security_posture.py
Due: gitleaks, yamllint, kube-validate, markdownlint, trailing-whitespace

feat(authentik): register traefik.talos00 app so the gated dashboard can SSO-login (TALOS-lxz5.1.5)
  .beads/issues.jsonl
  infrastructure/base/authentik/infra-admin-blueprint.yaml
  infrastructure/base/authentik/talos-private-blueprint.yaml
  scripts/security/test_security_posture.py
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(auth-plane): gate Frigate /api + strip forgeable inbound X-authentik-* headers (TALOS-lxz5.2.1/2.3)
  .beads/issues.jsonl
  applications/scratch/frigate/ingressroute.yaml
  infrastructure/base/traefik/helmrelease.yaml
  infrastructure/base/traefik/middlewares.yaml
  scripts/security/test_security_posture.py
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(perimeter): drop 10.0.0.0/8 from Traefik + CrowdSec trusted IPs (TALOS-lxz5.1.4)
  .beads/issues.jsonl
  infrastructure/base/crowdsec/bouncer-middleware.yaml
  infrastructure/base/traefik/helmrelease.yaml
  scripts/security/test_security_posture.py
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(auth-plane): close qBittorrent unauthenticated API — remove pod-CIDR auth bypass (TALOS-lxz5.2.2)
  applications/arr-stack/base/qbittorrent/deployment.yaml
  applications/arr-stack/base/qbittorrent/ingressroute.yaml
  scripts/security/test_security_posture.py
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(netpol): east-west NetworkPolicies for Guacamole + Authentik cache (TALOS-lxz5.3.2/3.3)
  .beads/issues.jsonl
  applications/gaming/base/kubevirt/guacamole-network-policy.yaml
  applications/gaming/base/kubevirt/kustomization.yaml
  infrastructure/base/authentik/dragonfly-network-policy.yaml
  infrastructure/base/authentik/kustomization.yaml
  scripts/security/test_security_posture.py
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(beads): sync TALOS-lxz5 remediation status (8 fixes closed + verified)
  .beads/issues.jsonl
Due: none

feat(public-surface): rate-limit + body-cap public routes, pin zipline, guard amberdark claims (TALOS-lxz5.4)
  .beads/issues.jsonl
  applications/zipline/deployment.yaml
  applications/zipline/ingressroute.yaml
  infrastructure/base/authentik/ingressroute.yaml
  infrastructure/base/forgejo/ingressroute.yaml
  infrastructure/base/kyverno-policies/kustomization.yaml
  infrastructure/base/kyverno-policies/restrict-public-hostname-claims.yaml
  infrastructure/base/registry/zot/ingressroute.yaml
  infrastructure/base/traefik/middlewares.yaml
  scripts/security/test_security_posture.py
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(beads): close public-surface epic (.4) + reconciler decision (.5.1 accepted, .5.7 follow-up)
  .beads/issues.jsonl
Due: none

feat(authentik): OIDC hardening — no empty-secret default, https redirects, MinIO scope, consent (TALOS-lxz5.5)
  infrastructure/base/authentik/boomtime-blueprint.yaml
  infrastructure/base/authentik/forgejo-blueprint.yaml
  infrastructure/base/authentik/grafana-blueprint.yaml
  infrastructure/base/authentik/immich-blueprint.yaml
  infrastructure/base/authentik/litellm-blueprint.yaml
  infrastructure/base/authentik/media-oidc-blueprint.yaml
  infrastructure/base/authentik/minio-blueprint.yaml
  infrastructure/base/authentik/talos-private-blueprint.yaml
  infrastructure/base/authentik/zot-blueprint.yaml
  scripts/security/test_security_posture.py
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(beads): close IdP OIDC hardening tasks (.5.2-.5.5)
  .beads/issues.jsonl
Due: none

feat(kyverno): deny web+websecure on one IngressRoute (TALOS-lxz5.6.2 / finding 014)
  infrastructure/base/kyverno-policies/ingressroute-no-combined-entrypoints.yaml
  infrastructure/base/kyverno-policies/kustomization.yaml
  scripts/security/test_security_posture.py
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(beads): close combined-entrypoint deny (.6.2)
  .beads/issues.jsonl
Due: none

fix(dbgate): raise memory limit 256Mi->768Mi to stop OOMKill crashloop
  infrastructure/base/databases/dbgate/deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

test(posture): --live guard — every restricted CNPG DB must allow dbgate (databases:5432)
  scripts/security/test_security_posture.py
Due: none

chore(beads): file wide-open CNPG DB restrict follow-up
  .beads/issues.jsonl
Due: none

feat(crowdsec): promote app-login brute-force scenarios to enforcing (real-time, no simulation)
  infrastructure/base/crowdsec/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

Path conditions:
  gitleaks: any of: *.{yaml,yml,sh,json,env,txt,md}
  yamllint: any of: *.{yaml,yml}
  kube-validate: any of: *.{yaml,yml}
  shellcheck: any of: *.sh
  shfmt: any of: *.sh
  markdownlint: any of: *.md
  trailing-whitespace: any of: *.{yaml,yml,sh,md,json}
  helm-lint: any of: **/Chart.yaml
