Repository TheBranchDriftCatalyst/talos-homelab: changes, and which lefthook commands are due for each by the changed paths.
All: gitleaks, yamllint, kube-validate, shellcheck, shfmt, markdownlint, trailing-whitespace, helm-lint

gitleaks:
  tags: security
  run: gitleaks protect --verbose --redact --staged
  skip:
  - merge
  - rebase

yamllint:
  tags: linting yaml
  run: yamllint --strict .
  skip:
  - merge
  - rebase

kube-validate:
  tags: kubernetes yaml
  ...

shellcheck:
  tags: linting shell
  run: shellcheck -x {staged_files}
  skip:
  - merge
  - rebase

shfmt:
  tags: formatting shell
  run: shfmt -w -i 2 -ci -sr {staged_files}
  skip:
  - merge
  - rebase
  stage_fixed: true

markdownlint:
  tags: linting markdown
  run: npx markdownlint-cli2 {staged_files}
  skip:
  - merge
  - rebase

trailing-whitespace:
  tags: formatting
  run: "if grep -n '[[:space:]]$' {staged_files}; then\n  echo \"‚ùå Error: Trailing whitespace found\"\n  echo \"Run: sed -i '' 's/[[:space:]]*$//' <file>\"\n  exit 1\nfi\n"
  skip:
  - merge
  - rebase

helm-lint:
  tags: kubernetes helm
  run: "for chart_dir in infrastructure/base/*/; do\n  if [ -f \"$chart_dir/Chart.yaml\" ]; then\n    echo \"Linting Helm chart: $chart_dir\"\n    helm lint \"$chart_dir\" || exit 1\n  fi\ndone\n"
  skip:
  - merge
  - rebase

docs: Update resource optimization tracking with current status
  docs/RESOURCE-OPTIMIZATION.md
Due: gitleaks, markdownlint, trailing-whitespace

fix(mongodb-exporter): Increase CPU request from 10m to 50m
  infrastructure/base/observability/mongodb/exporter.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(dashboard): Add Min CPU Request variable to filter LimitRange pods
  infrastructure/base/monitoring/grafana-dashboards/resource-efficiency.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(dashboard): Add query field to min_cpu variable for dropdown support
  infrastructure/base/monitoring/grafana-dashboards/resource-efficiency.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix: Update Synology NAS IP address to 192.168.1.36
  clusters/homelab-single/cluster-settings.yaml
  infrastructure/base/storage/nfs-provisioner/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(traefik): Add updateStrategy for single-node hostPort upgrades
  infrastructure/base/traefik/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat: Move ArgoCD and Grafana admin credentials to 1Password
  infrastructure/base/argocd/admin-credentials-externalsecret.yaml
  infrastructure/base/argocd/helmrelease.yaml
  infrastructure/base/argocd/kustomization.yaml
  infrastructure/base/monitoring/kube-prometheus-stack/grafana-admin-externalsecret.yaml
  infrastructure/base/monitoring/kube-prometheus-stack/helmrelease.yaml
  infrastructure/base/monitoring/kube-prometheus-stack/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix: Update ArgoCD ExternalSecret to use Owner policy
  infrastructure/base/argocd/admin-credentials-externalsecret.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix: Hardcode Grafana admin username to 'admin'
  infrastructure/base/monitoring/kube-prometheus-stack/grafana-admin-externalsecret.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix: Consolidate hybrid cluster dashboards and fix Grafana secrets
  infrastructure/base/monitoring/grafana-dashboards/cluster-overview-dashboard.yaml
  infrastructure/base/monitoring/grafana-dashboards/hybrid-cluster-dashboards.yaml
  infrastructure/base/monitoring/grafana-dashboards/kustomization.yaml
  infrastructure/base/monitoring/grafana-dashboards/resource-efficiency.yaml
  infrastructure/base/monitoring/hybrid-cluster-exporter/deployment.yaml
  infrastructure/base/monitoring/hybrid-cluster-exporter/externalsecret.yaml
  infrastructure/base/monitoring/hybrid-cluster-exporter/kustomization.yaml
  infrastructure/base/monitoring/hybrid-cluster-exporter/servicemonitor.yaml
  infrastructure/base/monitoring/kube-prometheus-stack/grafana-admin-externalsecret.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat: Add hybrid LLM compute cluster with Nebula mesh and AWS worker
  clusters/homelab-single/catalyst-llm.yaml
  docs/hybrid-llm-cluster/PROVISIONING-RECIPE.md
  docs/hybrid-llm-cluster/SCALE-TO-ZERO.md
  infrastructure/base/catalyst-llm/configmap.yaml
  infrastructure/base/catalyst-llm/ingressroute.yaml
  infrastructure/base/catalyst-llm/kustomization.yaml
  infrastructure/base/catalyst-llm/namespace.yaml
  infrastructure/base/catalyst-llm/pvc.yaml
  infrastructure/base/catalyst-llm/service.yaml
  infrastructure/base/liqo/helmrelease.yaml
  infrastructure/base/liqo/kustomization.yaml
  infrastructure/base/liqo/namespace.yaml
  infrastructure/base/monitoring/kustomization.yaml
  infrastructure/base/monitoring/servicemonitors/kustomization.yaml
  infrastructure/base/monitoring/servicemonitors/liqo-servicemonitor.yaml
  infrastructure/base/nebula/configmap.yaml
  infrastructure/base/nebula/daemonset.yaml
  infrastructure/base/nebula/kustomization.yaml
  infrastructure/base/nebula/namespace.yaml
  infrastructure/base/nebula/secret.yaml
  infrastructure/base/observability/graylog/helmrelease.yaml
  scripts/hybrid-llm/_tests/cold-start-timing.sh
  scripts/hybrid-llm/lighthouse-userdata.sh
  scripts/hybrid-llm/llm-worker.sh
  scripts/hybrid-llm/provision-lighthouse.sh
  scripts/hybrid-llm/worker-userdata.sh
  scripts/resync-externalsecrets.sh
Due: gitleaks, yamllint, kube-validate, shellcheck, shfmt, markdownlint, trailing-whitespace

feat(catalyst-llm): Add frontend services Open-WebUI, SillyTavern, SearXNG
  infrastructure/base/catalyst-llm/dashboard.sh
  infrastructure/base/catalyst-llm/ingressroute.yaml
  infrastructure/base/catalyst-llm/kustomization.yaml
  infrastructure/base/catalyst-llm/open-webui.yaml
  infrastructure/base/catalyst-llm/searxng.yaml
  infrastructure/base/catalyst-llm/sillytavern.yaml
Due: gitleaks, yamllint, kube-validate, shellcheck, shfmt, trailing-whitespace

fix(sillytavern): Increase resources and simplify deployment
  infrastructure/base/catalyst-llm/sillytavern.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat: Add LLM Scaler for scale-to-zero Ollama worker
  .github/workflows/llm-scaler.yaml
  infrastructure/base/catalyst-llm/ingressroute.yaml
  infrastructure/base/catalyst-llm/kustomization.yaml
  infrastructure/base/catalyst-llm/scaler-deployment.yaml
  infrastructure/base/catalyst-llm/scaler-secrets.yaml
  infrastructure/base/monitoring/grafana-dashboards/kustomization.yaml
  infrastructure/base/monitoring/grafana-dashboards/llm-scaler-dashboard.yaml
  tools/llm-scaler/Dockerfile
  tools/llm-scaler/go.mod
  tools/llm-scaler/main.go
  tools/llm-scaler/scaler.go
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix: Remove SSH key dependency from LLM Scaler
  infrastructure/base/catalyst-llm/scaler-deployment.yaml
  infrastructure/base/catalyst-llm/scaler-secrets.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat: Enable open-webui and sillytavern deployments
  infrastructure/base/catalyst-llm/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix: Homepage service URLs and add Grafana credentials ExternalSecret
  applications/arr-stack/base/homepage/configmap-services.yaml
  applications/arr-stack/base/homepage/deployment.yaml
  applications/arr-stack/base/homepage/grafana-credentials-externalsecret.yaml
  applications/arr-stack/base/homepage/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix: LLM scaler fixes - STATE_FILE env var and timeout configuration
  infrastructure/base/catalyst-llm/dashboard.sh
  infrastructure/base/catalyst-llm/ingressroute.yaml
  infrastructure/base/catalyst-llm/scaler-deployment.yaml
Due: gitleaks, yamllint, kube-validate, shellcheck, shfmt, trailing-whitespace

fix: Use NFS PVC for LLM scaler state persistence
  infrastructure/base/catalyst-llm/pvc.yaml
  infrastructure/base/catalyst-llm/scaler-deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore: Add placeholder for Liqo AWS GPU cluster peering
  infrastructure/base/liqo/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

Path conditions:
  gitleaks: any of: *.{yaml,yml,sh,json,env,txt,md}
  yamllint: any of: *.{yaml,yml}
  kube-validate: any of: *.{yaml,yml}
  shellcheck: any of: *.sh
  shfmt: any of: *.sh
  markdownlint: any of: *.md
  trailing-whitespace: any of: *.{yaml,yml,sh,md,json}
  helm-lint: any of: **/Chart.yaml
