Repository TheBranchDriftCatalyst/talos-homelab: changes, and which lefthook commands are due for each by the changed paths.
All: gitleaks, yamllint, kube-validate, shellcheck, shfmt, markdownlint, trailing-whitespace, helm-lint

gitleaks:
  tags: security
  run: gitleaks protect --verbose --redact --staged
  skip:
  - merge
  - rebase

yamllint:
  tags: linting yaml
  run: yamllint --strict .
  skip:
  - merge
  - rebase

kube-validate:
  tags: kubernetes yaml
  ...

shellcheck:
  tags: linting shell
  run: shellcheck -x {staged_files}
  skip:
  - merge
  - rebase

shfmt:
  tags: formatting shell
  run: shfmt -w -i 2 -ci -sr {staged_files}
  skip:
  - merge
  - rebase
  stage_fixed: true

markdownlint:
  tags: linting markdown
  run: npx markdownlint-cli2 {staged_files}
  skip:
  - merge
  - rebase

trailing-whitespace:
  tags: formatting
  run: "if grep -n '[[:space:]]$' {staged_files}; then\n  echo \"‚ùå Error: Trailing whitespace found\"\n  echo \"Run: sed -i '' 's/[[:space:]]*$//' <file>\"\n  exit 1\nfi\n"
  skip:
  - merge
  - rebase

helm-lint:
  tags: kubernetes helm
  run: "for chart_dir in infrastructure/base/*/; do\n  if [ -f \"$chart_dir/Chart.yaml\" ]; then\n    echo \"Linting Helm chart: $chart_dir\"\n    helm lint \"$chart_dir\" || exit 1\n  fi\ndone\n"
  skip:
  - merge
  - rebase

feat(sonarr): drop DOCKER_MODS now that Traefik injects the theme
  applications/arr-stack/overlays/themepark/sonarr-patch.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(docsgen): extract claims from prose and infer where in the code they belong
  dev/docs-generator/claim_extract.go
  dev/docs-generator/claim_unit_test.go
  dev/docs-generator/main.go
Due: none

chore(themepark): TEMPORARY diagnostic — observe the injected link
  infrastructure/base/themepark/server/ingressroute.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(docsgen): inline documentation DSL — folder READMEs assembled from comments
  infrastructure/base/themepark/server/ingressroute.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(docsgen): inline documentation DSL — folder READMEs assembled from comments
  dev/docs-generator/artifact_folder.go
  dev/docs-generator/block.go
  dev/docs-generator/block_unit_test.go
  dev/docs-generator/collect.go
  dev/docs-generator/config.go
  dev/docs-generator/config.yaml
  dev/docs-generator/generate.go
  infrastructure/base/security/honeypots/README.md
  infrastructure/base/security/honeypots/haproxy-novelty-bouncer/README.md
  infrastructure/base/security/honeypots/haproxy-novelty-bouncer/bouncer.py
  infrastructure/base/security/honeypots/haproxy.yaml
Due: gitleaks, yamllint, kube-validate, markdownlint, trailing-whitespace

fix(themepark): serve the theme same-origin, not from theme.talos00
  applications/arr-stack/base/sonarr/ingressroute.yaml
  infrastructure/base/themepark/middlewares.yaml
  infrastructure/base/themepark/server/deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(themepark): roll the Catalyst theme to the whole media stack
  applications/arr-stack/base/jellyfin/ingressroute.yaml
  applications/arr-stack/base/plex/ingressroute.yaml
  applications/arr-stack/base/prowlarr/ingressroute.yaml
  applications/arr-stack/base/qbittorrent/ingressroute.yaml
  applications/arr-stack/base/radarr/ingressroute.yaml
  applications/arr-stack/base/sabnzbd/ingressroute.yaml
  applications/arr-stack/base/seerr/ingressroute.yaml
  applications/arr-stack/base/sonarr/ingressroute.yaml
  applications/arr-stack/base/tautulli/ingressroute.yaml
  infrastructure/base/themepark/middlewares.yaml
  infrastructure/base/themepark/server/deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

test(docsgen): integration coverage for the knowledge system, end to end
  .gitignore
  dev/docs-generator/artifact_knowledge.go
  dev/docs-generator/integration/knowledge_test.go
  dev/docs-generator/integration/testdata/samples/flux-cluster/config.yaml
  dev/docs-generator/integration/testdata/samples/flux-cluster/platform/gateway/README.md
  dev/docs-generator/integration/testdata/samples/flux-cluster/platform/gateway/deployment.yaml
  dev/docs-generator/integration/testdata/samples/plain-dirs/config.yaml
  dev/docs-generator/integration/testdata/samples/plain-dirs/lib/httpx/client.py
Due: gitleaks, yamllint, kube-validate, markdownlint, trailing-whitespace

feat(traefik): load rewrite-body for the cross-app nav injection
  infrastructure/base/traefik/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(themepark): cross-app nav bar, discovered from the cluster
  applications/arr-stack/base/jellyfin/ingressroute.yaml
  applications/arr-stack/base/plex/ingressroute.yaml
  applications/arr-stack/base/prowlarr/ingressroute.yaml
  applications/arr-stack/base/qbittorrent/ingressroute.yaml
  applications/arr-stack/base/radarr/ingressroute.yaml
  applications/arr-stack/base/sabnzbd/ingressroute.yaml
  applications/arr-stack/base/seerr/ingressroute.yaml
  applications/arr-stack/base/sonarr/ingressroute.yaml
  applications/arr-stack/base/tautulli/ingressroute.yaml
  infrastructure/base/themepark/middlewares.yaml
  infrastructure/base/themepark/server/css/catalyst.css
  infrastructure/base/themepark/server/deployment.yaml
  infrastructure/base/themepark/server/kustomization.yaml
  infrastructure/base/themepark/server/nav/build_nav.py
  infrastructure/base/themepark/server/nav/discover.sh
  infrastructure/base/themepark/server/rbac.yaml
  infrastructure/base/themepark/server/resources/catalyst-nav.js
Due: gitleaks, yamllint, kube-validate, shellcheck, shfmt, trailing-whitespace

fix(themepark): let the nav sidecar reach the API server
  infrastructure/base/themepark/server/cilium-network-policy.yaml
  infrastructure/base/themepark/server/nav/discover.sh
Due: gitleaks, yamllint, kube-validate, shellcheck, shfmt, trailing-whitespace

fix(themepark): run the nav sidecar as the uid that owns /config
  infrastructure/base/themepark/server/deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(themepark): stop a sidecar hiccup from unthemeing every app
  infrastructure/base/themepark/server/deployment.yaml
  infrastructure/base/themepark/server/nav/discover.sh
Due: gitleaks, yamllint, kube-validate, shellcheck, shfmt, trailing-whitespace

fix(themepark): stop the nav and theme plugins fighting over one token
  infrastructure/base/themepark/middlewares.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(themepark): one rewrite pass per response, not two
  applications/arr-stack/base/jellyfin/ingressroute.yaml
  applications/arr-stack/base/plex/ingressroute.yaml
  applications/arr-stack/base/prowlarr/ingressroute.yaml
  applications/arr-stack/base/qbittorrent/ingressroute.yaml
  applications/arr-stack/base/radarr/ingressroute.yaml
  applications/arr-stack/base/sabnzbd/ingressroute.yaml
  applications/arr-stack/base/seerr/ingressroute.yaml
  applications/arr-stack/base/sonarr/ingressroute.yaml
  applications/arr-stack/base/tautulli/ingressroute.yaml
  infrastructure/base/themepark/middlewares.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(themepark): pin Accept-Encoding to gzip so the rewrite can decode
  applications/arr-stack/base/jellyfin/ingressroute.yaml
  applications/arr-stack/base/plex/ingressroute.yaml
  applications/arr-stack/base/prowlarr/ingressroute.yaml
  applications/arr-stack/base/qbittorrent/ingressroute.yaml
  applications/arr-stack/base/radarr/ingressroute.yaml
  applications/arr-stack/base/sabnzbd/ingressroute.yaml
  applications/arr-stack/base/seerr/ingressroute.yaml
  applications/arr-stack/base/sonarr/ingressroute.yaml
  applications/arr-stack/base/tautulli/ingressroute.yaml
  infrastructure/base/themepark/middlewares.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(themepark): drop the explicit monitor block that broke gzip handling
  infrastructure/base/themepark/middlewares.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(themepark): ask for identity, not gzip, on rewritten documents
  infrastructure/base/themepark/middlewares.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(themepark): nav was building itself empty after the middleware rename
  infrastructure/base/themepark/server/nav/build_nav.py
Due: none

fix(themepark): retry the nav manifest through the pod-start window
  infrastructure/base/themepark/server/resources/catalyst-nav.js
Due: none

feat(themepark): retire DOCKER_MODS, and stop the theme costing page loads
  applications/arr-stack/base/jellyfin/ingressroute.yaml
  applications/arr-stack/base/plex/ingressroute.yaml
  applications/arr-stack/base/prowlarr/ingressroute.yaml
  applications/arr-stack/base/qbittorrent/deployment.yaml
  applications/arr-stack/base/qbittorrent/ingressroute.yaml
  applications/arr-stack/base/radarr/ingressroute.yaml
  applications/arr-stack/base/sabnzbd/ingressroute.yaml
  applications/arr-stack/base/seerr/ingressroute.yaml
  applications/arr-stack/base/sonarr/ingressroute.yaml
  applications/arr-stack/base/tautulli/ingressroute.yaml
  applications/arr-stack/overlays/themepark/jellyfin-patch.yaml
  applications/arr-stack/overlays/themepark/kustomization.yaml
  applications/arr-stack/overlays/themepark/plex-patch.yaml
  applications/arr-stack/overlays/themepark/prowlarr-patch.yaml
  applications/arr-stack/overlays/themepark/qbittorrent-patch.yaml
  applications/arr-stack/overlays/themepark/radarr-patch.yaml
  applications/arr-stack/overlays/themepark/sabnzbd-patch.yaml
  applications/arr-stack/overlays/themepark/sonarr-patch.yaml
  applications/arr-stack/overlays/themepark/tautulli-patch.yaml
  applications/arr-stack/overlays/themepark/themepark-env.yaml
  infrastructure/base/themepark/middlewares.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

perf(themepark): stop the theme repainting every frame, and cache its assets
  applications/arr-stack/base/jellyfin/ingressroute.yaml
  applications/arr-stack/base/plex/ingressroute.yaml
  applications/arr-stack/base/prowlarr/ingressroute.yaml
  applications/arr-stack/base/qbittorrent/ingressroute.yaml
  applications/arr-stack/base/radarr/ingressroute.yaml
  applications/arr-stack/base/sabnzbd/ingressroute.yaml
  applications/arr-stack/base/seerr/ingressroute.yaml
  applications/arr-stack/base/sonarr/ingressroute.yaml
  applications/arr-stack/base/tautulli/ingressroute.yaml
  infrastructure/base/themepark/middlewares.yaml
  infrastructure/base/themepark/server/css/catalyst.css
  infrastructure/base/themepark/server/resources/catalyst-nav.js
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

perf(themepark): name both stylesheets directly, drop the stub round trip
  infrastructure/base/themepark/middlewares.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(authentik): give the forward-auth server capacity to stop flapping
  infrastructure/base/authentik/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(themepark): the nav bar never hid, and now it is hover-revealed instead
  infrastructure/base/themepark/server/css/catalyst.css
  infrastructure/base/themepark/server/resources/catalyst-nav.js
Due: none

fix(certs): derive explicit SANs so talos00 hosts work on Apple devices
  clusters/catalyst-cluster/cert-manager-issuers.yaml
  dev/Taskfile.certs.yaml
  infrastructure/base/cert-manager-issuers/kustomization.yaml
  infrastructure/base/cert-manager-issuers/san-discovery/cronjob.yaml
  infrastructure/base/cert-manager-issuers/san-discovery/derive_sans.py
  infrastructure/base/cert-manager-issuers/san-discovery/rbac.yaml
  infrastructure/base/cert-manager-issuers/san-discovery/refresh_sans.sh
  infrastructure/base/cert-manager-issuers/talos00-wildcard-certificate.yaml
Due: gitleaks, yamllint, kube-validate, shellcheck, shfmt, trailing-whitespace

fix(certs): split SAN discovery out of the Kustomization it feeds
  clusters/catalyst-cluster/cert-manager-issuers.yaml
  clusters/catalyst-cluster/flux-system/kustomization.yaml
  clusters/catalyst-cluster/talos00-san-discovery.yaml
  infrastructure/base/cert-manager-issuers/kustomization.yaml
  infrastructure/base/cert-manager-issuers/talos00-wildcard-certificate.yaml
  infrastructure/base/talos00-san-discovery/cronjob.yaml
  infrastructure/base/talos00-san-discovery/derive_sans.py
  infrastructure/base/talos00-san-discovery/kustomization.yaml
  infrastructure/base/talos00-san-discovery/rbac.yaml
  infrastructure/base/talos00-san-discovery/refresh_sans.sh
  infrastructure/base/talos00-san-discovery/seed-configmap.yaml
Due: gitleaks, yamllint, kube-validate, shellcheck, shfmt, trailing-whitespace

feat(catalyst): nav bar across media-experimental, and one ref per app
  applications/arr-stack/base/jellyfin/ingressroute.yaml
  applications/arr-stack/base/plex/ingressroute.yaml
  applications/arr-stack/base/prowlarr/ingressroute.yaml
  applications/arr-stack/base/qbittorrent/ingressroute.yaml
  applications/arr-stack/base/radarr/ingressroute.yaml
  applications/arr-stack/base/sabnzbd/ingressroute.yaml
  applications/arr-stack/base/seerr/ingressroute.yaml
  applications/arr-stack/base/sonarr/ingressroute.yaml
  applications/arr-stack/base/tautulli/ingressroute.yaml
  applications/media-experimental/base/audiobookshelf/patch-ingressroute.yaml
  applications/media-experimental/base/bindery/patch-ingressroute.yaml
  applications/media-experimental/base/bookorbit/ingressroute.yaml
  applications/media-experimental/base/booksonic/patch-ingressroute.yaml
  applications/media-experimental/base/chaptarr/patch-ingressroute.yaml
  applications/media-experimental/base/kavita/patch-ingressroute.yaml
  applications/media-experimental/base/komga/patch-ingressroute.yaml
  applications/media-experimental/base/libation/patch-ingressroute.yaml
  applications/media-experimental/base/librarr/patch-ingressroute.yaml
  applications/media-experimental/base/livrarr/patch-ingressroute.yaml
  applications/media-experimental/base/mylar3/patch-ingressroute.yaml
  applications/media-experimental/base/storyteller/patch-ingressroute.yaml
  infrastructure/base/themepark/asset-route.yaml
  infrastructure/base/themepark/kustomization.yaml
  infrastructure/base/themepark/middlewares.yaml
  infrastructure/base/themepark/server/css/catalyst-nav.css
  infrastructure/base/themepark/server/css/catalyst.css
  infrastructure/base/themepark/server/deployment.yaml
  infrastructure/base/themepark/server/kustomization.yaml
  infrastructure/base/themepark/server/nav/build_nav.py
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(jellyfin): startupProbe so a slow NAS cannot crash-loop it
  applications/arr-stack/base/jellyfin/deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(kyverno): derive a startupProbe from livenessProbe
  infrastructure/base/kyverno-policies/kustomization.yaml
  infrastructure/base/kyverno-policies/startupprobe-from-liveness.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(argocd): stop the 1s liveness timeout restarting repo-server
  infrastructure/base/argocd/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(secure-chrome): terminate TLS at Traefik and put Authentik in front
  infrastructure/base/vpn-gateway/secure-chrome.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

revert(secure-chrome): restore TLS passthrough to bring the app back
  infrastructure/base/vpn-gateway/secure-chrome.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

perf(secure-chrome): hardware encoding, local cache, honest CPU request
  infrastructure/base/vpn-gateway/secure-chrome.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(irc): always-on IRC with soju and gamja
  applications/irc/base/gamja.yaml
  applications/irc/base/ingressroute.yaml
  applications/irc/base/kustomization.yaml
  applications/irc/base/namespace.yaml
  applications/irc/base/postgres.yaml
  applications/irc/base/soju.yaml
  clusters/catalyst-cluster/flux-system/kustomization.yaml
  clusters/catalyst-cluster/irc.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(irc): quote soju's title so it parses as one parameter
  applications/irc/base/soju.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(irc): generate soju/gamja configs so edits actually reach the pod
  applications/irc/base/config/gamja.json
  applications/irc/base/config/soju.conf
  applications/irc/base/gamja.yaml
  applications/irc/base/kustomization.yaml
  applications/irc/base/soju.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(homepage): generate settings so config edits reach the running pods
  applications/homepage/base/instance/configmap-settings.yaml
  applications/homepage/base/instance/files/kubernetes.yaml
  applications/homepage/base/instance/files/settings.yaml
  applications/homepage/base/instance/kustomization.yaml
  applications/homepage/overlays/apps/files/settings.yaml
  applications/homepage/overlays/apps/kustomization.yaml
  applications/homepage/overlays/apps/patch-settings.yaml
  applications/homepage/overlays/arrs/files/settings.yaml
  applications/homepage/overlays/arrs/kustomization.yaml
  applications/homepage/overlays/arrs/patch-settings.yaml
  applications/homepage/overlays/data/files/settings.yaml
  applications/homepage/overlays/data/kustomization.yaml
  applications/homepage/overlays/data/patch-settings.yaml
  applications/homepage/overlays/home/files/settings.yaml
  applications/homepage/overlays/home/kustomization.yaml
  applications/homepage/overlays/home/patch-settings.yaml
  applications/homepage/overlays/infra/files/settings.yaml
  applications/homepage/overlays/infra/kustomization.yaml
  applications/homepage/overlays/infra/patch-settings.yaml
  applications/homepage/overlays/llm/files/settings.yaml
  applications/homepage/overlays/llm/kustomization.yaml
  applications/homepage/overlays/llm/patch-settings.yaml
  applications/homepage/overlays/master/configmap-services.yaml
  applications/homepage/overlays/master/files/services.yaml
  applications/homepage/overlays/master/files/settings.yaml
  applications/homepage/overlays/master/kustomization.yaml
  applications/homepage/overlays/master/patch-settings.yaml
  applications/homepage/overlays/obs/files/settings.yaml
  applications/homepage/overlays/obs/kustomization.yaml
  applications/homepage/overlays/obs/patch-settings.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(irc): give irc.talos00 an Authentik provider so the web UI stops 404ing
  infrastructure/base/authentik/helmrelease.yaml
  infrastructure/base/authentik/irc-blueprint.yaml
  infrastructure/base/authentik/kustomization.yaml
  infrastructure/base/authentik/talos-private-blueprint.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(irc): serve gamja without forward-auth, blocked on a zipline client_id collision
  applications/irc/base/ingressroute.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

Path conditions:
  gitleaks: any of: *.{yaml,yml,sh,json,env,txt,md}
  yamllint: any of: *.{yaml,yml}
  kube-validate: any of: *.{yaml,yml}
  shellcheck: any of: *.sh
  shfmt: any of: *.sh
  markdownlint: any of: *.md
  trailing-whitespace: any of: *.{yaml,yml,sh,md,json}
  helm-lint: any of: **/Chart.yaml
