Repository TheBranchDriftCatalyst/talos-homelab: changes, and which lefthook commands are due for each by the changed paths.
All: gitleaks, yamllint, kube-validate, shellcheck, shfmt, markdownlint, trailing-whitespace, helm-lint

Path conditions:
  gitleaks: any of: *.{yaml,yml,sh,json,env,txt,md}
  yamllint: any of: *.{yaml,yml}
  kube-validate: any of: *.{yaml,yml}
  shellcheck: any of: *.sh
  shfmt: any of: *.sh
  markdownlint: any of: *.md
  trailing-whitespace: any of: *.{yaml,yml,sh,md,json}
  helm-lint: any of: **/Chart.yaml

gitblobstore: checkandput manifest
  7vrut46fdag6mtu3l2s7penp3l2oplu9.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  manifest
  rjf79lk46kvbuq4repvi1r3ps4i52iqa
Due: none

gitblobstore: checkandput manifest
  manifest
  vvm4rruj301m32m9sv4tmppb02nh46gb.darc
Due: none

gitblobstore: checkandput manifest
  6h5ke40ke6fs3q2en325kcak6ohn8cap
  manifest
Due: none

gitblobstore: checkandput manifest
  manifest
  pgp0du8qk8dj8v5cngkluktsdkkb353f.darc
Due: none

gitblobstore: checkandput manifest
  manifest
  u77tj31q9uejs3pp3gj47k34prvj03a5
Due: none

gitblobstore: checkandput manifest
  gph7er4ep4c0scpblqgsqpvoqbkg12l8.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  manifest
  stb6kcp3conbssid64cboagb61ddgifg
Due: none

dolt remote info
  DOLT_REMOTE.md
Due: gitleaks, markdownlint, trailing-whitespace

feat(monitoring): add the workload-readiness alert group nothing was watching
  infrastructure/base/monitoring/grafana-dashboards/json/workload-ops.json
  infrastructure/base/monitoring/v2-otel/baseline-alerts/kustomization.yaml
  infrastructure/base/monitoring/v2-otel/baseline-alerts/workload-readiness-alerts.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(pulsarr): drop the memory limit — arr apps are allowed to burst
  applications/arr-stack/base/pulsarr/deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(node-exporter): enable RAPL power metrics via chart permission init container
  infrastructure/base/monitoring/v2-otel/node-exporter/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

test(honeypot): assert the security posture that makes public exposure survivable
  infrastructure/base/honeypot/tests/.gitignore
  infrastructure/base/honeypot/tests/honeypot-security.test.js
  infrastructure/base/honeypot/tests/jest.config.js
  infrastructure/base/honeypot/tests/package.json
  jest.config.js
Due: gitleaks, trailing-whitespace

feat(dashboards): add node CPU power draw to Catalyst K8s Full System Ops
  infrastructure/base/monitoring/grafana-dashboards/json/catalyst-k8s-dashboard.json
Due: gitleaks, trailing-whitespace

feat(honeypot): stage cowrie for public exposure — everything but the port forward
  clusters/catalyst-cluster/honeypot.yaml
  docs/05-runbooks/cowrie-public-exposure.md
  infrastructure/base/honeypot/cilium-network-policy.yaml
  infrastructure/base/honeypot/deployment.yaml
  infrastructure/base/monitoring/grafana-dashboards/json/cowrie-ops.json
  infrastructure/base/monitoring/grafana-dashboards/resources/cowrie-ops.yaml
Due: gitleaks, yamllint, kube-validate, markdownlint, trailing-whitespace

docs(honeypot): cross-reference the follow-up tickets from the exposure runbook
  .beads/.local_version
  .beads/last-touched
  docs/05-runbooks/cowrie-public-exposure.md
Due: gitleaks, markdownlint, trailing-whitespace

feat(plex): record the config baseline as an on-demand apply script
  applications/arr-stack/base/plex/plex-baseline.sh
Due: gitleaks, shellcheck, shfmt, trailing-whitespace

fix(plex): stage a current Intel iHD driver so the Xe engine decodes AV1 reliably
  applications/arr-stack/base/plex/deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

revert(plex): drop the VAAPI driver init container — it was not the fix and Plex ignores it
  applications/arr-stack/base/plex/deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(qbittorrent): disable theme.park mod behind the VPN — it was hanging startup
  applications/arr-stack/overlays/themepark/qbittorrent-patch.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

docs(migration-runbook): add the Whisparr / ArgoCD-managed variant
  applications/arr-stack/base/postgres/MIGRATION-RUNBOOK.md
Due: gitleaks, markdownlint, trailing-whitespace

fix(qbittorrent): make port-sync self-healing — reconcile qbit's actual port each cycle
  applications/arr-stack/base/qbittorrent/deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(qbittorrent): port-sync bypasses login via localhost whitelist — kills the flaky-auth wedge
  applications/arr-stack/base/qbittorrent/deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(qbittorrent): gluetun liveness checks real public IP, not just the control server
  applications/arr-stack/base/qbittorrent/deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(pihole): make nebula-sync change-aware — stop bouncing standby FTL every 5 min
  infrastructure/base/pihole/nebula-sync/sync.sh
Due: gitleaks, shellcheck, shfmt, trailing-whitespace

docs(grafana): update pihole dashboard for change-aware nebula-sync
  infrastructure/base/monitoring/grafana-dashboards/json/pihole.json
Due: gitleaks, trailing-whitespace

fix(qbittorrent): pin ProtonVPN PF-capable servers + tolerant healthcheck — stop forwarded-port churn
  applications/arr-stack/base/qbittorrent/deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(qbittorrent): revert gluetun liveness to process check — the public-IP probe death-spiraled
  applications/arr-stack/base/qbittorrent/deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

harden(qbittorrent): config NFS->local-path, trim dead firewall CIDRs, comment/dup cleanup
  applications/arr-stack/base/qbittorrent/deployment.yaml
  applications/arr-stack/base/qbittorrent/pvc.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(qbittorrent): port-forward watchdog + detach NFS (migration complete)
  applications/arr-stack/base/qbittorrent/deployment.yaml
  applications/arr-stack/base/qbittorrent/pvc.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(qbittorrent): gluetun liveness detects the crashed/hung state (the day-1 gap)
  applications/arr-stack/base/qbittorrent/deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

docs(patterns): portable handoff for CRD-driven dbgate auto-registration
  docs/patterns/README.md
  docs/patterns/handoff-crd-driven-auto-registration.md
Due: gitleaks, markdownlint, trailing-whitespace

feat(teak-talos-dev): isolated work tenant with a namespace-scoped kubeconfig
  Taskfile.k8s.yaml
  clusters/catalyst-cluster/flux-system/kustomization.yaml
  clusters/catalyst-cluster/teak-talos-dev-seed.yaml
  clusters/catalyst-cluster/teak-talos-dev.yaml
  infrastructure/base/kyverno-policies/reflect-cnpg-app-secrets.yaml
  infrastructure/base/teak-talos-dev/ONBOARDING.md
  infrastructure/base/teak-talos-dev/README.md
  infrastructure/base/teak-talos-dev/cilium-network-policy.yaml
  infrastructure/base/teak-talos-dev/dbgate-connection-sync/configmap-script.yaml
  infrastructure/base/teak-talos-dev/dbgate-connection-sync/cronjob.yaml
  infrastructure/base/teak-talos-dev/dbgate-connection-sync/kustomization.yaml
  infrastructure/base/teak-talos-dev/dbgate-connection-sync/rbac.yaml
  infrastructure/base/teak-talos-dev/dbgate/deployment.yaml
  infrastructure/base/teak-talos-dev/dbgate/ingressroute.yaml
  infrastructure/base/teak-talos-dev/dbgate/kustomization.yaml
  infrastructure/base/teak-talos-dev/dbgate/pvc.yaml
  infrastructure/base/teak-talos-dev/dbgate/service.yaml
  infrastructure/base/teak-talos-dev/kustomization.yaml
  infrastructure/base/teak-talos-dev/namespace.yaml
  infrastructure/base/teak-talos-dev/quota.yaml
  infrastructure/base/teak-talos-dev/rbac.yaml
  infrastructure/base/teak-talos-dev/seed/dragonfly.yaml
  infrastructure/base/teak-talos-dev/seed/kustomization.yaml
  infrastructure/base/teak-talos-dev/seed/postgres.yaml
  infrastructure/base/teak-talos-dev/seed/rabbitmq.yaml
  infrastructure/base/teak-talos-dev/seed/whoami.yaml
  scripts/developer/teak-kubeconfig.sh
Due: gitleaks, yamllint, kube-validate, shellcheck, shfmt, markdownlint, trailing-whitespace

fix(teak-talos-dev): split whoami IngressRoute into web + websecure
  infrastructure/base/teak-talos-dev/seed/whoami.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(teak-talos-dev): move to a teak.talos00 subdomain + own wildcard cert; lan-only on dbgate
  clusters/catalyst-cluster/teak-talos-dev.yaml
  infrastructure/base/teak-talos-dev/ONBOARDING.md
  infrastructure/base/teak-talos-dev/README.md
  infrastructure/base/teak-talos-dev/certificate.yaml
  infrastructure/base/teak-talos-dev/dbgate/ingressroute.yaml
  infrastructure/base/teak-talos-dev/kustomization.yaml
  infrastructure/base/teak-talos-dev/seed/whoami.yaml
Due: gitleaks, yamllint, kube-validate, markdownlint, trailing-whitespace

fix(teak-talos-dev): treat an empty tenant as a normal state in the dbgate sync
  infrastructure/base/teak-talos-dev/dbgate-connection-sync/configmap-script.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

refactor(teak-talos-dev): drop the MVP demo, keep the tenant dbgate
  clusters/catalyst-cluster/flux-system/kustomization.yaml
  clusters/catalyst-cluster/teak-talos-dev-seed.yaml
  clusters/catalyst-cluster/teak-talos-dev.yaml
  infrastructure/base/teak-talos-dev/ONBOARDING.md
  infrastructure/base/teak-talos-dev/README.md
  infrastructure/base/teak-talos-dev/dbgate-connection-sync/configmap-script.yaml
  infrastructure/base/teak-talos-dev/kustomization.yaml
  infrastructure/base/teak-talos-dev/seed/dragonfly.yaml
  infrastructure/base/teak-talos-dev/seed/kustomization.yaml
  infrastructure/base/teak-talos-dev/seed/postgres.yaml
  infrastructure/base/teak-talos-dev/seed/rabbitmq.yaml
  infrastructure/base/teak-talos-dev/seed/whoami.yaml
Due: gitleaks, yamllint, kube-validate, markdownlint, trailing-whitespace

fix(teak-talos-dev): grant the sync job delete on its own connections Secret
  infrastructure/base/teak-talos-dev/dbgate-connection-sync/rbac.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(teak-talos-dev): opt out of the shared GHCR pull credential
  infrastructure/base/teak-talos-dev/namespace.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

docs(teak-talos-dev): correct the GHCR pull-secret direction
  infrastructure/base/teak-talos-dev/ONBOARDING.md
  infrastructure/base/teak-talos-dev/README.md
Due: gitleaks, markdownlint, trailing-whitespace
