Repository TheBranchDriftCatalyst/talos-homelab: changes, and which lefthook commands are due for each by the changed paths.
All: gitleaks, yamllint, kube-validate, shellcheck, shfmt, markdownlint, trailing-whitespace, helm-lint

Path conditions:
  gitleaks: any of: *.{yaml,yml,sh,json,env,txt,md}
  yamllint: any of: *.{yaml,yml}
  kube-validate: any of: *.{yaml,yml}
  shellcheck: any of: *.sh
  shfmt: any of: *.sh
  markdownlint: any of: *.md
  trailing-whitespace: any of: *.{yaml,yml,sh,md,json}
  helm-lint: any of: **/Chart.yaml

feat(honeypot): wire Cowrie internal-only sensor into Flux (TALOS-u3l)
  clusters/catalyst-cluster/flux-system/kustomization.yaml
  clusters/catalyst-cluster/honeypot.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(crowdsec): refine Security Ops dashboard against live metrics (up via cs_info, whitelist-hits + LAPI activity panels) [TALOS-pbn]
  infrastructure/base/monitoring/grafana-dashboards/json/crowdsec-ops.json
Due: gitleaks, trailing-whitespace

feat(honeypot): logship sidecar streams Cowrie JSON to stdout (TALOS-l05/e9h)
  infrastructure/base/honeypot/deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(crowdsec): wire web-ui Metrics tab to the :6060 endpoints (lapi/agent/appsec) [TALOS-pbn]
  infrastructure/base/crowdsec/webui.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(honeypot): kill health-probe log noise (shell-less image -> no exec probe)
  infrastructure/base/honeypot/deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(iocaine): LLM tarpit + trap.knowledgedump.space maze (TALOS-mko)
  clusters/catalyst-cluster/flux-system/kustomization.yaml
  clusters/catalyst-cluster/iocaine.yaml
  infrastructure/base/iocaine/cilium-network-policy.yaml
  infrastructure/base/iocaine/configmap.yaml
  infrastructure/base/iocaine/corpus-configmap.yaml
  infrastructure/base/iocaine/deployment.yaml
  infrastructure/base/iocaine/ingressroute.yaml
  infrastructure/base/iocaine/kustomization.yaml
  infrastructure/base/iocaine/namespace.yaml
  infrastructure/base/iocaine/service.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(crowdsec): add Cowrie honeypot acquisition (TALOS-e9h)
  infrastructure/base/crowdsec/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(traefik): Bot Wrangler plugin + bind CrowdSec bouncer to entrypoints (TALOS-mko/e9h)
  infrastructure/base/traefik/helmrelease.yaml
  infrastructure/base/traefik/middlewares.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(traefik): DEFER bouncer entrypoint bind — key secret missing 404s all routes (TALOS-e9h)
  infrastructure/base/traefik/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(crowdsec): label web-ui metrics endpoints (LAPI/Log-processor/AppSec) [TALOS-pbn]
  infrastructure/base/crowdsec/webui.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(security): Taskfile.security.yaml — cscli unban/ban/decisions + honeypot views (TALOS-peq)
  Taskfile.security.yaml
  Taskfile.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(honeypot): capture attacker commands — repoint ttylog/download paths (TALOS-0jb)
  infrastructure/base/honeypot/configmap.yaml
  infrastructure/base/honeypot/tests/pentest-job.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(crowdsec): ingest k8s API-server audit log (crowdsecurity/k8s-audit) [TALOS-pbn]
  infrastructure/base/crowdsec/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(crowdsec): decouple enroll-key so bouncer key can sync (TALOS-e9h)
  infrastructure/base/crowdsec/externalsecret.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(crowdsec): move LAPI + web-ui OFF talos00 control-plane (drop tolerations) [TALOS-pbn]
  infrastructure/base/crowdsec/helmrelease.yaml
  infrastructure/base/crowdsec/webui.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(traefik): bind CrowdSec bouncer — key now provisioned (TALOS-e9h/pbn)
  infrastructure/base/traefik/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(whoami): attach bot-wrangler middleware — tarpit canary (TALOS-mko)
  infrastructure/base/whoami/ingressroute.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(grafana): Cowrie Ops dashboard — honeypot command capture (Loki) in Security folder (TALOS-peq)
  infrastructure/base/monitoring/grafana-dashboards/json/cowrie-ops.json
  infrastructure/base/monitoring/grafana-dashboards/kustomization.yaml
  infrastructure/base/monitoring/grafana-dashboards/resources/cowrie-ops.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

gitblobstore: checkandput manifest
  lmvnk48fk8keed1flttbo38gsuqtfpbv.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  2rdb2bhnm49spttj3v5cgrr3csh14k3h
  manifest
Due: none

feat(crowdsec): iocaine tarpit -> CrowdSec scenario, DETECT-ONLY (simulation) [TALOS-mko]
  infrastructure/base/crowdsec/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

docs(security): SECURITY_ops.md — map the CrowdSec + Cowrie + iocaine security-ops stack
  SECURITY_ops.md
Due: gitleaks, markdownlint, trailing-whitespace

feat(crowdsec): self-healing web-ui machine registrar CronJob (TALOS-pbn)
  infrastructure/base/crowdsec/kustomization.yaml
  infrastructure/base/crowdsec/machine-registrar.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(iocaine): trap.talos00 internal route + trap external DNS-only (TALOS-mko)
  infrastructure/base/iocaine/ingressroute.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

gitblobstore: checkandput manifest
  759mhnnuj03li6gg8el2k14rdp8vajop.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  hpt2qofvgkmvp76kf79che69k18hseci
  manifest
Due: none

feat(forgejo,linkwarden): attach bot-wrangler to public content routes (TALOS-mko)
  applications/home-automation/base/linkwarden/ingressroute.yaml
  infrastructure/base/forgejo/ingressroute.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

gitblobstore: checkandput manifest
  manifest
  n5irbmqogos3h054eemt9tfaj2du9u5h.darc
Due: none

gitblobstore: checkandput manifest
  larg41b6mb2okc8v2do6fpsq6h5mdohb
  manifest
Due: none

dolt remote info
  DOLT_REMOTE.md
Due: gitleaks, markdownlint, trailing-whitespace

chore(grafana): remove Node Exporter 20240520 通用JOB分组版 dashboard
  infrastructure/base/monitoring/grafana-dashboards/README.md
  infrastructure/base/monitoring/grafana-dashboards/external/hybrid-cluster-dashboards.yaml
  infrastructure/base/monitoring/grafana-dashboards/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, markdownlint, trailing-whitespace

feat(monitoring): cert-manager expiry/renewal alerts + network-ops cert panels
  infrastructure/base/monitoring/grafana-dashboards/json/network-ops.json
  infrastructure/base/monitoring/v2-otel/baseline-alerts/cert-manager-alerts.yaml
  infrastructure/base/monitoring/v2-otel/baseline-alerts/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(crowdsec): back LAPI with CNPG Postgres, retire fragile SQLite-on-local-path (TALOS-pbn)
  infrastructure/base/crowdsec/helmrelease.yaml
  infrastructure/base/crowdsec/kustomization.yaml
  infrastructure/base/crowdsec/machine-registrar.yaml
  infrastructure/base/crowdsec/postgres.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

docs(crossplane-demo): add README — what it is, web UIs, when (not) to use Crossplane
  applications/crossplane-demo/README.md
Due: gitleaks, markdownlint, trailing-whitespace

feat(minio): scrape metrics (AUTH_TYPE=public + ServiceMonitor) — revive MinIO row (TALOS-qtix)
  infrastructure/base/minio/kustomization.yaml
  infrastructure/base/minio/servicemonitor.yaml
  infrastructure/base/minio/tenant.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(crowdsec): web-ui registrar image bitnami/kubectl -> alpine/k8s (dead Docker Hub image) (TALOS-pbn)
  infrastructure/base/crowdsec/machine-registrar.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(minio): AUTH_TYPE=public in config.env Secret (not spec.env) — operator doesn't propagate spec.env (TALOS-qtix)
  infrastructure/base/minio/tenant.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(minio): dedup scrape to minio-hl only (tenant label matched 3 services) (TALOS-qtix)
  infrastructure/base/minio/servicemonitor.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(grafana): crowdsec-ops LAPI/AppSec 'Up' KPIs use up{} not cs_info (false DOWN)
  infrastructure/base/monitoring/grafana-dashboards/json/crowdsec-ops.json
Due: gitleaks, trailing-whitespace

feat(home-assistant): migrate recorder Postgres to CloudNativePG (TALOS-hx77.1)
  applications/home-automation/base/homeassistant/deployment.yaml
  applications/home-automation/base/homeassistant/postgres.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace
