Repository TheBranchDriftCatalyst/talos-homelab: changes, and which lefthook commands are due for each by the changed paths.
All: gitleaks, yamllint, kube-validate, shellcheck, shfmt, markdownlint, trailing-whitespace, helm-lint

gitleaks:
  tags: security
  run: gitleaks protect --verbose --redact --staged
  skip:
  - merge
  - rebase

yamllint:
  tags: linting yaml
  run: yamllint --strict .
  skip:
  - merge
  - rebase

kube-validate:
  tags: kubernetes yaml
  ...

shellcheck:
  tags: linting shell
  run: shellcheck -x {staged_files}
  skip:
  - merge
  - rebase

shfmt:
  tags: formatting shell
  run: shfmt -w -i 2 -ci -sr {staged_files}
  skip:
  - merge
  - rebase
  stage_fixed: true

markdownlint:
  tags: linting markdown
  run: npx markdownlint-cli2 {staged_files}
  skip:
  - merge
  - rebase

trailing-whitespace:
  tags: formatting
  run: "if grep -n '[[:space:]]$' {staged_files}; then\n  echo \"‚ùå Error: Trailing whitespace found\"\n  echo \"Run: sed -i '' 's/[[:space:]]*$//' <file>\"\n  exit 1\nfi\n"
  skip:
  - merge
  - rebase

helm-lint:
  tags: kubernetes helm
  run: "for chart_dir in infrastructure/base/*/; do\n  if [ -f \"$chart_dir/Chart.yaml\" ]; then\n    echo \"Linting Helm chart: $chart_dir\"\n    helm lint \"$chart_dir\" || exit 1\n  fi\ndone\n"
  skip:
  - merge
  - rebase

feat(grafana): Ops nested folder hierarchy — 12 GrafanaFolders + 33 dashboards folder→folderRef (TALOS-qcgf)
  infrastructure/base/monitoring/grafana-dashboards/external/argocd-dashboards.yaml
  infrastructure/base/monitoring/grafana-dashboards/external/cilium-dashboards.yaml
  infrastructure/base/monitoring/grafana-dashboards/external/external-dns-dashboard.yaml
  infrastructure/base/monitoring/grafana-dashboards/external/gitops-dashboards.yaml
  infrastructure/base/monitoring/grafana-dashboards/external/kubevirt-dashboards.yaml
  infrastructure/base/monitoring/grafana-dashboards/external/loki-dashboards.yaml
  infrastructure/base/monitoring/grafana-dashboards/folders/ops.yaml
  infrastructure/base/monitoring/grafana-dashboards/kustomization.yaml
  infrastructure/base/monitoring/grafana-dashboards/resources/analytics-ops.yaml
  infrastructure/base/monitoring/grafana-dashboards/resources/catalyst-k8s-dashboard.yaml
  infrastructure/base/monitoring/grafana-dashboards/resources/central-cluster-storage.yaml
  infrastructure/base/monitoring/grafana-dashboards/resources/cilium-bpf-pressure.yaml
  infrastructure/base/monitoring/grafana-dashboards/resources/cnpg-databases.yaml
  infrastructure/base/monitoring/grafana-dashboards/resources/cowrie-ops.yaml
  infrastructure/base/monitoring/grafana-dashboards/resources/crowdsec-ops.yaml
  infrastructure/base/monitoring/grafana-dashboards/resources/etcd-snapshot-correlation.yaml
  infrastructure/base/monitoring/grafana-dashboards/resources/kubevirt-vm-info.yaml
  infrastructure/base/monitoring/grafana-dashboards/resources/kubevirt-vm-ops.yaml
  infrastructure/base/monitoring/grafana-dashboards/resources/monitoring-ops.yaml
  infrastructure/base/monitoring/grafana-dashboards/resources/network-ops.yaml
  infrastructure/base/monitoring/grafana-dashboards/resources/pihole.yaml
  infrastructure/base/monitoring/grafana-dashboards/resources/pod-cleanup.yaml
  infrastructure/base/monitoring/grafana-dashboards/resources/resource-efficiency.yaml
  infrastructure/base/monitoring/grafana-dashboards/resources/spire-health.yaml
  infrastructure/base/monitoring/grafana-dashboards/resources/talos-cluster-debug.yaml
  infrastructure/base/monitoring/grafana-dashboards/resources/talos00-memory-deepdive.yaml
  infrastructure/base/monitoring/grafana-dashboards/resources/tdarr-transcoding.yaml
  infrastructure/base/monitoring/grafana-dashboards/resources/traefik-ops.yaml
  infrastructure/base/monitoring/grafana-dashboards/resources/vpn-gateway.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(version-checker): image-version exporter v0.11.0 for App Ops (TALOS-rcx6)
  clusters/catalyst-cluster/flux-system/kustomization.yaml
  clusters/catalyst-cluster/version-checker.yaml
  infrastructure/base/monitoring/version-checker/deployment.yaml
  infrastructure/base/monitoring/version-checker/kustomization.yaml
  infrastructure/base/monitoring/version-checker/rbac.yaml
  infrastructure/base/monitoring/version-checker/service.yaml
  infrastructure/base/monitoring/version-checker/servicemonitor.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(home-assistant): enforce recorder db_url from CNPG secret via sed (base config ships stale url) (TALOS-hx77.1)
  applications/home-automation/base/homeassistant/deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

refactor(home-assistant): CNPG via static config, drop brittle init-container db_url munging (TALOS-hx77.1)
  applications/home-automation/base/homeassistant/configmap.yaml
  applications/home-automation/base/homeassistant/deployment.yaml
  applications/home-automation/base/homeassistant/postgres.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(grafana): App Ops (image versions) + Argo Ops dashboards (TALOS-pk3x)
  infrastructure/base/monitoring/grafana-dashboards/json/app-ops-image-versions.json
  infrastructure/base/monitoring/grafana-dashboards/json/argo-ops.json
  infrastructure/base/monitoring/grafana-dashboards/kustomization.yaml
  infrastructure/base/monitoring/grafana-dashboards/resources/app-ops-image-versions.yaml
  infrastructure/base/monitoring/grafana-dashboards/resources/argo-ops.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(grafana): purge dead panels + fix No-data (crowdsec-ops, analytics-ops) (TALOS-77bj)
  infrastructure/base/monitoring/grafana-dashboards/json/analytics-ops.json
  infrastructure/base/monitoring/grafana-dashboards/json/crowdsec-ops.json
Due: gitleaks, trailing-whitespace

feat(cnpg): instances:3 HA + migrate local-path DBs to NFS via streaming replication (TALOS-hx77, TALOS-1ujn)
  applications/crossplane-demo/plausible/postgres.yaml
  applications/home-automation/base/homeassistant/postgres.yaml
  applications/scratch/example-postgres/cluster.yaml
  infrastructure/base/crowdsec/postgres.yaml
  infrastructure/base/forgejo/postgres.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(grafana): Uptime/SLO dashboard + Network/Storage/DB gap-fill rows (TALOS-77bj/pk3x)
  infrastructure/base/monitoring/grafana-dashboards/json/central-cluster-storage.json
  infrastructure/base/monitoring/grafana-dashboards/json/cnpg-databases.json
  infrastructure/base/monitoring/grafana-dashboards/json/network-ops.json
  infrastructure/base/monitoring/grafana-dashboards/json/uptime-slo.json
  infrastructure/base/monitoring/grafana-dashboards/kustomization.yaml
  infrastructure/base/monitoring/grafana-dashboards/resources/uptime-slo.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(talos): control-plane metrics exposure patch, tracked in gitops (TALOS-hzl0)
  Taskfile.talos.yaml
  docs/05-runbooks/talos-controlplane-metrics-patch.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(monitoring): scrape control-plane metrics (etcd/scheduler/KCM/apiserver) (TALOS-hzl0)
  clusters/catalyst-cluster/control-plane-scrape.yaml
  clusters/catalyst-cluster/flux-system/kustomization.yaml
  infrastructure/base/monitoring/control-plane-scrape/apiserver.yaml
  infrastructure/base/monitoring/control-plane-scrape/controller-manager.yaml
  infrastructure/base/monitoring/control-plane-scrape/etcd.yaml
  infrastructure/base/monitoring/control-plane-scrape/kustomization.yaml
  infrastructure/base/monitoring/control-plane-scrape/rbac.yaml
  infrastructure/base/monitoring/control-plane-scrape/scheduler.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(gaming): halt windows-gameserver VM (not in use); runStrategy Always->Halted
  applications/gaming/base/kubevirt/windows-vm.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(grafana): control-plane row on catalyst-k8s (etcd/apiserver/scheduler/KCM) (TALOS-77bj)
  infrastructure/base/monitoring/grafana-dashboards/json/catalyst-k8s-dashboard.json
Due: gitleaks, trailing-whitespace

fix(ksm): loosen probes to stop Cilium-startup-race crashloop (1198 restarts/70d)
  infrastructure/base/monitoring/v2-otel/kube-state-metrics/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(beads): KSM crashloop root-cause (Cilium startup race, not OOM) + Cilium follow-up
  .beads/last-touched
Due: none

feat(flux-ops): KSM custom-resource-state gotk_* metrics + Flux Ops dashboard (TALOS-uylg)
  infrastructure/base/monitoring/grafana-dashboards/json/flux-ops.json
  infrastructure/base/monitoring/grafana-dashboards/kustomization.yaml
  infrastructure/base/monitoring/grafana-dashboards/resources/flux-ops.yaml
  infrastructure/base/monitoring/v2-otel/kube-state-metrics/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(talos): task talos:upgrade-k8s + pin k8s v1.34.10 (fixes kubelet volume-stats regression, TALOS-338)
  .beads/last-touched
  Taskfile.talos.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(ops): image-update toolchain (report script + two skills)
  scripts/image-version-report.sh
Due: gitleaks, shellcheck, shfmt, trailing-whitespace

feat(ops): track image-update skills under .claude/skills (force-added past ignore)
  .claude/skills/image-update-epic/SKILL.md
  .claude/skills/image-update-implement/SKILL.md
Due: gitleaks, markdownlint, trailing-whitespace

feat(dashboards): dedupe Out-of-date images table to one row per unique image update
  infrastructure/base/monitoring/grafana-dashboards/json/app-ops-image-versions.json
Due: gitleaks, trailing-whitespace

chore(beads): record k8s-upgrade Alloy/Mimir write-path wedge incident + recovery
  .beads/last-touched
Due: none

chore(beads): file Cilium 1.16->1.18 upgrade followup
  .beads/last-touched
Due: none

feat(storage): NFS PVC capacity/fill/forecast panels on central-cluster-storage (TALOS-338)
  infrastructure/base/monitoring/grafana-dashboards/json/central-cluster-storage.json
Due: gitleaks, trailing-whitespace

chore(grafana): retire 7 Legacy dashboards — replaced by Ops tree (TALOS-w02b)
  infrastructure/base/monitoring/grafana-dashboards/README.md
  infrastructure/base/monitoring/grafana-dashboards/external/cilium-dashboards.yaml
  infrastructure/base/monitoring/grafana-dashboards/external/kubernetes-dashboards.yaml
  infrastructure/base/monitoring/grafana-dashboards/external/traefik-dashboards.yaml
  infrastructure/base/monitoring/grafana-dashboards/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, markdownlint, trailing-whitespace

fix(network-ops): guard cert-manager sync-errors panel with or vector(0)
  infrastructure/base/monitoring/grafana-dashboards/json/network-ops.json
Due: gitleaks, trailing-whitespace

chore(beads): file 3 audit-surfaced cluster conditions (probes/NAS/LB-IPAM)
  .beads/last-touched
Due: none

chore(beads): image-update epic TALOS-zadf (64 tickets) + pgvector-on-CNPG prereq under TALOS-hx77; pre-answer postgres->CNPG decision
  .beads/last-touched
Due: none

fix(nfs-exporter): %d->%.0f in probe.sh — busybox awk int32 overflow (-2GiB) (TALOS-na1y)
  infrastructure/base/monitoring/nfs-storage-exporter/probe.sh
Due: gitleaks, shellcheck, shfmt, trailing-whitespace

fix(minio): exposeServices false -> demote minio/console to ClusterIP (TALOS-6jco)
  infrastructure/base/minio/tenant.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(blackbox): repoint stale probe targets to v2-otel services (TALOS-5356)
  infrastructure/base/monitoring/v2-otel/alloy/helmrelease.yaml
  infrastructure/base/monitoring/v2-otel/blackbox-exporter/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(beads): close TALOS-5356/na1y/6jco (audit findings fixed + verified)
  .beads/last-touched
Due: none

fix(cilium): persist spire-agent SVID/key on emptyDir (KeyManager disk) to end CrashLoop wedge
  infrastructure/base/cilium/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(cilium): spire-agent disk KeyManager uses 'directory' not 'keys_path'
  infrastructure/base/cilium/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(storage): bump local-path-provisioner v0.0.28 -> v0.0.37 (TALOS-zadf.63)
  docs/changelogs/image-updates-TALOS-zadf.md
  infrastructure/base/storage/local-path-provisioner.yaml
Due: gitleaks, yamllint, kube-validate, markdownlint, trailing-whitespace

chore(images): clean utility bumps — goldilocks/vpa/pihole-exporter/velero-plugin/intel-gpu (TALOS-zadf)
  infrastructure/base/backup/velero.yaml
  infrastructure/base/infra-control/goldilocks/deployment.yaml
  infrastructure/base/infra-control/goldilocks/vpa-install.yaml
  infrastructure/base/intel-gpu/intel-gpu-plugin-cr.yaml
  infrastructure/base/pihole/statefulset.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

docs(changelog): image-updates TALOS-zadf — 6 done (local-path + clean utility batch)
  docs/changelogs/image-updates-TALOS-zadf.md
Due: gitleaks, markdownlint, trailing-whitespace

chore(images): bump busybox 1.36->1.38.0 (securexng) + kasmweb/chrome 1.16.0->1.19.0 (secure-chrome) (TALOS-zadf)
  infrastructure/base/vpn-gateway/secure-chrome.yaml
  infrastructure/base/vpn-gateway/securexng.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(crowdsec): wire Console ENROLL_KEY ExternalSecret (Merge) (TALOS-5of)
  infrastructure/base/crowdsec/externalsecret.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

docs(changelog): TALOS-zadf — vpn-gateway utility batch + component test results (8 done)
  docs/changelogs/image-updates-TALOS-zadf.md
Due: gitleaks, markdownlint, trailing-whitespace

fix(crowdsec): ENROLL_KEY own secret crowdsec-enroll (Merge can't own ES-owned secret) (TALOS-5of)
  infrastructure/base/crowdsec/externalsecret.yaml
  infrastructure/base/crowdsec/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(external-dns): bump v0.14.2 -> v0.21.0 (TALOS-zadf)
  infrastructure/base/external-dns/deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

Path conditions:
  gitleaks: any of: *.{yaml,yml,sh,json,env,txt,md}
  yamllint: any of: *.{yaml,yml}
  kube-validate: any of: *.{yaml,yml}
  shellcheck: any of: *.sh
  shfmt: any of: *.sh
  markdownlint: any of: *.md
  trailing-whitespace: any of: *.{yaml,yml,sh,md,json}
  helm-lint: any of: **/Chart.yaml
