Repository TheBranchDriftCatalyst/talos-homelab: changes, and which lefthook commands are due for each by the changed paths.
All: gitleaks, yamllint, kube-validate, shellcheck, shfmt, markdownlint, trailing-whitespace, helm-lint

Path conditions:
  gitleaks: any of: *.{yaml,yml,sh,json,env,txt,md}
  yamllint: any of: *.{yaml,yml}
  kube-validate: any of: *.{yaml,yml}
  shellcheck: any of: *.sh
  shfmt: any of: *.sh
  markdownlint: any of: *.md
  trailing-whitespace: any of: *.{yaml,yml,sh,md,json}
  helm-lint: any of: **/Chart.yaml

refactor(scripts): gpu-transcode-test uses Jobs instead of exec
  scripts/gpu-transcode-test.sh
Due: gitleaks, shellcheck, shfmt, trailing-whitespace

fix(scripts): improve GPU detection using Talos extensions
  scripts/gpu-transcode-test.sh
Due: gitleaks, shellcheck, shfmt, trailing-whitespace

fix: resolve PodSecurity and frigate crash issues
  applications/scratch/frigate/deployment.yaml
  infrastructure/base/backup/namespace.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(grafana): bidirectional dashboard sync with Kustomize configMapGenerator
  Tiltfile
  infrastructure/base/monitoring/grafana-dashboards/cluster-overview-dashboard.yaml
  infrastructure/base/monitoring/grafana-dashboards/external/argocd-dashboards.yaml
  infrastructure/base/monitoring/grafana-dashboards/external/cilium-dashboards.yaml
  infrastructure/base/monitoring/grafana-dashboards/external/gitops-dashboards.yaml
  infrastructure/base/monitoring/grafana-dashboards/external/hybrid-cluster-dashboards.yaml
  infrastructure/base/monitoring/grafana-dashboards/external/infrastructure-dashboards.yaml
  infrastructure/base/monitoring/grafana-dashboards/external/kubernetes-dashboards.yaml
  infrastructure/base/monitoring/grafana-dashboards/external/loki-dashboards.yaml
  infrastructure/base/monitoring/grafana-dashboards/external/traefik-dashboards.yaml
  infrastructure/base/monitoring/grafana-dashboards/json/hybrid-cluster-overview.json
  infrastructure/base/monitoring/grafana-dashboards/json/llm-scaler.json
  infrastructure/base/monitoring/grafana-dashboards/json/pod-cleanup.json
  infrastructure/base/monitoring/grafana-dashboards/json/resource-efficiency.json
  infrastructure/base/monitoring/grafana-dashboards/json/tdarr-transcoding.json
  infrastructure/base/monitoring/grafana-dashboards/json/vpn-gateway.json
  infrastructure/base/monitoring/grafana-dashboards/kustomization.yaml
  infrastructure/base/monitoring/grafana-dashboards/llm-scaler-dashboard.yaml
  infrastructure/base/monitoring/grafana-dashboards/pod-cleanup.yaml
  infrastructure/base/monitoring/grafana-dashboards/resource-efficiency.yaml
  infrastructure/base/monitoring/grafana-dashboards/resources/hybrid-cluster-overview.yaml
  infrastructure/base/monitoring/grafana-dashboards/resources/llm-scaler.yaml
  infrastructure/base/monitoring/grafana-dashboards/resources/pod-cleanup.yaml
  infrastructure/base/monitoring/grafana-dashboards/resources/resource-efficiency.yaml
  infrastructure/base/monitoring/grafana-dashboards/resources/tdarr-transcoding.yaml
  infrastructure/base/monitoring/grafana-dashboards/resources/vpn-gateway.yaml
  infrastructure/base/monitoring/grafana-dashboards/scripts/extract-dashboards.py
  infrastructure/base/monitoring/grafana-dashboards/scripts/grafana-sync.sh
  infrastructure/base/monitoring/grafana-dashboards/tdarr-dashboard.yaml
  infrastructure/base/monitoring/grafana-dashboards/vpn-gateway-dashboard.yaml
Due: gitleaks, yamllint, kube-validate, shellcheck, shfmt, trailing-whitespace

fix(grafana-sync): add --fail flag to curl
  infrastructure/base/monitoring/grafana-dashboards/scripts/grafana-sync.sh
Due: gitleaks, shellcheck, shfmt, trailing-whitespace

docs(grafana): update README with bidirectional sync workflow
  infrastructure/base/monitoring/grafana-dashboards/README.md
Due: gitleaks, markdownlint, trailing-whitespace

feat(scratch): add Scrypted for Arlo camera bridge
  applications/scratch/kustomization.yaml
  applications/scratch/scrypted/deployment.yaml
  applications/scratch/scrypted/ingressroute.yaml
  applications/scratch/scrypted/kustomization.yaml
  applications/scratch/scrypted/pvc.yaml
  applications/scratch/scrypted/service.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

beads: add Scrypted Arlo integration task (TALOS-a68a)
  .beads/issues.jsonl
Due: none

feat(grafana): add dedicated Tiltfile for dashboard dev workflow
  infrastructure/base/monitoring/grafana-dashboards/Tiltfile
Due: none

feat(media): synthwave overlay epic - Kometa/Posterizarr deconfliction
  .beads/issues.jsonl
  .gitignore
  applications/arr-stack/base/kometa/configmap.yaml
  applications/arr-stack/base/tdarr/kustomization.yaml
  applications/arr-stack/base/tdarr/service-nodeport.yaml
  applications/arr-stack/overlays/themepark/README.md
  applications/arr-stack/overlays/themepark/jellyfin-patch.yaml
  applications/arr-stack/overlays/themepark/kustomization.yaml
  applications/arr-stack/overlays/themepark/overseerr-patch.yaml
  applications/arr-stack/overlays/themepark/plex-patch.yaml
  applications/arr-stack/overlays/themepark/prowlarr-patch.yaml
  applications/arr-stack/overlays/themepark/qbittorrent-patch.yaml
  applications/arr-stack/overlays/themepark/radarr-patch.yaml
  applications/arr-stack/overlays/themepark/sabnzbd-patch.yaml
  applications/arr-stack/overlays/themepark/sonarr-patch.yaml
  applications/arr-stack/overlays/themepark/tautulli-patch.yaml
  applications/arr-stack/overlays/themepark/themepark-env.yaml
Due: gitleaks, yamllint, kube-validate, markdownlint, trailing-whitespace

chore: gitignore local app configs with secrets
  .gitignore
Due: none

fix(arr-stack): use themepark overlay (layers gpu + theming)
  applications/arr-stack/overlays/themepark/kustomization.yaml
  clusters/catalyst-cluster/arr-stack.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(posterizarr): add synthwave overlay generator script (TALOS-vshi)
  .beads/issues.jsonl
  scripts/generate-posterizarr-overlays.sh
Due: gitleaks, shellcheck, shfmt, trailing-whitespace

feat(posterizarr): add initContainer to merge custom overlays with defaults
  applications/arr-stack/base/posterizarr/deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(tdarr): add GPU worker for talos02-gpu (Intel Arc QSV)
  applications/arr-stack/base/tdarr/kustomization.yaml
  applications/arr-stack/base/tdarr/tdarr-node-gpu-talos02.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(tdarr): add talos06 Intel Arc 140T GPU worker
  applications/arr-stack/base/tdarr/tdarr-node-gpu-talos06.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(grafana): use existingCredentials to avoid secret ownership conflict
  infrastructure/base/monitoring/grafana-instances/grafana-instance.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(grafana): use disableDefaultAdminSecret instead of invalid admin field
  infrastructure/base/monitoring/grafana-instances/grafana-instance.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

refactor(tdarr): move to dedicated namespace with universal GPU DaemonSet
  applications/arr-stack/base/kustomization.yaml
  applications/arr-stack/base/tdarr/kustomization.yaml
  applications/arr-stack/base/tdarr/pvc.yaml
  applications/arr-stack/base/tdarr/service-nodeport.yaml
  applications/arr-stack/base/tdarr/service.yaml
  applications/arr-stack/base/tdarr/tdarr-exporter.yaml
  applications/arr-stack/base/tdarr/tdarr-node-daemonset.yaml
  applications/arr-stack/base/tdarr/tdarr-node-gpu-talos02.yaml
  applications/arr-stack/base/tdarr/tdarr-node-gpu-talos03.yaml
  applications/arr-stack/base/tdarr/tdarr-node-gpu-talos05.yaml
  applications/arr-stack/base/tdarr/tdarr-node-gpu-talos06.yaml
  applications/tdarr/base/ingressroute.yaml
  applications/tdarr/base/kustomization.yaml
  applications/tdarr/base/namespace.yaml
  applications/tdarr/base/pvcs.yaml
  applications/tdarr/base/server.yaml
  applications/tdarr/base/services.yaml
  applications/tdarr/base/worker-daemonset.yaml
  clusters/catalyst-cluster/tdarr.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(tdarr): restore old settings via NFS PVs + fix exporter URL
  .beads/issues.jsonl
  applications/tdarr/base/namespace.yaml
  applications/tdarr/base/pvcs.yaml
  applications/tdarr/base/worker-daemonset.yaml
  infrastructure/base/monitoring/tdarr-exporter/tdarr-exporter.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(arr-stack): remove tdarr gpu patch (moved to dedicated namespace)
  applications/arr-stack/overlays/gpu/kustomization.yaml
  applications/arr-stack/overlays/gpu/tdarr-gpu-patch.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

refactor(monitoring): consolidate all monitoring into single Flux kustomization
  clusters/catalyst-cluster/flux-system/kustomization.yaml
  clusters/catalyst-cluster/grafana-instances.yaml
  clusters/catalyst-cluster/monitoring-v2-otel.yaml
  clusters/catalyst-cluster/monitoring.yaml
  infrastructure/base/monitoring/grafana-operator/helmrelease.yaml
  infrastructure/base/monitoring/kustomization.yaml
  infrastructure/base/monitoring/v2-otel/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(homepage): update tdarr widget URL to new namespace
  applications/arr-stack/base/homepage/configmap-services.yaml
  applications/arr-stack/base/homepage/configs/services.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(tdarr): add CPU/memory limits to workers (4 CPU, 8Gi)
  applications/tdarr/base/worker-daemonset.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

beads: close TALOS-w99f (tdarr cleanup complete)
  .beads/issues.jsonl
Due: none

feat(homepage): add Authentik + Posterizarr widgets, fix API key env vars
  applications/arr-stack/base/homepage/authentik-externalsecret.yaml
  applications/arr-stack/base/homepage/configmap-services.yaml
  applications/arr-stack/base/homepage/deployment.yaml
  applications/arr-stack/base/homepage/kustomization.yaml
  applications/arr-stack/base/shared/external-secret.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

beads: add TALOS-pv9z (add API keys to 1Password for homepage)
  .beads/issues.jsonl
Due: none

feat(kometa): upgrade config with director spotlights, studios, and seasonal collections
  applications/arr-stack/base/kometa/configmap.yaml
  applications/arr-stack/base/kometa/deployment.yaml
  applications/arr-stack/base/kometa/externalsecret.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

beads: close TALOS-szzd (Kometa config upgrade)
  .beads/issues.jsonl
Due: none

feat(vpn-gateway): replace webtop with Kasm Chrome browser
  applications/arr-stack/base/posterizarr/deployment.yaml
  infrastructure/base/vpn-gateway/kustomization.yaml
  infrastructure/base/vpn-gateway/secure-chrome.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(vpn-gateway): add Flux kustomization for GitOps management
  clusters/catalyst-cluster/flux-system/kustomization.yaml
  clusters/catalyst-cluster/vpn-gateway.yaml
  infrastructure/base/vpn-gateway/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(secure-chrome): use HTTPS passthrough for Kasm WSS connections
  infrastructure/base/vpn-gateway/secure-chrome.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(vpn-gateway): add privileged PodSecurity labels for NET_ADMIN
  infrastructure/base/vpn-gateway/namespace.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(secure-chrome): whitelist internal K8s IPs for Kasm VNC
  infrastructure/base/vpn-gateway/secure-chrome.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(secure-chrome): use TCP socket probes instead of HTTPS
  infrastructure/base/vpn-gateway/secure-chrome.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(secure-chrome): update Kasm credentials
  infrastructure/base/vpn-gateway/secure-chrome.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(secure-chrome): use CUSTOM_USER/PASSWORD for Kasm credentials
  infrastructure/base/vpn-gateway/secure-chrome.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(homepage): add Download Clients and VPN sections
  applications/arr-stack/base/homepage/configs/services.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(secure-chrome): remove non-functional CUSTOM_USER
  infrastructure/base/vpn-gateway/secure-chrome.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(homepage): add Download Clients and VPN sections to ConfigMap
  applications/arr-stack/base/homepage/configmap-services.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace
