Repository TheBranchDriftCatalyst/talos-homelab: changes, and which lefthook commands are due for each by the changed paths.
All: gitleaks, yamllint, kube-validate, shellcheck, shfmt, markdownlint, trailing-whitespace, helm-lint

gitleaks:
  tags: security
  run: gitleaks protect --verbose --redact --staged
  skip:
  - merge
  - rebase

yamllint:
  tags: linting yaml
  run: yamllint --strict .
  skip:
  - merge
  - rebase

kube-validate:
  tags: kubernetes yaml
  ...

shellcheck:
  tags: linting shell
  run: shellcheck -x {staged_files}
  skip:
  - merge
  - rebase

shfmt:
  tags: formatting shell
  run: shfmt -w -i 2 -ci -sr {staged_files}
  skip:
  - merge
  - rebase
  stage_fixed: true

markdownlint:
  tags: linting markdown
  run: npx markdownlint-cli2 {staged_files}
  skip:
  - merge
  - rebase

trailing-whitespace:
  tags: formatting
  run: "if grep -n '[[:space:]]$' {staged_files}; then\n  echo \"‚ùå Error: Trailing whitespace found\"\n  echo \"Run: sed -i '' 's/[[:space:]]*$//' <file>\"\n  exit 1\nfi\n"
  skip:
  - merge
  - rebase

helm-lint:
  tags: kubernetes helm
  run: "for chart_dir in infrastructure/base/*/; do\n  if [ -f \"$chart_dir/Chart.yaml\" ]; then\n    echo \"Linting Helm chart: $chart_dir\"\n    helm lint \"$chart_dir\" || exit 1\n  fi\ndone\n"
  skip:
  - merge
  - rebase

fix(tempo): set webhook failurePolicy=Ignore (TALOS-9cf, TALOS-ig6)
  infrastructure/base/monitoring/v2-otel/operators/tempo-operator/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(beads): track 2026-05-29 cilium meltdown response
  .beads/last-touched
Due: none

fix(diagnostics): capture-meltdown-evidence.sh works on macOS (no `timeout` cmd)
  .beads/issues.jsonl
  scripts/capture-meltdown-evidence.sh
Due: gitleaks, shellcheck, shfmt, trailing-whitespace

fix(diagnostics): capture-meltdown-evidence.sh — fix CP container log capture
  scripts/capture-meltdown-evidence.sh
Due: gitleaks, shellcheck, shfmt, trailing-whitespace

feat(cilium): move into Flux (HelmRelease) — TALOS-ocj
  clusters/catalyst-cluster/cilium.yaml
  configs/cilium-manifest.yaml
  infrastructure/base/cilium/helmrelease.yaml
  infrastructure/base/cilium/kustomization.yaml
  infrastructure/base/cilium/values.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

docs(cilium): defer Flux activation — wait for HA control plane
  clusters/catalyst-cluster/cilium.yaml
  infrastructure/base/cilium/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(cilium): switch k8sServiceHost to KubePrism (localhost:7445)
  .beads/issues.jsonl
  infrastructure/base/cilium/values.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(kubevirt): perma-set failurePolicy=Ignore on virt-api webhooks (TALOS-9cf)
  .beads/issues.jsonl
  infrastructure/base/kubevirt/cr.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

docs(post-mortem): 2026-05-29 six meltdowns + HA migration runbook
  .beads/issues.jsonl
  docs/05-runbooks/ha-control-plane-migration.md
  docs/06-troubleshooting/2026-05-29-six-meltdowns-and-the-real-root-cause.md
Due: gitleaks, markdownlint, trailing-whitespace

fix(databases): set cnpg webhook failurePolicy=Ignore (TALOS-9cf)
  infrastructure/base/databases/cloudnative-pg/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(observability): kernel panic capture (Options A + B) — root-cause hunt
  infrastructure/base/monitoring/kernel-panic-capture/daemonset.yaml
  infrastructure/base/monitoring/kernel-panic-capture/deployment.yaml
  infrastructure/base/monitoring/kernel-panic-capture/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(observability): alloy-node DaemonSet for per-node log scraping
  infrastructure/base/monitoring/v2-otel/alloy-node/helmrelease.yaml
  infrastructure/base/monitoring/v2-otel/alloy-node/kustomization.yaml
  infrastructure/base/monitoring/v2-otel/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(monitoring): Talos Cluster Debug Grafana dashboard
  .beads/issues.jsonl
  infrastructure/base/monitoring/grafana-dashboards/json/talos-cluster-debug.json
  infrastructure/base/monitoring/grafana-dashboards/kustomization.yaml
  infrastructure/base/monitoring/grafana-dashboards/resources/talos-cluster-debug.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(flux): drop kustomize-controller + helm-controller to --concurrent=1
  clusters/catalyst-cluster/flux-system/flux-system/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(flux): MOVE controller patches to outer kustomization where they actually apply
  clusters/catalyst-cluster/flux-system/flux-system/kustomization.yaml
  clusters/catalyst-cluster/flux-system/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

docs(post-mortem): correct kernel-panic theory + add May-22-fix-never-applied finding
  docs/06-troubleshooting/2026-05-29-six-meltdowns-and-the-real-root-cause.md
Due: gitleaks, markdownlint, trailing-whitespace

feat(observability): 4 suspect-investigation packages (test scripts + alerts + dashboards)
  .beads/issues.jsonl
  infrastructure/base/monitoring/grafana-dashboards/json/cilium-bpf-pressure.json
  infrastructure/base/monitoring/grafana-dashboards/json/etcd-snapshot-correlation.json
  infrastructure/base/monitoring/grafana-dashboards/json/spire-health.json
  infrastructure/base/monitoring/grafana-dashboards/json/talos00-memory-deepdive.json
  infrastructure/base/monitoring/grafana-dashboards/kustomization.yaml
  infrastructure/base/monitoring/grafana-dashboards/resources/cilium-bpf-pressure.yaml
  infrastructure/base/monitoring/grafana-dashboards/resources/etcd-snapshot-correlation.yaml
  infrastructure/base/monitoring/grafana-dashboards/resources/spire-health.yaml
  infrastructure/base/monitoring/grafana-dashboards/resources/talos00-memory-deepdive.yaml
  infrastructure/base/monitoring/v2-otel/baseline-alerts/cilium-bpf-alerts.yaml
  infrastructure/base/monitoring/v2-otel/baseline-alerts/etcd-snapshot-alerts.yaml
  infrastructure/base/monitoring/v2-otel/baseline-alerts/kustomization.yaml
  infrastructure/base/monitoring/v2-otel/baseline-alerts/memory-pressure-alerts.yaml
  infrastructure/base/monitoring/v2-otel/baseline-alerts/spire-alerts.yaml
  scripts/test-suspect-bpf-map-pressure.sh
  scripts/test-suspect-etcd-snapshot.sh
  scripts/test-suspect-spire-health.sh
  scripts/test-suspect-talos00-memory.sh
Due: gitleaks, yamllint, kube-validate, shellcheck, shfmt, trailing-whitespace

fix(cilium): root cause meltdowns — identity bloat saturating etcd (TALOS-yyt)
  .beads/issues.jsonl
  infrastructure/base/cilium/values.yaml
  infrastructure/base/kube-system/pod-cleanup/cleanup.py
  infrastructure/base/kube-system/pod-cleanup/cronjob.yaml
  infrastructure/base/kube-system/pod-cleanup/rbac.yaml
  infrastructure/base/monitoring/grafana-dashboards/json/pod-cleanup.json
  infrastructure/base/monitoring/v2-otel/baseline-alerts/cilium-identity-alerts.yaml
  infrastructure/base/monitoring/v2-otel/baseline-alerts/kustomization.yaml
  scripts/cleanup-cilium-identities.sh
Due: gitleaks, yamllint, kube-validate, shellcheck, shfmt, trailing-whitespace

gitblobstore: checkandput manifest
  deiccatdlpvkobha25sos41mtanp6cj7.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  manifest
  nmbc1b1t5g8o8veoaksrdhrok537f72a
Due: none

feat(cilium): activate Flux management (TALOS-ocj)
  clusters/catalyst-cluster/cilium.yaml
  clusters/catalyst-cluster/flux-system/kustomization.yaml
  infrastructure/base/cilium/helmrelease.yaml
  infrastructure/base/cilium/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(beads): close TALOS-yyt, add TALOS-cq7
  .beads/issues.jsonl
Due: none

gitblobstore: checkandput manifest
  manifest
  uq6q3q85lk2lkhc1vvv122pbo01unc75.darc
Due: none

gitblobstore: checkandput manifest
  manifest
  r5c0groka0t6v2mut8tlpifhlov18cdf
Due: none

revert(flux): drop --concurrent=1 throttle (was treating symptom not disease)
  clusters/catalyst-cluster/flux-system/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

revert: drop bandaids applied during 2026-05-29 meltdown response
  infrastructure/base/backup/etcd-backup.yaml
  infrastructure/base/cilium/values.yaml
  infrastructure/base/databases/cloudnative-pg/helmrelease.yaml
  infrastructure/base/kubevirt/cr.yaml
  infrastructure/base/monitoring/v2-otel/operators/tempo-operator/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(beads): file TALOS-234 (grafana metrics pipeline)
  .beads/issues.jsonl
Due: none

gitblobstore: checkandput manifest
  5ml67svi023vp6p9qodfr7jkacmt6btp.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  lu3lrmepesvju3mfcg60km4bl8tdcl6f
  manifest
Due: none

fix(cilium): postRenderer patches cilium-spire namespace with PSA labels
  infrastructure/base/cilium/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(alerts): valid Prometheus template funcs + remove invalid LogQL rule
  infrastructure/base/monitoring/v2-otel/baseline-alerts/etcd-snapshot-alerts.yaml
  infrastructure/base/monitoring/v2-otel/baseline-alerts/memory-pressure-alerts.yaml
  infrastructure/base/monitoring/v2-otel/baseline-alerts/spire-alerts.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(observability): add PodMonitor for Flux controllers (TALOS-234)
  infrastructure/base/flux-notifications/kustomization.yaml
  infrastructure/base/flux-notifications/podmonitor.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(grafana): remove unpublished dashboards (404s on grafana.com)
  infrastructure/base/monitoring/grafana-dashboards/external/argocd-dashboards.yaml
  infrastructure/base/monitoring/grafana-dashboards/external/hybrid-cluster-dashboards.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(grafana): remove 5 unwanted dashboards
  infrastructure/base/monitoring/grafana-dashboards/external/infrastructure-dashboards.yaml
  infrastructure/base/monitoring/grafana-dashboards/json/hybrid-cluster-overview.json
  infrastructure/base/monitoring/grafana-dashboards/json/llm-proxy-overview.json
  infrastructure/base/monitoring/grafana-dashboards/json/llm-scaler.json
  infrastructure/base/monitoring/grafana-dashboards/json/rabbitmq-overview.json
  infrastructure/base/monitoring/grafana-dashboards/kustomization.yaml
  infrastructure/base/monitoring/grafana-dashboards/resources/hybrid-cluster-overview.yaml
  infrastructure/base/monitoring/grafana-dashboards/resources/llm-proxy-overview.yaml
  infrastructure/base/monitoring/grafana-dashboards/resources/llm-scaler.yaml
  infrastructure/base/monitoring/grafana-dashboards/resources/rabbitmq-overview.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(grafana,argocd): pod-cleanup dashboard + arr-stack-private OutOfSync
  infrastructure/base/argocd/applications/arr-stack-private.yaml
  infrastructure/base/monitoring/grafana-dashboards/json/pod-cleanup.json
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(arr-stack): replace overseerr with seerr fork
  applications/arr-stack/README.md
  applications/arr-stack/Tiltfile
  applications/arr-stack/base/homepage/README.md
  applications/arr-stack/base/kustomization.yaml
  applications/arr-stack/base/seerr/deployment.yaml
  applications/arr-stack/base/seerr/ingressroute.yaml
  applications/arr-stack/base/seerr/kustomization.yaml
  applications/arr-stack/base/seerr/pvc.yaml
  applications/arr-stack/base/seerr/service.yaml
  applications/arr-stack/overlays/themepark/README.md
  applications/arr-stack/overlays/themepark/kustomization.yaml
  applications/arr-stack/overlays/themepark/overseerr-patch.yaml
  applications/arr-stack/scripts/sync-api-keys.sh
Due: gitleaks, yamllint, kube-validate, shellcheck, shfmt, markdownlint, trailing-whitespace

gitblobstore: checkandput manifest
  ds2sddc7b8iequh8s5md1hefpctg88i6.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  611e77bet33af224derc6rpva5fcmq4g
  manifest
Due: none

feat(grafana): redesign pod-cleanup dashboard + log deleted CiliumIdentities
  infrastructure/base/kube-system/pod-cleanup/cleanup.py
  infrastructure/base/monitoring/grafana-dashboards/json/pod-cleanup.json
Due: gitleaks, trailing-whitespace

Path conditions:
  gitleaks: any of: *.{yaml,yml,sh,json,env,txt,md}
  yamllint: any of: *.{yaml,yml}
  kube-validate: any of: *.{yaml,yml}
  shellcheck: any of: *.sh
  shfmt: any of: *.sh
  markdownlint: any of: *.md
  trailing-whitespace: any of: *.{yaml,yml,sh,md,json}
  helm-lint: any of: **/Chart.yaml
