Repository TheBranchDriftCatalyst/talos-homelab: changes, and which lefthook commands are due for each by the changed paths.
All: gitleaks, yamllint, kube-validate, shellcheck, shfmt, markdownlint, trailing-whitespace, helm-lint

gitleaks:
  tags: security
  run: gitleaks protect --verbose --redact --staged
  skip:
  - merge
  - rebase

yamllint:
  tags: linting yaml
  run: yamllint --strict .
  skip:
  - merge
  - rebase

kube-validate:
  tags: kubernetes yaml
  ...

shellcheck:
  tags: linting shell
  run: shellcheck -x {staged_files}
  skip:
  - merge
  - rebase

shfmt:
  tags: formatting shell
  run: shfmt -w -i 2 -ci -sr {staged_files}
  skip:
  - merge
  - rebase
  stage_fixed: true

markdownlint:
  tags: linting markdown
  run: npx markdownlint-cli2 {staged_files}
  skip:
  - merge
  - rebase

trailing-whitespace:
  tags: formatting
  run: "if grep -n '[[:space:]]$' {staged_files}; then\n  echo \"‚ùå Error: Trailing whitespace found\"\n  echo \"Run: sed -i '' 's/[[:space:]]*$//' <file>\"\n  exit 1\nfi\n"
  skip:
  - merge
  - rebase

helm-lint:
  tags: kubernetes helm
  run: "for chart_dir in infrastructure/base/*/; do\n  if [ -f \"$chart_dir/Chart.yaml\" ]; then\n    echo \"Linting Helm chart: $chart_dir\"\n    helm lint \"$chart_dir\" || exit 1\n  fi\ndone\n"
  skip:
  - merge
  - rebase

feat(monitoring): Alloy dual-write logs to Loki AND ClickStack [TALOS-cjny]
  infrastructure/base/monitoring/v2-otel/alloy/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(alloy): send_batch_max_size >= send_batch_size — clickstack batcher crashlooped alloy [TALOS-cjny]
  infrastructure/base/monitoring/v2-otel/alloy/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

revert(alloy): back out clickstack dual-write — restore telemetry [TALOS-cjny]
  infrastructure/base/monitoring/v2-otel/alloy/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(aws): remove ecs/iam/cloudwatchlogs/ec2 providers — they wedged the cluster [TALOS-hk7i]
  infrastructure/base/aws-providers/provider.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(clickstack): explicit resources for hyperdx app — UI process died to OOM [TALOS-cjny]
  infrastructure/base/monitoring/v2-otel/clickstack/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(cilium): Traefik ingress VIP via LB-IPAM + L2 — removes single-node ingress SPOF [TALOS-sa0n]
  infrastructure/base/cilium/lb-ipam.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(clickstack): ESO ExternalSecret for HyperDX ingestion API key [TALOS-4clh]
  infrastructure/base/monitoring/v2-otel/clickstack/externalsecret.yaml
  infrastructure/base/monitoring/v2-otel/clickstack/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(alloy): dual-write logs AND traces to ClickStack with auth [TALOS-cjny/tyyk/xam9]
  infrastructure/base/monitoring/v2-otel/alloy/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(clickstack): pre-provision HyperDX sources declaratively — no more click-ops [TALOS-cjny]
  infrastructure/base/monitoring/v2-otel/clickstack/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(clickstack): populate ServiceName + faster trace lookup from LogAttributes [TALOS-dhhw]
  infrastructure/base/monitoring/v2-otel/clickstack/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(argocd): register openscad application
  infrastructure/base/argocd/applications/kustomization.yaml
  infrastructure/base/argocd/applications/openscad.yaml
  infrastructure/base/minio/cnpg-backup/externalsecret.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(authentik): add Manyfold OIDC provider
  infrastructure/base/authentik/externalsecret.yaml
  infrastructure/base/authentik/helmrelease.yaml
  infrastructure/base/authentik/kustomization.yaml
  infrastructure/base/authentik/manyfold-blueprint.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(grafana): Workload Ops dashboard — namespace + app drill-down
  infrastructure/base/monitoring/grafana-dashboards/json/workload-ops.json
  infrastructure/base/monitoring/grafana-dashboards/kustomization.yaml
  infrastructure/base/monitoring/grafana-dashboards/resources/workload-ops.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(grafana): workload variable must use query_result, not label_values
  infrastructure/base/monitoring/grafana-dashboards/json/workload-ops.json
Due: gitleaks, trailing-whitespace

fix(grafana): min interval on rate panels — cAdvisor scrapes at 60s
  infrastructure/base/monitoring/grafana-dashboards/json/workload-ops.json
Due: gitleaks, trailing-whitespace

fix(grafana): workload-ops magnitude overhaul + generator [TALOS-h8b0]
  infrastructure/base/monitoring/grafana-dashboards/json/workload-ops.json
  infrastructure/base/monitoring/grafana-dashboards/resources/workload-ops.yaml
  infrastructure/base/monitoring/grafana-dashboards/scripts/gen-workload-ops.py
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(grafana): drop gen-workload-ops.py — dashboards are JSON + CRD only
  infrastructure/base/monitoring/grafana-dashboards/scripts/gen-workload-ops.py
Due: none

fix(grafana): track KEDA workloads by exported namespace
  infrastructure/base/monitoring/grafana-dashboards/json/keda.json
  infrastructure/base/monitoring/grafana-dashboards/resources/keda.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

audit(grafana): verify every dashboard query
  docs/08-monitoring/GRAFANA-DASHBOARD-QUERY-AUDIT.md
  docs/08-monitoring/GRAFANA-DASHBOARDS.md
  scripts/audit-grafana-dashboards.py
Due: gitleaks, markdownlint, trailing-whitespace

fix(grafana): remediate first dashboard audit batch
  docs/08-monitoring/GRAFANA-DASHBOARD-QUERY-AUDIT.md
  infrastructure/base/monitoring/grafana-dashboards/README.md
  infrastructure/base/monitoring/grafana-dashboards/external/cilium-dashboards.yaml
  infrastructure/base/monitoring/grafana-dashboards/json/keda.json
  scripts/audit-grafana-dashboards.py
Due: gitleaks, yamllint, kube-validate, markdownlint, trailing-whitespace

docs(grafana): record remediated audit results
  docs/08-monitoring/GRAFANA-DASHBOARD-QUERY-AUDIT.md
  infrastructure/base/monitoring/grafana-dashboards/README.md
  infrastructure/base/monitoring/grafana-dashboards/external/gitops-dashboards.yaml
Due: gitleaks, yamllint, kube-validate, markdownlint, trailing-whitespace

fix(grafana): retire stale GitOps dashboard imports
  infrastructure/base/monitoring/grafana-dashboards/README.md
  infrastructure/base/monitoring/grafana-dashboards/external/argocd-dashboards.yaml
  infrastructure/base/monitoring/grafana-dashboards/external/gitops-dashboards.yaml
  scripts/audit-grafana-dashboards.py
Due: gitleaks, yamllint, kube-validate, markdownlint, trailing-whitespace

fix(grafana): allow system browser for render audit
  scripts/audit-grafana-dashboards.py
Due: none

fix(grafana): audit Boomtime template variables accurately
  docs/08-monitoring/GRAFANA-DASHBOARD-QUERY-AUDIT.md
  scripts/audit-grafana-dashboards.py
Due: gitleaks, markdownlint, trailing-whitespace

fix(grafana): modernize active platform dashboards
  docs/08-monitoring/GRAFANA-DASHBOARD-QUERY-AUDIT.md
  infrastructure/base/monitoring/grafana-dashboards/README.md
  infrastructure/base/monitoring/grafana-dashboards/external/cilium-dashboards.yaml
  infrastructure/base/monitoring/grafana-dashboards/json/central-cluster-storage.json
  infrastructure/base/monitoring/grafana-dashboards/json/cilium-bpf-pressure.json
  infrastructure/base/monitoring/grafana-dashboards/json/external-dns.json
  infrastructure/base/monitoring/grafana-dashboards/json/network-ops.json
  infrastructure/base/monitoring/grafana-dashboards/kustomization.yaml
  scripts/audit-grafana-dashboards.py
Due: gitleaks, yamllint, kube-validate, markdownlint, trailing-whitespace

fix(grafana): retire incompatible Loki dashboard
  docs/08-monitoring/GRAFANA-DASHBOARD-QUERY-AUDIT.md
  infrastructure/base/monitoring/grafana-dashboards/external/loki-dashboards.yaml
Due: gitleaks, yamllint, kube-validate, markdownlint, trailing-whitespace

chore(grafana): remove grafana-sync.sh and its wiring
  Tiltfile
  infrastructure/base/monitoring/grafana-dashboards/README.md
  infrastructure/base/monitoring/grafana-dashboards/Tiltfile
  infrastructure/base/monitoring/grafana-dashboards/json/policy-ops.json
  infrastructure/base/monitoring/grafana-dashboards/kustomization.yaml
  infrastructure/base/monitoring/grafana-dashboards/resources/policy-ops.yaml
  infrastructure/base/monitoring/grafana-dashboards/resources/workload-ops.yaml
  infrastructure/base/monitoring/grafana-dashboards/scripts/grafana-sync.sh
Due: gitleaks, yamllint, kube-validate, shellcheck, shfmt, markdownlint, trailing-whitespace

feat(gpu-inference): scaffold KEDA-buffered ephemeral GPU endpoint [TALOS-t3ic]
  clusters/catalyst-cluster/gpu-inference.yaml
  infrastructure/base/gpu-inference/README.md
  infrastructure/base/gpu-inference/alerts.yaml
  infrastructure/base/gpu-inference/broker-deployment.yaml
  infrastructure/base/gpu-inference/broker-rbac.yaml
  infrastructure/base/gpu-inference/gateway-config.yaml
  infrastructure/base/gpu-inference/gateway-deployment.yaml
  infrastructure/base/gpu-inference/gateway-service.yaml
  infrastructure/base/gpu-inference/gpu-service.yaml
  infrastructure/base/gpu-inference/gpuprofile.yaml
  infrastructure/base/gpu-inference/httpscaledobject.yaml
  infrastructure/base/gpu-inference/ingressroute.yaml
  infrastructure/base/gpu-inference/kustomization.yaml
  infrastructure/base/gpu-inference/namespace.yaml
  infrastructure/base/gpu-inference/reaper-cache-cronjob.yaml
  infrastructure/base/gpu-inference/reaper-instance-cronjob.yaml
  infrastructure/base/operators/keda/http-addon-helmrelease.yaml
  infrastructure/base/operators/keda/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, markdownlint, trailing-whitespace

fix(flux): register the gpu-inference Kustomization
  clusters/catalyst-cluster/flux-system/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(crossplane): raise core memory 512Mi -> 4Gi before re-adding ec2 [TALOS-t88y]
  infrastructure/base/operators/crossplane/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(clickstack): unpin mongo + clickhouse from talos00; mongo via operator CRD
  clusters/catalyst-cluster/monitoring.yaml
  infrastructure/base/monitoring/v2-otel/alertmanager-config/discord-bridge.yaml
  infrastructure/base/monitoring/v2-otel/clickstack/clickhouse.yaml
  infrastructure/base/monitoring/v2-otel/clickstack/helmrelease.yaml
  infrastructure/base/monitoring/v2-otel/clickstack/kustomization.yaml
  infrastructure/base/monitoring/v2-otel/clickstack/mongodb.yaml
  infrastructure/base/monitoring/v2-otel/operators/clickstack-mongodb-secret.yaml
  infrastructure/base/monitoring/v2-otel/operators/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(clickstack): mirror mongo secret to flux-system for postBuild substitution
  infrastructure/base/monitoring/v2-otel/operators/clickstack-mongodb-secret.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(clickstack): inject mongo URI via HelmRelease valuesFrom, not Kustomization postBuild
  clusters/catalyst-cluster/monitoring.yaml
  infrastructure/base/monitoring/v2-otel/clickstack/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(mongodb): metrics exporter + global PodMonitor (prereq for dashboards)
  infrastructure/base/monitoring/mongodb-monitoring/kustomization.yaml
  infrastructure/base/monitoring/mongodb-monitoring/podmonitor.yaml
  infrastructure/base/monitoring/v2-otel/clickstack/mongodb.yaml
  infrastructure/base/monitoring/v2-otel/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(mongodb): exporter must connect over localhost, not the Service DNS
  infrastructure/base/monitoring/v2-otel/clickstack/mongodb.yaml
  infrastructure/base/monitoring/v2-otel/operators/clickstack-mongodb-secret.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(mongodb): drop --collect-all, exporter panicked on every scrape
  infrastructure/base/monitoring/v2-otel/clickstack/mongodb.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(mongodb): grant clusterMonitor + use 127.0.0.1 for the exporter
  infrastructure/base/monitoring/v2-otel/clickstack/mongodb.yaml
  infrastructure/base/monitoring/v2-otel/operators/clickstack-mongodb-secret.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(mongodb): re-enable --collect-all now that clusterMonitor is granted
  infrastructure/base/monitoring/v2-otel/clickstack/mongodb.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(grafana): MongoDB — Instance Ops dashboard
  infrastructure/base/monitoring/grafana-dashboards/json/mongodb-ops.json
  infrastructure/base/monitoring/grafana-dashboards/kustomization.yaml
  infrastructure/base/monitoring/grafana-dashboards/resources/mongodb-ops.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(crowdsec): whitelist the operator home IP — it self-banned for 32h
  infrastructure/base/crowdsec/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

Path conditions:
  gitleaks: any of: *.{yaml,yml,sh,json,env,txt,md}
  yamllint: any of: *.{yaml,yml}
  kube-validate: any of: *.{yaml,yml}
  shellcheck: any of: *.sh
  shfmt: any of: *.sh
  markdownlint: any of: *.md
  trailing-whitespace: any of: *.{yaml,yml,sh,md,json}
  helm-lint: any of: **/Chart.yaml
