Repository TheBranchDriftCatalyst/talos-homelab: changes, and which lefthook commands are due for each by the changed paths.
All: gitleaks, yamllint, kube-validate, shellcheck, shfmt, markdownlint, trailing-whitespace, helm-lint

gitleaks:
  tags: security
  run: gitleaks protect --verbose --redact --staged
  skip:
  - merge
  - rebase

yamllint:
  tags: linting yaml
  run: yamllint --strict .
  skip:
  - merge
  - rebase

kube-validate:
  tags: kubernetes yaml
  ...

shellcheck:
  tags: linting shell
  run: shellcheck -x {staged_files}
  skip:
  - merge
  - rebase

shfmt:
  tags: formatting shell
  run: shfmt -w -i 2 -ci -sr {staged_files}
  skip:
  - merge
  - rebase
  stage_fixed: true

markdownlint:
  tags: linting markdown
  run: npx markdownlint-cli2 {staged_files}
  skip:
  - merge
  - rebase

trailing-whitespace:
  tags: formatting
  run: "if grep -n '[[:space:]]$' {staged_files}; then\n  echo \"‚ùå Error: Trailing whitespace found\"\n  echo \"Run: sed -i '' 's/[[:space:]]*$//' <file>\"\n  exit 1\nfi\n"
  skip:
  - merge
  - rebase

helm-lint:
  tags: kubernetes helm
  run: "for chart_dir in infrastructure/base/*/; do\n  if [ -f \"$chart_dir/Chart.yaml\" ]; then\n    echo \"Linting Helm chart: $chart_dir\"\n    helm lint \"$chart_dir\" || exit 1\n  fi\ndone\n"
  skip:
  - merge
  - rebase

fix(crowdsec): bump web-ui memory (OOMKilled caching 101k decisions)
  infrastructure/base/security/crowdsec/webui.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(crowdsec): scope web-ui cache to origin=crowdsec + 30d lookback (TALOS-y5sx)
  infrastructure/base/security/crowdsec/webui.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(crowdsec): web-ui shows everything EXCEPT third-party blocklists (exclude, not include)
  infrastructure/base/security/crowdsec/webui.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(zipline): move to own ns + public zipline.knowledgedump.space with Authentik OIDC (TALOS-0w6d)
  applications/zipline/appdb.yaml
  applications/zipline/deployment.yaml
  applications/zipline/externalsecret.yaml
  applications/zipline/ingressroute.yaml
  applications/zipline/kustomization.yaml
  applications/zipline/namespace.yaml
  applications/zipline/pvc.yaml
  clusters/catalyst-cluster/zipline.yaml
  infrastructure/base/authentik/externalsecret.yaml
  infrastructure/base/authentik/helmrelease.yaml
  infrastructure/base/authentik/kustomization.yaml
  infrastructure/base/authentik/zipline-blueprint.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(crowdsec): stop double-deciding honeypot IPs — haproxy front is the single ban source
  infrastructure/base/security/crowdsec/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(honeypots): temporary 50/50 cowrie:beelzebub split (was 90/10)
  infrastructure/base/monitoring/grafana-dashboards/json/honeypot-ops.json
  infrastructure/base/security/honeypots/haproxy.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(arr-stack): add Stackarr homelab control plane with CNPG Postgres
  applications/arr-stack/base/kustomization.yaml
  applications/arr-stack/base/postgres/databases.yaml
  applications/arr-stack/base/stackarr/deployment.yaml
  applications/arr-stack/base/stackarr/ingressroute.yaml
  applications/arr-stack/base/stackarr/kustomization.yaml
  applications/arr-stack/base/stackarr/pvc.yaml
  applications/arr-stack/base/stackarr/service.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(stackarr): remove invalid STACKARR_DATABASE_MODE=external
  applications/arr-stack/base/stackarr/deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(authentik): add Stackarr to arr-stack blueprint and embedded outpost
  infrastructure/base/authentik/arr-stack-blueprint.yaml
  infrastructure/base/authentik/talos-private-blueprint.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(stackarr): drop inert STACKARR_SECURITY_HANDOFF
  applications/arr-stack/base/stackarr/deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(security): baseline gitleaks so the pre-push hook works again
  .gitleaks-baseline.json
  .gitleaks.toml
  lefthook.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(security): correct gitleaks allowlist path regexes
  .gitleaks.toml
Due: none

refactor(security): one suppression file + range-scan pre-push hook
  .gitleaks-baseline.json
Due: gitleaks, trailing-whitespace

fix(security): land consolidation files missed by 18f0ebbb
  .gitleaks.toml
  .gitleaksignore
  Taskfile.dev.yaml
  lefthook.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(grafana): repair honeypot-ops dashboard — donuts, beelzebub panels
  infrastructure/base/monitoring/grafana-dashboards/json/honeypot-ops.json
  infrastructure/base/monitoring/grafana-dashboards/resources/honeypot-ops.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(honeypot): restore credential pairing; document why beelzebub cannot take PROXY
  infrastructure/base/monitoring/grafana-dashboards/json/honeypot-ops.json
  infrastructure/base/monitoring/v2-otel/loki/helmrelease.yaml
  infrastructure/base/security/honeypots/haproxy.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(honeypots): 80/20 cowrie:beelzebub split (was temporary 50/50)
  infrastructure/base/monitoring/grafana-dashboards/json/honeypot-ops.json
  infrastructure/base/monitoring/grafana-dashboards/resources/honeypot-ops.yaml
  infrastructure/base/security/honeypots/haproxy.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(honeypots): generate configs so edits actually roll the pod
  infrastructure/base/monitoring/grafana-dashboards/json/honeypot-ops.json
  infrastructure/base/security/honeypots/beelzebub-configmap.yaml
  infrastructure/base/security/honeypots/cfg/beelzebub.yaml
  infrastructure/base/security/honeypots/cfg/cowrie.cfg
  infrastructure/base/security/honeypots/cfg/haproxy.cfg
  infrastructure/base/security/honeypots/cfg/ssh-2222.yaml
  infrastructure/base/security/honeypots/configmap.yaml
  infrastructure/base/security/honeypots/haproxy.yaml
  infrastructure/base/security/honeypots/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(config): generate catalyst-bg, iocaine and ollama-gateway configs
  infrastructure/base/authentik/login-background/cfg/default.conf
  infrastructure/base/authentik/login-background/configmap.yaml
  infrastructure/base/authentik/login-background/deployment.yaml
  infrastructure/base/authentik/login-background/kustomization.yaml
  infrastructure/base/gpu-inference/cfg/nginx.conf
  infrastructure/base/gpu-inference/gateway-config.yaml
  infrastructure/base/gpu-inference/kustomization.yaml
  infrastructure/base/security/iocaine/cfg/config.kdl
  infrastructure/base/security/iocaine/configmap.yaml
  infrastructure/base/security/iocaine/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(homepage): generate homepage-shared so edits reach all 8 boards
  applications/homepage/base/instance/deployment.yaml
  applications/homepage/base/shared/cfg/bookmarks.yaml
  applications/homepage/base/shared/cfg/custom.css
  applications/homepage/base/shared/cfg/custom.js
  applications/homepage/base/shared/cfg/docker.yaml
  applications/homepage/base/shared/cfg/services.yaml
  applications/homepage/base/shared/cfg/widgets.yaml
  applications/homepage/base/shared/configmap-shared.yaml
  applications/homepage/base/shared/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(librarr): give it real qBittorrent creds — it was login-looping and causing bans
  applications/arr-stack/base/qbittorrent/webui-credentials.yaml
  applications/media-experimental/base/librarr/patch-deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(qbittorrent): single login via LAN whitelist + real client IPs
  applications/arr-stack/base/qbittorrent/deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(security): de-hardcode librarr creds; make sabnzbd local_ranges declarative
  applications/arr-stack/base/sabnzbd/deployment.yaml
  applications/media-experimental/base/librarr/externalsecret.yaml
  applications/media-experimental/base/librarr/kustomization.yaml
  applications/media-experimental/base/librarr/patch-deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(qbittorrent): stop vpn-rotator breaking the VPN; pin to Netherlands
  applications/arr-stack/base/qbittorrent/deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(vpn-rotator): stop false-failing, clear names on rotation, add per-pod interval
  applications/arr-stack/base/qbittorrent/deployment.yaml
  infrastructure/base/vpn-gateway/externalsecret.yaml
  infrastructure/base/vpn-gateway/rotation/configmap-script.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(vpn-rotator): wait long enough for the tunnel to re-establish after rotation
  infrastructure/base/vpn-gateway/rotation/configmap-script.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(vpn-rotator): size the validation budget from measured rotation downtime
  infrastructure/base/vpn-gateway/rotation/configmap-script.yaml
  infrastructure/base/vpn-gateway/rotation/cronjob.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(vpn-rotator): shrink the worst case instead of raising the ceiling
  infrastructure/base/vpn-gateway/rotation/configmap-script.yaml
  infrastructure/base/vpn-gateway/rotation/cronjob.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(vpn-rotator): actually apply jitter_max 600->60 in the ConfigMap
  infrastructure/base/vpn-gateway/rotation/configmap-config.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

test(vpn): add rotation regression guards; soak parked as known-unsound
  Taskfile.test.yaml
  infrastructure/base/vpn-gateway/tests/test_vpn_rotation_soak.py
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(repo): pre-flight cleanup before the flake+direnv migration
  .github/workflows/beads-manager.yaml
  .scratch/gitleaks-remediation.md
  README.md
  SKILLZ.md
  docs/INDEX.md
  node_modules/.yarn-integrity
Due: gitleaks, yamllint, kube-validate, markdownlint, trailing-whitespace

chore(repo): move developer tool configs into dev/, drop two dead ones
  .env.example
  .github/renovate.json
  .markdownlintignore
  CONTRIBUTING.md
  Taskfile.dev.yaml
  dev/shellcheckrc
  dev/starship.toml
  dev/yamllint.yaml
  docs/03-operations/development-tools.md
  lefthook.yaml
Due: gitleaks, yamllint, kube-validate, markdownlint, trailing-whitespace

build(nix): add a flake devShell pinning the whole toolchain
  flake.lock
  flake.nix
Due: none

feat(direnv): replace the plaintext .envrc with use flake + op:// refs
  .env.tpl
  .envrc
  .gitignore
Due: none

build: retire Brewfile and the node toolchain in favour of the flake
  .markdownlint-cli2.yaml
  .prettierignore
  Brewfile
  CONTRIBUTING.md
  QUICKSTART.md
  Taskfile.dev.yaml
  Taskfile.yaml
  catalyst_repo.yaml
  dev/yamllint.yaml
  docs/07-reference/taskfile-organization.md
  flake.nix
  lefthook.yaml
  package.json
  yarn.lock
Due: gitleaks, yamllint, kube-validate, markdownlint, trailing-whitespace

docs: move the root markdown into docs/, resolving three known duplicates
  CLAUDE.md
  QUICKSTART.md
  README.md
  Taskfile.test.yaml
  beads-index.md
  docs/01-getting-started/README.md
  docs/01-getting-started/quickstart.md
  docs/02-architecture/README.md
  docs/02-architecture/dual-gitops.md
  docs/02-architecture/ingress-accessibility-audit-2026-09.md
  docs/02-architecture/repo-restructure-plan.md
  docs/02-architecture/security-ops.md
  docs/02-architecture/traefik.md
  docs/03-operations/node-shutdown-procedure.md
  docs/03-operations/testing.md
  docs/05-projects/README.md
  docs/06-project-management/README.md
  docs/08-monitoring/GRAFANA-DASHBOARDS.md
  docs/08-monitoring/README.md
  docs/08-monitoring/observability.md
  docs/INDEX.md
  docs/_archive/2026-03-14-dah-report.md
  docs/_archive/observability-v1-stack.md
  scripts/repo-dashboard.sh
Due: gitleaks, yamllint, kube-validate, shellcheck, shfmt, markdownlint, trailing-whitespace

fix(gitleaks): allowlist op:// refs in the two files meant to hold them
  .gitleaks.toml
Due: none

chore(tasks): move the domain Taskfiles into dev/, leaving only the orchestrator
  .env.tpl
  .envrc
  CLAUDE.md
  README.md
  Taskfile.yaml
  dev/Taskfile.certs.yaml
  dev/Taskfile.dev.yaml
  dev/Taskfile.infra.yaml
  dev/Taskfile.k8s.yaml
  dev/Taskfile.security.yaml
  dev/Taskfile.talos.yaml
  dev/Taskfile.test.yaml
  docs/02-architecture/security-ops.md
  docs/02-architecture/talos-config-management.md
  docs/05-runbooks/talhelper-cutover.md
  docs/07-reference/taskfile-organization.md
  docs/executive-summary.md
  flake.nix
Due: gitleaks, yamllint, kube-validate, markdownlint, trailing-whitespace

Path conditions:
  gitleaks: any of: *.{yaml,yml,sh,json,env,txt,md}
  yamllint: any of: *.{yaml,yml}
  kube-validate: any of: *.{yaml,yml}
  shellcheck: any of: *.sh
  shfmt: any of: *.sh
  markdownlint: any of: *.md
  trailing-whitespace: any of: *.{yaml,yml,sh,md,json}
  helm-lint: any of: **/Chart.yaml
