Repository TheBranchDriftCatalyst/talos-homelab: changes, and which lefthook commands are due for each by the changed paths.
All: gitleaks, yamllint, kube-validate, shellcheck, shfmt, markdownlint, trailing-whitespace, helm-lint

Path conditions:
  gitleaks: any of: *.{yaml,yml,sh,json,env,txt,md}
  yamllint: any of: *.{yaml,yml}
  kube-validate: any of: *.{yaml,yml}
  shellcheck: any of: *.sh
  shfmt: any of: *.sh
  markdownlint: any of: *.md
  trailing-whitespace: any of: *.{yaml,yml,sh,md,json}
  helm-lint: any of: **/Chart.yaml

chore(beads): close P0-2/P0-3 + record test-system consolidation
  .beads/issues.jsonl
Due: none

fix(ingress): prepare P0-1 (gluetun open proxy) + P0-4 (host-spoof) remediations (TALOS-a8vo)
  docs/02-architecture/p0-4-lan-entrypoint-design.md
  infrastructure/base/traefik/helmrelease.yaml
  infrastructure/base/vpn-gateway/README.md
  infrastructure/base/vpn-gateway/deployment.yaml
  infrastructure/base/vpn-gateway/ingressroute-tcp.yaml
  infrastructure/base/vpn-gateway/kustomization.yaml
  tests/ingress-accessibility/ingress_allowlists.py
Due: gitleaks, yamllint, kube-validate, markdownlint, trailing-whitespace

test(dr): migrate 8 Disaster-Recovery suites from Jest to pytest (TALOS-a8vo)
  TESTING.md
  Taskfile.test.yaml
  infrastructure/base/authentik/tests/authentik-dr.test.js
  infrastructure/base/authentik/tests/jest.config.js
  infrastructure/base/authentik/tests/test_authentik_dr.py
  infrastructure/base/backup/tests/jest.config.js
  infrastructure/base/backup/tests/test_velero_dr.py
  infrastructure/base/backup/tests/velero-dr.test.js
  infrastructure/base/cilium/tests/jest.config.js
  infrastructure/base/cilium/tests/lbipam-dr.test.js
  infrastructure/base/cilium/tests/test_lbipam_dr.py
  infrastructure/base/databases/tests/cnpg-dr.test.js
  infrastructure/base/databases/tests/jest.config.js
  infrastructure/base/databases/tests/test_cnpg_dr.py
  infrastructure/base/minio/tests/jest.config.js
  infrastructure/base/minio/tests/minio-dr.test.js
  infrastructure/base/minio/tests/test_minio_dr.py
  infrastructure/base/pihole/tests/jest.config.js
  infrastructure/base/pihole/tests/pihole-dr.test.js
  infrastructure/base/pihole/tests/test_pihole_dr.py
  infrastructure/base/storage/tests/jest.config.js
  infrastructure/base/storage/tests/nfs-lifecycle-dr.test.js
  infrastructure/base/storage/tests/test_nfs_lifecycle_dr.py
  jest.config.js
  package.json
  pytest.ini
  tests/conftest.py
  tests/etcd-dr/etcd-dr.test.js
  tests/etcd-dr/jest.config.js
  tests/etcd-dr/test_etcd_dr.py
  tests/lib/dr.py
Due: gitleaks, yamllint, kube-validate, markdownlint, trailing-whitespace

fix(honeypot): hard-pin cowrie to talos02-gpu — isolate the internet-exposed honeypot (TALOS-a8vo)
  infrastructure/base/honeypot/deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(honeypot): correct nodeSelector indentation — pin now actually renders (talos02-gpu)
  infrastructure/base/honeypot/deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(tests): Layer 4 — telemetry/observability suite, audits Grafana dashboards panel-by-panel (TALOS-a8vo)
  .github/workflows/security-posture.yaml
  TESTING.md
  Taskfile.test.yaml
  pytest.ini
  tests/conftest.py
  tests/telemetry/dashboards.py
  tests/telemetry/test_dashboards.py
Due: gitleaks, yamllint, kube-validate, markdownlint, trailing-whitespace

fix(tests): DR probe pods use quay.io/minio/mc (docker.io minio/mc is deleted)
  infrastructure/base/minio/tests/test_minio_dr.py
  tests/etcd-dr/test_etcd_dr.py
Due: none

chore(beads): session progress — telemetry layer, dr-pytest merge, quay regression fix, honeypot pin
  .beads/issues.jsonl
  infrastructure/base/crowdsec/bouncer-middleware.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(honeypot): capture malware samples, persist them, archive them off-node
  infrastructure/base/honeypot/backup-cronjob.yaml
  infrastructure/base/honeypot/cilium-network-policy.yaml
  infrastructure/base/honeypot/deployment.yaml
  infrastructure/base/honeypot/kustomization.yaml
  infrastructure/base/honeypot/pvc.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

test(migration): port final 6 Jest suites to pytest + remove Jest entirely
  CONTRIBUTING.md
  TESTING.md
  Taskfile.test.yaml
  applications/crossplane-demo/README.md
  applications/crossplane-demo/kustomization.yaml
  applications/crossplane-demo/tests/jest.config.js
  applications/crossplane-demo/tests/provisioning.test.js
  applications/crossplane-demo/tests/test_provisioning.py
  clusters/catalyst-cluster/crossplane-demo.yaml
  docs/05-runbooks/cowrie-public-exposure.md
  infrastructure/base/flux-notifications/tests/discord-webhook.test.js
  infrastructure/base/flux-notifications/tests/jest.config.js
  infrastructure/base/flux-notifications/tests/test_discord_webhook.py
  infrastructure/base/honeypot/tests/honeypot-security.test.js
  infrastructure/base/honeypot/tests/jest.config.js
  infrastructure/base/honeypot/tests/test_honeypot_security.py
  infrastructure/base/mail/tests/jest.config.js
  infrastructure/base/mail/tests/mail-relay.test.js
  infrastructure/base/mail/tests/test_mail_relay.py
  infrastructure/base/traefik/tests/jest.config.js
  infrastructure/base/traefik/tests/test_traefik_dr.py
  infrastructure/base/traefik/tests/traefik-dr.test.js
  infrastructure/base/vpn-gateway/tests/jest.config.js
  infrastructure/base/vpn-gateway/tests/test_vpn_dr.py
  infrastructure/base/vpn-gateway/tests/vpn-dr.test.js
  jest.config.js
  package.json
  pytest.ini
  scripts/jest-select.js
  tests/conftest.py
Due: gitleaks, yamllint, kube-validate, markdownlint, trailing-whitespace

docs(security): document sample capture + the 429 self-ban fix; update honeypot tests
  SECURITY_ops.md
  docs/05-runbooks/cowrie-public-exposure.md
  infrastructure/base/honeypot/tests/honeypot-security.test.js
Due: gitleaks, markdownlint, trailing-whitespace

feat(honeypot): offline egress-isolation guard + preserve peer sample-capture work (TALOS-a8vo)
  IMPLEMENTATION-TRACKER.md
Due: gitleaks, markdownlint, trailing-whitespace

feat(honeypot): offline egress-isolation guard + CI collects co-located tests (TALOS-a8vo)
  .github/workflows/security-posture.yaml
  infrastructure/base/honeypot/tests/test_honeypot_security.py
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(beads): jest removal + counter-intel 1-5 status + peer egress-capture preserved
  .beads/issues.jsonl
Due: none

fix(authentik): bump postgres max_connections 100->200 + memory (2026-09-12 conn-exhaustion incident)
  infrastructure/base/authentik/appdb.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(authentik): set postgres conn_max_age=60 (trim idle backends, 2026-09-12 incident)
  infrastructure/base/authentik/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(crowdsec): edge enforcement on the UDM via a filtered blocklist mirror (TALOS-spov)
  infrastructure/base/crowdsec/blocklist-mirror.yaml
  infrastructure/base/crowdsec/externalsecret.yaml
  infrastructure/base/crowdsec/helmrelease.yaml
  infrastructure/base/crowdsec/kustomization.yaml
  scripts/security/provision-udm-crowdsec-bouncer.sh
Due: gitleaks, yamllint, kube-validate, shellcheck, shfmt, trailing-whitespace

feat(crowdsec): AbuseIPDB reporter — report cowrie honeypot attackers daily (#3, TALOS-a8vo)
  infrastructure/base/crowdsec/abuseipdb-reporter/cronjob.yaml
  infrastructure/base/crowdsec/abuseipdb-reporter/externalsecret.yaml
  infrastructure/base/crowdsec/abuseipdb-reporter/kustomization.yaml
  infrastructure/base/crowdsec/abuseipdb-reporter/reporter.py
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(monitoring): UDM edge-bouncer metrics — dashboard row, Alloy scrape, LB IP fix
  infrastructure/base/crowdsec/blocklist-mirror.yaml
  infrastructure/base/monitoring/grafana-dashboards/json/crowdsec-ops.json
  infrastructure/base/monitoring/v2-otel/alloy/helmrelease.yaml
  scripts/security/provision-udm-crowdsec-bouncer.sh
Due: gitleaks, yamllint, kube-validate, shellcheck, shfmt, trailing-whitespace

feat(dashboards): honeypot-recon + AbuseIPDB telemetry panels + audit them (TALOS-a8vo)
  infrastructure/base/monitoring/grafana-dashboards/json/crowdsec-ops.json
Due: gitleaks, trailing-whitespace

chore(beads): +TALOS-11hl (IOC pipeline) +TALOS-gsa2 (crowdsec-ops empty panels)
  .beads/issues.jsonl
Due: none

feat(dashboards): cowrie-ops honeypot-detection/recon panels (re-apply, clobbered by concurrent session)
  infrastructure/base/monitoring/grafana-dashboards/json/cowrie-ops.json
Due: gitleaks, trailing-whitespace

chore(beads): #3 abuseipdb live + dashboards + authentik conn-exhaustion incident
  .beads/issues.jsonl
Due: none

feat(unifi): declarative UDM port-forwards via the unifi-port-forward operator (TALOS-8wum)
  clusters/catalyst-cluster/unifi-port-forward.yaml
  infrastructure/base/unifi-port-forward/crd.yaml
  infrastructure/base/unifi-port-forward/deployment.yaml
  infrastructure/base/unifi-port-forward/externalsecret.yaml
  infrastructure/base/unifi-port-forward/kustomization.yaml
  infrastructure/base/unifi-port-forward/namespace.yaml
  infrastructure/base/unifi-port-forward/portforward-rules.yaml
  infrastructure/base/unifi-port-forward/rbac.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(flux): register the unifi-port-forward Kustomization in the cluster aggregator (TALOS-8wum)
  clusters/catalyst-cluster/flux-system/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(unifi): drop hostNetwork (Kyverno-blocked) + add the missing ServiceAccount (TALOS-8wum)
  infrastructure/base/unifi-port-forward/deployment.yaml
  infrastructure/base/unifi-port-forward/kustomization.yaml
  infrastructure/base/unifi-port-forward/namespace.yaml
  infrastructure/base/unifi-port-forward/serviceaccount.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(unifi): grant the two RBAC reads the operator needs beyond upstream's ClusterRole (TALOS-8wum)
  clusters/catalyst-cluster/honeypot.yaml
  docs/05-runbooks/cowrie-public-exposure.md
  infrastructure/base/honeypot/deployment.yaml
  infrastructure/base/honeypot/fs-hardening/lscpu
  infrastructure/base/honeypot/fs-hardening/nproc
  infrastructure/base/honeypot/kustomization.yaml
  infrastructure/base/unifi-port-forward/kustomization.yaml
  infrastructure/base/unifi-port-forward/rbac-crd-read.yaml
Due: gitleaks, yamllint, kube-validate, markdownlint, trailing-whitespace

feat(unifi): adopt UDM forwards as CRDs — serviceRef for game servers, RDP removed (TALOS-8wum)
  infrastructure/base/unifi-port-forward/kustomization.yaml
  infrastructure/base/unifi-port-forward/portforward-rules.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(honeypot): escape $ in backup-cronjob for Flux envsubst — unblocks honeypot ks (TALOS-a8kx)
  infrastructure/base/honeypot/backup-cronjob.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

docs(authentik): record the GENERIC_SCOPE contract on the litellm blueprint
  infrastructure/base/authentik/litellm-blueprint.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(beads): honeypot upgrade epic (TALOS-2odn) + Phase 1 closed (TALOS-a8kx)
  .beads/issues.jsonl
Due: none

fix(lint): scope the yamllint hook to staged files; ignore agent worktrees
  .yamllint.yaml
  lefthook.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(unifi): hostPort forwards use protocol tcp not 'both' (operator bug) (TALOS-8wum)
  .beads/issues.jsonl
  infrastructure/base/honeypot/backup-cronjob.yaml
  infrastructure/base/unifi-port-forward/portforward-rules.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(honeypot): RE-escape $ in backup-cronjob — peer commit 6a06f69c reverted f88393d2, ks BuildFailed again (TALOS-a8kx)
  infrastructure/base/honeypot/backup-cronjob.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(honeypot-hi): Beelzebub LLM high-interaction SSH honeypot — internal-only (TALOS-ztch)
  clusters/catalyst-cluster/flux-system/kustomization.yaml
  clusters/catalyst-cluster/honeypot-hi.yaml
  infrastructure/base/honeypot-hi/cilium-network-policy.yaml
  infrastructure/base/honeypot-hi/configmap.yaml
  infrastructure/base/honeypot-hi/deployment.yaml
  infrastructure/base/honeypot-hi/externalsecret.yaml
  infrastructure/base/honeypot-hi/kustomization.yaml
  infrastructure/base/honeypot-hi/namespace.yaml
  infrastructure/base/honeypot-hi/service.yaml
  infrastructure/base/honeypot/backup-cronjob.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(beads): Phase 2a scaffold deployed, awaiting LLM key
  .beads/issues.jsonl
Due: none

fix(honeypot-hi): point Beelzebub at litellm:4000 + working model gpt-5.4-mini (TALOS-ztch)
  infrastructure/base/honeypot-hi/cilium-network-policy.yaml
  infrastructure/base/honeypot-hi/configmap.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(crowdsec): mirror metrics endpoint (crash) + LAN VIP for the UDM bouncer (TALOS-spov)
  infrastructure/base/cilium/lb-ipam.yaml
  infrastructure/base/crowdsec/blocklist-mirror.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(crowdsec): mirror config uses top-level listen_uri/log keys (TALOS-spov)
  infrastructure/base/crowdsec/blocklist-mirror.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(honeypot-hi): use gpt-5-nano (cheapest model) for Beelzebub — verified canary+recon (TALOS-ztch)
  infrastructure/base/honeypot-hi/configmap.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace
