Repository TheBranchDriftCatalyst/talos-homelab: changes, and which lefthook commands are due for each by the changed paths.
All: gitleaks, yamllint, kube-validate, shellcheck, shfmt, markdownlint, trailing-whitespace, helm-lint

gitleaks:
  tags: security
  run: gitleaks protect --verbose --redact --staged
  skip:
  - merge
  - rebase

yamllint:
  tags: linting yaml
  run: yamllint --strict .
  skip:
  - merge
  - rebase

kube-validate:
  tags: kubernetes yaml
  ...

shellcheck:
  tags: linting shell
  run: shellcheck -x {staged_files}
  skip:
  - merge
  - rebase

shfmt:
  tags: formatting shell
  run: shfmt -w -i 2 -ci -sr {staged_files}
  skip:
  - merge
  - rebase
  stage_fixed: true

markdownlint:
  tags: linting markdown
  run: npx markdownlint-cli2 {staged_files}
  skip:
  - merge
  - rebase

trailing-whitespace:
  tags: formatting
  run: "if grep -n '[[:space:]]$' {staged_files}; then\n  echo \"‚ùå Error: Trailing whitespace found\"\n  echo \"Run: sed -i '' 's/[[:space:]]*$//' <file>\"\n  exit 1\nfi\n"
  skip:
  - merge
  - rebase

helm-lint:
  tags: kubernetes helm
  run: "for chart_dir in infrastructure/base/*/; do\n  if [ -f \"$chart_dir/Chart.yaml\" ]; then\n    echo \"Linting Helm chart: $chart_dir\"\n    helm lint \"$chart_dir\" || exit 1\n  fi\ndone\n"
  skip:
  - merge
  - rebase

fix: Resolve Flux reconciliation errors
  clusters/homelab-single/cluster-settings.yaml
  infrastructure/base/namespaces/media.yaml
  infrastructure/base/traefik/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix: Fix Graylog provisioner script variable expansion
  infrastructure/base/observability/graylog/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix: Split external-secrets into operator and resources kustomizations
  clusters/homelab-single/external-secrets.yaml
  clusters/homelab-single/flux-system/kustomization.yaml
  infrastructure/base/external-secrets/operator/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix: Remove operator from external-secrets kustomization
  infrastructure/base/external-secrets/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix: Update ArgoCD HelmRelease to v2 API versions
  bootstrap/argocd/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix: Change NFS version from 4.1 to 3 for storage PVs
  infrastructure/base/storage/synology-storage.yaml
  infrastructure/base/storage/truenas-storage.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix: Comment out music storage (paths not available on NAS)
  infrastructure/base/storage/synology-storage.yaml
  infrastructure/base/storage/truenas-storage.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix: Add PostgreSQL to arr-stack and comment out music mounts in Jellyfin
  applications/arr-stack/base/jellyfin/deployment.yaml
  applications/arr-stack/base/kustomization.yaml
  applications/arr-stack/dashboard.sh
Due: gitleaks, yamllint, kube-validate, shellcheck, shfmt, trailing-whitespace

fix: Add privileged PSS to media namespace and remove music volumes from Plex
  applications/arr-stack/base/plex/deployment.yaml
  infrastructure/base/namespaces/media.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat: Add homepage and overseerr to arr-stack deployment
  applications/arr-stack/base/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix: Update namespace to 'media' and fix homepage hostname
  applications/arr-stack/base/homepage/ingressroute.yaml
  applications/arr-stack/scripts/sync-api-keys.sh
  scripts/extract-arr-api-keys.sh
Due: gitleaks, yamllint, kube-validate, shellcheck, shfmt, trailing-whitespace

fix: Replace all media-dev/media-prod references with media namespace
  applications/arr-stack/base/homepage/configmap-services.yaml
  applications/arr-stack/base/homepage/configs/services.yaml
  applications/arr-stack/base/homepage/serviceaccount.yaml
  tools/stack-dashboard/configs/arr-stack.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore: Update scripts and add overseerr/homepage to arr-stack
  infrastructure/dashboard.sh
  scripts/extract-arr-api-keys.sh
  scripts/setup-1password-connect.sh
Due: gitleaks, shellcheck, shfmt, trailing-whitespace

refactor: Simplify Homepage secrets to use arr-api-keys directly
  applications/arr-stack/base/homepage/configmap-services.yaml
  applications/arr-stack/base/homepage/deployment.yaml
  applications/arr-stack/base/homepage/kustomization.yaml
  applications/arr-stack/base/homepage/secret.yaml
  applications/arr-stack/scripts/sync-api-keys.sh
Due: gitleaks, yamllint, kube-validate, shellcheck, shfmt, trailing-whitespace

fix: Map arr-api-keys to HOMEPAGE_VAR_ prefix for Homepage env substitution
  applications/arr-stack/base/homepage/configmap-services.yaml
  applications/arr-stack/base/homepage/deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat: Add volume mounts and credentials to infrastructure dashboard
  bootstrap/argocd/namespace.yaml
  infrastructure/base/infra-testing/goldilocks/deployment.yaml
  infrastructure/base/infra-testing/goldilocks/vpa-install.yaml
  infrastructure/base/namespaces/media.yaml
  infrastructure/base/registry/deployment.yaml
  infrastructure/base/traefik/namespace.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix: Update VPA CRD schema and add catalyst-dns-sync tool
  infrastructure/base/infra-testing/goldilocks/vpa-crd.yaml
  tools/catalyst-dns-sync/Dockerfile
  tools/catalyst-dns-sync/cmd/controller/main.go
  tools/catalyst-dns-sync/go.mod
  tools/catalyst-dns-sync/go.sum
  tools/catalyst-dns-sync/internal/config/config.go
  tools/catalyst-dns-sync/internal/controller/ingress.go
  tools/catalyst-dns-sync/internal/dns/client.go
  tools/catalyst-dns-sync/internal/metrics/metrics.go
  tools/catalyst-dns-sync/k8s/base/deployment.yaml
  tools/catalyst-dns-sync/k8s/base/kustomization.yaml
  tools/catalyst-dns-sync/k8s/base/namespace.yaml
  tools/catalyst-dns-sync/k8s/base/rbac.yaml
  tools/catalyst-dns-sync/k8s/base/service.yaml
  tools/catalyst-dns-sync/k8s/base/servicemonitor.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat: Add VPA checkpoint CRD and RBAC for persistent recommendations
  infrastructure/base/infra-testing/goldilocks/vpa-crd.yaml
  infrastructure/base/infra-testing/goldilocks/vpa-install.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix: Add VPA status subresource RBAC permissions for recommender
  infrastructure/base/infra-testing/goldilocks/vpa-install.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

Path conditions:
  gitleaks: any of: *.{yaml,yml,sh,json,env,txt,md}
  yamllint: any of: *.{yaml,yml}
  kube-validate: any of: *.{yaml,yml}
  shellcheck: any of: *.sh
  shfmt: any of: *.sh
  markdownlint: any of: *.md
  trailing-whitespace: any of: *.{yaml,yml,sh,md,json}
  helm-lint: any of: **/Chart.yaml
