Repository TheBranchDriftCatalyst/talos-homelab: changes, and which lefthook commands are due for each by the changed paths.
All: gitleaks, yamllint, kube-validate, shellcheck, shfmt, markdownlint, trailing-whitespace, helm-lint

Path conditions:
  gitleaks: any of: *.{yaml,yml,sh,json,env,txt,md}
  yamllint: any of: *.{yaml,yml}
  kube-validate: any of: *.{yaml,yml}
  shellcheck: any of: *.sh
  shfmt: any of: *.sh
  markdownlint: any of: *.md
  trailing-whitespace: any of: *.{yaml,yml,sh,md,json}
  helm-lint: any of: **/Chart.yaml

feat(flux): add bootstrap-crds Kustomization for fresh-cluster bootstrap
  clusters/catalyst-cluster/argocd.yaml
  clusters/catalyst-cluster/bootstrap-crds.yaml
  clusters/catalyst-cluster/cert-manager.yaml
  clusters/catalyst-cluster/databases.yaml
  clusters/catalyst-cluster/intel-gpu.yaml
  clusters/catalyst-cluster/monitoring-v2-operators.yaml
  clusters/catalyst-cluster/monitoring.yaml
  clusters/catalyst-cluster/traefik.yaml
  infrastructure/base/bootstrap-crds/crds/argocd-application-crd.yaml
  infrastructure/base/bootstrap-crds/crds/argocd-applicationset-crd.yaml
  infrastructure/base/bootstrap-crds/crds/argocd-appproject-crd.yaml
  infrastructure/base/bootstrap-crds/crds/grafana-operator-crds.yaml
  infrastructure/base/bootstrap-crds/crds/intel-dlbdeviceplugins.yaml
  infrastructure/base/bootstrap-crds/crds/intel-dsadeviceplugins.yaml
  infrastructure/base/bootstrap-crds/crds/intel-fpgadeviceplugins.yaml
  infrastructure/base/bootstrap-crds/crds/intel-gpudeviceplugins.yaml
  infrastructure/base/bootstrap-crds/crds/intel-iaadeviceplugins.yaml
  infrastructure/base/bootstrap-crds/crds/intel-qatdeviceplugins.yaml
  infrastructure/base/bootstrap-crds/crds/intel-sgxdeviceplugins.yaml
  infrastructure/base/bootstrap-crds/crds/nfd-api-crds.yaml
  infrastructure/base/bootstrap-crds/crds/prometheus-operator-crds.yaml
  infrastructure/base/bootstrap-crds/crds/traefik-crds.yaml
  infrastructure/base/bootstrap-crds/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(flux): wire bootstrap-crds + kubevirt into root kustomization
  applications/home-automation/base/homeassistant/postgres.yaml
  applications/scratch/dbgate/deployment.yaml
  applications/scratch/frigate/deployment.yaml
  applications/scratch/scrypted/deployment.yaml
  applications/zipline/deployment.yaml
  clusters/catalyst-cluster/flux-system/kustomization.yaml
  clusters/catalyst-cluster/kubevirt.yaml
  infrastructure/base/authentik/helmrelease.yaml
  infrastructure/base/backup/etcd-backup.yaml
  infrastructure/base/backup/kustomization.yaml
  infrastructure/base/backup/prometheusrule.yaml
  infrastructure/base/backup/velero.yaml
  infrastructure/base/registry/deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(kubevirt): split operator install from monitoring resources
  .beads/issues.jsonl
  infrastructure/base/kubevirt/monitoring/kustomization.yaml
  infrastructure/base/kubevirt/monitoring/prometheusrule.yaml
  infrastructure/base/kubevirt/monitoring/servicemonitor.yaml
  infrastructure/base/monitoring/v2-otel/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(kubevirt): remove monitoring resources from operator kustomization
  infrastructure/base/kubevirt/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(namespaces): add external-dns + tdarr for arr-stack-private
  infrastructure/base/namespaces/external-dns.yaml
  infrastructure/base/namespaces/kustomization.yaml
  infrastructure/base/namespaces/tdarr.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore: remove dead applications/scratch/catalyst-llm-archived/
  applications/scratch/catalyst-llm-archived/Tiltfile
  applications/scratch/catalyst-llm-archived/_tests/cold-start-timing.sh
  applications/scratch/catalyst-llm-archived/apps/lobe-chat.yaml
  applications/scratch/catalyst-llm-archived/apps/open-webui.yaml
  applications/scratch/catalyst-llm-archived/apps/searxng.yaml
  applications/scratch/catalyst-llm-archived/apps/sillytavern.yaml
  applications/scratch/catalyst-llm-archived/cold-start-timing.sh
  applications/scratch/catalyst-llm-archived/configmap.yaml
  applications/scratch/catalyst-llm-archived/dashboard.sh
  applications/scratch/catalyst-llm-archived/ingressroute.yaml
  applications/scratch/catalyst-llm-archived/kustomization.yaml
  applications/scratch/catalyst-llm-archived/litellm/configmap.yaml
  applications/scratch/catalyst-llm-archived/litellm/deployment.yaml
  applications/scratch/catalyst-llm-archived/litellm/external-secret.yaml
  applications/scratch/catalyst-llm-archived/litellm/ingressroute.yaml
  applications/scratch/catalyst-llm-archived/litellm/kustomization.yaml
  applications/scratch/catalyst-llm-archived/litellm/pgvector-service.yaml
  applications/scratch/catalyst-llm-archived/litellm/postgresql.yaml
  applications/scratch/catalyst-llm-archived/litellm/service.yaml
  applications/scratch/catalyst-llm-archived/namespace.yaml
  applications/scratch/catalyst-llm-archived/ollama-models-configmap.yaml
  applications/scratch/catalyst-llm-archived/ollama-talos06.yaml
  applications/scratch/catalyst-llm-archived/openclaw/configmap.yaml
  applications/scratch/catalyst-llm-archived/openclaw/deployment.yaml
  applications/scratch/catalyst-llm-archived/openclaw/external-secret.yaml
  applications/scratch/catalyst-llm-archived/openclaw/ingressroute.yaml
  applications/scratch/catalyst-llm-archived/openclaw/kustomization.yaml
  applications/scratch/catalyst-llm-archived/openclaw/pvc.yaml
  applications/scratch/catalyst-llm-archived/openclaw/scripts/mount-oc-data.sh
  applications/scratch/catalyst-llm-archived/openclaw/service.yaml
  applications/scratch/catalyst-llm-archived/pvc.yaml
  applications/scratch/catalyst-llm-archived/service.yaml
Due: gitleaks, yamllint, kube-validate, shellcheck, shfmt, trailing-whitespace

feat(external-secrets): auto-distribute ghcr-secret to all non-system namespaces
  .beads/issues.jsonl
  infrastructure/base/external-secrets/ghcr-pull-secret/cluster-external-secret.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(kube-system): Flux-managed CoreDNS Corefile override (forward 192.168.1.1)
  .beads/issues.jsonl
  infrastructure/base/kube-system/coredns/coredns-configmap.yaml
  infrastructure/base/kube-system/coredns/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

docs: cluster-bootstrap runbook + task setup-1password target
  .beads/issues.jsonl
  Taskfile.infra.yaml
  Taskfile.yaml
  docs/05-runbooks/cluster-bootstrap.md
  infrastructure/base/external-secrets/README.md
Due: gitleaks, yamllint, kube-validate, markdownlint, trailing-whitespace

docs(runbook): use task talos:patches for kubelet patch step
  docs/05-runbooks/cluster-bootstrap.md
Due: gitleaks, markdownlint, trailing-whitespace

feat(talos): bootstrap-talos-patches.sh — automate kubelet extraMounts on bootstrap
  Taskfile.talos.yaml
  docs/04-deployment/flux-setup.md
  docs/05-runbooks/talos-kubelet-iscsi-patch.yaml
  scripts/bootstrap-talos-patches.sh
Due: gitleaks, yamllint, kube-validate, shellcheck, shfmt, markdownlint, trailing-whitespace

feat(bootstrap-crds): add DNSEndpoint CRD for external-dns
  infrastructure/base/bootstrap-crds/crds/external-dns-dnsendpoint-crd.yaml
  infrastructure/base/bootstrap-crds/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(external-dns): enable Cloudflare external-dns for knowledgedump.space
  clusters/catalyst-cluster/external-dns.yaml
  clusters/catalyst-cluster/flux-system/kustomization.yaml
  infrastructure/base/external-dns/deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(namespaces): bump external-dns to privileged PSA
  .beads/issues.jsonl
Due: none

fix(namespaces): persist privileged PSA label on external-dns ns
  infrastructure/base/namespaces/external-dns.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(external-dns): stop owning external-dns namespace from this Kust
  .beads/issues.jsonl
  infrastructure/base/external-dns/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(gaming): replace virtio-drivers DataVolume with plain PVC (TALOS-q1a / UPS-2026-05-09)
  applications/gaming/base/kubevirt/virtio-drivers-dv.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(cert-manager): add deSEC DNS-01 issuance for kelsboi.dedyn.io
  infrastructure/base/cert-manager-issuers/desec-secret.yaml
  infrastructure/base/cert-manager-issuers/desec-webhook.yaml
  infrastructure/base/cert-manager-issuers/kelsboi-wildcard-certificate.yaml
  infrastructure/base/cert-manager-issuers/kustomization.yaml
  infrastructure/base/cert-manager-issuers/letsencrypt-issuer.yaml
  infrastructure/base/traefik/tlsstore.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(authentik): full IaC blueprint for litellm OIDC SSO chain
  .beads/issues.jsonl
  infrastructure/base/authentik/litellm-blueprint.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(authentik): full IaC blueprint for litellm OIDC SSO chain
  infrastructure/base/authentik/externalsecret.yaml
  infrastructure/base/authentik/helmrelease.yaml
  infrastructure/base/authentik/litellm-blueprint.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore: gitignore runtime artifacts and fix playwright-mcp pattern
  .beads/issues.jsonl
  .gitignore
Due: none

feat(backup): harden velero for control-plane PVCs and add UPS-2026-05-09 recovery path
  docs/05-runbooks/velero-restore.md
  infrastructure/base/backup/authentik-postgres-backup.yaml
  infrastructure/base/backup/kustomization.yaml
  infrastructure/base/backup/loki-backup-exclude.yaml
  infrastructure/base/backup/velero.yaml
Due: gitleaks, yamllint, kube-validate, markdownlint, trailing-whitespace

feat(talos): cluster shutdown and version upgrade automation
  Taskfile.talos.yaml
  scripts/shutdown-cluster.sh
  scripts/upgrade-talos-version.sh
  scripts/upgrade-talos.py
Due: gitleaks, yamllint, kube-validate, shellcheck, shfmt, trailing-whitespace

fix(argocd): point catalyst-llm at k8s/talos00 overlay
  infrastructure/base/argocd/applications/catalyst-llm.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(applications): add MeTube and TubeSync download services
  applications/metube/deployment.yaml
  applications/metube/ingressroute.yaml
  applications/metube/kustomization.yaml
  applications/metube/namespace.yaml
  applications/metube/pvc.yaml
  applications/metube/service.yaml
  applications/tubesync/deployment.yaml
  applications/tubesync/ingressroute.yaml
  applications/tubesync/kustomization.yaml
  applications/tubesync/pvc.yaml
  applications/tubesync/service.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

docs: add SKILLZ.md skills catalog
  .beads/last-touched
  SKILLZ.md
Due: gitleaks, markdownlint, trailing-whitespace

docs: add AGENTS.md primer and DAH_REPORT system analysis
  AGENTS.md
  DAH_REPORT.md
Due: gitleaks, markdownlint, trailing-whitespace

fix(cluster): harden against admission-webhook meltdown + bump cilium BPF maps
  .beads/issues.jsonl
  .beads/last-touched
  configs/cilium-manifest.yaml
  configs/cilium-values.yaml
  docs/05-runbooks/cluster-bootstrap.md
  docs/06-troubleshooting/2026-05-21-cilium-cascading-meltdown.md
  infrastructure/base/monitoring/v2-otel/operators/otel-operator/helmrelease.yaml
  scripts/shutdown-cluster.sh
  scripts/upgrade-talos.py
Due: gitleaks, yamllint, kube-validate, shellcheck, shfmt, markdownlint, trailing-whitespace

fix(backups+qbittorrent): expand velero coverage + add qbittorrent startupProbe
  .beads/issues.jsonl
  .beads/last-touched
  applications/arr-stack/base/qbittorrent/deployment.yaml
  infrastructure/base/argocd/applications/catalyst-llm.yaml
  infrastructure/base/backup/velero.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(ops): add safe-restart-cilium.sh for staged DaemonSet restarts
  scripts/safe-restart-cilium.sh
Due: gitleaks, shellcheck, shfmt, trailing-whitespace

docs(adr): ADR-001 power resilience strategy (UPS-2026-05-09 retro)
  .beads/issues.jsonl
  docs/02-architecture/ADR-001-power-resilience.md
Due: gitleaks, markdownlint, trailing-whitespace

feat(monitoring): add cluster-baseline-alerts PrometheusRule
  .beads/issues.jsonl
  infrastructure/base/monitoring/v2-otel/baseline-alerts/kustomization.yaml
  infrastructure/base/monitoring/v2-otel/baseline-alerts/prometheusrule.yaml
  infrastructure/base/monitoring/v2-otel/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(backup): Velero PrometheusRule for silent-success detection
  .beads/issues.jsonl
  infrastructure/base/backup/kustomization.yaml
  infrastructure/base/backup/velero-prometheusrule.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(stability): bump cilium liveness tolerance + throttle Flux reconciliation
  .beads/issues.jsonl
  .beads/last-touched
  clusters/catalyst-cluster/flux-system/flux-system/kustomization.yaml
  configs/cilium-manifest.yaml
  configs/cilium-values.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(diagnostics): add capture-meltdown-evidence.sh
  .beads/issues.jsonl
  scripts/capture-meltdown-evidence.sh
Due: gitleaks, shellcheck, shfmt, trailing-whitespace

fix(diagnostics): work around shfmt mangling talos02-gpu key in array
  scripts/capture-meltdown-evidence.sh
Due: gitleaks, shellcheck, shfmt, trailing-whitespace

fix(cilium): post-2026-05-29 hardening (memory, hubble, liveness, clustermesh)
  configs/cilium-values.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

test(backup): stagger etcd snapshot to :17 to isolate meltdown trigger
  infrastructure/base/backup/etcd-backup.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace
