Repository TheBranchDriftCatalyst/talos-homelab: changes, and which lefthook commands are due for each by the changed paths.
All: gitleaks, yamllint, kube-validate, shellcheck, shfmt, markdownlint, trailing-whitespace, helm-lint

Path conditions:
  gitleaks: any of: *.{yaml,yml,sh,json,env,txt,md}
  yamllint: any of: *.{yaml,yml}
  kube-validate: any of: *.{yaml,yml}
  shellcheck: any of: *.sh
  shfmt: any of: *.sh
  markdownlint: any of: *.md
  trailing-whitespace: any of: *.{yaml,yml,sh,md,json}
  helm-lint: any of: **/Chart.yaml

feat(monitoring): Central Cluster Storage dashboard + NFS backend exporter
  infrastructure/base/monitoring/grafana-dashboards/json/central-cluster-storage.json
  infrastructure/base/monitoring/grafana-dashboards/kustomization.yaml
  infrastructure/base/monitoring/grafana-dashboards/resources/central-cluster-storage.yaml
  infrastructure/base/monitoring/nfs-storage-exporter/deployment.yaml
  infrastructure/base/monitoring/nfs-storage-exporter/kustomization.yaml
  infrastructure/base/monitoring/nfs-storage-exporter/podmonitor.yaml
  infrastructure/base/monitoring/nfs-storage-exporter/probe.sh
  infrastructure/base/monitoring/nfs-storage-exporter/pvc.yaml
  infrastructure/base/monitoring/v2-otel/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, shellcheck, shfmt, trailing-whitespace

gitblobstore: checkandput manifest
  manifest
  o2qchna6apnm28mukdo1ijefk39s35et.darc
Due: none

gitblobstore: checkandput manifest
  j9tl8urantrabmk2p4g9s3ng7q6fv2jf
  manifest
Due: none

gitblobstore: checkandput manifest
  manifest
  uiime5oksuuv22j79l5hklrildehuekt.darc
Due: none

gitblobstore: checkandput manifest
  b6citujcmqejtrnk7gv029kbkjhm3qik
  manifest
Due: none

feat(authentik): talos-private forward-auth IaC (provider+app+group gate, amber domain) [TALOS-h4j]
  infrastructure/base/authentik/helmrelease.yaml
  infrastructure/base/authentik/ingressroute.yaml
  infrastructure/base/authentik/talos-private-blueprint.yaml
  infrastructure/base/cert-manager-issuers/amber-wildcard-certificate.yaml
  infrastructure/base/cert-manager-issuers/kustomization.yaml
  infrastructure/base/traefik/tlsstore.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

gitblobstore: checkandput manifest
  b705b7990fvn3m80373ked99ni85d2g1.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  k2v7n22ehv5ak663p0ifjd2qbp045frm
  manifest
Due: none

feat(monitoring): CNPG auto-scrape + custom CloudNativePG dashboard
  applications/scratch/example-postgres/cluster.yaml
  infrastructure/base/monitoring/cnpg-monitoring/kustomization.yaml
  infrastructure/base/monitoring/cnpg-monitoring/podmonitor.yaml
  infrastructure/base/monitoring/grafana-dashboards/external/infrastructure-dashboards.yaml
  infrastructure/base/monitoring/grafana-dashboards/json/cnpg-databases.json
  infrastructure/base/monitoring/grafana-dashboards/kustomization.yaml
  infrastructure/base/monitoring/grafana-dashboards/resources/cnpg-databases.yaml
  infrastructure/base/monitoring/v2-otel/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(cnpg-monitoring): namespaceSelector any:true for cross-namespace scrape
  infrastructure/base/monitoring/cnpg-monitoring/podmonitor.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(monitoring): catalyst-k8s-dashboard (full system ops) + prune generic k8s dashboards
  infrastructure/base/monitoring/grafana-dashboards/external/kubernetes-dashboards.yaml
  infrastructure/base/monitoring/grafana-dashboards/external/loki-dashboards.yaml
  infrastructure/base/monitoring/grafana-dashboards/json/catalyst-k8s-dashboard.json
  infrastructure/base/monitoring/grafana-dashboards/kustomization.yaml
  infrastructure/base/monitoring/grafana-dashboards/resources/catalyst-k8s-dashboard.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

gitblobstore: checkandput manifest
  gkifj3mqk1e1mcjs0m9brkcjv144bphc.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  1q593m50bhp90invs6e3o7hiu94nuosi
  manifest
Due: none

gitblobstore: checkandput manifest
  9ripc8bu45pm8a9svhrl6sbjq8nadh42.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  4lvn690otv5vqaem661t9rmcqag80l83
  manifest
Due: none

chore(amber): deactivate amber external exposure — auth route, cert, tlsstore [TALOS-5j9]
  infrastructure/base/authentik/ingressroute.yaml
  infrastructure/base/cert-manager-issuers/kustomization.yaml
  infrastructure/base/traefik/tlsstore.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

gitblobstore: checkandput manifest
  kpo2e046pr1iv9sl6t83thmkfutn6a20.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  k3nabo7esfi6audahd076r5a4p4jiqqu
  manifest
Due: none

gitblobstore: checkandput manifest
  5o249edh8nchkutb24ukjloqvla3j97d.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  manifest
  sj1dmo2rd8lhkj7lor1gqp9asf44jk87
Due: none

feat(dashboards): 4 custom ops dashboards + folder tree reorg
  infrastructure/base/monitoring/grafana-dashboards/external/cilium-dashboards.yaml
  infrastructure/base/monitoring/grafana-dashboards/external/external-dns-dashboard.yaml
  infrastructure/base/monitoring/grafana-dashboards/external/kubernetes-dashboards.yaml
  infrastructure/base/monitoring/grafana-dashboards/external/kubevirt-dashboards.yaml
  infrastructure/base/monitoring/grafana-dashboards/external/traefik-dashboards.yaml
  infrastructure/base/monitoring/grafana-dashboards/json/kubevirt-vm-ops.json
  infrastructure/base/monitoring/grafana-dashboards/json/monitoring-ops.json
  infrastructure/base/monitoring/grafana-dashboards/json/network-ops.json
  infrastructure/base/monitoring/grafana-dashboards/json/traefik-ops.json
  infrastructure/base/monitoring/grafana-dashboards/kustomization.yaml
  infrastructure/base/monitoring/grafana-dashboards/resources/catalyst-k8s-dashboard.yaml
  infrastructure/base/monitoring/grafana-dashboards/resources/central-cluster-storage.yaml
  infrastructure/base/monitoring/grafana-dashboards/resources/cilium-bpf-pressure.yaml
  infrastructure/base/monitoring/grafana-dashboards/resources/cnpg-databases.yaml
  infrastructure/base/monitoring/grafana-dashboards/resources/etcd-snapshot-correlation.yaml
  infrastructure/base/monitoring/grafana-dashboards/resources/kubevirt-vm-info.yaml
  infrastructure/base/monitoring/grafana-dashboards/resources/kubevirt-vm-ops.yaml
  infrastructure/base/monitoring/grafana-dashboards/resources/monitoring-ops.yaml
  infrastructure/base/monitoring/grafana-dashboards/resources/network-ops.yaml
  infrastructure/base/monitoring/grafana-dashboards/resources/pihole.yaml
  infrastructure/base/monitoring/grafana-dashboards/resources/pod-cleanup.yaml
  infrastructure/base/monitoring/grafana-dashboards/resources/resource-efficiency.yaml
  infrastructure/base/monitoring/grafana-dashboards/resources/spire-health.yaml
  infrastructure/base/monitoring/grafana-dashboards/resources/talos-cluster-debug.yaml
  infrastructure/base/monitoring/grafana-dashboards/resources/talos00-memory-deepdive.yaml
  infrastructure/base/monitoring/grafana-dashboards/resources/tdarr-transcoding.yaml
  infrastructure/base/monitoring/grafana-dashboards/resources/traefik-ops.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(alerts): dedup cilium identity count expression (was false-firing)
  infrastructure/base/monitoring/v2-otel/baseline-alerts/cilium-identity-alerts.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

gitblobstore: checkandput manifest
  1gkl22u1be4fvuul2fnaj8i6nc9jhd1v.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  manifest
  o4j2qcrp1qr6tjo5q0r9gndout6ebfis
Due: none

feat(operators): self-service operator catalog — RabbitMQ/KEDA/Dragonfly/Crossplane/ClickHouse/OpenSearch/Argo [TALOS-ja5]
  clusters/catalyst-cluster/flux-system/kustomization.yaml
  clusters/catalyst-cluster/operators.yaml
  infrastructure/base/namespaces/crossplane-demo.yaml
  infrastructure/base/namespaces/kustomization.yaml
  infrastructure/base/operators/argo-workflows/helmrelease.yaml
  infrastructure/base/operators/argo-workflows/kustomization.yaml
  infrastructure/base/operators/argo-workflows/namespace.yaml
  infrastructure/base/operators/clickhouse-operator/helmrelease.yaml
  infrastructure/base/operators/clickhouse-operator/kustomization.yaml
  infrastructure/base/operators/clickhouse-operator/namespace.yaml
  infrastructure/base/operators/crossplane/helmrelease.yaml
  infrastructure/base/operators/crossplane/kustomization.yaml
  infrastructure/base/operators/crossplane/namespace.yaml
  infrastructure/base/operators/crossplane/provider-rbac.yaml
  infrastructure/base/operators/crossplane/provider.yaml
  infrastructure/base/operators/dragonfly-operator/helmrelease.yaml
  infrastructure/base/operators/dragonfly-operator/kustomization.yaml
  infrastructure/base/operators/dragonfly-operator/namespace.yaml
  infrastructure/base/operators/keda/helmrelease.yaml
  infrastructure/base/operators/keda/kustomization.yaml
  infrastructure/base/operators/keda/namespace.yaml
  infrastructure/base/operators/kustomization.yaml
  infrastructure/base/operators/opensearch-operator/helmrelease.yaml
  infrastructure/base/operators/opensearch-operator/kustomization.yaml
  infrastructure/base/operators/opensearch-operator/namespace.yaml
  infrastructure/base/operators/rabbitmq-operator/helmrelease.yaml
  infrastructure/base/operators/rabbitmq-operator/kustomization.yaml
  infrastructure/base/operators/rabbitmq-operator/namespace.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

gitblobstore: checkandput manifest
  manifest
  rn1hhcn4og6t4ctdhjkjqf9jd7roklnl.darc
Due: none

gitblobstore: checkandput manifest
  9ptnif3ebinc4aprfi7v2fc41ao1reot
  manifest
Due: none

fix(dashboards): network-ops duplicate refIds (Grafana 12 rejects them)
  infrastructure/base/monitoring/grafana-dashboards/json/network-ops.json
Due: gitleaks, trailing-whitespace

fix(alloy): stop double-scraping kube-state-metrics (TALOS-57t)
  infrastructure/base/monitoring/v2-otel/alloy/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

gitblobstore: checkandput manifest
  manifest
  mbtghjee2tpjfv9d7js32g5s536rlkm1.darc
Due: none

gitblobstore: checkandput manifest
  259hn7qkfce5l5tdlck7lo6jgpomupco
  manifest
Due: none

fix(rabbitmq): switch off Bitnami (paywalled images) to official upstream operators [TALOS-ja5]
  infrastructure/base/operators/rabbitmq-operator/cluster-operator.yaml
  infrastructure/base/operators/rabbitmq-operator/helmrelease.yaml
  infrastructure/base/operators/rabbitmq-operator/kustomization.yaml
  infrastructure/base/operators/rabbitmq-operator/messaging-topology-operator.yaml
  infrastructure/base/operators/rabbitmq-operator/namespace.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(crossplane-demo): activate the demo Kustomization (operators live, flex image pushed) [TALOS-ja5]
  clusters/catalyst-cluster/flux-system/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(crossplane-demo): split the Object into its own Kustomization + add Plausible [TALOS-ja5, TALOS-4gg]
  applications/crossplane-demo/kustomization.yaml
  applications/crossplane-demo/object/crossplane.yaml
  applications/crossplane-demo/object/kustomization.yaml
  applications/crossplane-demo/plausible/clickhouse.yaml
  applications/crossplane-demo/plausible/deployment.yaml
  applications/crossplane-demo/plausible/externalsecret.yaml
  applications/crossplane-demo/plausible/ingressroute.yaml
  applications/crossplane-demo/plausible/kustomization.yaml
  applications/crossplane-demo/plausible/postgres.yaml
  clusters/catalyst-cluster/crossplane-demo-object.yaml
  clusters/catalyst-cluster/flux-system/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(crossplane-demo): split the Object into its own Kustomization + add Plausible [TALOS-ja5, TALOS-4gg]
  applications/crossplane-demo/plausible/deployment.yaml
  applications/crossplane-demo/plausible/postgres.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(crossplane-demo): OpenSearchCluster apiVersion opensearch.opster.io → opensearch.org [TALOS-ja5]
  applications/crossplane-demo/opensearch.yaml
  applications/crossplane-demo/tests/provisioning.test.js
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(crossplane-demo): registry pull secret + talos00-registry image path + Dragonfly sizing [TALOS-ja5]
  applications/crossplane-demo/dragonfly.yaml
  applications/crossplane-demo/flex/deployment.yaml
  applications/crossplane-demo/kustomization.yaml
  applications/crossplane-demo/registry-pull-secret.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(registry): deploy Zot as Nexus replacement + Authentik OIDC (TALOS-6vf)
  clusters/catalyst-cluster/zot.yaml
  infrastructure/base/authentik/externalsecret.yaml
  infrastructure/base/authentik/helmrelease.yaml
  infrastructure/base/authentik/kustomization.yaml
  infrastructure/base/authentik/zot-blueprint.yaml
  infrastructure/base/registry/zot/deployment.yaml
  infrastructure/base/registry/zot/externalsecret.yaml
  infrastructure/base/registry/zot/ingressroute.yaml
  infrastructure/base/registry/zot/kustomization.yaml
  infrastructure/base/registry/zot/pvc.yaml
  infrastructure/base/registry/zot/service.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace
