Repository TheBranchDriftCatalyst/talos-homelab: changes, and which lefthook commands are due for each by the changed paths.
All: gitleaks, yamllint, kube-validate, shellcheck, shfmt, markdownlint, trailing-whitespace, helm-lint

Path conditions:
  gitleaks: any of: *.{yaml,yml,sh,json,env,txt,md}
  yamllint: any of: *.{yaml,yml}
  kube-validate: any of: *.{yaml,yml}
  shellcheck: any of: *.sh
  shfmt: any of: *.sh
  markdownlint: any of: *.md
  trailing-whitespace: any of: *.{yaml,yml,sh,md,json}
  helm-lint: any of: **/Chart.yaml

fix(media-experimental): restore was landing every file as root [TALOS-uml1]
  applications/media-experimental/base/backup/cronjob-restore-verify.yaml
  applications/media-experimental/base/backup/cronjob-restore.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

docs(media-experimental): measured sizes, nodeAffinity audit, job TTL [TALOS-uml1]
  applications/media-experimental/base/backup/README.md
  applications/media-experimental/base/backup/cronjob-backup.yaml
  applications/media-experimental/base/backup/cronjob-restore-verify.yaml
  applications/media-experimental/base/backup/cronjob-restore.yaml
Due: gitleaks, yamllint, kube-validate, markdownlint, trailing-whitespace

fix(bookorbit): move operand to standard-trixie, system flavour is deprecated [TALOS-3hl8]
  applications/media-experimental/base/bookorbit/database.yaml
  applications/media-experimental/base/bookorbit/deployment.yaml
  applications/media-experimental/base/bookorbit/postgres.yaml
  infrastructure/base/kube-system/wedge-buster/cronjob-spire-agent.yaml
  infrastructure/base/monitoring/grafana-dashboards/json/spire-health.json
  infrastructure/base/monitoring/grafana-dashboards/resources/spire-health.yaml
  infrastructure/base/monitoring/v2-otel/baseline-alerts/spire-alerts.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

revert: restore four SPIRE files swept into an unrelated commit
  infrastructure/base/kube-system/wedge-buster/cronjob-spire-agent.yaml
  infrastructure/base/monitoring/grafana-dashboards/json/spire-health.json
  infrastructure/base/monitoring/grafana-dashboards/resources/spire-health.yaml
  infrastructure/base/monitoring/v2-otel/baseline-alerts/spire-alerts.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(cilium): remove artifacts left dead by the SPIRE removal [TALOS-1d4o]
  docs/02-architecture/cilium-spire-disposition.md
  infrastructure/base/backup/velero.yaml
  infrastructure/base/kube-system/wedge-buster/kustomization.yaml
  infrastructure/base/monitoring/grafana-dashboards/kustomization.yaml
  infrastructure/base/monitoring/v2-otel/baseline-alerts/kustomization.yaml
  infrastructure/base/monitoring/v2-otel/operators/otel-operator/helmrelease.yaml
  recovery/pv-recovery-2026-05-09.yaml
Due: gitleaks, yamllint, kube-validate, markdownlint, trailing-whitespace

chore(cilium): delete the five dead SPIRE files [TALOS-1d4o]
  infrastructure/base/kube-system/wedge-buster/cronjob-spire-agent.yaml
  infrastructure/base/monitoring/grafana-dashboards/json/spire-health.json
  infrastructure/base/monitoring/grafana-dashboards/resources/spire-health.yaml
  infrastructure/base/monitoring/v2-otel/baseline-alerts/spire-alerts.yaml
  scripts/test-suspect-spire-health.sh
Due: gitleaks, yamllint, kube-validate, shellcheck, shfmt, trailing-whitespace

docs(bookorbit): name the trusted flag as the reason vector needs superuser
  applications/media-experimental/base/bookorbit/database.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(media-experimental): restore now states ownership instead of implying it [TALOS-uml1]
  applications/media-experimental/base/backup/scripts-configmap.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

docs(media-experimental): record the restore proof, verbatim [TALOS-uml1]
  applications/media-experimental/base/backup/README.md
Due: gitleaks, markdownlint, trailing-whitespace

fix(arr-postgres): move to local NVMe — 3 replicas were all fsyncing to one NAS
  applications/arr-stack/base/postgres/cluster.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

docs(runbook): set nodeMaintenanceWindow before resetting a node with CNPG replicas
  docs/05-runbooks/promote-workers-to-controlplane.md
Due: gitleaks, markdownlint, trailing-whitespace

chore(cert-manager): normalise list indentation, note the email should come from ESO
  infrastructure/base/cert-manager-issuers/letsencrypt-issuer.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

docs(cilium): explain what mutual auth actually was [TALOS-1d4o]
  docs/02-architecture/cilium-spire-disposition.md
Due: gitleaks, markdownlint, trailing-whitespace

fix(runbook): talosctl reset defaults to wiping the boot disk, not just EPHEMERAL
  docs/05-runbooks/promote-workers-to-controlplane.md
Due: gitleaks, markdownlint, trailing-whitespace

fix(mimir): rollout-operator webhook failurePolicy Fail deadlocks node drains
  infrastructure/base/monitoring/v2-otel/mimir/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(talos): un-taint the two promoted control planes; machine.nodeTaints ignores allowSchedulingOnControlPlanes
  README.md
  docs/05-runbooks/talos-schedulable-controlplane-patch.yaml
Due: gitleaks, yamllint, kube-validate, markdownlint, trailing-whitespace

fix(arr-stack): imagePullPolicy Always for :latest images — IfNotPresent made version node-dependent
  applications/arr-stack/base/jellyfin/deployment.yaml
  applications/arr-stack/base/kometa/deployment.yaml
  applications/arr-stack/base/maintainerr/deployment.yaml
  applications/arr-stack/base/plex/deployment.yaml
  applications/arr-stack/base/posterizarr/deployment.yaml
  applications/arr-stack/base/posterr/deployment.yaml
  applications/arr-stack/base/prowlarr/deployment.yaml
  applications/arr-stack/base/pulsarr/deployment.yaml
  applications/arr-stack/base/qbittorrent/deployment.yaml
  applications/arr-stack/base/radarr/deployment.yaml
  applications/arr-stack/base/readarr/deployment.yaml
  applications/arr-stack/base/sabnzbd/deployment.yaml
  applications/arr-stack/base/sonarr/deployment.yaml
  applications/arr-stack/base/tautulli/deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(forgejo): bump 16.0.2 -> 16.0.3, upstream dropped the amd64 sub-manifest
  infrastructure/base/forgejo/admin-job.yaml
  infrastructure/base/forgejo/deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(crowdsec): move crowdsec-postgres off NFS onto local-path NVMe
  infrastructure/base/crowdsec/postgres.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(forgejo): move forgejo-postgres off NFS onto local-path NVMe
  infrastructure/base/forgejo/postgres.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(cnpg): scale five single-instance clusters to 3 and move them off NFS
  applications/crossplane-demo/plausible/postgres.yaml
  applications/home-automation/base/homeassistant/postgres.yaml
  applications/home-automation/base/linkwarden/postgres.yaml
  applications/media-experimental/base/bookorbit/postgres.yaml
  applications/zipline/postgres.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(guacamole): add the barman backup this cluster never had
  applications/gaming/base/kubevirt/guacamole-objectstore.yaml
  applications/gaming/base/kubevirt/guacamole.yaml
  applications/gaming/base/kubevirt/kustomization.yaml
  infrastructure/base/minio/cnpg-backup/externalsecret.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(crossplane): gate provider CRDs behind an activation allowlist [TALOS-hk7i]
  infrastructure/base/aws-providers/activation-policy.yaml
  infrastructure/base/aws-providers/kustomization.yaml
  infrastructure/base/operators/crossplane/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(cnpg): CatalystCNPGAppDB composite — one CR yields cluster, backup store and schedule
  clusters/catalyst-cluster/catalyst-cnpg-appdb.yaml
  infrastructure/base/catalyst-cnpg-appdb/composition.yaml
  infrastructure/base/catalyst-cnpg-appdb/kustomization.yaml
  infrastructure/base/catalyst-cnpg-appdb/xrd.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(flux): register the catalyst-cnpg-appdb Kustomization
  clusters/catalyst-cluster/flux-system/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(crossplane): activate provider-kubernetes Object explicitly [TALOS-hk7i]
  applications/crossplane-demo/crossplane-provider.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(crossplane): take over the catch-all MRAP by name instead of deleting it [TALOS-hk7i]
  infrastructure/base/aws-providers/activation-policy.yaml
  infrastructure/base/operators/crossplane/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(cnpg): XRD defaultCompositionRef pointed at the pre-rename Composition name
  infrastructure/base/catalyst-cnpg-appdb/xrd.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(aws): re-add provider-aws-ec2 behind the activation allowlist [TALOS-hk7i]
  infrastructure/base/aws-providers/provider.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(cnpg): compose namespaced Objects — Crossplane v2 rejects cluster-scoped ones
  infrastructure/base/catalyst-cnpg-appdb/composition.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(cnpg): ClusterProviderConfig and CNPG RBAC for the namespaced provider
  infrastructure/base/catalyst-cnpg-appdb/kustomization.yaml
  infrastructure/base/catalyst-cnpg-appdb/provider-wiring.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(aws): re-add provider-aws-iam behind the activation allowlist [TALOS-hk7i]
  infrastructure/base/aws-providers/provider.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(aws): re-add provider-aws-ecs and provider-aws-cloudwatchlogs [TALOS-hk7i]
  infrastructure/base/aws-providers/provider.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(crossplane): activate the namespaced Object group too [TALOS-hk7i]
  applications/crossplane-demo/crossplane-provider.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(talos): reserve memory for kubelet, containerd and the kernel on every node
  docs/05-runbooks/talos-kubelet-memory-reserve-patch.yaml
  scripts/bootstrap-talos-patches.sh
Due: gitleaks, yamllint, kube-validate, shellcheck, shfmt, trailing-whitespace

fix(crossplane): declare resources for the provider-kubernetes pod [TALOS-2x3c]
  applications/crossplane-demo/crossplane-provider.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(aws): memory requests for provider pods — they ship with none and that wedged a node
  infrastructure/base/aws-providers/kustomization.yaml
  infrastructure/base/aws-providers/runtime-config.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(cnpg): each AppDB materialises its own backup credentials, no central allowlist
  infrastructure/base/catalyst-cnpg-appdb/backup-secret-store.yaml
  infrastructure/base/catalyst-cnpg-appdb/composition.yaml
  infrastructure/base/catalyst-cnpg-appdb/kustomization.yaml
  infrastructure/base/catalyst-cnpg-appdb/provider-wiring.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(cnpg): CatalystCNPGAppDB gains encoding and initdb locale fields
  infrastructure/base/catalyst-cnpg-appdb/composition.yaml
  infrastructure/base/catalyst-cnpg-appdb/xrd.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(guacamole): protect the live database from pruning before composite conversion
  applications/gaming/base/kubevirt/guacamole-objectstore.yaml
  applications/gaming/base/kubevirt/guacamole.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace
