Repository TheBranchDriftCatalyst/talos-homelab: changes, and which lefthook commands are due for each by the changed paths.
All: gitleaks, yamllint, kube-validate, shellcheck, shfmt, markdownlint, trailing-whitespace, helm-lint

gitleaks:
  tags: security
  run: gitleaks protect --verbose --redact --staged
  skip:
  - merge
  - rebase

yamllint:
  tags: linting yaml
  run: yamllint --strict .
  skip:
  - merge
  - rebase

kube-validate:
  tags: kubernetes yaml
  ...

shellcheck:
  tags: linting shell
  run: shellcheck -x {staged_files}
  skip:
  - merge
  - rebase

shfmt:
  tags: formatting shell
  run: shfmt -w -i 2 -ci -sr {staged_files}
  skip:
  - merge
  - rebase
  stage_fixed: true

markdownlint:
  tags: linting markdown
  run: npx markdownlint-cli2 {staged_files}
  skip:
  - merge
  - rebase

trailing-whitespace:
  tags: formatting
  run: "if grep -n '[[:space:]]$' {staged_files}; then\n  echo \"‚ùå Error: Trailing whitespace found\"\n  echo \"Run: sed -i '' 's/[[:space:]]*$//' <file>\"\n  exit 1\nfi\n"
  skip:
  - merge
  - rebase

helm-lint:
  tags: kubernetes helm
  run: "for chart_dir in infrastructure/base/*/; do\n  if [ -f \"$chart_dir/Chart.yaml\" ]; then\n    echo \"Linting Helm chart: $chart_dir\"\n    helm lint \"$chart_dir\" || exit 1\n  fi\ndone\n"
  skip:
  - merge
  - rebase

feat(teak-talos-dev): read-only cluster discovery for namespaces + nodes
  Taskfile.k8s.yaml
  infrastructure/base/teak-talos-dev/ONBOARDING.md
  infrastructure/base/teak-talos-dev/README.md
  infrastructure/base/teak-talos-dev/rbac.yaml
  scripts/developer/teak-kubeconfig.sh
Due: gitleaks, yamllint, kube-validate, shellcheck, shfmt, markdownlint, trailing-whitespace

feat(zot): enable API keys
  infrastructure/base/registry/zot/deployment.yaml
  infrastructure/base/registry/zot/externalsecret.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(zot): enable Prometheus metrics and periodic scrub
  infrastructure/base/registry/zot/externalsecret.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(zot): authorize and scrape the metrics endpoint
  infrastructure/base/registry/zot/externalsecret.yaml
  infrastructure/base/registry/zot/kustomization.yaml
  infrastructure/base/registry/zot/servicemonitor.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(monitoring): Zot Registry Ops dashboard
  infrastructure/base/monitoring/grafana-dashboards/json/zot-ops.json
  infrastructure/base/monitoring/grafana-dashboards/kustomization.yaml
  infrastructure/base/monitoring/grafana-dashboards/resources/zot-ops.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(authentik): add whisparr-eros to the embedded outpost union
  infrastructure/base/authentik/talos-private-blueprint.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(authentik): serve the talos-private app library at amber.knowledgedump.space
  infrastructure/base/authentik/ingressroute.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

revert(authentik): drop the amber.knowledgedump.space app-library route
  infrastructure/base/authentik/ingressroute.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(external-dns): add suspended orphan report/prune CronJobs
  infrastructure/base/external-dns/kustomization.yaml
  infrastructure/base/external-dns/orphan-cronjobs.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(external-dns): run the orphan report hourly and surface it in Grafana
  infrastructure/base/external-dns/orphan-cronjobs.yaml
  infrastructure/base/monitoring/grafana-dashboards/json/external-dns.json
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(external-dns): select Loki panels on labels that actually exist, add change heatmap
  infrastructure/base/external-dns/orphan-cronjobs.yaml
  infrastructure/base/monitoring/grafana-dashboards/json/external-dns.json
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(external-dns): repair dashboard crash introduced by the orphan panels
  infrastructure/base/monitoring/grafana-dashboards/json/external-dns.json
Due: gitleaks, trailing-whitespace

fix(external-dns): bound the What Changed heatmap bucket count
  infrastructure/base/monitoring/grafana-dashboards/json/external-dns.json
Due: gitleaks, trailing-whitespace

fix(external-dns): orphan series was fabricating a count; restore the prune toggle
  infrastructure/base/external-dns/orphan-cronjobs.yaml
  infrastructure/base/monitoring/grafana-dashboards/json/external-dns.json
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(external-dns): render zero orphans as 0 rather than a missing series
  infrastructure/base/monitoring/grafana-dashboards/json/external-dns.json
Due: gitleaks, trailing-whitespace

beads: stop tracking Dolt marker files in git
  .beads/.gitignore
  .beads/embeddeddolt/.bd-dolt-ok
  .beads/embeddeddolt/config.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(cert-manager): remove deSEC entirely — webhook, token, and the DNS-01 solver
  .beads/last-touched
  infrastructure/base/cert-manager-issuers/desec-secret.yaml
  infrastructure/base/cert-manager-issuers/desec-webhook.yaml
  infrastructure/base/cert-manager-issuers/kustomization.yaml
  infrastructure/base/cert-manager-issuers/letsencrypt-issuer.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(beads): workspace-wide hygiene pass
  .beads/.gitignore
  .beads/beads.left.jsonl
  .beads/beads.left.meta.json
  .beads/hooks/post-checkout
  .beads/hooks/post-merge
  .beads/hooks/pre-commit
  .beads/hooks/pre-push
  .beads/hooks/prepare-commit-msg
  .beads/metadata.json
  .gitignore
  AGENTS.md
Due: gitleaks, markdownlint, trailing-whitespace

chore(beads): correct metadata backend/project_id and untrack runtime file
  .beads/.local_version
  infrastructure/base/hybrid-llm/nebula/README.md
  infrastructure/base/hybrid-llm/nebula/kustomization.yaml
  infrastructure/base/nebula/configmap.yaml
  infrastructure/base/nebula/deployment.yaml
  infrastructure/base/nebula/kustomization.yaml
  infrastructure/base/nebula/namespace.yaml
  infrastructure/base/nebula/secret.yaml
Due: gitleaks, yamllint, kube-validate, markdownlint, trailing-whitespace

chore(infra): archive the Nebula mesh manifests
  infrastructure/archived/README.md
  infrastructure/archived/hybrid-llm-nebula/README.md
  infrastructure/archived/hybrid-llm-nebula/kustomization.yaml
  infrastructure/archived/nebula/configmap.yaml
  infrastructure/archived/nebula/deployment.yaml
  infrastructure/archived/nebula/kustomization.yaml
  infrastructure/archived/nebula/namespace.yaml
  infrastructure/archived/nebula/secret.yaml
  infrastructure/base/hybrid-llm/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, markdownlint, trailing-whitespace

chore(dev): worktree hygiene — exclude agent worktrees from repo-wide tools
  .prettierignore
  Taskfile.dev.yaml
  scripts/worktree-audit.sh
  scripts/worktree-cleanup.sh
Due: gitleaks, yamllint, kube-validate, shellcheck, shfmt, trailing-whitespace

chore(infra): drop carrierarr and the infra-control guacamole leftovers
  infrastructure/base/carrierarr/control-plane.yaml
  infrastructure/base/carrierarr/ingressroute.yaml
  infrastructure/base/carrierarr/kustomization.yaml
  infrastructure/base/carrierarr/namespace.yaml
  infrastructure/base/infra-control/guacamole/guacamole.yaml
  infrastructure/base/infra-control/guacamole/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

refactor(tests): one dependency root, and lift the etcd-DR suite out of infrastructure/
  infrastructure/base/authentik/tests/package.json
  infrastructure/base/backup/tests/package.json
  infrastructure/base/cilium/tests/package.json
  infrastructure/base/databases/tests/package.json
  infrastructure/base/honeypot/tests/package.json
  infrastructure/base/minio/tests/package.json
  infrastructure/base/pihole/tests/package.json
  infrastructure/base/storage/tests/package.json
  infrastructure/base/talos-dr/tests/package.json
  infrastructure/base/traefik/tests/package.json
  jest.config.js
  tests/etcd-dr/.gitignore
  tests/etcd-dr/etcd-dr.test.js
  tests/etcd-dr/jest.config.js
  yarn.lock
Due: gitleaks, trailing-whitespace

docs: add the repo-restructure plan; drop stale trackers and superseded project docs
  2026-01-02.md
  applications/arr-stack/base/kometa/configmap.yaml
  docs/02-architecture/repo-restructure-plan.md
  docs/05-projects/catalyst-dns-sync/mvp.md
  docs/05-projects/catalyst-dns-sync/proposal.md
  docs/06-project-management/implementation-sessions/2025-11-22-external-secrets-operator.md
  docs/06-project-management/implementation-sessions/2025-11-22-lefthook-linters.md
  docs/06-project-management/implementation-tracker.md
  docs/archive/kasa-exporter-rules-backup.yaml
  infrastructure/base/backup/tests/canary.yaml
  infrastructure/base/operators/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, markdownlint, trailing-whitespace

chore(scripts): archive one-shot and superseded scripts under scripts/archived/
  scripts/archived/__capture-meltdown-evidence.sh
  scripts/archived/__chunk-file.sh
  scripts/archived/__chunk-video.sh
  scripts/archived/__deploy-tdarr.sh
  scripts/archived/__hybrid-llm/export-aws-creds.sh
  scripts/archived/__hybrid-llm/fetch-k3s-token.sh
  scripts/archived/__hybrid-llm/lighthouse-userdata.sh
  scripts/archived/__hybrid-llm/llm-worker.sh
  scripts/archived/__hybrid-llm/orchestrate-aws-cluster.sh
  scripts/archived/__hybrid-llm/provision-aws-gpu-cluster.sh
  scripts/archived/__hybrid-llm/provision-lighthouse.sh
  scripts/archived/__hybrid-llm/update-sg-for-k3s.sh
  scripts/archived/__hybrid-llm/worker-userdata.sh
  scripts/archived/__migrate-arr-stack.sh
  scripts/archived/__nebula/deploy-lighthouse.sh
  scripts/archived/__provision-local.sh
  scripts/archived/__test-suspect-bpf-map-pressure.sh
  scripts/archived/__test-suspect-etcd-snapshot.sh
  scripts/archived/__test-suspect-talos00-memory.sh
  scripts/archived/_cleanup-cilium-identities.sh
  scripts/bootstrap-talos-patches.sh
  scripts/dashboards/README.md
  scripts/network-layer-tests.sh
Due: gitleaks, shellcheck, shfmt, markdownlint, trailing-whitespace

feat(auth): publish private media domain with TLS and Authentik routing
  applications/zipline/ingressroute.yaml
  infrastructure/base/authentik/immich-blueprint.yaml
  infrastructure/base/authentik/ingressroute.yaml
  infrastructure/base/authentik/talos-private-blueprint.yaml
  infrastructure/base/cert-manager-issuers/kustomization.yaml
  infrastructure/base/cert-manager-issuers/priv-knowledgedump-wildcard-certificate.yaml
  infrastructure/base/traefik/middlewares.yaml
  infrastructure/base/traefik/tlsstore.yaml
  infrastructure/base/whoami/ingressroute.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(auth): escape redirect captures for Flux substitution
  infrastructure/base/traefik/middlewares.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(auth): keep private portal on the shared IdP session
  infrastructure/base/authentik/ingressroute.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(auth): use native OIDC for Zipline single sign-on
  applications/zipline/ingressroute.yaml
  infrastructure/base/authentik/helmrelease.yaml
  infrastructure/base/authentik/talos-private-blueprint.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(auth): scope private app credentials to provider evaluation
  infrastructure/base/authentik/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(auth): preserve portal redirect capture without Flux substitution
  infrastructure/base/authentik/ingressroute.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(auth): scope private SSO reconciliation access to Authentik
  infrastructure/base/authentik/kustomization.yaml
  infrastructure/base/authentik/private-sso-reconciler.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(auth): hide retired Immich and remove legacy Whisparr from outpost
  infrastructure/base/authentik/immich-blueprint.yaml
  infrastructure/base/authentik/private-sso-reconciler.yaml
  infrastructure/base/authentik/talos-private-blueprint.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(security): restore CrowdSec ingestion and add HA safeguards
  infrastructure/base/crowdsec/availability.yaml
  infrastructure/base/crowdsec/bouncer-middleware.yaml
  infrastructure/base/crowdsec/helmrelease.yaml
  infrastructure/base/crowdsec/kustomization.yaml
  infrastructure/base/crowdsec/prometheusrule.yaml
  scripts/security/check-crowdsec-parsers.py
  scripts/security/check-crowdsec-registration.py
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(crowdsec): use Authentik as the dashboard login gate
  infrastructure/base/crowdsec/kustomization.yaml
  infrastructure/base/crowdsec/webui-network-policy.yaml
  infrastructure/base/crowdsec/webui.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(security): show active CrowdSec decisions and pipeline health
  infrastructure/base/crowdsec/decision-exporter.yaml
  infrastructure/base/crowdsec/decision-exporter/exporter.py
  infrastructure/base/crowdsec/kustomization.yaml
  infrastructure/base/crowdsec/prometheusrule.yaml
  infrastructure/base/monitoring/grafana-dashboards/json/crowdsec-ops.json
  infrastructure/base/monitoring/grafana-dashboards/resources/crowdsec-ops.yaml
  scripts/security/test-crowdsec-decision-exporter.py
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

test(security): verify external CrowdSec bans through VPN canary
  docs/05-runbooks/crowdsec-verification.md
  scripts/security/check-crowdsec-vpn.py
  scripts/security/test-crowdsec-vpn.py
Due: gitleaks, markdownlint, trailing-whitespace

fix(grafana): keep CrowdSec reasons and decision IDs readable
  infrastructure/base/monitoring/grafana-dashboards/json/crowdsec-ops.json
Due: gitleaks, trailing-whitespace

gitblobstore: checkandput manifest
  klbtd1ero6qd8650455nsfhk3uhumh3e.darc
  manifest
Due: none

Path conditions:
  gitleaks: any of: *.{yaml,yml,sh,json,env,txt,md}
  yamllint: any of: *.{yaml,yml}
  kube-validate: any of: *.{yaml,yml}
  shellcheck: any of: *.sh
  shfmt: any of: *.sh
  markdownlint: any of: *.md
  trailing-whitespace: any of: *.{yaml,yml,sh,md,json}
  helm-lint: any of: **/Chart.yaml
