Repository TheBranchDriftCatalyst/talos-homelab: changes, and which lefthook commands are due for each by the changed paths.
All: gitleaks, yamllint, kube-validate, shellcheck, shfmt, markdownlint, trailing-whitespace, helm-lint

Path conditions:
  gitleaks: any of: *.{yaml,yml,sh,json,env,txt,md}
  yamllint: any of: *.{yaml,yml}
  kube-validate: any of: *.{yaml,yml}
  shellcheck: any of: *.sh
  shfmt: any of: *.sh
  markdownlint: any of: *.md
  trailing-whitespace: any of: *.{yaml,yml,sh,md,json}
  helm-lint: any of: **/Chart.yaml

fix(graylog): correct duration format for index_ranges_cleanup_interval
  infrastructure/base/observability/graylog/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(monitoring): add Loki logging dashboards
  infrastructure/base/monitoring/grafana-dashboards/kustomization.yaml
  infrastructure/base/monitoring/grafana-dashboards/loki-dashboards.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(graylog): correct secret reference in graylog-exporter
  infrastructure/base/observability/graylog/exporter.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(catalyst-llm): suspend LLM stack
  clusters/catalyst-cluster/catalyst-llm.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(dashboard): comprehensive dashboard system refactor
  .beads/issues.jsonl
  .gitignore
  Taskfile.talos.yaml
  applications/arr-stack/dashboard.sh
  clusters/catalyst-cluster/flux-system/kustomization.yaml
  clusters/catalyst-cluster/intel-gpu.yaml
  configs/README.md
  configs/nodes/talos02-gpu-schematic.yaml
  configs/nodes/talos02-gpu.md
  configs/worker-talos01.yaml
  dashboard.sh
  infrastructure/base/catalyst-llm/dashboard.sh
  infrastructure/base/intel-gpu/README.md
  infrastructure/base/intel-gpu/dashboard.sh
  infrastructure/base/intel-gpu/intel-gpu-helmrelease.yaml
  infrastructure/base/intel-gpu/intel-gpu-plugin-cr.yaml
  infrastructure/base/intel-gpu/kustomization.yaml
  infrastructure/base/intel-gpu/namespace.yaml
  infrastructure/base/intel-gpu/nfd-helmrelease.yaml
  infrastructure/base/linkerd/dashboard.sh
  infrastructure/base/liqo/dashboard.sh
  infrastructure/base/nebula/dashboard.sh
  infrastructure/dashboard.sh
  scripts/lib/dashboard-common.sh
Due: gitleaks, yamllint, kube-validate, shellcheck, shfmt, markdownlint, trailing-whitespace

fix(dashboard): correct nebula lighthouse IP extraction
  infrastructure/base/nebula/dashboard.sh
Due: gitleaks, shellcheck, shfmt, trailing-whitespace

chore: consolidate TODOs into beads tracking system
  .beads/issues.jsonl
  IMPLEMENTATION-TRACKER.md
  beads-index.md
  docs/05-projects/hybrid-llm-cluster/TODO.md
  docs/06-project-management/enhancement-roadmap.md
  docs/_archive/TODO.md
Due: gitleaks, markdownlint, trailing-whitespace

feat(monitoring): implement v2-otel LGTM stack, suspend v1
  .beads/issues.jsonl
  clusters/catalyst-cluster/monitoring-v2-otel.yaml
  clusters/catalyst-cluster/monitoring.yaml
  clusters/catalyst-cluster/observability.yaml
  docs/05-projects/otel-migration/README.md
  infrastructure/base/hybrid-llm/liqo/kustomization.yaml
  infrastructure/base/hybrid-llm/nebula/kustomization.yaml
  infrastructure/base/hybrid-llm/ollama/kustomization.yaml
  infrastructure/base/linkerd/kustomization.yaml
  infrastructure/base/monitoring/v2-otel/alloy/helmrelease.yaml
  infrastructure/base/monitoring/v2-otel/alloy/kustomization.yaml
  infrastructure/base/monitoring/v2-otel/grafana-datasources/datasources.yaml
  infrastructure/base/monitoring/v2-otel/grafana-datasources/kustomization.yaml
  infrastructure/base/monitoring/v2-otel/ingressroutes.yaml
  infrastructure/base/monitoring/v2-otel/kustomization.yaml
  infrastructure/base/monitoring/v2-otel/loki/helmrelease.yaml
  infrastructure/base/monitoring/v2-otel/loki/kustomization.yaml
  infrastructure/base/monitoring/v2-otel/mimir/helmrelease.yaml
  infrastructure/base/monitoring/v2-otel/mimir/kustomization.yaml
  infrastructure/base/monitoring/v2-otel/operators/otel-operator/helmrelease.yaml
  infrastructure/base/monitoring/v2-otel/operators/otel-operator/kustomization.yaml
  infrastructure/base/monitoring/v2-otel/operators/tempo-operator/helmrelease.yaml
  infrastructure/base/monitoring/v2-otel/operators/tempo-operator/kustomization.yaml
  infrastructure/base/monitoring/v2-otel/tempo/kustomization.yaml
  infrastructure/base/monitoring/v2-otel/tempo/tempo-stack.yaml
Due: gitleaks, yamllint, kube-validate, markdownlint, trailing-whitespace

fix(flux): add monitoring-v2-otel to flux-system, fix dependencies
  clusters/catalyst-cluster/flux-system/kustomization.yaml
  clusters/catalyst-cluster/monitoring-v2-otel.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(flux): split v2-otel into operators and data-plane kustomizations
  clusters/catalyst-cluster/flux-system/kustomization.yaml
  clusters/catalyst-cluster/monitoring-v2-operators.yaml
  clusters/catalyst-cluster/monitoring-v2-otel.yaml
  infrastructure/base/monitoring/v2-otel/kustomization.yaml
  infrastructure/base/monitoring/v2-otel/operators/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(tempo-operator): use raw manifests from GitHub releases
  clusters/catalyst-cluster/monitoring-v2-operators.yaml
  infrastructure/base/monitoring/v2-otel/operators/tempo-operator/helmrelease.yaml
  infrastructure/base/monitoring/v2-otel/operators/tempo-operator/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(tempo): use Helm chart instead of operator (requires cert-manager)
  clusters/catalyst-cluster/monitoring-v2-operators.yaml
  infrastructure/base/monitoring/v2-otel/operators/kustomization.yaml
  infrastructure/base/monitoring/v2-otel/tempo/helmrelease.yaml
  infrastructure/base/monitoring/v2-otel/tempo/kustomization.yaml
  infrastructure/base/monitoring/v2-otel/tempo/tempo-stack.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(mimir): remove invalid otlp_config from distributor
  infrastructure/base/monitoring/v2-otel/mimir/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(v2-otel): remove mimir, use Prometheus for metrics
  infrastructure/base/monitoring/v2-otel/alloy/helmrelease.yaml
  infrastructure/base/monitoring/v2-otel/grafana-datasources/datasources.yaml
  infrastructure/base/monitoring/v2-otel/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(beads): update TALOS-nh8 with v2-otel progress
  .beads/issues.jsonl
Due: none

feat(infra): add cert-manager and MinIO for OTEL stack
  clusters/catalyst-cluster/cert-manager.yaml
  clusters/catalyst-cluster/flux-system/kustomization.yaml
  clusters/catalyst-cluster/minio.yaml
  clusters/catalyst-cluster/monitoring-v2-operators.yaml
  clusters/catalyst-cluster/monitoring-v2-otel.yaml
  infrastructure/base/cert-manager/cluster-issuer.yaml
  infrastructure/base/cert-manager/helmrelease.yaml
  infrastructure/base/cert-manager/kustomization.yaml
  infrastructure/base/cert-manager/namespace.yaml
  infrastructure/base/minio/helmrelease.yaml
  infrastructure/base/minio/ingressroute.yaml
  infrastructure/base/minio/kustomization.yaml
  infrastructure/base/minio/namespace.yaml
  infrastructure/base/monitoring/v2-otel/alloy/helmrelease.yaml
  infrastructure/base/monitoring/v2-otel/grafana-datasources/datasources.yaml
  infrastructure/base/monitoring/v2-otel/kustomization.yaml
  infrastructure/base/monitoring/v2-otel/mimir/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(cert-manager): split issuers into separate kustomization
  clusters/catalyst-cluster/cert-manager-issuers.yaml
  clusters/catalyst-cluster/flux-system/kustomization.yaml
  clusters/catalyst-cluster/monitoring-v2-operators.yaml
  infrastructure/base/cert-manager-issuers/cluster-issuer.yaml
  infrastructure/base/cert-manager-issuers/kustomization.yaml
  infrastructure/base/cert-manager/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(minio): disable ServiceMonitor temporarily
  infrastructure/base/minio/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(monitoring-v2): correct tempo-operator namespace in healthcheck
  clusters/catalyst-cluster/monitoring-v2-operators.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(mimir): add separate storage configs for alertmanager and ruler
  infrastructure/base/monitoring/v2-otel/mimir/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(alloy): add Prometheus scraping for cluster metrics
  infrastructure/base/monitoring/v2-otel/alloy/helmrelease.yaml
  infrastructure/base/monitoring/v2-otel/alloy/kustomization.yaml
  infrastructure/base/monitoring/v2-otel/alloy/rbac.yaml
  infrastructure/base/monitoring/v2-otel/loki/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(alloy): add node-exporter and service discovery scraping
  infrastructure/base/monitoring/v2-otel/alloy/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(beads): close completed OTEL deployment tasks
  .beads/issues.jsonl
Due: none

feat(monitoring): add standalone kube-state-metrics for v2-otel
  infrastructure/base/monitoring/v2-otel/kube-state-metrics/helmrelease.yaml
  infrastructure/base/monitoring/v2-otel/kube-state-metrics/kustomization.yaml
  infrastructure/base/monitoring/v2-otel/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(kube-state-metrics): remove duplicate prometheus annotations
  infrastructure/base/monitoring/v2-otel/kube-state-metrics/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(monitoring): remove kube-prometheus-stack in favor of V2 OTEL
  docs/archive/kasa-exporter-rules-backup.yaml
  infrastructure/base/monitoring/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(beads): close OTEL migration epic TALOS-zqh
  .beads/issues.jsonl
Due: none

fix(dashboards): update all dashboards to use Mimir datasource
  infrastructure/base/monitoring/grafana-dashboards/argocd-dashboards.yaml
  infrastructure/base/monitoring/grafana-dashboards/cilium-dashboards.yaml
  infrastructure/base/monitoring/grafana-dashboards/gitops-dashboards.yaml
  infrastructure/base/monitoring/grafana-dashboards/hybrid-cluster-dashboards.yaml
  infrastructure/base/monitoring/grafana-dashboards/infrastructure-dashboards.yaml
  infrastructure/base/monitoring/grafana-dashboards/kubernetes-dashboards.yaml
  infrastructure/base/monitoring/grafana-dashboards/linkerd-dashboards.yaml
  infrastructure/base/monitoring/grafana-dashboards/loki-dashboards.yaml
  infrastructure/base/monitoring/grafana-dashboards/observability-dashboards.yaml
  infrastructure/base/monitoring/grafana-dashboards/pod-cleanup.yaml
  infrastructure/base/monitoring/grafana-dashboards/resource-efficiency.yaml
  infrastructure/base/monitoring/grafana-dashboards/traefik-dashboards.yaml
  infrastructure/base/monitoring/v2-otel/grafana-datasources/datasources.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(beads): close TALOS-m3i dashboard fix task
  .beads/issues.jsonl
Due: none

fix(monitoring): update Grafana and ingress configuration for V2 OTEL stack
  infrastructure/base/monitoring/grafana-instances/grafana-instance.yaml
  infrastructure/base/monitoring/kube-prometheus-stack/ingressroute.yaml
  infrastructure/base/monitoring/v2-otel/ingressroutes.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(beads): add dashboard fix tasks for V2 OTEL migration
  .beads/issues.jsonl
Due: none

feat(monitoring): add node-exporter and comprehensive Alloy labeling
  .beads/issues.jsonl
  infrastructure/base/monitoring/v2-otel/alloy/helmrelease.yaml
  infrastructure/base/monitoring/v2-otel/kustomization.yaml
  infrastructure/base/monitoring/v2-otel/node-exporter/helmrelease.yaml
  infrastructure/base/monitoring/v2-otel/node-exporter/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(monitoring): add dashboard-compatible labels and remove Docker-specific dashboard
  infrastructure/base/monitoring/grafana-dashboards/kubernetes-dashboards.yaml
  infrastructure/base/monitoring/v2-otel/alloy/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(monitoring): remove deprecated dashboards for V2 OTEL migration
  infrastructure/base/monitoring/grafana-dashboards/kubernetes-dashboards.yaml
  infrastructure/base/monitoring/grafana-dashboards/kustomization.yaml
  infrastructure/base/monitoring/grafana-dashboards/loki-dashboards.yaml
  infrastructure/base/monitoring/grafana-dashboards/observability-dashboards.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(beads): sync dashboard audit task closures
  .beads/issues.jsonl
Due: none

feat(monitoring): add mimir.rules.kubernetes sync to Alloy
  infrastructure/base/monitoring/v2-otel/alloy/helmrelease.yaml
  infrastructure/base/monitoring/v2-otel/alloy/rbac.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(mimir): increase ruler limits for rule group size
  infrastructure/base/monitoring/v2-otel/mimir/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(beads): update dashboard audit progress
  .beads/issues.jsonl
Due: none
