Repository TheBranchDriftCatalyst/talos-homelab: changes, and which lefthook commands are due for each by the changed paths.
All: gitleaks, yamllint, kube-validate, shellcheck, shfmt, markdownlint, trailing-whitespace, helm-lint

Path conditions:
  gitleaks: any of: *.{yaml,yml,sh,json,env,txt,md}
  yamllint: any of: *.{yaml,yml}
  kube-validate: any of: *.{yaml,yml}
  shellcheck: any of: *.sh
  shfmt: any of: *.sh
  markdownlint: any of: *.md
  trailing-whitespace: any of: *.{yaml,yml,sh,md,json}
  helm-lint: any of: **/Chart.yaml

feat: Configure NFS storage with NFSv3 and run Prometheus as root
  infrastructure/base/monitoring/kube-prometheus-stack/helmrelease.yaml
  infrastructure/base/storage/nfs-provisioner/helmrelease.yaml
  infrastructure/base/storage/nfs-provisioner/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat: Add monitoring improvements and fix deployment strategies
  infrastructure/base/infra-testing/goldilocks/vpa-crd.yaml
  infrastructure/base/monitoring/blackbox-exporter/helmrelease.yaml
  infrastructure/base/monitoring/blackbox-exporter/kustomization.yaml
  infrastructure/base/monitoring/grafana-dashboards/README.md
  infrastructure/base/monitoring/grafana-dashboards/dashboards.yaml
  infrastructure/base/monitoring/grafana-dashboards/kubernetes-cluster-dashboard.yaml
  infrastructure/base/monitoring/grafana-dashboards/kustomization.yaml
  infrastructure/base/monitoring/grafana-dashboards/node-exporter-full.yaml
  infrastructure/base/monitoring/grafana-dashboards/postgresql-exporter.yaml
  infrastructure/base/monitoring/grafana-dashboards/traefik-dashboard.yaml
  infrastructure/base/monitoring/kube-prometheus-stack/helmrelease.yaml
  infrastructure/base/namespaces/monitoring.yaml
  infrastructure/base/namespaces/observability.yaml
  infrastructure/base/observability/fluent-bit/helmrelease.yaml
  infrastructure/base/observability/graylog/deployment.yaml
  infrastructure/base/observability/mongodb/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, markdownlint, trailing-whitespace

fix: Remove rollingUpdate field from Graylog Recreate strategy
  infrastructure/base/external-secrets/jobs/secret-dump-cronjob.yaml
  infrastructure/base/external-secrets/onepassword-connect/debug-job-list-secrets.yaml
  infrastructure/base/external-secrets/onepassword-connect/deployment.yaml
  infrastructure/base/flux-notifications/README.md
  infrastructure/base/flux-notifications/SETUP-1PASSWORD.md
  infrastructure/base/flux-notifications/alert.yaml
  infrastructure/base/flux-notifications/discord-webhook-externalsecret.yaml
  infrastructure/base/flux-notifications/provider.yaml
  infrastructure/base/infra-testing/goldilocks/vpa-crd.yaml
  infrastructure/base/monitoring/blackbox-exporter/helmrelease.yaml
  infrastructure/base/monitoring/grafana-dashboards/README.md
  infrastructure/base/monitoring/grafana-dashboards/dashboards.yaml
  infrastructure/base/monitoring/grafana-dashboards/kubernetes-cluster-dashboard.yaml
  infrastructure/base/monitoring/grafana-dashboards/node-exporter-full.yaml
  infrastructure/base/monitoring/grafana-dashboards/postgresql-exporter.yaml
  infrastructure/base/monitoring/grafana-dashboards/traefik-dashboard.yaml
  infrastructure/base/namespaces/monitoring.yaml
  infrastructure/base/namespaces/observability.yaml
  infrastructure/base/observability/graylog/deployment.yaml
  scripts/onepassword-list-secrets.sh
  scripts/setup-flux-discord.sh
Due: gitleaks, yamllint, kube-validate, shellcheck, shfmt, markdownlint, trailing-whitespace

fix: Remove rollingUpdate field completely from Graylog deployment
  infrastructure/base/observability/graylog/deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(storage): migrate arr stack PVCs to fatboy-nfs-appdata storage class
  applications/arr-stack/base/homepage/pvc.yaml
  applications/arr-stack/base/jellyfin/pvc.yaml
  applications/arr-stack/base/overseerr/pvc.yaml
  applications/arr-stack/base/plex/pvc.yaml
  applications/arr-stack/base/postgresql/pvc.yaml
  applications/arr-stack/base/prowlarr/pvc.yaml
  applications/arr-stack/base/radarr/pvc.yaml
  applications/arr-stack/base/readarr/pvc.yaml
  applications/arr-stack/base/sonarr/pvc.yaml
  applications/arr-stack/base/tdarr/pvc.yaml
  infrastructure/base/storage/nfs-provisioner/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

docs: update implementation tracker and TODO with current status
  IMPLEMENTATION-TRACKER.md
  TODO.md
Due: gitleaks, markdownlint, trailing-whitespace

feat(homepage): add homepage configuration and external secrets setup
  applications/arr-stack/base/homepage/ONEPASSWORD-SETUP.md
  applications/arr-stack/base/homepage/README.md
  applications/arr-stack/base/homepage/configmap-services.yaml
  applications/arr-stack/base/homepage/configmap.yaml
  applications/arr-stack/base/homepage/configs/bookmarks.yaml
  applications/arr-stack/base/homepage/configs/docker.yaml
  applications/arr-stack/base/homepage/configs/kubernetes.yaml
  applications/arr-stack/base/homepage/configs/services.yaml
  applications/arr-stack/base/homepage/configs/settings.yaml
  applications/arr-stack/base/homepage/configs/widgets.yaml
  applications/arr-stack/base/homepage/deployment.yaml
  applications/arr-stack/base/homepage/externalsecret.yaml
  applications/arr-stack/base/homepage/kustomization.yaml
  applications/arr-stack/base/homepage/scripts/create-1password-item.sh
  applications/arr-stack/base/homepage/scripts/verify-setup.sh
  scripts/onepassword-list-secrets.sh
Due: gitleaks, yamllint, kube-validate, shellcheck, shfmt, markdownlint, trailing-whitespace

feat: Add Grafana dashboard import script
  applications/arr-stack/overlays/prod/kustomization.yaml
  applications/arr-stack/overlays/storage/fatboy-nfs/storage.yaml
  infrastructure/base/monitoring/grafana-dashboards/README.md
  infrastructure/base/monitoring/grafana-dashboards/dashboards.yaml
  infrastructure/base/monitoring/grafana-dashboards/kubernetes-cluster-dashboard.yaml
  infrastructure/base/monitoring/grafana-dashboards/kustomization.yaml
  infrastructure/base/monitoring/grafana-dashboards/node-exporter-full.yaml
  infrastructure/base/monitoring/grafana-dashboards/postgresql-exporter.yaml
  infrastructure/base/monitoring/grafana-dashboards/traefik-dashboard.yaml
  k8s-cluster-315.json
  node-exporter-1860.json
  postgresql-9628.json
  scripts/dashboard-token.sh
  scripts/import-grafana-dashboards.sh
  temp.yaml
  traefik-17347.json
Due: gitleaks, yamllint, kube-validate, shellcheck, shfmt, markdownlint, trailing-whitespace

fix: Update media stack to single environment and fix PostgreSQL storage
  applications/arr-stack/base/postgresql/pvc.yaml
  applications/arr-stack/overlays/prod/common-env.yaml
  applications/arr-stack/overlays/prod/kustomization.yaml
  infrastructure/base/namespaces/kustomization.yaml
  infrastructure/base/namespaces/media-dev-storage.yaml
  infrastructure/base/namespaces/media-dev.yaml
  infrastructure/base/namespaces/media-prod.yaml
  k8s-cluster-315.json
  node-exporter-1860.json
  postgresql-9628.json
  temp.yaml
  traefik-17347.json
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix: Remove pod security labels from media-prod namespace
  infrastructure/base/namespaces/media-prod.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat: Add PostgreSQL wait initContainers to arr stack
  applications/arr-stack/base/prowlarr/deployment.yaml
  applications/arr-stack/base/radarr/deployment.yaml
  applications/arr-stack/base/sonarr/deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

docs: Add node shutdown and restart procedure guide
  CLAUDE.md
  docs/node-shutdown-procedure.md
Due: gitleaks, markdownlint, trailing-whitespace

feat: Add arr-stack to Flux management and fix storage conflicts
  applications/arr-stack/dashboard.sh
  applications/arr-stack/overlays/storage/README.md
  clusters/homelab-single/flux-system/kustomization.yaml
  infrastructure/base/storage/shared-pvcs.yaml
Due: gitleaks, yamllint, kube-validate, shellcheck, shfmt, markdownlint, trailing-whitespace

fix: Remove duplicate PVC definitions causing kustomize build failure
  infrastructure/base/namespaces/kustomization.yaml
  infrastructure/base/namespaces/media-prod-storage.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

refactor: Remove Graylog deployment for migration to HelmRelease
  infrastructure/base/observability/ingressroutes.yaml
  infrastructure/base/observability/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat: Add Graylog HelmRelease with auto-provisioned GELF TCP input
  infrastructure/base/observability/graylog/helmrelease.yaml
  infrastructure/base/observability/ingressroutes.yaml
  infrastructure/base/observability/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix: Disable MongoDB Community Operator in Graylog HelmRelease
  infrastructure/base/observability/graylog/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix: Rename GELF input port to avoid duplicate name conflict
  infrastructure/base/observability/graylog/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix: Remove redundant GELF input config, update Fluent Bit endpoint
  infrastructure/base/observability/fluent-bit/helmrelease.yaml
  infrastructure/base/observability/graylog/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix: Use 16+ char password for Graylog (password_secret requirement)
  infrastructure/base/observability/graylog/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace
