Repository TheBranchDriftCatalyst/talos-homelab: changes, and which lefthook commands are due for each by the changed paths.
All: gitleaks, yamllint, kube-validate, shellcheck, shfmt, markdownlint, trailing-whitespace, helm-lint

gitleaks:
  tags: security
  run: gitleaks protect --verbose --redact --staged
  skip:
  - merge
  - rebase

yamllint:
  tags: linting yaml
  run: yamllint --strict .
  skip:
  - merge
  - rebase

kube-validate:
  tags: kubernetes yaml
  ...

shellcheck:
  tags: linting shell
  run: shellcheck -x {staged_files}
  skip:
  - merge
  - rebase

shfmt:
  tags: formatting shell
  run: shfmt -w -i 2 -ci -sr {staged_files}
  skip:
  - merge
  - rebase
  stage_fixed: true

markdownlint:
  tags: linting markdown
  run: npx markdownlint-cli2 {staged_files}
  skip:
  - merge
  - rebase

trailing-whitespace:
  tags: formatting
  run: "if grep -n '[[:space:]]$' {staged_files}; then\n  echo \"‚ùå Error: Trailing whitespace found\"\n  echo \"Run: sed -i '' 's/[[:space:]]*$//' <file>\"\n  exit 1\nfi\n"
  skip:
  - merge
  - rebase

helm-lint:
  tags: kubernetes helm
  run: "for chart_dir in infrastructure/base/*/; do\n  if [ -f \"$chart_dir/Chart.yaml\" ]; then\n    echo \"Linting Helm chart: $chart_dir\"\n    helm lint \"$chart_dir\" || exit 1\n  fi\ndone\n"
  skip:
  - merge
  - rebase

feat: Enable 1Password Connect and fix namespace YAML indentation
  infrastructure/base/external-secrets/kustomization.yaml
  infrastructure/base/namespaces/media-dev.yaml
  infrastructure/base/namespaces/media-prod.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

docs: Add TODO notes to roll Graylog secrets to 1Password
  infrastructure/base/observability/graylog/deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat: Improve 1Password Connect setup and debugging
  infrastructure/base/external-secrets/onepassword-connect/debug-job-list-secrets.yaml
  infrastructure/base/external-secrets/onepassword-connect/deployment.yaml
  scripts/setup-1password-connect.sh
Due: gitleaks, yamllint, kube-validate, shellcheck, shfmt, trailing-whitespace

chore: Reduce Headlamp resource requests for single-node cluster
  infrastructure/base/infra-testing/headlamp/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix: Update debug script to use correct SecretStore names
  scripts/onepassword-debug.sh
Due: gitleaks, shellcheck, shfmt, trailing-whitespace

feat: Enhance debug job to list all vaults, items, and secret values
  infrastructure/base/external-secrets/onepassword-connect/debug-job-list-secrets.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat: Add script to list all 1Password secrets
  scripts/onepassword-list-secrets.sh
Due: gitleaks, shellcheck, shfmt, trailing-whitespace

feat: Cluster-wide resource rebalancing and ESO secret dump job
  applications/arr-stack/base/exportarr/deployment.yaml
  applications/arr-stack/base/homepage/deployment.yaml
  applications/arr-stack/base/jellyfin/deployment.yaml
  applications/arr-stack/base/overseerr/deployment.yaml
  applications/arr-stack/base/plex/deployment.yaml
  applications/arr-stack/base/postgresql/deployment.yaml
  applications/arr-stack/base/prowlarr/deployment.yaml
  applications/arr-stack/base/radarr/deployment.yaml
  applications/arr-stack/base/readarr/deployment.yaml
  applications/arr-stack/base/sonarr/deployment.yaml
  applications/arr-stack/base/tdarr/deployment.yaml
  infrastructure/Tiltfile
  infrastructure/base/argocd/values.yaml
  infrastructure/base/external-secrets/jobs/kustomization.yaml
  infrastructure/base/external-secrets/jobs/secret-dump-cronjob.yaml
  infrastructure/base/external-secrets/kustomization.yaml
  infrastructure/base/infra-testing/goldilocks/deployment.yaml
  infrastructure/base/infra-testing/goldilocks/vpa-install.yaml
  infrastructure/base/infra-testing/kube-ops-view/deployment.yaml
  infrastructure/base/infra-testing/kubeview/deployment.yaml
  infrastructure/base/monitoring/kube-prometheus-stack/helmrelease.yaml
  infrastructure/base/observability/fluent-bit/helmrelease.yaml
  infrastructure/base/observability/graylog/deployment.yaml
  infrastructure/base/observability/mongodb/helmrelease.yaml
  infrastructure/base/observability/opensearch/helmrelease.yaml
  infrastructure/base/registry/deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix: Correct relative paths in Flux kustomization
  clusters/homelab-single/flux-system/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix: Update Flux HelmRelease and HelmRepository API versions
  infrastructure/base/monitoring/kube-prometheus-stack/helmrelease.yaml
  infrastructure/base/traefik/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix: Add runAsGroup to Prometheus and Alertmanager security context
  infrastructure/base/monitoring/kube-prometheus-stack/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix: Switch Goldilocks image from GCP to Docker Hub
  infrastructure/base/infra-testing/goldilocks/deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix: Update Goldilocks to v4.14.7 from correct registry
  infrastructure/base/infra-testing/goldilocks/deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix: Add PodSecurity privileged labels and disable Prometheus query logging
  infrastructure/base/monitoring/kube-prometheus-stack/helmrelease.yaml
  infrastructure/base/monitoring/kube-prometheus-stack/kustomization.yaml
  infrastructure/base/namespaces/kustomization.yaml
  infrastructure/base/namespaces/monitoring.yaml
  infrastructure/base/namespaces/observability.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix: Add init container to fix Prometheus volume permissions
  infrastructure/base/monitoring/kube-prometheus-stack/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix: Enable Headlamp in-cluster authentication
  infrastructure/base/infra-testing/headlamp/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat: Add Discord notifications for Flux CD events
  infrastructure/base/flux-notifications/README.md
  infrastructure/base/flux-notifications/alert.yaml
  infrastructure/base/flux-notifications/kustomization.yaml
  infrastructure/base/flux-notifications/provider.yaml
  scripts/setup-flux-discord.sh
Due: gitleaks, yamllint, kube-validate, shellcheck, shfmt, markdownlint, trailing-whitespace

feat: Use ExternalSecret for Discord webhook URL
  infrastructure/base/flux-notifications/README.md
  infrastructure/base/flux-notifications/SETUP-1PASSWORD.md
  infrastructure/base/flux-notifications/discord-webhook-externalsecret.yaml
  infrastructure/base/flux-notifications/kustomization.yaml
  infrastructure/base/flux-notifications/provider.yaml
Due: gitleaks, yamllint, kube-validate, markdownlint, trailing-whitespace

fix: Add flux-notifications to Flux and remove duplicate observability namespace
  clusters/homelab-single/flux-system/kustomization.yaml
  infrastructure/base/observability/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

Path conditions:
  gitleaks: any of: *.{yaml,yml,sh,json,env,txt,md}
  yamllint: any of: *.{yaml,yml}
  kube-validate: any of: *.{yaml,yml}
  shellcheck: any of: *.sh
  shfmt: any of: *.sh
  markdownlint: any of: *.md
  trailing-whitespace: any of: *.{yaml,yml,sh,md,json}
  helm-lint: any of: **/Chart.yaml
