Repository TheBranchDriftCatalyst/talos-homelab: changes, and which lefthook commands are due for each by the changed paths.
All: gitleaks, yamllint, kube-validate, shellcheck, shfmt, markdownlint, trailing-whitespace, helm-lint

Path conditions:
  gitleaks: any of: *.{yaml,yml,sh,json,env,txt,md}
  yamllint: any of: *.{yaml,yml}
  kube-validate: any of: *.{yaml,yml}
  shellcheck: any of: *.sh
  shfmt: any of: *.sh
  markdownlint: any of: *.md
  trailing-whitespace: any of: *.{yaml,yml,sh,md,json}
  helm-lint: any of: **/Chart.yaml

fix(crowdsec): decision-exporter -> https LAPI (dw2p #3) + split TLS long-tail into its own epic
  .beads/issues.jsonl
  infrastructure/base/crowdsec/decision-exporter.yaml
  infrastructure/base/crowdsec/decision-exporter/exporter.py
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(monitoring): east-west (Cilium) health dashboard + degradation alerts — WireGuard safety net
  infrastructure/base/cilium/eastwest-alerts.yaml
  infrastructure/base/cilium/kustomization.yaml
  infrastructure/base/monitoring/grafana-dashboards/json/ops-network-eastwest.json
  infrastructure/base/monitoring/grafana-dashboards/kustomization.yaml
  infrastructure/base/monitoring/grafana-dashboards/resources/ops-network-eastwest.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(cilium): enable WireGuard transparent encryption for all east-west pod traffic (TALOS-dw2p #1)
  infrastructure/base/cilium/values.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(monitoring): east-west encryption panels/alert use cilium feature gauge (no wg peer metric in 1.20)
  infrastructure/base/cilium/eastwest-alerts.yaml
  infrastructure/base/monitoring/grafana-dashboards/json/ops-network-eastwest.json
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(beads): close TLS shore-up #1 (WireGuard) + #3 (decision-exporter)
  .beads/issues.jsonl
Due: none

feat(cert-manager): trust-manager Bundle distributing homelab-ca cluster-wide (TALOS-dw2p #4)
  infrastructure/base/cert-manager-issuers/homelab-ca-bundle.yaml
  infrastructure/base/cert-manager-issuers/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(beads): defer TLS shore-up #2/#5 to watched follow-ups (WireGuard reduced their urgency)
  .beads/issues.jsonl
Due: none

feat(1password-connect): serve TLS on :8443 alongside http:8080 (TALOS-dw2p #2, step 1-2)
  infrastructure/base/external-secrets/onepassword-connect/certificate.yaml
  infrastructure/base/external-secrets/onepassword-connect/deployment.yaml
  infrastructure/base/external-secrets/onepassword-connect/kustomization.yaml
  infrastructure/base/external-secrets/onepassword-connect/service.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(pihole): restart the metrics exporter when it degrades (TALOS-5292)
  infrastructure/base/pihole/podmonitor.yaml
  infrastructure/base/pihole/statefulset.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

revert(1password-connect): back to http-only serving — Connect TLS is HTTPS-ONLY, not parallel
  infrastructure/base/external-secrets/onepassword-connect/deployment.yaml
  infrastructure/base/external-secrets/onepassword-connect/service.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(beads): record 1password TLS finding — HTTPS-only cutover + ESO trust requirement (dw2p #2)
  .beads/issues.jsonl
Due: none

feat(external-secrets): trust homelab-ca in the ESO controller (TALOS-dw2p #2 step A)
  infrastructure/base/external-secrets/operator/eso-ca-bundle.yaml
  infrastructure/base/external-secrets/operator/helmrelease.yaml
  infrastructure/base/external-secrets/operator/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(pihole): replace the wedging exporter with a fixed build (TALOS-5292)
  infrastructure/base/external-secrets/onepassword-connect/deployment.yaml
  infrastructure/base/external-secrets/onepassword-connect/service.yaml
  infrastructure/base/external-secrets/secretstores/onepassword-secretstore.yaml
  infrastructure/base/pihole/statefulset.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(nebula-sync): hand back the Pi-hole API seat after each cycle (TALOS-kl2c)
  infrastructure/base/pihole/nebula-sync/sync.sh
Due: gitleaks, shellcheck, shfmt, trailing-whitespace

chore(beads): close TLS shore-up #2 (1Password Connect TLS cutover done)
  .beads/issues.jsonl
Due: none

fix(minio): pin minio/mc to RELEASE.2024-11-21T17-21-54Z — :latest is gone from Docker Hub
  infrastructure/base/minio/cnpg-backup/provision.yaml
  infrastructure/base/minio/scoped-users/provision.yaml
  infrastructure/base/minio/tenant.yaml
  infrastructure/base/minio/tests/minio-dr.test.js
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(minio): IfNotPresent on mc provision jobs — use cached tag (docker.io fresh pulls denied)
  infrastructure/base/minio/cnpg-backup/provision.yaml
  infrastructure/base/minio/scoped-users/provision.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(minio): resolve duplicate imagePullPolicy key (dw2p) — single IfNotPresent
  infrastructure/base/minio/cnpg-backup/provision.yaml
  infrastructure/base/minio/scoped-users/provision.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(beads): file Docker Hub pull-through mirror gap (fresh docker.io pull denials)
  .beads/issues.jsonl
Due: none

chore(beads): epic to migrate off MinIO CE + S3-backend comparative analysis task
  .beads/issues.jsonl
Due: none

fix(minio): repoint images docker.io -> quay.io (docker.io DELETED minio/minio + minio/mc)
  infrastructure/base/minio/cnpg-backup/provision.yaml
  infrastructure/base/minio/scoped-users/provision.yaml
  infrastructure/base/minio/tenant.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

docs(s3): comparative S3-backend evaluation for MinIO CE replacement (TALOS-9aw8.1)
  docs/02-architecture/s3-backend-evaluation.md
Due: gitleaks, markdownlint, trailing-whitespace

chore(beads): close S3 analysis task + file bucket-inventory + versitygw-spike follow-ups
  .beads/issues.jsonl
Due: none

docs(s3): bucket inventory — only dagster is versioned; Garage covers 10/11 (TALOS-9aw8.2)
  .beads/issues.jsonl
  docs/02-architecture/s3-backend-evaluation.md
Due: gitleaks, markdownlint, trailing-whitespace

chore(beads): file cscli-TLS-breakage bug + blocklist-import task
  .beads/issues.jsonl
Due: none

feat(crowdsec): external blocklist-import CronJob — 5 curated low-FP feeds (TALOS-51rx)
  infrastructure/base/crowdsec/blocklist-import.yaml
  infrastructure/base/crowdsec/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(beads): close blocklist-import (TALOS-51rx) — 5 feeds live, ~20k decisions
  .beads/issues.jsonl
Due: none

chore(beads): file CrowdSec seats finding — premise likely a misread/stale-ghost, verify in Console
  .beads/issues.jsonl
Due: none

fix(crowdsec): local cscli over HTTPS LAPI — LOCAL_API_URL + INSECURE_SKIP_VERIFY (TALOS-i85t)
  infrastructure/base/crowdsec/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(crowdsec): resolve local cscli HTTP->HTTPS (TALOS-i85t) — restart regenerates creds
  infrastructure/base/crowdsec/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(beads): close cscli-TLS bug (TALOS-i85t)
  .beads/issues.jsonl
Due: none

fix(backup): etcd-backup minio/mc -> quay.io (docker.io deleted it; missed in the earlier repoint)
  infrastructure/base/backup/etcd-backup.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(beads): open ALPHA ingress/network accessibility audit epic (TALOS-a8vo)
  .beads/issues.jsonl
Due: none

chore(beads): file ALPHA audit findings — 4 P0, 7 P1, 5 P2 under TALOS-a8vo
  .beads/issues.jsonl
Due: none

feat(security): Layer 3 — ingress-accessibility test framework (TALOS-a8vo)
  .github/workflows/security-posture.yaml
  TESTING.md
  Taskfile.security.yaml
  applications/arr-stack/base/maintainerr/ingressroute.yaml
  infrastructure/base/vpn-gateway/secure-chrome.yaml
  infrastructure/base/vpn-gateway/secure-webtop.yaml
  scripts/security/ingress_allowlists.py
  scripts/security/ingress_corpus.py
  scripts/security/test_ingress_accessibility.py
Due: gitleaks, yamllint, kube-validate, markdownlint, trailing-whitespace

fix(security): registration check no-ops under TLS cert-auth (was crashing on removed postRenderers)
  scripts/security/check-crowdsec-registration.py
Due: none

docs(security): ALPHA ingress/network accessibility audit report (TALOS-a8vo)
  docs/02-architecture/ingress-accessibility-audit-2026-09.md
Due: gitleaks, markdownlint, trailing-whitespace

chore(beads): audit deliverables done — report + Layer 3 framework + 4 fixes; remaining P0s await go-ahead
  .beads/issues.jsonl
Due: none

fix(monitoring): gate obs-plane ingress (Loki/Mimir/Tempo/Alloy) with lan-only (TALOS-a8vo P0-3)
  infrastructure/base/monitoring/v2-otel/ingressroutes.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

refactor(tests): consolidated multi-suite test system under tests/ with pytest + suite markers (TALOS-a8vo)
  .github/workflows/security-posture.yaml
  TESTING.md
  Taskfile.security.yaml
  Taskfile.test.yaml
  Taskfile.yaml
  docs/02-architecture/ingress-accessibility-audit-2026-09.md
  docs/05-runbooks/crowdsec-verification.md
  pytest.ini
  tests/conftest.py
  tests/ingress-accessibility/ingress_allowlists.py
  tests/ingress-accessibility/ingress_corpus.py
  tests/ingress-accessibility/test_ingress_accessibility.py
  tests/lib/__init__.py
  tests/lib/helpers.py
  tests/security-posture/check-crowdsec-parsers.py
  tests/security-posture/check-crowdsec-registration.py
  tests/security-posture/check-crowdsec-vpn.py
  tests/security-posture/test-bt-agent-preflight.py
  tests/security-posture/test-crowdsec-decision-exporter.py
  tests/security-posture/test-crowdsec-vpn.py
  tests/security-posture/test_security_posture.py
Due: gitleaks, yamllint, kube-validate, markdownlint, trailing-whitespace
