Repository TheBranchDriftCatalyst/talos-homelab: changes, and which lefthook commands are due for each by the changed paths.
All: gitleaks, yamllint, kube-validate, shellcheck, shfmt, markdownlint, trailing-whitespace, helm-lint

gitleaks:
  tags: security
  run: gitleaks protect --verbose --redact --staged
  skip:
  - merge
  - rebase

yamllint:
  tags: linting yaml
  run: yamllint --strict .
  skip:
  - merge
  - rebase

kube-validate:
  tags: kubernetes yaml
  ...

shellcheck:
  tags: linting shell
  run: shellcheck -x {staged_files}
  skip:
  - merge
  - rebase

shfmt:
  tags: formatting shell
  run: shfmt -w -i 2 -ci -sr {staged_files}
  skip:
  - merge
  - rebase
  stage_fixed: true

markdownlint:
  tags: linting markdown
  run: npx markdownlint-cli2 {staged_files}
  skip:
  - merge
  - rebase

trailing-whitespace:
  tags: formatting
  run: "if grep -n '[[:space:]]$' {staged_files}; then\n  echo \"‚ùå Error: Trailing whitespace found\"\n  echo \"Run: sed -i '' 's/[[:space:]]*$//' <file>\"\n  exit 1\nfi\n"
  skip:
  - merge
  - rebase

helm-lint:
  tags: kubernetes helm
  run: "for chart_dir in infrastructure/base/*/; do\n  if [ -f \"$chart_dir/Chart.yaml\" ]; then\n    echo \"Linting Helm chart: $chart_dir\"\n    helm lint \"$chart_dir\" || exit 1\n  fi\ndone\n"
  skip:
  - merge
  - rebase

feat(monitoring): Add pod-cleanup CronJob and fix Talos alerts
  clusters/homelab-single/kube-system.yaml
  infrastructure/base/kube-system/kustomization.yaml
  infrastructure/base/kube-system/pod-cleanup/cronjob.yaml
  infrastructure/base/kube-system/pod-cleanup/kustomization.yaml
  infrastructure/base/kube-system/pod-cleanup/rbac.yaml
  infrastructure/base/monitoring/kube-prometheus-stack/values.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(monitoring): Disable Talos-incompatible alert rules in HelmRelease
  infrastructure/base/monitoring/kube-prometheus-stack/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(scripts): Add update-hosts.sh for /etc/hosts management
  infrastructure/base/kube-system/pod-cleanup/cronjob.yaml
  scripts/update-hosts.sh
Due: gitleaks, yamllint, kube-validate, shellcheck, shfmt, trailing-whitespace

feat(observability): Add Prometheus exporters for Graylog, MongoDB, OpenSearch
  infrastructure/base/observability/graylog/exporter.yaml
  infrastructure/base/observability/graylog/helmrelease.yaml
  infrastructure/base/observability/kustomization.yaml
  infrastructure/base/observability/mongodb/exporter.yaml
  infrastructure/base/observability/opensearch/exporter.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat: Add Grafana dashboards for observability exporters
  infrastructure/base/monitoring/grafana-dashboards/kustomization.yaml
  infrastructure/base/monitoring/grafana-dashboards/observability-dashboards.yaml
  infrastructure/base/monitoring/grafana-dashboards/pod-cleanup.yaml
  infrastructure/base/monitoring/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat: Migrate Grafana dashboards to CRDs, remove import scripts
  infrastructure/base/monitoring/grafana-dashboards/argocd-dashboards.yaml
  infrastructure/base/monitoring/grafana-dashboards/gitops-dashboards.yaml
  infrastructure/base/monitoring/grafana-dashboards/infrastructure-dashboards.yaml
  infrastructure/base/monitoring/grafana-dashboards/kubernetes-dashboards.yaml
  infrastructure/base/monitoring/grafana-dashboards/kustomization.yaml
  infrastructure/base/monitoring/grafana-dashboards/linkerd-dashboards.yaml
  infrastructure/base/monitoring/grafana-dashboards/traefik-dashboards.yaml
  infrastructure/base/monitoring/kube-prometheus-stack/helmrelease.yaml
  infrastructure/base/monitoring/pushgateway/helmrelease.yaml
  infrastructure/base/monitoring/pushgateway/kustomization.yaml
  scripts/import-grafana-dashboards.sh
  scripts/provision-grafana-dashboard.sh
Due: gitleaks, yamllint, kube-validate, shellcheck, shfmt, trailing-whitespace

feat: Add kube-system and grafana-instances to Flux, enhance pod-cleanup
  clusters/homelab-single/flux-system/kustomization.yaml
  infrastructure/base/kube-system/pod-cleanup/cronjob.yaml
  infrastructure/base/kube-system/pod-cleanup/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(postgresql): Add postgres_exporter sidecar for metrics collection
  applications/arr-stack/base/postgresql/deployment.yaml
  applications/arr-stack/base/postgresql/kustomization.yaml
  applications/arr-stack/base/postgresql/service.yaml
  applications/arr-stack/base/postgresql/servicemonitor.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(postgresql): Reduce memory requests to fit in cluster
  applications/arr-stack/base/postgresql/deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(postgresql): Meet minimum 64Mi memory request per container
  CLAUDE.md
  Taskfile.infra.yaml
  applications/arr-stack/base/postgresql/deployment.yaml
  docs/05-projects/catalyst-ui/deployment-guide.md
  docs/06-project-management/implementation-sessions/2025-11-22-external-secrets-operator.md
  infrastructure/_scripts/bootstrap-argocd.sh
  infrastructure/_scripts/deploy-observability.sh
  infrastructure/_scripts/deploy-stack.sh
  infrastructure/_scripts/developer/onepassword-debug.sh
  infrastructure/_scripts/developer/onepassword-list-secrets.sh
  infrastructure/_scripts/setup-1password-connect.sh
  infrastructure/_scripts/setup-traefik.sh
  infrastructure/base/argocd/applications/arr-stack-private.yaml
  infrastructure/base/argocd/applications/catalyst-ui.yaml
  infrastructure/base/argocd/applications/kasa-exporter.yaml
  scripts/build-and-deploy-catalyst-ui.sh
  scripts/deploy-stack.sh
  scripts/developer/kubeconfig-merge.sh
  scripts/developer/kubeconfig-unmerge.sh
  scripts/developer/update-hosts.sh
  scripts/setup-infrastructure.sh
Due: gitleaks, yamllint, kube-validate, shellcheck, shfmt, markdownlint, trailing-whitespace

feat(grafana): Add resource efficiency dashboard
  infrastructure/base/monitoring/grafana-dashboards/kustomization.yaml
  infrastructure/base/monitoring/grafana-dashboards/resource-efficiency.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(grafana): Use correct Prometheus datasource UID
  infrastructure/base/monitoring/grafana-dashboards/pod-cleanup.yaml
  infrastructure/base/monitoring/grafana-dashboards/resource-efficiency.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(monitoring): Add resource optimization report and dashboard enhancements
  docs/RESOURCE-OPTIMIZATION.md
  infrastructure/base/monitoring/grafana-dashboards/resource-efficiency.yaml
  scripts/generate-resource-report.py
Due: gitleaks, yamllint, kube-validate, markdownlint, trailing-whitespace

fix: Reduce over-provisioned resource requests based on P95 analysis
  applications/arr-stack/base/overseerr/deployment.yaml
  applications/arr-stack/base/prowlarr/deployment.yaml
  applications/arr-stack/base/radarr/deployment.yaml
  applications/arr-stack/base/readarr/deployment.yaml
  applications/arr-stack/base/sonarr/deployment.yaml
  applications/arr-stack/base/tdarr/deployment.yaml
  infrastructure/base/argocd/helmrelease.yaml
  infrastructure/base/argocd/image-updater/install.yaml
  infrastructure/base/infra-control/goldilocks/vpa-install.yaml
  infrastructure/base/registry/deployment.yaml
  infrastructure/base/registry/docker-registry.yaml
  infrastructure/base/traefik/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix: Adjust arr-stack CPU to meet 10m minimum LimitRange
  applications/arr-stack/base/overseerr/deployment.yaml
  applications/arr-stack/base/prowlarr/deployment.yaml
  applications/arr-stack/base/radarr/deployment.yaml
  applications/arr-stack/base/readarr/deployment.yaml
  applications/arr-stack/base/sonarr/deployment.yaml
  applications/arr-stack/base/tdarr/deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat: Increase under-provisioned resources (Phase 1)
  applications/arr-stack/base/homepage/deployment.yaml
  infrastructure/base/infra-control/kube-ops-view/deployment.yaml
  infrastructure/base/observability/graylog/helmrelease.yaml
  infrastructure/base/observability/mongodb/helmrelease.yaml
  infrastructure/base/observability/opensearch/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix: Reduce graylog memory to fit cluster capacity
  infrastructure/base/observability/graylog/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix: Keep graylog memory at 2Gi to fit cluster capacity
  infrastructure/base/observability/graylog/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

docs: Update resource optimization with Phase 1 completion
  docs/RESOURCE-OPTIMIZATION.md
Due: gitleaks, markdownlint, trailing-whitespace

feat(dashboard): Add efficiency % column with color thresholds to resource recommendations
  infrastructure/base/monitoring/grafana-dashboards/resource-efficiency.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

Path conditions:
  gitleaks: any of: *.{yaml,yml,sh,json,env,txt,md}
  yamllint: any of: *.{yaml,yml}
  kube-validate: any of: *.{yaml,yml}
  shellcheck: any of: *.sh
  shfmt: any of: *.sh
  markdownlint: any of: *.md
  trailing-whitespace: any of: *.{yaml,yml,sh,md,json}
  helm-lint: any of: **/Chart.yaml
