Repository TheBranchDriftCatalyst/talos-homelab: changes, and which lefthook commands are due for each by the changed paths.
All: gitleaks, yamllint, kube-validate, shellcheck, shfmt, markdownlint, trailing-whitespace, helm-lint

Path conditions:
  gitleaks: any of: *.{yaml,yml,sh,json,env,txt,md}
  yamllint: any of: *.{yaml,yml}
  kube-validate: any of: *.{yaml,yml}
  shellcheck: any of: *.sh
  shfmt: any of: *.sh
  markdownlint: any of: *.md
  trailing-whitespace: any of: *.{yaml,yml,sh,md,json}
  helm-lint: any of: **/Chart.yaml

feat(grafana): Catalyst RUM Ops — browser vitals fused with Traefik latency
  infrastructure/base/monitoring/grafana-dashboards/json/catalyst-rum-ops.json
  infrastructure/base/monitoring/grafana-dashboards/kustomization.yaml
  infrastructure/base/monitoring/grafana-dashboards/resources/catalyst-rum-ops.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(aws): ExternalSecret pointed at a 1Password item that never existed
  infrastructure/base/aws/externalsecret.yaml
  infrastructure/base/hybrid-llm/aws-credentials-externalsecret.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(aws): switch the POC GPU stack off; prune the 200GB volume it created
  infrastructure/base/aws/apps/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

docs(session): record the AWS undeclared-brake finding; retire stale time-boxes
  SESSION_STATUS.md
Due: gitleaks, markdownlint, trailing-whitespace

fix(traefik): two plugin keys differing only by case collided, 404ing boomtime
  infrastructure/base/analytics/middlewares.yaml
  infrastructure/base/analytics/sites-middlewares.yaml
  infrastructure/base/traefik/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(falco): redis OOM lost the UI's search index, breaking it silently for 5 days
  infrastructure/base/security/falco/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

test(falco): assert container metadata resolves, per node, and fire the tripwire for real
  infrastructure/base/security/falco/tests/test_falco_metadata.py
Due: none

feat(themepark): theme Forgejo, and complete the gitea variable contract
  infrastructure/base/forgejo/ingressroute.yaml
  infrastructure/base/themepark/middlewares.yaml
  infrastructure/base/themepark/server/css/catalyst-nav.css
  infrastructure/base/themepark/server/css/catalyst.css
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(themepark): the /catalyst/ asset route was serving the nav manifest publicly
  infrastructure/base/themepark/asset-route.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(themepark): gate the asset route by HOST — lan-only cannot work on this network
  infrastructure/base/themepark/asset-route.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

dolt remote info
  DOLT_REMOTE.md
Due: gitleaks, markdownlint, trailing-whitespace

feat(forgejo-runner): a python:3.12 job label
  infrastructure/base/forgejo-runner/deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(forgejo-runner): service containers need a user-defined network
  infrastructure/base/forgejo-runner/deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

docs(session): close out 2026-09-25/26; distil six invariants; repoint to the P0
  SESSION_STATUS.md
Due: gitleaks, markdownlint, trailing-whitespace

fix(image-updater): it could not resolve or authenticate to Zot
  infrastructure/base/argocd/image-updater/configmap-patch.yaml
  infrastructure/base/argocd/image-updater/fchat-bouncer-image-updater.yaml
  infrastructure/base/argocd/image-updater/kustomization.yaml
  infrastructure/base/argocd/image-updater/zot-credentials.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(image-updater): declare the finalizer the controller cannot add
  infrastructure/base/argocd/image-updater/fchat-bouncer-image-updater.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

gitblobstore: checkandput manifest
  manifest
  ufj0j9r4qlq2f1qm4fdkrh5rn7dum20q.darc
Due: none

gitblobstore: checkandput manifest
  0742hi9shlkv7gvii195fur458van635
  manifest
Due: none

feat(aws-redteam): on-demand external pentest vantage (off by default)
  clusters/catalyst-cluster/aws-redteam.yaml
  clusters/catalyst-cluster/flux-system/kustomization.yaml
  dev/yamllint.yaml
  infrastructure/base/aws-redteam/README.md
  infrastructure/base/aws-redteam/kustomization.yaml
  infrastructure/base/aws-redteam/probe.sh
  infrastructure/base/aws-redteam/reaper-cronjob.yaml
  infrastructure/base/aws-redteam/redteam-auto.yaml
  infrastructure/base/aws-redteam/retrieve-console.yaml
Due: gitleaks, yamllint, kube-validate, shellcheck, shfmt, markdownlint, trailing-whitespace

feat(ingress): deterministic exposure inventory as the basis for the a8vo.4 audit
  dev/Taskfile.test.yaml
  tests/ingress-accessibility/generate_exposure_inventory.py
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(forgejo,themepark): canonical-URL redirect + defense-in-depth on the nav manifest
  infrastructure/base/forgejo/ingressroute.yaml
  infrastructure/base/themepark/asset-route.yaml
  infrastructure/base/themepark/server/ingressroute.yaml
  infrastructure/base/traefik/middlewares.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

gitblobstore: checkandput manifest
  manifest
  rllkgrggnirf3darhuv8viodpr4quhi3.darc
Due: none

gitblobstore: checkandput manifest
  manifest
  q3ba5ffrjjrp67jgvc08h94qcrkk0mmf
Due: none

feat(aws-redteam): probe weblan:8081/websecurelan:8443 WAN-reachability
  infrastructure/base/aws-redteam/probe.sh
  infrastructure/base/aws-redteam/redteam-auto.yaml
Due: gitleaks, yamllint, kube-validate, shellcheck, shfmt, trailing-whitespace

fix(falco-test): the suite could not see the most likely next regression
  infrastructure/base/security/falco/tests/test_falco_metadata.py
Due: none

fix(ingress): adversarial audit broke four of the inventory's claims
  tests/ingress-accessibility/generate_exposure_inventory.py
Due: none

feat(ingress): --live-only mode to audit the running cluster directly
  dev/Taskfile.test.yaml
  tests/ingress-accessibility/generate_exposure_inventory.py
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(aws-redteam): spin up autonomous external vantage (temporary)
  infrastructure/base/aws-redteam/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(aws-redteam): tear down external vantage (pass complete)
  infrastructure/base/aws-redteam/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(ingress): close the two host-spoof leaks an external pentest confirmed
  applications/arr-stack/base/tautulli/ingressroute.yaml
  infrastructure/base/argocd/ingressroute.yaml
  tests/ingress-accessibility/generate_exposure_inventory.py
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(aws-redteam): re-embed probe.sh (indent drift; behaviourally identical)
  infrastructure/base/aws-redteam/redteam-auto.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

test(aws-redteam): ON — re-verify the a8vo.4/.7 host-spoof fixes from off-net
  infrastructure/base/aws-redteam/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

test(aws-redteam): OFF — teardown after confirming a8vo.4/.7 fixes off-net
  infrastructure/base/aws-redteam/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(aws): interactive SSM mode for XInstance/XGPUInstance + jump-pod picker
  infrastructure/base/aws-providers/activation-policy.yaml
  infrastructure/base/aws-redteam/README.md
  infrastructure/base/aws-redteam/ssm-jump.yaml
  infrastructure/base/aws/apps/kustomization.yaml
  infrastructure/base/aws/apps/ssm-instance-profile.yaml
  infrastructure/base/aws/xgpuinstance-composition.yaml
  infrastructure/base/aws/xgpuinstance-xrd.yaml
  infrastructure/base/aws/xinstance-composition.yaml
  infrastructure/base/aws/xinstance-xrd.yaml
Due: gitleaks, yamllint, kube-validate, markdownlint, trailing-whitespace

fix(arr): lan-only on the remaining 5 /api carve-outs — completes TALOS-a8vo.7
  applications/arr-stack/base/prowlarr/ingressroute.yaml
  applications/arr-stack/base/radarr/ingressroute.yaml
  applications/arr-stack/base/sabnzbd/ingressroute.yaml
  applications/arr-stack/base/seerr/ingressroute.yaml
  applications/arr-stack/base/sonarr/ingressroute.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(aws-gpu): launch gpu-test-rig on g6e.xlarge (L40S 48GB) serving Qwen3-32B-AWQ
  infrastructure/base/aws/apps/gpu-test-rig.yaml
  infrastructure/base/aws/apps/gpu-testrig-reaper.yaml
  infrastructure/base/aws/apps/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(aws-gpu): XGPUInstance AMI — upjet rejects resolve:ssm: alias, use concrete id
  infrastructure/base/aws/xgpuinstance-composition.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(aws-gpu): XGPUInstance root volume 60->100GB (DL GPU AMI snapshot is 75GB)
  infrastructure/base/aws/xgpuinstance-composition.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace
