Repository TheBranchDriftCatalyst/talos-homelab: changes, and which lefthook commands are due for each by the changed paths.
All: gitleaks, yamllint, kube-validate, shellcheck, shfmt, markdownlint, trailing-whitespace, helm-lint

gitleaks:
  tags: security
  run: gitleaks protect --verbose --redact --staged
  skip:
  - merge
  - rebase

yamllint:
  tags: linting yaml
  run: yamllint --strict .
  skip:
  - merge
  - rebase

kube-validate:
  tags: kubernetes yaml
  ...

shellcheck:
  tags: linting shell
  run: shellcheck -x {staged_files}
  skip:
  - merge
  - rebase

shfmt:
  tags: formatting shell
  run: shfmt -w -i 2 -ci -sr {staged_files}
  skip:
  - merge
  - rebase
  stage_fixed: true

markdownlint:
  tags: linting markdown
  run: npx markdownlint-cli2 {staged_files}
  skip:
  - merge
  - rebase

trailing-whitespace:
  tags: formatting
  run: "if grep -n '[[:space:]]$' {staged_files}; then\n  echo \"‚ùå Error: Trailing whitespace found\"\n  echo \"Run: sed -i '' 's/[[:space:]]*$//' <file>\"\n  exit 1\nfi\n"
  skip:
  - merge
  - rebase

helm-lint:
  tags: kubernetes helm
  run: "for chart_dir in infrastructure/base/*/; do\n  if [ -f \"$chart_dir/Chart.yaml\" ]; then\n    echo \"Linting Helm chart: $chart_dir\"\n    helm lint \"$chart_dir\" || exit 1\n  fi\ndone\n"
  skip:
  - merge
  - rebase

fix(vpn): add resilient healthcheck settings and fix secure-chrome mount path
  applications/arr-stack/base/qbittorrent/deployment.yaml
  infrastructure/base/vpn-gateway/secure-chrome.yaml
  infrastructure/base/vpn-gateway/securexng.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

perf(secure-chrome): increase resource requests for smoother Kasm experience
  infrastructure/base/vpn-gateway/secure-chrome.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

docs: add executive summary and follow-up recommendations
  docs/executive-summary.md
  docs/followup-exec-summary.md
Due: gitleaks, markdownlint, trailing-whitespace

refactor(storage): remove all TrueNAS references (sunset)
  applications/arr-stack/base/jellyfin/deployment.yaml
  applications/arr-stack/base/plex/deployment.yaml
  applications/arr-stack/base/radarr/deployment.yaml
  applications/arr-stack/base/readarr/deployment.yaml
  applications/arr-stack/base/sonarr/deployment.yaml
  applications/tdarr/base/pvcs.yaml
  applications/tdarr/base/server.yaml
  applications/tdarr/base/worker-daemonset.yaml
  clusters/catalyst-cluster/cluster-settings.yaml
  infrastructure/base/storage/kustomization.yaml
  infrastructure/base/storage/truenas-storage.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(traefik): increase helm timeout to 15m for DaemonSet rollout
  infrastructure/base/traefik/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

perf(secure-chrome): increase resources to 2.5 cores and 8GB RAM
  infrastructure/base/vpn-gateway/secure-chrome.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(storage): remove synology-archive-10t PV/PVC
  applications/tdarr/base/pvcs.yaml
  applications/tdarr/base/server.yaml
  applications/tdarr/base/worker-daemonset.yaml
  infrastructure/base/storage/synology-storage.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(velero): disable default volume backup to prevent 20TB+ media backup
  infrastructure/base/backup/velero.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(nebula): add lighthouse deployment to homelab cluster
  infrastructure/base/nebula/configmap.yaml
  infrastructure/base/nebula/deployment.yaml
  infrastructure/base/nebula/kustomization.yaml
  infrastructure/base/nebula/namespace.yaml
  infrastructure/base/nebula/secret.yaml
  scripts/nebula/deploy-lighthouse.sh
Due: gitleaks, yamllint, kube-validate, shellcheck, shfmt, trailing-whitespace

feat(carrierarr): deploy control-plane MVP to cluster
  infrastructure/base/carrierarr/control-plane.yaml
  tools/carrierarr/Dockerfile.control-plane
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(carrierarr): add Nebula mesh to EC2 GPU worker AMI
  tools/carrierarr/ami/gpu-worker.pkr.hcl
  tools/carrierarr/ami/userdata/gpu-worker.sh
  tools/carrierarr/ami/variables.pkr.hcl
Due: gitleaks, shellcheck, shfmt, trailing-whitespace

feat(nebula): configure nebula.knowledgedump.space endpoint
  scripts/nebula/deploy-lighthouse.sh
  tools/carrierarr/ami/userdata/gpu-worker.sh
Due: gitleaks, shellcheck, shfmt, trailing-whitespace

feat(carrierarr): add Nebula mesh support to lighthouse AMI
  tools/carrierarr/ami/lighthouse.pkr.hcl
  tools/carrierarr/ami/userdata/lighthouse.sh
Due: gitleaks, shellcheck, shfmt, trailing-whitespace

feat(carrierarr): complete Nebula mesh + k3s hybrid cloud MVP
  .gitignore
  docs/HYBRID-CLOUD-PLAYBOOK.md
  tools/carrierarr/ami/lighthouse.pkr.hcl
  tools/carrierarr/ami/userdata/gpu-worker.sh
  tools/carrierarr/ami/userdata/lighthouse.sh
Due: gitleaks, shellcheck, shfmt, markdownlint, trailing-whitespace

chore: add gitleaks fingerprints for Cilium ClusterMesh certs
  .gitleaksignore
Due: none

feat(carrierarr): add Tiltfile provisioning automation for hybrid cloud
  infrastructure/base/hybrid-llm/liqo/helmrelease.yaml
  infrastructure/base/hybrid-llm/liqo/kustomization.yaml
  infrastructure/base/hybrid-llm/liqo/namespace.yaml
  tools/carrierarr/PROVISIONING-NOTES.md
  tools/carrierarr/Tiltfile
Due: gitleaks, yamllint, kube-validate, markdownlint, trailing-whitespace

feat(external-dns): add GitOps Cloudflare CNAME management
  .beads/issues.jsonl
  clusters/catalyst-cluster/external-dns.yaml
  infrastructure/base/external-dns/README.md
  infrastructure/base/external-dns/deployment.yaml
  infrastructure/base/external-dns/externalsecret.yaml
  infrastructure/base/external-dns/kustomization.yaml
  infrastructure/base/external-dns/namespace.yaml
  infrastructure/base/external-dns/rbac.yaml
  infrastructure/base/whoami/ingressroute.yaml
Due: gitleaks, yamllint, kube-validate, markdownlint, trailing-whitespace

feat(authentik): add external-dns annotations for auth.knowledgedump.space
  infrastructure/base/authentik/ingressroute.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(external-dns): add DNSEndpoint CRD, metrics, and Grafana dashboard
  infrastructure/base/external-dns/deployment.yaml
  infrastructure/base/external-dns/dnsendpoint-crd.yaml
  infrastructure/base/external-dns/dnsendpoints.yaml
  infrastructure/base/external-dns/kustomization.yaml
  infrastructure/base/external-dns/rbac.yaml
  infrastructure/base/external-dns/servicemonitor.yaml
  infrastructure/base/monitoring/grafana-dashboards/external/external-dns-dashboard.yaml
  infrastructure/base/monitoring/grafana-dashboards/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

Path conditions:
  gitleaks: any of: *.{yaml,yml,sh,json,env,txt,md}
  yamllint: any of: *.{yaml,yml}
  kube-validate: any of: *.{yaml,yml}
  shellcheck: any of: *.sh
  shfmt: any of: *.sh
  markdownlint: any of: *.md
  trailing-whitespace: any of: *.{yaml,yml,sh,md,json}
  helm-lint: any of: **/Chart.yaml
