Repository TheBranchDriftCatalyst/talos-homelab: changes, and which lefthook commands are due for each by the changed paths.
All: gitleaks, yamllint, kube-validate, shellcheck, shfmt, markdownlint, trailing-whitespace, helm-lint

Path conditions:
  gitleaks: any of: *.{yaml,yml,sh,json,env,txt,md}
  yamllint: any of: *.{yaml,yml}
  kube-validate: any of: *.{yaml,yml}
  shellcheck: any of: *.sh
  shfmt: any of: *.sh
  markdownlint: any of: *.md
  trailing-whitespace: any of: *.{yaml,yml,sh,md,json}
  helm-lint: any of: **/Chart.yaml

fix(honeypots): apply to the novelty bouncer the two fixes its sibling got today
  infrastructure/base/security/honeypots/haproxy-novelty-bouncer/bouncer.py
Due: none

fix(honeypots): filter decisions server-side — the bouncer had stopped enforcing
  infrastructure/base/security/honeypots/haproxy-novelty-bouncer/bouncer.py
Due: none

feat(honeypots): make the breach tripwire continuously self-testing
  infrastructure/base/security/honeypots/kustomization.yaml
  infrastructure/base/security/honeypots/tripwire-alert.yaml
  infrastructure/base/security/honeypots/tripwire-canary.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(honeypots): run the tripwire canary from falco, not inside the quarantine
  infrastructure/base/security/honeypots/tripwire-canary.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(honeypots): split the canary across two kustomizations so it lands where intended
  infrastructure/base/security/falco/kustomization.yaml
  infrastructure/base/security/falco/tripwire-canary.yaml
  infrastructure/base/security/honeypots/kustomization.yaml
  infrastructure/base/security/honeypots/tripwire-canary-rbac.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

docs(security): stop asserting live state in the architecture doc
  infrastructure/base/security/README.md
Due: gitleaks, markdownlint, trailing-whitespace

docs: add SESSION_STATUS.md as the cold-start index for this repo
  SESSION_STATUS.md
  docs/session-archive.md
Due: gitleaks, markdownlint, trailing-whitespace

feat(docs): docsgen — a portable Go documentation linter
  Taskfile.yaml
  dev/Taskfile.docs.yaml
  dev/docs-generator/.gitignore
  dev/docs-generator/README.md
  dev/docs-generator/collect.go
  dev/docs-generator/config.go
  dev/docs-generator/config.yaml
  dev/docs-generator/go.mod
  dev/docs-generator/go.sum
  dev/docs-generator/main.go
  dev/docs-generator/model.go
  dev/docs-generator/rules.go
  flake.nix
Due: gitleaks, yamllint, kube-validate, markdownlint, trailing-whitespace

chore: ignore go-task's .task/ checksum cache
  .gitignore
Due: none

docs(pihole): mark the HA pattern doc for colocation
  docs/02-architecture/pihole-ha-pattern.md
Due: gitleaks, markdownlint, trailing-whitespace

docs: close out 2026-09-18 — two efforts, one in flight
  SESSION_STATUS.md
Due: gitleaks, markdownlint, trailing-whitespace

feat(docsgen): generate the component inventory, and make the normaliser honest
  dev/Taskfile.docs.yaml
  dev/docs-generator/README.md
  dev/docs-generator/artifact_inventory.go
  dev/docs-generator/collect.go
  dev/docs-generator/config.go
  dev/docs-generator/generate.go
  dev/docs-generator/generate_test.go
  dev/docs-generator/go.mod
  dev/docs-generator/go.sum
  dev/docs-generator/main.go
  dev/docs-generator/model.go
  dev/docs-generator/rules.go
  dev/docs-generator/tools.go
  docs/07-reference/component-inventory.md
Due: gitleaks, yamllint, kube-validate, markdownlint, trailing-whitespace

fix(docsgen): rescue 8 untracked goldens, kill a third self-curing fixture
  .gitignore
  dev/docs-generator/artifact_inventory.go
  dev/docs-generator/collect_unit_test.go
  dev/docs-generator/config_unit_test.go
  dev/docs-generator/docsgen_suite_test.go
  dev/docs-generator/generate_test.go
  dev/docs-generator/integration/integration_suite_test.go
  dev/docs-generator/integration/known_gaps_test.go
  dev/docs-generator/integration/testdata/golden/flux-cluster/components.txt
  dev/docs-generator/integration/testdata/golden/flux-cluster/frontmatter.txt
  dev/docs-generator/integration/testdata/golden/flux-cluster/lint.txt
  dev/docs-generator/integration/testdata/golden/flux-cluster/stale.txt
  dev/docs-generator/integration/testdata/golden/plain-dirs/components.txt
  dev/docs-generator/integration/testdata/golden/plain-dirs/frontmatter.txt
  dev/docs-generator/integration/testdata/golden/plain-dirs/lint.txt
  dev/docs-generator/integration/testdata/golden/plain-dirs/stale.txt
  dev/docs-generator/integration/testdata/samples/flux-cluster/handbook/process/ticket-drift.md
  dev/docs-generator/integration/testdata/samples/plain-dirs/notes/no-footer.md
  dev/docs-generator/model_unit_test.go
  dev/docs-generator/rules.go
  dev/docs-generator/rules_unit_test.go
  dev/yamllint.yaml
Due: gitleaks, yamllint, kube-validate, markdownlint, trailing-whitespace

docs(security): first section migrated to the taxonomy; rename blurb -> bluf
  .github/workflows/llm-proxy.yaml
  .github/workflows/security-posture.yaml
  Tiltfile
  dev/docs-generator/artifact_inventory.go
  dev/docs-generator/config.yaml
  dev/docs-generator/integration/lint_test.go
  dev/docs-generator/integration/testdata/golden/flux-cluster/component-inventory.md
  dev/docs-generator/integration/testdata/golden/plain-dirs/component-inventory.md
  dev/docs-generator/integration/testdata/samples/flux-cluster/handbook/design/out-of-order.md
  dev/docs-generator/rules.go
  dev/docs-generator/rules_unit_test.go
  docs/02-architecture/security-ops.md
  docs/05-runbooks/cowrie-public-exposure.md
  docs/05-runbooks/crowdsec-verification.md
  docs/07-reference/component-inventory.md
  infrastructure/base/security/README.md
  infrastructure/base/security/_namespace-migration/README.md
  infrastructure/base/security/crowdsec/README.md
  infrastructure/base/security/crowdsec/crowdsec-verification.md
  infrastructure/base/security/falco/README.md
  infrastructure/base/security/honeypots/README.md
  infrastructure/base/security/honeypots/Tiltfile
  infrastructure/base/security/honeypots/cowrie-public-exposure.md
  infrastructure/base/security/honeypots/tests/pentest-job.yaml
  infrastructure/base/security/honeypots/tests/test_honeypot_security.py
  infrastructure/base/security/iocaine/README.md
  infrastructure/base/security/todo.md
Due: gitleaks, yamllint, kube-validate, markdownlint, trailing-whitespace

refactor(security): folder owns its dashboards; grouping is a label, not a namespace
  README.md
  docs/02-architecture/README.md
  docs/02-architecture/security-ops.md
  docs/INDEX.md
  infrastructure/base/monitoring/grafana-dashboards/kustomization.yaml
  infrastructure/base/monitoring/grafana-dashboards/resources/crowdsec-ops.yaml
  infrastructure/base/monitoring/grafana-dashboards/resources/falco-ops.yaml
  infrastructure/base/security/_namespace-migration/README.md
  infrastructure/base/security/_namespace-migration/namespace.yaml
  infrastructure/base/security/crowdsec/dashboards/crowdsec-ops.json
  infrastructure/base/security/crowdsec/dashboards/crowdsec-ops.yaml
  infrastructure/base/security/crowdsec/docs/crowdsec-verification.md
  infrastructure/base/security/crowdsec/kustomization.yaml
  infrastructure/base/security/crowdsec/namespace.yaml
  infrastructure/base/security/falco/dashboards/falco-ops.json
  infrastructure/base/security/falco/dashboards/falco-ops.yaml
  infrastructure/base/security/falco/kustomization.yaml
  infrastructure/base/security/falco/namespace.yaml
  infrastructure/base/security/honeypots/dashboards/honeypot-ops.json
  infrastructure/base/security/honeypots/dashboards/honeypot-ops.yaml
  infrastructure/base/security/honeypots/docs/cowrie-public-exposure.md
  infrastructure/base/security/honeypots/kustomization.yaml
  infrastructure/base/security/honeypots/namespace.yaml
  infrastructure/base/security/iocaine/namespace.yaml
Due: gitleaks, yamllint, kube-validate, markdownlint, trailing-whitespace

fix(security): honeypot tests assert the current architecture again
  docs/06-troubleshooting/README.md
  docs/_archive/talos-apiserver-resources-patch.yaml
  docs/_archive/talos-controlplane-metrics-patch.yaml
  docs/_archive/talos-gpu-udev-rules-patch.yaml
  docs/_archive/talos-kubelet-image-gc-patch.yaml
  docs/_archive/talos-kubelet-iscsi-patch.yaml
  docs/_archive/talos-kubelet-localpath-patch.yaml
  docs/_archive/talos-kubelet-maxpods-patch.yaml
  docs/_archive/talos-kubelet-memory-reserve-patch.yaml
  docs/_archive/talos-memory-constrained-taint-patch.yaml
  docs/_archive/talos-schedulable-controlplane-patch.yaml
  docs/_archive/talos03-kubelet-maxpods-patch.yaml
  docs/patterns/README.md
  docs/retros/RETRO-GPU-2025-12-19.md
  infrastructure/archived/README.md
  infrastructure/archived/hybrid-llm-nebula/README.md
  infrastructure/archived/hybrid-llm-nebula/kustomization.yaml
  infrastructure/archived/nebula/configmap.yaml
  infrastructure/archived/nebula/deployment.yaml
  infrastructure/archived/nebula/kustomization.yaml
  infrastructure/archived/nebula/namespace.yaml
  infrastructure/archived/nebula/secret.yaml
  infrastructure/base/security/README.md
  infrastructure/base/security/_namespace-migration/README.md
  infrastructure/base/security/honeypots/tests/test_honeypot_security.py
Due: gitleaks, yamllint, kube-validate, markdownlint, trailing-whitespace

docs(security): restore the namespace decision record
  infrastructure/base/security/README.md
  infrastructure/base/security/_namespace-migration/README.md
Due: gitleaks, markdownlint, trailing-whitespace

fix(honeypots): scope beelzebub's LLM egress to the LiteLLM pod, not the namespace
  infrastructure/base/security/honeypots/cilium-network-policy.yaml
  infrastructure/base/security/honeypots/tests/test_honeypot_security.py
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(ci): make the markdownlint gate actually run, and actually block
  .beads/hooks/pre-commit
  .markdownlint-cli2.yaml
  .markdownlint.json
  applications/arr-stack/base/postgres/MIGRATION-RUNBOOK.md
  lefthook.yaml
Due: gitleaks, yamllint, kube-validate, markdownlint, trailing-whitespace

refactor(lint): one markdownlint config, not two
  .markdownlint-cli2.yaml
  .markdownlint.json
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(docsgen): scope an artifact to a subset of components; generate the security inventory
  dev/docs-generator/README.md
  dev/docs-generator/artifact_inventory.go
  dev/docs-generator/artifact_scope_unit_test.go
  dev/docs-generator/config.go
  dev/docs-generator/config.yaml
  dev/docs-generator/generate.go
  dev/docs-generator/integration/README.md
  dev/docs-generator/integration/golden_test.go
  dev/docs-generator/integration/integration_suite_test.go
  dev/docs-generator/integration/samples_test.go
  dev/docs-generator/integration/scope_test.go
  dev/docs-generator/integration/testdata/golden/flux-cluster/scoped-inventory.md
  dev/docs-generator/integration/testdata/golden/plain-dirs/scoped-inventory.md
  dev/docs-generator/integration/testdata/samples/flux-cluster/config.yaml
  dev/docs-generator/integration/testdata/samples/plain-dirs/config.yaml
  infrastructure/base/security/components.md
Due: gitleaks, yamllint, kube-validate, markdownlint, trailing-whitespace

docs: promote the time-boxed security item to the top of Now/next
  SESSION_STATUS.md
Due: gitleaks, markdownlint, trailing-whitespace

fix(crowdsec): correct three GC claims that an adversarial pass refuted
  dev/docs-generator/artifact_inventory.go
  dev/docs-generator/collect.go
  dev/docs-generator/main.go
  dev/docs-generator/rules_unit_test.go
  infrastructure/base/security/crowdsec/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(crowdsec): promote cowrie-replay-drop to enforcing, on evidence the old criteria could not give
  infrastructure/base/security/crowdsec/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(telemetry): the dashboard audit was green because it was blind
  infrastructure/base/security/honeypots/dashboards/honeypot-ops.json
  tests/telemetry/dashboards.py
  tests/telemetry/test_dashboards.py
Due: gitleaks, trailing-whitespace

fix(falco): give the tripwire canary a marker so its heartbeat stops masking real execs
  infrastructure/base/security/falco/tripwire-canary.yaml
  infrastructure/base/security/honeypots/dashboards/honeypot-ops.json
  tests/telemetry/dashboards.py
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(crowdsec): surface the silentdrop plane, and stop double-scraping cs_* metrics
  infrastructure/base/security/crowdsec/dashboards/crowdsec-ops.json
  infrastructure/base/security/crowdsec/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(cowrie): make the honeypot's OS story self-consistent and close the auth oracle
  infrastructure/base/security/honeypots/cfg/cowrie.cfg
  infrastructure/base/security/honeypots/deployment.yaml
  infrastructure/base/security/honeypots/honeyfs/README.md
  infrastructure/base/security/honeypots/honeyfs/etc/hostname
  infrastructure/base/security/honeypots/honeyfs/proc/cpuinfo
  infrastructure/base/security/honeypots/honeyfs/proc/loadavg
  infrastructure/base/security/honeypots/honeyfs/proc/uptime
  infrastructure/base/security/honeypots/honeyfs/proc/version
  infrastructure/base/security/honeypots/honeyfs/usr/lib/os-release
  infrastructure/base/security/honeypots/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, markdownlint, trailing-whitespace

fix(honeypots): userdb.txt was silently gitignored, breaking the Kustomization
  .gitignore
  infrastructure/base/security/honeypots/userdb.txt
Due: gitleaks

feat(honeypots): detect the cowrie parser blow-up instead of forking an image
  infrastructure/base/security/honeypots/tripwire-alert.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(docsgen): claims — a knowledge layer that records HOW anyone knows
  dev/docs-generator/claim.go
  dev/docs-generator/claim_report.go
  dev/docs-generator/claim_rules.go
  dev/docs-generator/claim_unit_test.go
  dev/docs-generator/collect.go
  dev/docs-generator/main.go
  infrastructure/base/security/crowdsec/helmrelease.yaml
  infrastructure/base/security/honeypots/honeyfs/README.md
  tests/telemetry/dashboards.py
Due: gitleaks, yamllint, kube-validate, markdownlint, trailing-whitespace

feat(docsgen): project inline claims into component READMEs
  dev/docs-generator/artifact_knowledge.go
  dev/docs-generator/claim.go
  dev/docs-generator/claim_rules.go
  dev/docs-generator/claim_unit_test.go
  dev/docs-generator/collect.go
  dev/docs-generator/config.yaml
  dev/docs-generator/generate.go
  infrastructure/base/security/crowdsec/README.md
  infrastructure/base/security/honeypots/README.md
  infrastructure/base/security/honeypots/honeyfs/README.md
Due: gitleaks, yamllint, kube-validate, markdownlint, trailing-whitespace

feat(traefik): load the theme.park injection plugin
  infrastructure/base/traefik/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(themepark): self-host theme.park and serve a Catalyst theme
  clusters/catalyst-cluster/flux-system/kustomization.yaml
  clusters/catalyst-cluster/themepark.yaml
  infrastructure/base/themepark/kustomization.yaml
  infrastructure/base/themepark/middlewares.yaml
  infrastructure/base/themepark/server/cilium-network-policy.yaml
  infrastructure/base/themepark/server/css/catalyst.css
  infrastructure/base/themepark/server/deployment.yaml
  infrastructure/base/themepark/server/ingressroute.yaml
  infrastructure/base/themepark/server/kustomization.yaml
  infrastructure/base/themepark/server/namespace.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(sonarr): canary the Catalyst theme via Traefik injection
  applications/arr-stack/base/sonarr/ingressroute.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace
