Repository TheBranchDriftCatalyst/talos-homelab: changes, and which lefthook commands are due for each by the changed paths.
All: gitleaks, yamllint, kube-validate, shellcheck, shfmt, markdownlint, trailing-whitespace, helm-lint

Path conditions:
  gitleaks: any of: *.{yaml,yml,sh,json,env,txt,md}
  yamllint: any of: *.{yaml,yml}
  kube-validate: any of: *.{yaml,yml}
  shellcheck: any of: *.sh
  shfmt: any of: *.sh
  markdownlint: any of: *.md
  trailing-whitespace: any of: *.{yaml,yml,sh,md,json}
  helm-lint: any of: **/Chart.yaml

fix(flux): register zot Kustomization in cluster aggregator (TALOS-6vf)
  applications/crossplane-demo/dragonfly.yaml
  clusters/catalyst-cluster/flux-system/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(zot): bump to latest v2.1.20 + drop unsupported claimMapping key (TALOS-6vf)
  infrastructure/base/registry/zot/deployment.yaml
  infrastructure/base/registry/zot/externalsecret.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(zot): OIDC via auth.talos00 hostAlias + wait:false (TALOS-6vf)
  clusters/catalyst-cluster/zot.yaml
  infrastructure/base/registry/zot/deployment.yaml
  infrastructure/base/registry/zot/externalsecret.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(zot,coredns): resolve auth.talos00 in-cluster via CoreDNS rewrite (no hardcoded IP)
  infrastructure/base/kube-system/coredns/coredns-configmap.yaml
  infrastructure/base/registry/zot/deployment.yaml
  infrastructure/base/registry/zot/externalsecret.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(zot): TCP probes instead of httpGet /v2/ (401 auth challenge)
  infrastructure/base/registry/zot/deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(zot): set externalUrl so OIDC redirect_uri is correct (TALOS-6vf)
  infrastructure/base/registry/zot/externalsecret.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(zot): public HTTPS route registry.knowledgedump.space + OIDC over TLS (TALOS-6vf)
  infrastructure/base/authentik/zot-blueprint.yaml
  infrastructure/base/registry/zot/externalsecret.yaml
  infrastructure/base/registry/zot/ingressroute.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(registry): cut registry.talos00 over to Zot + decommission Nexus (TALOS-6vf)
  clusters/catalyst-cluster/flux-system/kustomization.yaml
  clusters/catalyst-cluster/registry.yaml
  infrastructure/base/registry/README.md
  infrastructure/base/registry/deployment.yaml
  infrastructure/base/registry/docker-registry.yaml
  infrastructure/base/registry/externalsecret-nexus-admin.yaml
  infrastructure/base/registry/kustomization.yaml
  infrastructure/base/registry/zot/ingressroute.yaml
Due: gitleaks, yamllint, kube-validate, markdownlint, trailing-whitespace

fix(namespaces): re-own registry namespace after Nexus decommission (TALOS-6vf)
  infrastructure/base/namespaces/kustomization.yaml
  infrastructure/base/namespaces/registry.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(test): interactive npm test suite/flag picker (scripts/jest-select.js)
  jest.config.js
  package.json
  scripts/jest-select.js
Due: gitleaks, trailing-whitespace

fix(pihole): split-horizon registry.knowledgedump.space -> Traefik (TALOS-6vf)
  infrastructure/base/pihole/statefulset.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(crossplane-demo): apply-only Kustomization so flex/registry stops cascade-blocking [TALOS-ja5]
  clusters/catalyst-cluster/crossplane-demo.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(beads): track flex-into-Zot (TALOS-2je) + Plausible secret (TALOS-x64) follow-ups
  .beads/last-touched
Due: none

feat(plausible): public tracking-only ingress at analytics.knowledgedump.space [TALOS-4gg]
  applications/crossplane-demo/plausible/ingressroute.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(analytics): central Plausible-injection middleware for opt-in per-app tracking [TALOS-4gg]
  clusters/catalyst-cluster/analytics.yaml
  clusters/catalyst-cluster/flux-system/kustomization.yaml
  infrastructure/base/analytics/README.md
  infrastructure/base/analytics/kustomization.yaml
  infrastructure/base/analytics/middlewares.yaml
  infrastructure/base/traefik/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, markdownlint, trailing-whitespace

feat(forgejo): multi-format package registry (npm/PyPI/Maven/...) + CNPG (TALOS-6nf)
  clusters/catalyst-cluster/flux-system/kustomization.yaml
  clusters/catalyst-cluster/forgejo.yaml
  infrastructure/base/forgejo/deployment.yaml
  infrastructure/base/forgejo/externalsecret.yaml
  infrastructure/base/forgejo/ingressroute.yaml
  infrastructure/base/forgejo/kustomization.yaml
  infrastructure/base/forgejo/postgres.yaml
  infrastructure/base/namespaces/forgejo.yaml
  infrastructure/base/namespaces/kustomization.yaml
  infrastructure/base/pihole/statefulset.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

refactor(pihole): wildcard split-horizon *.knowledgedump.space -> Traefik (TALOS-6nf)
  infrastructure/base/pihole/statefulset.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(analytics): Analytics Ops — declarative Plausible provisioning + stats exporter + dashboard [TALOS-4gg]
  applications/crossplane-demo/plausible/deployment.yaml
  applications/crossplane-demo/plausible/exporter/Dockerfile
  applications/crossplane-demo/plausible/exporter/deployment.yaml
  applications/crossplane-demo/plausible/exporter/externalsecret.yaml
  applications/crossplane-demo/plausible/exporter/go.mod
  applications/crossplane-demo/plausible/exporter/kustomization.yaml
  applications/crossplane-demo/plausible/exporter/main.go
  applications/crossplane-demo/plausible/kustomization.yaml
  applications/crossplane-demo/plausible/site-reconciler.yaml
  applications/crossplane-demo/plausible/sites-registry.yaml
  infrastructure/base/analytics/kustomization.yaml
  infrastructure/base/analytics/middlewares.yaml
  infrastructure/base/analytics/sites-middlewares.yaml
  infrastructure/base/monitoring/grafana-dashboards/json/analytics-ops.json
  infrastructure/base/monitoring/grafana-dashboards/kustomization.yaml
  infrastructure/base/monitoring/grafana-dashboards/resources/analytics-ops.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(forgejo): run bootstrap initContainer as git user 1000 (not root) (TALOS-6nf)
  infrastructure/base/forgejo/deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(beads): track Analytics Ops follow-ups (Stats API key TALOS-q7m, exporter image TALOS-6hb)
  .beads/last-touched
Due: none

fix(forgejo): entrypoint-driven config + admin Job (not custom init) (TALOS-6nf)
  infrastructure/base/forgejo/admin-job.yaml
  infrastructure/base/forgejo/deployment.yaml
  infrastructure/base/forgejo/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(forgejo): escape shell $ as $$ in admin Job (Flux postBuild ate them) (TALOS-6nf)
  infrastructure/base/forgejo/admin-job.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(forgejo): Authentik OIDC login (TALOS-6nf)
  infrastructure/base/authentik/externalsecret.yaml
  infrastructure/base/authentik/forgejo-blueprint.yaml
  infrastructure/base/authentik/helmrelease.yaml
  infrastructure/base/authentik/kustomization.yaml
  infrastructure/base/forgejo/admin-job.yaml
  infrastructure/base/forgejo/deployment.yaml
  infrastructure/base/forgejo/externalsecret.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(zot): add websecure route for registry.talos00 so https push/pull stops 404ing [TALOS-6vf]
  infrastructure/base/registry/zot/ingressroute.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(analytics): exporter needs the nexus-pull-dockercfg imagePullSecret for Zot [TALOS-4gg]
  applications/crossplane-demo/plausible/exporter/deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(beads): close Analytics Ops + registry follow-ups (stats key, exporter image, Zot push/pull)
  .beads/last-touched
Due: none

chore(beads): track GA use-case drop-in follow-up
  .beads/last-touched
Due: none

fix(zot,coredns): same-site OIDC issuer auth.knowledgedump.space (TALOS-6vf)
  infrastructure/base/kube-system/coredns/coredns-configmap.yaml
  infrastructure/base/registry/zot/externalsecret.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

gitblobstore: checkandput manifest
  manifest
  t55a2ip2fotaleghim1i46luqhiqamav.darc
Due: none

gitblobstore: checkandput manifest
  52r8kqod8fl3qvofsivm3i13kg5se853
  manifest
Due: none

chore(beads): sync tracking after Zot same-site OIDC + Forgejo OIDC (TALOS-6vf, TALOS-6nf)
  .beads/last-touched
Due: none

gitblobstore: checkandput manifest
  bkmt8n15d2btq6ft30spumtmn64u4qgm.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  bic3jvafc2nffngpvi755fu0b0udn1fa
  manifest
Due: none

feat(crowdsec): deploy CrowdSec IPS (LAPI + agent + AppSec) + Traefik bouncer plugin [TALOS-pbn]
  clusters/catalyst-cluster/crowdsec.yaml
  clusters/catalyst-cluster/flux-system/kustomization.yaml
  infrastructure/base/crowdsec/bouncer-middleware.yaml
  infrastructure/base/crowdsec/externalsecret.yaml
  infrastructure/base/crowdsec/helmrelease.yaml
  infrastructure/base/crowdsec/helmrepository.yaml
  infrastructure/base/crowdsec/kustomization.yaml
  infrastructure/base/crowdsec/namespace.yaml
  infrastructure/base/monitoring/grafana-dashboards/json/crowdsec-ops.json
  infrastructure/base/monitoring/grafana-dashboards/kustomization.yaml
  infrastructure/base/monitoring/grafana-dashboards/resources/crowdsec-ops.yaml
  infrastructure/base/traefik/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(crowdsec): make bouncer/enroll keys optional so the engine detects before the key [TALOS-pbn]
  infrastructure/base/crowdsec/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(crowdsec): optional bouncer-key mount + drop traefik dependsOn (break deadlock) [TALOS-pbn]
  clusters/catalyst-cluster/crowdsec.yaml
  infrastructure/base/traefik/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(crowdsec): correct image tag v1.7.8 (v1.7.8-2 does not exist) [TALOS-pbn]
  infrastructure/base/crowdsec/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(crowdsec): crowdsecurity/whitelists is not a collection -> whitelist-good-actors [TALOS-pbn]
  infrastructure/base/crowdsec/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(crowdsec): local crowdsec-web-ui at crowdsec.talos00 (pre-Console UI) [TALOS-pbn, TALOS-5of]
  infrastructure/base/crowdsec/kustomization.yaml
  infrastructure/base/crowdsec/webui.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(crowdsec): apply-only Kustomization (wait:false) so webui/middleware stop stalling [TALOS-pbn]
  clusters/catalyst-cluster/crowdsec.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace
