Repository TheBranchDriftCatalyst/talos-homelab: changes, and which lefthook commands are due for each by the changed paths.
All: gitleaks, yamllint, kube-validate, shellcheck, shfmt, markdownlint, trailing-whitespace, helm-lint

Path conditions:
  gitleaks: any of: *.{yaml,yml,sh,json,env,txt,md}
  yamllint: any of: *.{yaml,yml}
  kube-validate: any of: *.{yaml,yml}
  shellcheck: any of: *.sh
  shfmt: any of: *.sh
  markdownlint: any of: *.md
  trailing-whitespace: any of: *.{yaml,yml,sh,md,json}
  helm-lint: any of: **/Chart.yaml

feat(sso): Wave 3 media OIDC — audiobookshelf/komga/kavita native OIDC [TALOS-xgrl.18]
  applications/media-experimental/base/audiobookshelf/OIDC.md
  applications/media-experimental/base/audiobookshelf/ingressroute-http.yaml
  applications/media-experimental/base/audiobookshelf/kustomization.yaml
  applications/media-experimental/base/audiobookshelf/patch-ingressroute.yaml
  applications/media-experimental/base/kavita/OIDC.md
  applications/media-experimental/base/kavita/ingressroute-http.yaml
  applications/media-experimental/base/kavita/kustomization.yaml
  applications/media-experimental/base/kavita/patch-ingressroute.yaml
  applications/media-experimental/base/komga/OIDC.md
  applications/media-experimental/base/komga/ingressroute-http.yaml
  applications/media-experimental/base/komga/kustomization.yaml
  applications/media-experimental/base/komga/patch-deployment.yaml
  applications/media-experimental/base/komga/patch-ingressroute.yaml
  infrastructure/base/authentik/externalsecret.yaml
  infrastructure/base/authentik/helmrelease.yaml
  infrastructure/base/authentik/kustomization.yaml
  infrastructure/base/authentik/media-oidc-blueprint.yaml
Due: gitleaks, yamllint, kube-validate, markdownlint, trailing-whitespace

fix(authentik): de-brand button + footer + flow title (shadow-DOM) [TALOS-4o0k]
  infrastructure/base/authentik/catalyst-brand-blueprint.yaml
  infrastructure/base/authentik/custom-css-configmap.yaml
  infrastructure/base/authentik/flow-branding-blueprint.yaml
  infrastructure/base/authentik/helmrelease.yaml
  infrastructure/base/authentik/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(authentik): rotating Catalyst login background [TALOS-4o0k]
  infrastructure/base/authentik/catalyst-brand-blueprint.yaml
  infrastructure/base/authentik/kustomization.yaml
  infrastructure/base/authentik/login-background/configmap.yaml
  infrastructure/base/authentik/login-background/deployment.yaml
  infrastructure/base/authentik/login-background/ingressroute.yaml
  infrastructure/base/authentik/login-background/kustomization.yaml
  infrastructure/base/minio/tenant.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(login-bg): use FQDN minio-hl.minio.svc.cluster.local (nginx resolver ignores search domains) [TALOS-4o0k]
  infrastructure/base/authentik/login-background/configmap.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(beads): file Crossplane v2 PlatformApp epic + phased tasks (TALOS-anjb) — plan only, no implementation
  .beads/last-touched
Due: none

docs(crossplane): PlatformApp control-plane plan + link to epic TALOS-anjb
  .beads/last-touched
  docs/02-architecture/crossplane-platformapp-plan.md
Due: gitleaks, markdownlint, trailing-whitespace

feat(sso): gate the 8 Homepage dashboards with forward-auth [TALOS-xgrl.18]
  applications/homepage/base/instance/ingressroute.yaml
  applications/homepage/overlays/apps/patch-host.yaml
  applications/homepage/overlays/arrs/patch-host.yaml
  applications/homepage/overlays/data/patch-host.yaml
  applications/homepage/overlays/home/patch-host.yaml
  applications/homepage/overlays/infra/patch-host.yaml
  applications/homepage/overlays/llm/patch-host.yaml
  applications/homepage/overlays/master/patch-host.yaml
  applications/homepage/overlays/obs/patch-host.yaml
  infrastructure/base/authentik/helmrelease.yaml
  infrastructure/base/authentik/homepage-blueprint.yaml
  infrastructure/base/authentik/kustomization.yaml
  infrastructure/base/authentik/talos-private-blueprint.yaml
  infrastructure/base/traefik/homepage-wildcard-certificate.yaml
  infrastructure/base/traefik/kustomization.yaml
  infrastructure/base/traefik/tlsstore.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(certs): Taskfile.certs.yaml domain — trust-cert (idempotent) + list/check-expiry/renew/issuers ops
  Taskfile.certs.yaml
  Taskfile.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

style(certs): wrap >120-char lines in Taskfile.certs.yaml (yamllint --strict clean)
  Taskfile.certs.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(sso): gap apps — Scrypted + SecureXNG forward-auth [TALOS-xgrl.18]
  applications/homepage/overlays/master/configmap-services.yaml
  applications/scratch/scrypted/ingressroute.yaml
  infrastructure/base/authentik/gap-apps-blueprint.yaml
  infrastructure/base/authentik/helmrelease.yaml
  infrastructure/base/authentik/kustomization.yaml
  infrastructure/base/authentik/talos-private-blueprint.yaml
  infrastructure/base/vpn-gateway/securexng.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(certs): trust-cert prints clear guidance when run without a TTY (sudo needs a terminal)
  Taskfile.certs.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

test(dr): Jest DR/chaos suites for Velero + MinIO + Cilium LB-IPAM [TALOS-23l.1/.2/.3]
  infrastructure/base/backup/tests/.gitignore
  infrastructure/base/backup/tests/canary.yaml
  infrastructure/base/backup/tests/jest.config.js
  infrastructure/base/backup/tests/package.json
  infrastructure/base/backup/tests/velero-dr.test.js
  infrastructure/base/cilium/tests/.gitignore
  infrastructure/base/cilium/tests/canary-lb.yaml
  infrastructure/base/cilium/tests/jest.config.js
  infrastructure/base/cilium/tests/lbipam-dr.test.js
  infrastructure/base/cilium/tests/package.json
  infrastructure/base/minio/tests/.gitignore
  infrastructure/base/minio/tests/jest.config.js
  infrastructure/base/minio/tests/minio-dr.test.js
  infrastructure/base/minio/tests/package.json
  jest.config.js
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

test(dr): Jest DR/chaos suites for Authentik + CNPG + etcd + NFS + Traefik [TALOS-23l.4-.8]
  infrastructure/base/authentik/tests/.gitignore
  infrastructure/base/authentik/tests/authentik-dr.test.js
  infrastructure/base/authentik/tests/jest.config.js
  infrastructure/base/authentik/tests/package.json
  infrastructure/base/databases/tests/.gitignore
  infrastructure/base/databases/tests/cnpg-dr.test.js
  infrastructure/base/databases/tests/jest.config.js
  infrastructure/base/databases/tests/package.json
  infrastructure/base/storage/tests/.gitignore
  infrastructure/base/storage/tests/canary-pod.yaml
  infrastructure/base/storage/tests/canary-pvc.yaml
  infrastructure/base/storage/tests/jest.config.js
  infrastructure/base/storage/tests/nfs-lifecycle-dr.test.js
  infrastructure/base/storage/tests/package.json
  infrastructure/base/talos-dr/tests/.gitignore
  infrastructure/base/talos-dr/tests/etcd-dr.test.js
  infrastructure/base/talos-dr/tests/jest.config.js
  infrastructure/base/talos-dr/tests/package.json
  infrastructure/base/traefik/tests/.gitignore
  infrastructure/base/traefik/tests/jest.config.js
  infrastructure/base/traefik/tests/package.json
  infrastructure/base/traefik/tests/traefik-dr.test.js
  jest.config.js
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(images): auto-safe bumps — node-exporter, curl, kube-rbac-proxy, alpine/k8s [TALOS-zadf.21/.38/.47/.35]
  applications/tdarr/base/server.yaml
  infrastructure/base/crowdsec/machine-registrar.yaml
  infrastructure/base/intel-gpu/intel-gpu-helmrelease.yaml
  infrastructure/base/monitoring/v2-otel/node-exporter/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(images): bump blackbox-exporter chart 9.x→11.x (app v0.26.0→v0.28.0) [TALOS-zadf.58]
  infrastructure/base/monitoring/v2-otel/blackbox-exporter/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

docs(changelog): TALOS-zadf deferred-majors triage session — 14 closed, ~20 elevated
  docs/changelogs/image-updates-TALOS-zadf.md
Due: gitleaks, markdownlint, trailing-whitespace

chore(images): Bundle C — Intel GPU operator 0.30→0.36 + initImage skew-fix + NFD 0.18→0.19 [TALOS-zadf.42/.25/.18]
  infrastructure/base/intel-gpu/intel-gpu-helmrelease.yaml
  infrastructure/base/intel-gpu/intel-gpu-plugin-cr.yaml
  infrastructure/base/intel-gpu/nfd-helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(images): Bundle B — kube-state-metrics chart 5.27.0→8.3.0 (v2.14→v2.19.1) [TALOS-zadf.61]
  infrastructure/base/monitoring/v2-otel/kube-state-metrics/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(images): Bundle B — Alloy chart 0.10.0→1.11.1 (alloy v1.5.0→v1.18.1) [TALOS-zadf.16]
  infrastructure/base/monitoring/v2-otel/alloy-node/helmrelease.yaml
  infrastructure/base/monitoring/v2-otel/alloy/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(kubevirt): pin vmRolloutStrategy=Stage before the 1.4→1.9 upgrade [TALOS-zadf.31]
  infrastructure/base/kubevirt/cr.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

docs(changelog): TALOS-zadf full-bore session — Bundle C/KSM/Alloy applied, A/loki/D scoped
  docs/changelogs/image-updates-TALOS-zadf.md
Due: gitleaks, markdownlint, trailing-whitespace

chore(images): gluetun v3.41.1→v3.41.3 (verified DNS-safe) [TALOS-2v46]
  applications/arr-stack/base/qbittorrent/deployment.yaml
  infrastructure/base/vpn-gateway/deployment.yaml
  infrastructure/base/vpn-gateway/secure-chrome.yaml
  infrastructure/base/vpn-gateway/secure-webtop.yaml
  infrastructure/base/vpn-gateway/securexng.yaml
  infrastructure/base/vpn-gateway/tests/canary-pod.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(beads): cluster audit 2026-08-12 remediation epic TALOS-kmjc (DR crisis + control-plane strain)
  .beads/last-touched
Due: none

fix(backup): repair silent-fail prune in etcd-backup + authentik-postgres-backup [TALOS-kmjc.5]
  infrastructure/base/backup/authentik-postgres-backup.yaml
  infrastructure/base/backup/etcd-backup.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(beads): close kmjc.5 (etcd-backup prune fixed + 322GiB cleaned), kmjc.3 (CDI cert false-positive)
  .beads/last-touched
Due: none

fix(alerting+kyverno): native Discord bridge (repair 400s) + kyverno HA admission [TALOS-2pz, TALOS-kmjc.7]
  infrastructure/base/kyverno/helmrelease.yaml
  infrastructure/base/monitoring/v2-otel/alertmanager-config/config-template.yaml
  infrastructure/base/monitoring/v2-otel/alertmanager-config/cronjob.yaml
  infrastructure/base/monitoring/v2-otel/alertmanager-config/discord-bridge.yaml
  infrastructure/base/monitoring/v2-otel/alertmanager-config/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(alerting): replace flaky embed bridge with stdlib content bridge + kill slack [TALOS-2pz]
  infrastructure/base/monitoring/v2-otel/alertmanager-config/config-template.yaml
  infrastructure/base/monitoring/v2-otel/alertmanager-config/discord-bridge.yaml
  infrastructure/base/monitoring/v2-otel/alertmanager-config/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(alerting): set User-Agent on Discord bridge requests (Cloudflare 403 on Python-urllib) [TALOS-2pz]
  infrastructure/base/monitoring/v2-otel/alertmanager-config/discord-bridge.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(beads): close kmjc.7 (kyverno HA), record dockerhub/defrag/apiserver plans
  .beads/.local_version
  .beads/last-touched
Due: none

fix(backup): repoint authentik pg_dump at CNPG (pg17) + weekly-aware velero schedule alert
  infrastructure/base/backup/authentik-postgres-backup.yaml
  infrastructure/base/backup/velero-prometheusrule.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(backup): stage mc via initContainer — postgres:17-bookworm has no curl
  infrastructure/base/backup/authentik-postgres-backup.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(backup): split dump/upload containers — mc binary is exec-only for non-root
  infrastructure/base/backup/authentik-postgres-backup.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(backup): exclude CNPG clusters from Velero — CNPG owns its own backups
  applications/crossplane-demo/plausible/postgres.yaml
  applications/gaming/base/kubevirt/guacamole.yaml
  applications/home-automation/base/homeassistant/postgres.yaml
  applications/home-automation/base/linkwarden/postgres.yaml
  applications/zipline/postgres.yaml
  infrastructure/base/authentik/postgres.yaml
  infrastructure/base/crowdsec/postgres.yaml
  infrastructure/base/forgejo/postgres.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(backup): retire authentik pg_dump CronJob — CNPG owns postgres backups
  docs/05-runbooks/velero-restore.md
  infrastructure/base/backup/authentik-postgres-backup.yaml
  infrastructure/base/backup/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, markdownlint, trailing-whitespace

chore(backup): drop authentik from daily-all — critical-data-daily supersedes it
  infrastructure/base/backup/velero.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(kubevirt): complete CDI StorageProfiles + set fatboy-nfs as virt-default SC
  infrastructure/base/kubevirt/kustomization.yaml
  infrastructure/base/kubevirt/storage-profiles.yaml
  infrastructure/base/storage/nfs-provisioner/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(kubevirt): wedge-buster for CDI stale in-memory TLS certs
  infrastructure/base/kube-system/wedge-buster/cronjob-cdi-certs.yaml
  infrastructure/base/kube-system/wedge-buster/kustomization.yaml
  infrastructure/base/kubevirt/kustomization.yaml
  infrastructure/base/kubevirt/wedge-buster-rbac.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(cnpg): operator chart 0.22.1 → 0.23.2 (1.25.1, hop 1/5 of sequential ladder to 1.29)
  infrastructure/base/databases/cloudnative-pg/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(cnpg): operator chart 0.23.2 → 0.25.0 (1.26.1, hop 2/5)
  infrastructure/base/databases/cloudnative-pg/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(cnpg): operator chart 0.25.0 → 0.26.1 (1.27.1, hop 3/5)
  infrastructure/base/databases/cloudnative-pg/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace
