Repository TheBranchDriftCatalyst/talos-homelab: changes, and which lefthook commands are due for each by the changed paths.
All: gitleaks, yamllint, kube-validate, shellcheck, shfmt, markdownlint, trailing-whitespace, helm-lint

Path conditions:
  gitleaks: any of: *.{yaml,yml,sh,json,env,txt,md}
  yamllint: any of: *.{yaml,yml}
  kube-validate: any of: *.{yaml,yml}
  shellcheck: any of: *.sh
  shfmt: any of: *.sh
  markdownlint: any of: *.md
  trailing-whitespace: any of: *.{yaml,yml,sh,md,json}
  helm-lint: any of: **/Chart.yaml

feat: add GPU transcode test script + hardware provisioning issues
  .beads/issues.jsonl
Due: none

feat(monitoring): add Tdarr Prometheus exporter + Grafana dashboard
  applications/arr-stack/base/tdarr/kustomization.yaml
  applications/arr-stack/base/tdarr/tdarr-exporter.yaml
  infrastructure/base/monitoring/dashboards/tdarr-dashboard.yaml
  infrastructure/base/vpn-gateway/securexng.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

refactor(resources): remove quotas and limits, keep only requests
  applications/arr-stack/base/exportarr/deployment.yaml
  applications/arr-stack/base/homepage/deployment.yaml
  applications/arr-stack/base/jellyfin/deployment.yaml
  applications/arr-stack/base/kometa/deployment.yaml
  applications/arr-stack/base/overseerr/deployment.yaml
  applications/arr-stack/base/plex/deployment.yaml
  applications/arr-stack/base/posterizarr/deployment.yaml
  applications/arr-stack/base/posterr/deployment.yaml
  applications/arr-stack/base/postgresql/deployment.yaml
  applications/arr-stack/base/postgresql/init-job.yaml
  applications/arr-stack/base/prowlarr/deployment.yaml
  applications/arr-stack/base/radarr/deployment.yaml
  applications/arr-stack/base/readarr/deployment.yaml
  applications/arr-stack/base/sonarr/deployment.yaml
  applications/arr-stack/base/tautulli/deployment.yaml
  applications/arr-stack/base/tdarr/deployment.yaml
  applications/arr-stack/base/tdarr/tdarr-exporter.yaml
  applications/arr-stack/base/tdarr/tdarr-node-daemonset.yaml
  applications/arr-stack/base/tdarr/tdarr-node-gpu-talos03.yaml
  infrastructure/base/namespaces/media.yaml
  infrastructure/base/vpn-gateway/deployment.yaml
  infrastructure/base/vpn-gateway/securexng.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(monitoring): add Tdarr Grafana dashboard (GrafanaDashboard CR)
  infrastructure/base/monitoring/dashboards/tdarr-dashboard.yaml
  infrastructure/base/monitoring/grafana-dashboards/kustomization.yaml
  infrastructure/base/monitoring/grafana-dashboards/tdarr-dashboard.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(posterizarr): mount /assets with correct path and securityContext
  applications/arr-stack/base/posterizarr/deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(posterizarr): add both /kometa-config and /assets mounts
  applications/arr-stack/base/posterizarr/deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(posterizarr): mount full PVC at /assets instead of subPath
  applications/arr-stack/base/posterizarr/deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(otel-operator): remove resource limits causing CrashLoopBackOff
  infrastructure/base/monitoring/v2-otel/operators/otel-operator/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(traefik): add control-plane toleration for scheduling on talos00
  .beads/issues.jsonl
  .gitignore
  applications/arr-stack/base/kometa/configmap.yaml
  applications/catalyst/.catalyst-ui
  applications/catalyst/.kasa-exportarr
  applications/catalyst/.prom-sniffer
  clusters/catalyst-cluster/cluster-settings.yaml
  configs/nodes/talos02-gpu-schematic.yaml
  configs/nodes/talos02-gpu.md
  daemon.lock
  daemon.log
  docs/01-getting-started/README.md
  docs/01-getting-started/local-testing.md
  docs/06-project-management/KUBERNETES-ECOSYSTEM-IDEAS.md
  infrastructure/base/traefik/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, markdownlint, trailing-whitespace

chore: cleanup tracked files and expand kometa config
  clusters/catalyst-cluster/cluster-settings.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(arr-stack): add migration infrastructure from drogon
  .beads/issues.jsonl
  applications/arr-stack/Tiltfile
  applications/arr-stack/base/migration/configmap.yaml
  applications/arr-stack/base/migration/job.yaml
  applications/arr-stack/base/migration/kustomization.yaml
  applications/arr-stack/base/shared/external-secret.yaml
  scripts/migrate-arr-stack.sh
Due: gitleaks, yamllint, kube-validate, shellcheck, shfmt, trailing-whitespace

chore: add gitleaks ignore for migration script placeholder
  .gitleaksignore
Due: none

feat(arr-stack): add SABnzbd deployment and migration system
  applications/arr-stack/Tiltfile
  applications/arr-stack/base/kustomization.yaml
  applications/arr-stack/base/sabnzbd/deployment.yaml
  applications/arr-stack/base/sabnzbd/ingressroute.yaml
  applications/arr-stack/base/sabnzbd/kustomization.yaml
  applications/arr-stack/base/sabnzbd/pvc.yaml
  applications/arr-stack/base/sabnzbd/service.yaml
  applications/arr-stack/base/shared/external-secret.yaml
  scripts/migrate-arr-stack.sh
Due: gitleaks, yamllint, kube-validate, shellcheck, shfmt, trailing-whitespace

fix(otel-operator): increase timeout to 15m for informer sync
  infrastructure/base/monitoring/v2-otel/operators/otel-operator/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

refactor(arr-stack): remove PostgreSQL, use SQLite
  applications/arr-stack/base/common-env.yaml
  applications/arr-stack/base/kustomization.yaml
  applications/arr-stack/base/postgresql/deployment.yaml
  applications/arr-stack/base/postgresql/init-job.yaml
  applications/arr-stack/base/postgresql/kustomization.yaml
  applications/arr-stack/base/postgresql/pvc.yaml
  applications/arr-stack/base/postgresql/secret.yaml
  applications/arr-stack/base/postgresql/service.yaml
  applications/arr-stack/base/postgresql/servicemonitor.yaml
  applications/arr-stack/base/prowlarr/deployment.yaml
  applications/arr-stack/base/radarr/deployment.yaml
  applications/arr-stack/base/sonarr/deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(otel-operator): limit namespace scope to fix informer sync timeout
  infrastructure/base/monitoring/v2-otel/operators/otel-operator/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(otel-operator): use extraEnvs for WATCH_NAMESPACE, disable ServiceMonitor
  infrastructure/base/monitoring/v2-otel/operators/otel-operator/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(otel-operator): move env to top-level per chart schema
  infrastructure/base/monitoring/v2-otel/operators/otel-operator/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(otel-operator): move env under manager (correct chart path)
  infrastructure/base/monitoring/v2-otel/operators/otel-operator/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(arr-stack): add local SQLite storage pattern for *arr apps
  applications/arr-stack/base/prowlarr/deployment.yaml
  applications/arr-stack/base/prowlarr/pvc.yaml
  applications/arr-stack/base/radarr/deployment.yaml
  applications/arr-stack/base/radarr/pvc.yaml
  applications/arr-stack/base/shared/db-migration-configmap.yaml
  applications/arr-stack/base/sonarr/deployment.yaml
  applications/arr-stack/base/sonarr/pvc.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(otel-operator): remove resources to use chart defaults
  infrastructure/base/monitoring/v2-otel/operators/otel-operator/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(arr-stack): escape shell vars to prevent Flux substitution
  applications/arr-stack/base/shared/db-migration-configmap.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(catalyst-llm): add missing llm-worker-script ConfigMap
  infrastructure/base/catalyst-llm/kustomization.yaml
  infrastructure/base/catalyst-llm/worker-script-configmap.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(arr-stack): add securityContext for NFS write access
  applications/arr-stack/base/prowlarr/deployment.yaml
  applications/arr-stack/base/radarr/deployment.yaml
  applications/arr-stack/base/sabnzbd/deployment.yaml
  applications/arr-stack/base/sonarr/deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(arr-stack): add qBittorrent with VPN sidecar
  .beads/issues.jsonl
  applications/arr-stack/base/kustomization.yaml
  applications/arr-stack/base/qbittorrent/deployment.yaml
  applications/arr-stack/base/qbittorrent/externalsecret.yaml
  applications/arr-stack/base/qbittorrent/ingressroute.yaml
  applications/arr-stack/base/qbittorrent/kustomization.yaml
  applications/arr-stack/base/qbittorrent/pvc.yaml
  applications/arr-stack/base/qbittorrent/service.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(qbittorrent): use correct secret key se-nl-1 for ProtonVPN
  applications/arr-stack/base/qbittorrent/deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(qbittorrent): add Python metrics exporter + VPN dashboard integration
  applications/arr-stack/base/qbittorrent/deployment.yaml
  applications/arr-stack/base/qbittorrent/kustomization.yaml
  applications/arr-stack/base/qbittorrent/servicemonitor.yaml
  infrastructure/base/monitoring/grafana-dashboards/vpn-gateway-dashboard.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

beads: close TALOS-er9s (LDAP identity management complete)
  .beads/issues.jsonl
Due: none

chore(arr-stack): remove PostgreSQL and migration ops from Tiltfile
  applications/arr-stack/Tiltfile
Due: none

fix(vpn-dashboard): filter by VPN pod names to exclude non-VPN media pods
  infrastructure/base/monitoring/grafana-dashboards/vpn-gateway-dashboard.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(arr-stack): make SQLite migration script idempotent
  applications/arr-stack/base/shared/db-migration-configmap.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(backup): implement comprehensive backup strategy with S3 storage
  .beads/issues.jsonl
  applications/scratch/example-postgres/backup.yaml
  applications/scratch/example-postgres/cluster.yaml
  applications/scratch/example-postgres/kustomization.yaml
  clusters/catalyst-cluster/backup.yaml
  clusters/catalyst-cluster/flux-system/kustomization.yaml
  infrastructure/base/backup/etcd-backup.yaml
  infrastructure/base/backup/kustomization.yaml
  infrastructure/base/backup/minio-credentials.yaml
  infrastructure/base/backup/namespace.yaml
  infrastructure/base/backup/velero.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

beads: add registry pull-through cache epic (TALOS-wjb9)
  .beads/issues.jsonl
Due: none

feat(arr-stack): add Velero backup annotations + local downloads on talos01
  applications/arr-stack/base/homepage/deployment.yaml
  applications/arr-stack/base/jellyfin/deployment.yaml
  applications/arr-stack/base/kometa/deployment.yaml
  applications/arr-stack/base/overseerr/deployment.yaml
  applications/arr-stack/base/plex/deployment.yaml
  applications/arr-stack/base/posterizarr/deployment.yaml
  applications/arr-stack/base/posterr/deployment.yaml
  applications/arr-stack/base/prowlarr/deployment.yaml
  applications/arr-stack/base/qbittorrent/deployment.yaml
  applications/arr-stack/base/radarr/deployment.yaml
  applications/arr-stack/base/sabnzbd/deployment.yaml
  applications/arr-stack/base/shared/downloads-local-pvc.yaml
  applications/arr-stack/base/shared/kustomization.yaml
  applications/arr-stack/base/sonarr/deployment.yaml
  applications/arr-stack/base/tautulli/deployment.yaml
  applications/arr-stack/base/tdarr/deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

beads: sync
  .beads/issues.jsonl
Due: none

fix(arr-stack): pin all arr apps to talos03 for local-path PVCs
  .beads/issues.jsonl
  applications/arr-stack/base/qbittorrent/deployment.yaml
  applications/arr-stack/base/radarr/deployment.yaml
  applications/arr-stack/base/sabnzbd/deployment.yaml
  applications/arr-stack/base/sonarr/deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(arr-stack): use NFS downloads, pin SQLite apps to talos03
  applications/arr-stack/base/qbittorrent/deployment.yaml
  applications/arr-stack/base/radarr/deployment.yaml
  applications/arr-stack/base/sabnzbd/deployment.yaml
  applications/arr-stack/base/sonarr/deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(qbittorrent): add port 8000 to gluetun firewall for health probes
  applications/arr-stack/base/qbittorrent/deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(monitoring): remove prometheus annotations where ServiceMonitor exists
  applications/arr-stack/base/qbittorrent/deployment.yaml
  applications/arr-stack/base/tdarr/tdarr-exporter.yaml
  infrastructure/base/monitoring/grafana-dashboards/tdarr-dashboard.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace
