Repository TheBranchDriftCatalyst/talos-homelab: changes, and which lefthook commands are due for each by the changed paths.
All: gitleaks, yamllint, kube-validate, shellcheck, shfmt, markdownlint, trailing-whitespace, helm-lint

gitleaks:
  tags: security
  run: gitleaks protect --verbose --redact --staged
  skip:
  - merge
  - rebase

yamllint:
  tags: linting yaml
  run: yamllint --strict .
  skip:
  - merge
  - rebase

kube-validate:
  tags: kubernetes yaml
  ...

shellcheck:
  tags: linting shell
  run: shellcheck -x {staged_files}
  skip:
  - merge
  - rebase

shfmt:
  tags: formatting shell
  run: shfmt -w -i 2 -ci -sr {staged_files}
  skip:
  - merge
  - rebase
  stage_fixed: true

markdownlint:
  tags: linting markdown
  run: npx markdownlint-cli2 {staged_files}
  skip:
  - merge
  - rebase

trailing-whitespace:
  tags: formatting
  run: "if grep -n '[[:space:]]$' {staged_files}; then\n  echo \"‚ùå Error: Trailing whitespace found\"\n  echo \"Run: sed -i '' 's/[[:space:]]*$//' <file>\"\n  exit 1\nfi\n"
  skip:
  - merge
  - rebase

helm-lint:
  tags: kubernetes helm
  run: "for chart_dir in infrastructure/base/*/; do\n  if [ -f \"$chart_dir/Chart.yaml\" ]; then\n    echo \"Linting Helm chart: $chart_dir\"\n    helm lint \"$chart_dir\" || exit 1\n  fi\ndone\n"
  skip:
  - merge
  - rebase

chore: migrate catalyst-llm to dedicated repo for ArgoCD
  applications/scratch/catalyst-llm-archived/Tiltfile
  applications/scratch/catalyst-llm-archived/_tests/cold-start-timing.sh
  applications/scratch/catalyst-llm-archived/apps/lobe-chat.yaml
  applications/scratch/catalyst-llm-archived/apps/open-webui.yaml
  applications/scratch/catalyst-llm-archived/apps/searxng.yaml
  applications/scratch/catalyst-llm-archived/apps/sillytavern.yaml
  applications/scratch/catalyst-llm-archived/cold-start-timing.sh
  applications/scratch/catalyst-llm-archived/configmap.yaml
  applications/scratch/catalyst-llm-archived/dashboard.sh
  applications/scratch/catalyst-llm-archived/ingressroute.yaml
  applications/scratch/catalyst-llm-archived/kustomization.yaml
  applications/scratch/catalyst-llm-archived/litellm/configmap.yaml
  applications/scratch/catalyst-llm-archived/litellm/deployment.yaml
  applications/scratch/catalyst-llm-archived/litellm/external-secret.yaml
  applications/scratch/catalyst-llm-archived/litellm/ingressroute.yaml
  applications/scratch/catalyst-llm-archived/litellm/kustomization.yaml
  applications/scratch/catalyst-llm-archived/litellm/pgvector-service.yaml
  applications/scratch/catalyst-llm-archived/litellm/postgresql.yaml
  applications/scratch/catalyst-llm-archived/litellm/service.yaml
  applications/scratch/catalyst-llm-archived/namespace.yaml
  applications/scratch/catalyst-llm-archived/ollama-models-configmap.yaml
  applications/scratch/catalyst-llm-archived/ollama-talos06.yaml
  applications/scratch/catalyst-llm-archived/openclaw/configmap.yaml
  applications/scratch/catalyst-llm-archived/openclaw/deployment.yaml
  applications/scratch/catalyst-llm-archived/openclaw/external-secret.yaml
  applications/scratch/catalyst-llm-archived/openclaw/ingressroute.yaml
  applications/scratch/catalyst-llm-archived/openclaw/kustomization.yaml
  applications/scratch/catalyst-llm-archived/openclaw/pvc.yaml
  applications/scratch/catalyst-llm-archived/openclaw/scripts/mount-oc-data.sh
  applications/scratch/catalyst-llm-archived/openclaw/service.yaml
  applications/scratch/catalyst-llm-archived/pvc.yaml
  applications/scratch/catalyst-llm-archived/service.yaml
  clusters/catalyst-cluster/catalyst-llm.yaml
  clusters/catalyst-cluster/flux-system/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, shellcheck, shfmt, trailing-whitespace

wip: add scratch manifests for vision and vpn-service stacks
  .scratch/gitleaks-remediation.md
  applications/scratch/vision/frigate/configmap.yaml
  applications/scratch/vision/frigate/deployment.yaml
  applications/scratch/vision/frigate/ingressroute.yaml
  applications/scratch/vision/frigate/kustomization.yaml
  applications/scratch/vision/frigate/pvc.yaml
  applications/scratch/vision/frigate/service.yaml
  applications/scratch/vision/scrypted/deployment.yaml
  applications/scratch/vision/scrypted/ingressroute.yaml
  applications/scratch/vision/scrypted/kustomization.yaml
  applications/scratch/vision/scrypted/pvc.yaml
  applications/scratch/vision/scrypted/service.yaml
  applications/scratch/vpn-service/base/externalsecret.yaml
  applications/scratch/vpn-service/base/kustomization.yaml
  applications/scratch/vpn-service/base/namespace.yaml
  applications/scratch/vpn-service/base/scripts/ddns-manager.sh
  applications/scratch/vpn-service/immich/deployment.yaml
  applications/scratch/vpn-service/immich/kustomization.yaml
  applications/scratch/vpn-service/immich/pvc.yaml
  applications/scratch/vpn-service/immich/service.yaml
Due: gitleaks, yamllint, kube-validate, shellcheck, shfmt, markdownlint, trailing-whitespace

feat(argocd): add catalyst-llm application
  infrastructure/base/argocd/applications/catalyst-llm.yaml
  infrastructure/base/argocd/applications/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(honeypot): add Cowrie SSH/Telnet honeypot deployment
  infrastructure/base/honeypot/cilium-network-policy.yaml
  infrastructure/base/honeypot/configmap.yaml
  infrastructure/base/honeypot/deployment.yaml
  infrastructure/base/honeypot/ingressroute-tcp.yaml
  infrastructure/base/honeypot/kustomization.yaml
  infrastructure/base/honeypot/namespace.yaml
  infrastructure/base/honeypot/pvc.yaml
  infrastructure/base/honeypot/service.yaml
  infrastructure/base/traefik/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(honeypot): correct cowrie volume paths for permissions
  infrastructure/base/honeypot/deployment.yaml
  infrastructure/base/honeypot/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(honeypot): add dashboard.sh and Tiltfile for ops tooling
  Tiltfile
  infrastructure/base/honeypot/Tiltfile
  infrastructure/base/honeypot/dashboard.sh
Due: gitleaks, shellcheck, shfmt, trailing-whitespace

fix(congress-data): use GHCR image with pull secret
  applications/congress-data/k8s/deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(media-ingest): add media file processing Dagster code location
  applications/dagster/kustomization.yaml
  applications/dagster/nfs-media-volumes.yaml
  applications/dagster/workspace.yaml
  applications/media-ingest/.gitignore
  applications/media-ingest/Dockerfile
  applications/media-ingest/k8s/deployment.yaml
  applications/media-ingest/k8s/kustomization.yaml
  applications/media-ingest/k8s/namespace.yaml
  applications/media-ingest/k8s/nfs-volumes.yaml
  applications/media-ingest/k8s/service.yaml
  applications/media-ingest/pyproject.toml
  applications/media-ingest/src/media_ingest/__init__.py
  applications/media-ingest/src/media_ingest/assets/__init__.py
  applications/media-ingest/src/media_ingest/assets/discovery.py
  applications/media-ingest/src/media_ingest/assets/documents.py
  applications/media-ingest/src/media_ingest/assets/embeddings.py
  applications/media-ingest/src/media_ingest/assets/metadata.py
  applications/media-ingest/src/media_ingest/assets/transcription.py
  applications/media-ingest/src/media_ingest/config.py
  clusters/catalyst-cluster/flux-system/kustomization.yaml
  clusters/catalyst-cluster/media-ingest.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore: update gitleaksignore with historical false positives
  .gitleaksignore
Due: none

fix(honeypot): switch cowrie to hostPort, remove stale traefik entrypoints
  infrastructure/base/honeypot/cilium-network-policy.yaml
  infrastructure/base/honeypot/deployment.yaml
  infrastructure/base/honeypot/kustomization.yaml
  infrastructure/base/honeypot/namespace.yaml
  infrastructure/base/traefik/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(dagster-io): v2 IO manager with medallion architecture and Hive partitions
  applications/congress-data/src/congress_data/assets/documents.py
  applications/congress-data/src/congress_data/assets/embeddings.py
  applications/congress-data/src/congress_data/assets/entities_ner.py
  applications/congress-data/src/congress_data/assets/extraction.py
  applications/congress-data/src/congress_data/assets/graph.py
  applications/congress-data/src/congress_data/assets/propositions.py
  applications/dagster-io/pyproject.toml
  applications/dagster-io/src/dagster_io/__init__.py
  applications/dagster-io/src/dagster_io/io_manager.py
  applications/dagster-io/src/dagster_io/manifest.py
  applications/dagster-io/src/dagster_io/path_builder.py
  applications/dagster-io/src/dagster_io/s3_client.py
  applications/dagster-io/src/dagster_io/serializers.py
  applications/media-ingest/src/media_ingest/assets/discovery.py
  applications/media-ingest/src/media_ingest/assets/documents.py
  applications/media-ingest/src/media_ingest/assets/embeddings.py
  applications/media-ingest/src/media_ingest/assets/metadata.py
  applications/media-ingest/src/media_ingest/assets/transcription.py
  infrastructure/base/minio/tenant.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(dagster): add instance_config_map to K8sRunLauncher config
  applications/dagster/dagster-instance.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(dagster): add NFS volume mounts to K8sRunLauncher run_k8s_config
  applications/dagster/dagster-instance.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(open-leaks): add Dagster code location for leaked document ingestion
  .gitleaksignore
  applications/dagster/workspace.yaml
  applications/open-leaks/Dockerfile
  applications/open-leaks/README.md
  applications/open-leaks/k8s/deployment.yaml
  applications/open-leaks/k8s/externalsecret.yaml
  applications/open-leaks/k8s/kustomization.yaml
  applications/open-leaks/k8s/namespace.yaml
  applications/open-leaks/k8s/service.yaml
  applications/open-leaks/pyproject.toml
  applications/open-leaks/src/open_leaks/__init__.py
  applications/open-leaks/src/open_leaks/assets/__init__.py
  applications/open-leaks/src/open_leaks/assets/documents.py
  applications/open-leaks/src/open_leaks/assets/embeddings.py
  applications/open-leaks/src/open_leaks/assets/entities_ner.py
  applications/open-leaks/src/open_leaks/assets/extraction.py
  applications/open-leaks/src/open_leaks/assets/graph.py
  applications/open-leaks/src/open_leaks/assets/propositions.py
  applications/open-leaks/src/open_leaks/config.py
  applications/open-leaks/src/open_leaks/core/__init__.py
  applications/open-leaks/src/open_leaks/core/document.py
  applications/open-leaks/src/open_leaks/entities.py
  applications/open-leaks/src/open_leaks/llm.py
Due: gitleaks, yamllint, kube-validate, markdownlint, trailing-whitespace

feat: add dungeon-library ArgoCD application
  infrastructure/base/argocd/applications/dungeon-library.yaml
  infrastructure/base/argocd/applications/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix: upgrade ArgoCD repo cred to org-wide template + SSH URL for dungeon-library
  infrastructure/base/argocd/applications/dungeon-library.yaml
  infrastructure/base/argocd/externalsecret-private-repo.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix: unstick pod-cleanup cronjob and stop kometa restart loop
  applications/arr-stack/base/kometa/deployment.yaml
  infrastructure/base/kube-system/pod-cleanup/cronjob.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

gitblobstore: checkandput manifest
  hnaf3kci1a5o5rpf6agkhein7fh19797.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  baig1dl3u3rngaks3bat9h4argrqso0j
  manifest
Due: none

feat(eso): cluster-wide ghcr-secret via ClusterExternalSecret
  infrastructure/base/external-secrets/ghcr-pull-secret/cluster-external-secret.yaml
  infrastructure/base/external-secrets/ghcr-pull-secret/kustomization.yaml
  infrastructure/base/external-secrets/kustomization.yaml
  infrastructure/base/namespaces/scratch.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

gitblobstore: checkandput manifest
  8112qeimbj1ril1281ci6i49m65a405q.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  lbqa65gs433qu58khu7dvqqmb5kr6u2i
  manifest
Due: none

fix(honeypot,vpn): unbreak cowrie boot + quiet gluetun restart loop
  infrastructure/base/honeypot/configmap.yaml
  infrastructure/base/honeypot/deployment.yaml
  infrastructure/base/honeypot/kustomization.yaml
  infrastructure/base/honeypot/pvc.yaml
  infrastructure/base/vpn-gateway/deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

gitblobstore: checkandput manifest
  aatr7tcemk2ndsvt1reqig27430e4pmn.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  ar07dlqgde6u9vnm7oilvvbtkduc23e5
  manifest
Due: none

feat(argocd): wire knowledge-graph-api into image-updater
  infrastructure/base/argocd/applications/catalyst-data.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

gitblobstore: checkandput manifest
  manifest
  olohl1hmknsal95bp7deip1h55kcug9a.darc
Due: none

gitblobstore: checkandput manifest
  k00d15t0hmuu5vp1s24qsrst42b5morb
  manifest
Due: none

fix(argocd): ignore ESO-managed fields on gateway-arr ExternalSecrets
  infrastructure/base/argocd/applications/gateway-arr.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

refactor(argocd): migrate catalyst-data/catalyst-ui to ImageUpdater CRD
  infrastructure/base/argocd/applications/catalyst-data.yaml
  infrastructure/base/argocd/applications/catalyst-ui.yaml
  infrastructure/base/argocd/image-updater/catalyst-data-image-updater.yaml
  infrastructure/base/argocd/image-updater/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(argocd): use jqPathExpressions to ignore ESO default subkeys
  infrastructure/base/argocd/applications/gateway-arr.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

gitblobstore: checkandput manifest
  e5gk7gb90f6tk08f3itochs6tqrc7790.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  9o34sd3fsl0v1p3ueluqa53ivt8e7pjg
  manifest
Due: none

feat(traefik): add bolt/7687 entrypoint for Neo4j Browser ingress
  infrastructure/base/traefik/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(argocd): ignore ESO default subkeys on arr-stack-private too
  infrastructure/base/argocd/applications/arr-stack-private.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(traefik): move updateStrategy to top level so DaemonSet rolls out
  infrastructure/base/traefik/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(homeassistant): loosen liveness probe for NFS-backed config volume
  applications/home-automation/base/homeassistant/deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(flux): stop cert-manager-issuers wait from blocking monitoring chain
  clusters/catalyst-cluster/cert-manager-issuers.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

Path conditions:
  gitleaks: any of: *.{yaml,yml,sh,json,env,txt,md}
  yamllint: any of: *.{yaml,yml}
  kube-validate: any of: *.{yaml,yml}
  shellcheck: any of: *.sh
  shfmt: any of: *.sh
  markdownlint: any of: *.md
  trailing-whitespace: any of: *.{yaml,yml,sh,md,json}
  helm-lint: any of: **/Chart.yaml
