Repository TheBranchDriftCatalyst/talos-homelab: changes, and which lefthook commands are due for each by the changed paths.
All: gitleaks, yamllint, kube-validate, shellcheck, shfmt, markdownlint, trailing-whitespace, helm-lint

gitleaks:
  tags: security
  run: gitleaks protect --verbose --redact --staged
  skip:
  - merge
  - rebase

yamllint:
  tags: linting yaml
  run: yamllint --strict .
  skip:
  - merge
  - rebase

kube-validate:
  tags: kubernetes yaml
  ...

shellcheck:
  tags: linting shell
  run: shellcheck -x {staged_files}
  skip:
  - merge
  - rebase

shfmt:
  tags: formatting shell
  run: shfmt -w -i 2 -ci -sr {staged_files}
  skip:
  - merge
  - rebase
  stage_fixed: true

markdownlint:
  tags: linting markdown
  run: npx markdownlint-cli2 {staged_files}
  skip:
  - merge
  - rebase

trailing-whitespace:
  tags: formatting
  run: "if grep -n '[[:space:]]$' {staged_files}; then\n  echo \"‚ùå Error: Trailing whitespace found\"\n  echo \"Run: sed -i '' 's/[[:space:]]*$//' <file>\"\n  exit 1\nfi\n"
  skip:
  - merge
  - rebase

helm-lint:
  tags: kubernetes helm
  run: "for chart_dir in infrastructure/base/*/; do\n  if [ -f \"$chart_dir/Chart.yaml\" ]; then\n    echo \"Linting Helm chart: $chart_dir\"\n    helm lint \"$chart_dir\" || exit 1\n  fi\ndone\n"
  skip:
  - merge
  - rebase

fix(gaming): change windows-gameserver to runStrategy: Always
  applications/gaming/base/kubevirt/windows-vm.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

update arr stack private for tdarr patches
  infrastructure/base/argocd/applications/arr-stack-private.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(poisonarr): implement vision fallback with Ollama LLaVA
  applications/poisonarr/base/configmap.yaml
  applications/poisonarr/src/browser_agent/core/vision.py
  applications/poisonarr/src/browser_agent/graph/builder.py
  applications/poisonarr/src/browser_agent/graph/nodes.py
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(poisonarr): improve code generation quality and error handling
  applications/poisonarr/src/browser_agent/core/error_tracker.py
  applications/poisonarr/src/browser_agent/graph/builder.py
  applications/poisonarr/src/browser_agent/graph/nodes.py
Due: none

fix(poisonarr): prevent :contains() jQuery syntax in selectors
  applications/poisonarr/src/browser_agent/core/error_tracker.py
  applications/poisonarr/src/browser_agent/graph/nodes.py
Due: none

refactor(poisonarr): optimize vision and migrate to browser_agent
  applications/poisonarr/src/browser_agent/graph/builder.py
  applications/poisonarr/src/browser_agent/graph/nodes.py
  applications/poisonarr/src/entrypoint.py
  applications/poisonarr/src/poisonarr/__init__.py
  applications/poisonarr/src/poisonarr/activities.py
  applications/poisonarr/src/poisonarr/agent.py
  applications/poisonarr/src/poisonarr/config.py
  applications/poisonarr/src/poisonarr/llm.py
  applications/poisonarr/src/requirements.txt
Due: gitleaks

feat(tdarr): auto-import flows from git via sidecar
  applications/tdarr/base/flows/av1_flow.json
  applications/tdarr/base/kustomization.yaml
  applications/tdarr/base/server.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(tdarr): use correct cruddb API for flow import
  applications/tdarr/base/server.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(tdarr): correct cruddb API params for flow import
  applications/tdarr/base/server.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore: consolidate litellm and openclaw into catalyst-llm namespace
  applications/catalyst-llm/kustomization.yaml
  applications/catalyst-llm/litellm/configmap.yaml
  applications/catalyst-llm/litellm/deployment.yaml
  applications/catalyst-llm/litellm/external-secret.yaml
  applications/catalyst-llm/litellm/ingressroute.yaml
  applications/catalyst-llm/litellm/kustomization.yaml
  applications/catalyst-llm/litellm/postgresql.yaml
  applications/catalyst-llm/litellm/service.yaml
  applications/catalyst-llm/openclaw/configmap.yaml
  applications/catalyst-llm/openclaw/deployment.yaml
  applications/catalyst-llm/openclaw/external-secret.yaml
  applications/catalyst-llm/openclaw/ingressroute.yaml
  applications/catalyst-llm/openclaw/kustomization.yaml
  applications/catalyst-llm/openclaw/pvc.yaml
  applications/catalyst-llm/openclaw/scripts/mount-oc-data.sh
  applications/catalyst-llm/openclaw/service.yaml
  applications/home-automation/base/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, shellcheck, shfmt, trailing-whitespace

fix(tdarr): use valid av1_qsv preset value (0-7)
  applications/tdarr/base/flows/av1_flow.json
Due: gitleaks, trailing-whitespace

feat(tdarr): use av1_qsv preset 0 for best quality
  applications/tdarr/base/flows/av1_flow.json
Due: gitleaks, trailing-whitespace

fix(openclaw): add controlUi allowedOrigins for gateway
  applications/catalyst-llm/openclaw/configmap.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(catalyst-llm): remove rabbitmq, fix openclaw config
  applications/catalyst-llm/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(litellm): add Mac workstation as ollama endpoint
  applications/catalyst-llm/litellm/configmap.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(litellm): add vector stores and fix OIDC admin roles
  applications/catalyst-llm/litellm/configmap.yaml
  applications/catalyst-llm/litellm/deployment.yaml
  applications/catalyst-llm/litellm/kustomization.yaml
  applications/catalyst-llm/litellm/pgvector-service.yaml
  applications/catalyst-llm/litellm/postgresql.yaml
  infrastructure/base/authentik/helmrelease.yaml
  infrastructure/base/authentik/kustomization.yaml
  infrastructure/base/authentik/litellm-blueprint.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(catalyst-llm): unsuspend kustomization, remove nebula dep
  applications/catalyst-llm/litellm/postgresql.yaml
  clusters/catalyst-cluster/catalyst-llm.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(litellm): disable vector_store_registry until pgvector built
  applications/catalyst-llm/litellm/configmap.yaml
  applications/catalyst-llm/litellm/ingressroute.yaml
  applications/catalyst-llm/litellm/kustomization.yaml
  applications/catalyst-llm/litellm/postgresql.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(litellm): add SSO auto-redirect and fix auth endpoint
  applications/catalyst-llm/litellm/deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat: add zipline image sharing + lan-only middleware
  applications/zipline/deployment.yaml
  applications/zipline/ingressroute.yaml
  applications/zipline/kustomization.yaml
  applications/zipline/namespace.yaml
  applications/zipline/pvc.yaml
  applications/zipline/service.yaml
  infrastructure/base/traefik/components/lan-only/kustomization.yaml
  infrastructure/base/traefik/middlewares.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat: add gateway-arr ArgoCD application
  infrastructure/base/argocd/applications/gateway-arr.yaml
  infrastructure/base/argocd/applications/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(tilt): modularize infrastructure with shared modules
  Tiltfile
  applications/arr-stack/Tiltfile
  applications/gaming/Tiltfile
  applications/home-automation/Tiltfile
  applications/tdarr/Tiltfile
  applications/zipline/Tiltfile
  tilt/_shared/README.md
  tilt/_shared/cluster_ops.star
  tilt/_shared/flux_ops.star
  tilt/_shared/homepage_ops.star
  tilt/_shared/kometa_ops.star
  tilt/_shared/labels.star
  tilt/_shared/ollama_ops.star
Due: gitleaks, markdownlint, trailing-whitespace

refactor(tilt): optimize shared modules -68% lines
  applications/gaming/Tiltfile
  applications/home-automation/Tiltfile
  applications/tdarr/Tiltfile
  applications/zipline/Tiltfile
  tilt/_shared/README.md
  tilt/_shared/cluster_ops.star
  tilt/_shared/flux_ops.star
  tilt/_shared/homepage_ops.star
  tilt/_shared/kometa_ops.star
  tilt/_shared/labels.star
  tilt/_shared/ollama_ops.star
Due: gitleaks, markdownlint, trailing-whitespace

Path conditions:
  gitleaks: any of: *.{yaml,yml,sh,json,env,txt,md}
  yamllint: any of: *.{yaml,yml}
  kube-validate: any of: *.{yaml,yml}
  shellcheck: any of: *.sh
  shfmt: any of: *.sh
  markdownlint: any of: *.md
  trailing-whitespace: any of: *.{yaml,yml,sh,md,json}
  helm-lint: any of: **/Chart.yaml
