Repository TheBranchDriftCatalyst/talos-homelab: changes, and which lefthook commands are due for each by the changed paths.
All: gitleaks, yamllint, kube-validate, shellcheck, shfmt, markdownlint, trailing-whitespace, helm-lint

Path conditions:
  gitleaks: any of: *.{yaml,yml,sh,json,env,txt,md}
  yamllint: any of: *.{yaml,yml}
  kube-validate: any of: *.{yaml,yml}
  shellcheck: any of: *.sh
  shfmt: any of: *.sh
  markdownlint: any of: *.md
  trailing-whitespace: any of: *.{yaml,yml,sh,md,json}
  helm-lint: any of: **/Chart.yaml

fix(authelia): resolve K8s service env var conflict and healthcheck write
  infrastructure/base/authelia/deployment.yaml
  infrastructure/base/authelia/ingressroute.yaml
  infrastructure/base/authelia/middleware.yaml
  infrastructure/base/authelia/namespace.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(tls): use TLSStore default cert for cross-namespace IngressRoutes
  infrastructure/base/authelia/ingressroute.yaml
  infrastructure/base/traefik/kustomization.yaml
  infrastructure/base/traefik/tlsstore.yaml
  infrastructure/base/whoami/ingressroute.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(tempo): correct IngressRoute port to 3200
  infrastructure/base/monitoring/v2-otel/ingressroutes.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(auth): replace Authelia with Authentik identity provider
  clusters/catalyst-cluster/authentik.yaml
  clusters/catalyst-cluster/flux-system/kustomization.yaml
  clusters/catalyst-cluster/whoami.yaml
  infrastructure/base/authelia/configmap.yaml
  infrastructure/base/authelia/deployment.yaml
  infrastructure/base/authelia/externalsecret.yaml
  infrastructure/base/authelia/middleware.yaml
  infrastructure/base/authelia/users-database.yaml
  infrastructure/base/authentik/externalsecret.yaml
  infrastructure/base/authentik/helmrelease.yaml
  infrastructure/base/authentik/helmrepository.yaml
  infrastructure/base/authentik/ingressroute.yaml
  infrastructure/base/authentik/kustomization.yaml
  infrastructure/base/authentik/middleware.yaml
  infrastructure/base/authentik/namespace.yaml
  infrastructure/base/whoami/ingressroute.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(beads): update TALOS-z5s to reflect Authentik switch
  .beads/issues.jsonl
Due: none

feat(whoami): add test IngressRoutes for auth debugging
  infrastructure/base/whoami/ingressroute.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(authentik): add local IngressRoute for auth.talos00
  infrastructure/base/authentik/ingressroute.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(authentik): add Catalyst theme custom CSS branding
  .beads/issues.jsonl
  infrastructure/base/authentik/custom-css-configmap.yaml
  infrastructure/base/authentik/helmrelease.yaml
  infrastructure/base/authentik/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(beads): close TALOS-z5s, create TALOS-g3b for GitHub SSO
  .beads/issues.jsonl
Due: none

fix(tdarr): switch transcode cache from memory to disk (250Gi)
  applications/arr-stack/base/tdarr/deployment.yaml
  applications/arr-stack/base/tdarr/tdarr-node-daemonset.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(grafana): use correct namespace label for resource-efficiency dashboard
  .beads/issues.jsonl
  infrastructure/base/monitoring/grafana-dashboards/resource-efficiency.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(monitoring): remove unused legacy monitoring directories
  infrastructure/base/monitoring/hybrid-cluster-exporter/deployment.yaml
  infrastructure/base/monitoring/hybrid-cluster-exporter/externalsecret.yaml
  infrastructure/base/monitoring/hybrid-cluster-exporter/kustomization.yaml
  infrastructure/base/monitoring/hybrid-cluster-exporter/servicemonitor.yaml
  infrastructure/base/monitoring/kube-prometheus-stack/etcd-endpoints.yaml
  infrastructure/base/monitoring/kube-prometheus-stack/flux-podmonitor.yaml
  infrastructure/base/monitoring/kube-prometheus-stack/grafana-admin-externalsecret.yaml
  infrastructure/base/monitoring/kube-prometheus-stack/helmrelease.yaml
  infrastructure/base/monitoring/kube-prometheus-stack/ingressroute.yaml
  infrastructure/base/monitoring/kube-prometheus-stack/kube-state-metrics-vpa-rbac.yaml
  infrastructure/base/monitoring/kube-prometheus-stack/kustomization.yaml
  infrastructure/base/monitoring/kube-prometheus-stack/namespace.yaml
  infrastructure/base/monitoring/kube-prometheus-stack/values.yaml
  infrastructure/base/monitoring/servicemonitors/cilium-servicemonitor.yaml
  infrastructure/base/monitoring/servicemonitors/kustomization.yaml
  infrastructure/base/monitoring/servicemonitors/liqo-servicemonitor.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(alloy): preserve kube-state-metrics namespace labels
  infrastructure/base/monitoring/grafana-dashboards/resource-efficiency.yaml
  infrastructure/base/monitoring/v2-otel/alloy/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore: update pod-cleanup and synology storage configs
  infrastructure/base/kube-system/pod-cleanup/cleanup.py
  infrastructure/base/kube-system/pod-cleanup/cronjob.yaml
  infrastructure/base/kube-system/pod-cleanup/kustomization.yaml
  infrastructure/base/storage/synology-storage.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore: cleanup scripts and update configs
  configs/cilium-manifest.yaml
  infrastructure/_scripts/deploy-observability.sh
  node_modules/.yarn-integrity
  scripts/__deploy-tdarr.sh
  scripts/__provision-local.sh
  scripts/deploy-observability.sh
  scripts/generate-resource-report.py
  scripts/kube-dashboard-token.sh
Due: gitleaks, yamllint, kube-validate, shellcheck, shfmt, trailing-whitespace

feat(resources): right-size pod resources based on 24h P95 metrics
  applications/arr-stack/base/overseerr/deployment.yaml
  applications/arr-stack/base/tdarr/deployment.yaml
  applications/arr-stack/base/tdarr/tdarr-node-daemonset.yaml
  infrastructure/base/argocd/helmrelease.yaml
  infrastructure/base/authentik/helmrelease.yaml
  infrastructure/base/cert-manager/helmrelease.yaml
  infrastructure/base/infra-control/kubeview/deployment.yaml
  infrastructure/base/minio/tenant.yaml
  infrastructure/base/monitoring/v2-otel/loki/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(arr-stack): add Tautulli, Posterr, and Kometa
  applications/arr-stack/base/kometa/deployment.yaml
  applications/arr-stack/base/kometa/kustomization.yaml
  applications/arr-stack/base/kometa/pvc.yaml
  applications/arr-stack/base/kustomization.yaml
  applications/arr-stack/base/posterr/deployment.yaml
  applications/arr-stack/base/posterr/ingressroute.yaml
  applications/arr-stack/base/posterr/kustomization.yaml
  applications/arr-stack/base/posterr/pvc.yaml
  applications/arr-stack/base/posterr/service.yaml
  applications/arr-stack/base/tautulli/deployment.yaml
  applications/arr-stack/base/tautulli/ingressroute.yaml
  applications/arr-stack/base/tautulli/kustomization.yaml
  applications/arr-stack/base/tautulli/pvc.yaml
  applications/arr-stack/base/tautulli/service.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(tdarr): raise memory limit and exclude control-plane from worker nodes
  applications/arr-stack/base/tdarr/tdarr-node-daemonset.yaml
  infrastructure/base/namespaces/media.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(kometa): add 1Password integration for TMDB and Plex tokens
  applications/arr-stack/base/kometa/configmap.yaml
  applications/arr-stack/base/kometa/deployment.yaml
  applications/arr-stack/base/kometa/externalsecret.yaml
  applications/arr-stack/base/kometa/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(homepage): add Plex token from 1Password for widget API
  applications/arr-stack/base/homepage/deployment.yaml
  applications/arr-stack/base/homepage/kustomization.yaml
  applications/arr-stack/base/homepage/plex-externalsecret.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(beads): close Plex widget issues TALOS-21j, TALOS-7ls
  .beads/issues.jsonl
Due: none

feat(arr-stack): add Posterizarr for automated poster generation
  .beads/issues.jsonl
  applications/arr-stack/base/kustomization.yaml
  applications/arr-stack/base/posterizarr/deployment.yaml
  applications/arr-stack/base/posterizarr/ingressroute.yaml
  applications/arr-stack/base/posterizarr/kustomization.yaml
  applications/arr-stack/base/posterizarr/pvc.yaml
  applications/arr-stack/base/posterizarr/service.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(posterizarr): set 777 permissions on shared assets directory
  applications/arr-stack/base/posterizarr/deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(posterizarr): mount full Kometa PVC to share assets directory
  applications/arr-stack/base/posterizarr/deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(kometa): run every 4 hours instead of daily
  applications/arr-stack/base/kometa/deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

refactor(service-mesh): remove linkerd, document cilium strategy
  catalyst_repo.yaml
  dashboard.sh
  docs/02-architecture/README.md
  docs/02-architecture/service-mesh.md
  docs/INDEX.md
  infrastructure/base/linkerd/.gitignore
  infrastructure/base/linkerd/dashboard.sh
  infrastructure/base/linkerd/external-secret.yaml
  infrastructure/base/linkerd/kustomization.yaml
  infrastructure/base/linkerd/values-control-plane.yaml
  infrastructure/base/linkerd/values-crds.yaml
  infrastructure/base/monitoring/grafana-dashboards/README.md
  infrastructure/base/monitoring/grafana-dashboards/kustomization.yaml
  infrastructure/base/monitoring/grafana-dashboards/linkerd-dashboards.yaml
  infrastructure/base/namespaces/kustomization.yaml
  infrastructure/base/namespaces/linkerd.yaml
  infrastructure/base/namespaces/scratch.yaml
  scripts/deploy-linkerd-viz.sh
  scripts/deploy-linkerd.sh
Due: gitleaks, yamllint, kube-validate, shellcheck, shfmt, markdownlint, trailing-whitespace

feat(kometa): add streaming overlays, status badges, and enhanced collections
  applications/arr-stack/base/kometa/configmap.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(tilt): add Kometa/Posterizarr resources and ops buttons
  Tiltfile
Due: none

feat(arr-stack): increase Posterizarr and Kometa resources
  applications/arr-stack/base/kometa/deployment.yaml
  applications/arr-stack/base/posterizarr/deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

docs: update diagrams and references for linkerd removal
  docs/02-architecture/infrastructure-diagrams.md
  docs/03-operations/RESOURCE-OPTIMIZATION.md
  docs/06-project-management/KUBERNETES-ECOSYSTEM-IDEAS.md
  docs/06-project-management/k8s-enhancements-roadmap.md
  docs/08-monitoring/GRAFANA-DASHBOARDS.md
Due: gitleaks, markdownlint, trailing-whitespace

fix(kometa): disable create_asset_folders to prevent empty folders
  applications/arr-stack/base/kometa/configmap.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(arr-stack): convert Tiltfile to standalone observe-only mode
  applications/arr-stack/Tiltfile
Due: none

feat(arr-stack): improve Tilt UI grouping with numbered labels
  applications/arr-stack/Tiltfile
Due: none

chore(cilium): roll back mTLS config after connectivity failure
  .beads/issues.jsonl
  .gitleaksignore
  catalyst_repo.yaml
  configs/cilium-manifest.yaml
  configs/cilium-values.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(beads): update TALOS-cpl with network findings
  .beads/issues.jsonl
Due: none

chore(cilium): document WireGuard+VXLAN incompatibility, disable encryption
  .beads/issues.jsonl
  configs/cilium-manifest.yaml
  configs/cilium-values.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(cilium): enable SPIRE-based mTLS service mesh
  .beads/issues.jsonl
  .gitleaksignore
  applications/scratch/grpc-example/k8s/kustomization.yaml
  applications/scratch/grpc-example/k8s/mtls-policies.yaml
  configs/cilium-manifest.yaml
  configs/cilium-values.yaml
  infrastructure/base/cilium/kustomization.yaml
  infrastructure/base/cilium/spire-namespace.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(monitoring): enable Traefik metrics labels and add Alloy scraper
  .beads/issues.jsonl
  infrastructure/base/monitoring/v2-otel/alloy/helmrelease.yaml
  infrastructure/base/traefik/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(traefik): use string format for metrics buckets
  infrastructure/base/traefik/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(beads): update TALOS-fq8 with Traefik dashboard fix notes
  .beads/issues.jsonl
Due: none
