Repository TheBranchDriftCatalyst/talos-homelab: changes, and which lefthook commands are due for each by the changed paths.
All: gitleaks, yamllint, kube-validate, shellcheck, shfmt, markdownlint, trailing-whitespace, helm-lint

Path conditions:
  gitleaks: any of: *.{yaml,yml,sh,json,env,txt,md}
  yamllint: any of: *.{yaml,yml}
  kube-validate: any of: *.{yaml,yml}
  shellcheck: any of: *.sh
  shfmt: any of: *.sh
  markdownlint: any of: *.md
  trailing-whitespace: any of: *.{yaml,yml,sh,md,json}
  helm-lint: any of: **/Chart.yaml

docs(patterns): correct dbgate consume to single-writer design (TALOS-5ccm)
  docs/patterns/cross-namespace-secret-reflection.md
Due: gitleaks, markdownlint, trailing-whitespace

docs(skill): image-update-implement — batch decision aggregation + hard-won kinks
  .claude/skills/image-update-implement/SKILL.md
Due: gitleaks, markdownlint, trailing-whitespace

fix(security): untrack Cilium PKI private keys + drop dead RabbitMQ cred (TALOS-031k)
  .gitignore
  applications/scratch/llm-proxy-archive/rabbitmq-secrets.yaml
  configs/cilium-manifest-kp.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(images): trust-manager v0.13.0->v0.24.0, tempo chart 1.24.1->1.24.4 [TALOS-zadf.52,.7]
  .beads/issues.jsonl
  .beads/last-touched
  infrastructure/base/cert-manager/trust-manager.yaml
  infrastructure/base/monitoring/v2-otel/tempo/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(images): traefik chart 37.x->41.x (Traefik v3.6.2->v3.7.10) [TALOS-zadf.19]
  infrastructure/base/traefik/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(scratch): drop example-mongodb CR ahead of MCK operator swap (TALOS-zadf.57)
  applications/scratch/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(databases): unreference old mongodb community-operator HR for MCK swap (TALOS-zadf.57)
  infrastructure/base/databases/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(databases): replace community-operator with mongodb-kubernetes (MCK) 1.10.0 (TALOS-zadf.57)
  infrastructure/base/databases/kustomization.yaml
  infrastructure/base/databases/mongodb-operator/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(scratch): re-add scratch-mongodb on the mongodb-kubernetes (MCK) operator (TALOS-zadf.57)
  applications/scratch/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(scratch): rename SA to mongodb-kubernetes-appdb for MCK operator (TALOS-zadf.57)
  applications/scratch/example-mongodb/mongodb.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(security): ESO 4 hardcoded app secrets off 1Password (TALOS-031k: zipline/storyteller/searxng/HA)
  applications/home-automation/base/homeassistant/configmap.yaml
  applications/home-automation/base/homeassistant/deployment.yaml
  applications/home-automation/base/homeassistant/postgres.yaml
  applications/media-experimental/base/storyteller/externalsecret.yaml
  applications/media-experimental/base/storyteller/kustomization.yaml
  applications/media-experimental/base/storyteller/secret.yaml
  applications/zipline/deployment.yaml
  applications/zipline/externalsecret.yaml
  applications/zipline/kustomization.yaml
  infrastructure/base/vpn-gateway/kustomization.yaml
  infrastructure/base/vpn-gateway/securexng-externalsecret.yaml
  infrastructure/base/vpn-gateway/securexng.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(images): minio-operator 6.0.4->7.1.1 [TALOS-zadf.12,.5]
  infrastructure/base/databases/minio-operator/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(beads): close 4 ESO secret conversions (TALOS-031k children)
  .beads/last-touched
Due: none

chore(beads): defer Cilium CA rotation (TALOS-ojug) to the Cilium upgrade campaign
  .beads/last-touched
Due: none

chore(images): argocd chart 7.x->10.x (Argo CD v2.14.11->v3.5.0) [TALOS-zadf.2]
  infrastructure/base/argocd/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(images): mimir chart 5.5.1->6.1.0 (Mimir 2.14.0->3.1.2) [TALOS-zadf.1]
  infrastructure/base/monitoring/v2-otel/mimir/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(zipline): GitOps-ify + migrate to CNPG (TALOS-0w6d)
  applications/zipline/Tiltfile
  applications/zipline/deployment.yaml
  applications/zipline/externalsecret.yaml
  applications/zipline/ingressroute.yaml
  applications/zipline/kustomization.yaml
  applications/zipline/namespace.yaml
  applications/zipline/postgres.yaml
  applications/zipline/pvc.yaml
  clusters/catalyst-cluster/flux-system/kustomization.yaml
  clusters/catalyst-cluster/zipline.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(monitoring): mimir-nginx -> mimir-gateway repo-wide (SEV-1, restores dead ingestion) [TALOS-zadf.1]
  applications/arr-stack/base/homepage/configmap-services.yaml
  infrastructure/base/kube-system/pod-cleanup/cleanup.py
  infrastructure/base/kube-system/pod-cleanup/cronjob.yaml
  infrastructure/base/kube-system/wedge-buster/cronjob-mimir.yaml
  infrastructure/base/minio/tenant.yaml
  infrastructure/base/monitoring/grafana-dashboards/json/talos-cluster-debug.json
  infrastructure/base/monitoring/pushgateway/helmrelease.yaml
  infrastructure/base/monitoring/v2-otel/alloy-node/helmrelease.yaml
  infrastructure/base/monitoring/v2-otel/alloy/helmrelease.yaml
  infrastructure/base/monitoring/v2-otel/blackbox-exporter/helmrelease.yaml
  infrastructure/base/monitoring/v2-otel/grafana-datasources/datasources.yaml
  infrastructure/base/monitoring/v2-otel/ingressroutes.yaml
  infrastructure/base/monitoring/v2-otel/tempo/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(linkwarden): add CNPG cluster (phase 1 of co-pod->CNPG migration, TALOS-3eui)
  applications/home-automation/base/linkwarden/kustomization.yaml
  applications/home-automation/base/linkwarden/postgres.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(mimir): disable chart-6 default Kafka ingest-storage (SEV-2) [TALOS-zadf.1]
  infrastructure/base/monitoring/v2-otel/mimir/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(linkwarden): cut over to CNPG (phase 2, TALOS-3eui)
  applications/home-automation/base/linkwarden/MIGRATION-RUNBOOK.md
  applications/home-automation/base/linkwarden/deployment.yaml
  applications/home-automation/base/linkwarden/external-secret.yaml
  applications/home-automation/base/linkwarden/pvc.yaml
Due: gitleaks, yamllint, kube-validate, markdownlint, trailing-whitespace

fix(mimir): also disable ingest_storage in structuredConfig (complete SEV-2 classic-arch) [TALOS-zadf.1]
  infrastructure/base/monitoring/v2-otel/mimir/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(beads): file Redis->infra-CRD conversion epic
  .beads/last-touched
Due: none

revert(mimir): keep kafka ingest-storage enabled — disabling it live crashes the ingester [TALOS-zadf.1]
  infrastructure/base/monitoring/v2-otel/mimir/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

docs(skill): image-update-implement — READ the full migration guide + post-upgrade pipeline audit
  .claude/skills/image-update-implement/SKILL.md
Due: gitleaks, markdownlint, trailing-whitespace

feat(authentik): add CNPG cluster postgres.yaml (phase 1, TALOS-fijt)
  infrastructure/base/authentik/kustomization.yaml
  infrastructure/base/authentik/postgres.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(authentik): cut over to CNPG (phase 2, TALOS-fijt)
  infrastructure/base/authentik/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(beads): authentik CNPG migration backend-verified (TALOS-fijt)
  .beads/last-touched
Due: none

chore(beads): flesh out Redis->Dragonfly epic children (TALOS-0tbh)
  .beads/last-touched
Due: none

fix(authentik): register Linkwarden OIDC provider (TALOS-zuia)
  infrastructure/base/authentik/externalsecret.yaml
  infrastructure/base/authentik/helmrelease.yaml
  infrastructure/base/authentik/kustomization.yaml
  infrastructure/base/authentik/linkwarden-blueprint.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(argocd): add Dragonfly cache CR (phase 1 of redis->Dragonfly, TALOS-lr4h)
  infrastructure/base/argocd/dragonfly.yaml
  infrastructure/base/argocd/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(argocd): cut over to Dragonfly cache (phase 2, TALOS-lr4h)
  infrastructure/base/argocd/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(monitoring): CNPG/Dragonfly/RabbitMQ dashboards + PodMonitors + CRD reference doc (TALOS-0tbh)
  docs/07-reference/README.md
  docs/07-reference/cluster-crds.md
  infrastructure/base/monitoring/dragonfly-monitoring/kustomization.yaml
  infrastructure/base/monitoring/dragonfly-monitoring/podmonitor.yaml
  infrastructure/base/monitoring/grafana-dashboards/json/cnpg-databases.json
  infrastructure/base/monitoring/grafana-dashboards/json/dragonfly-cache.json
  infrastructure/base/monitoring/grafana-dashboards/json/rabbitmq.json
  infrastructure/base/monitoring/grafana-dashboards/kustomization.yaml
  infrastructure/base/monitoring/grafana-dashboards/resources/dragonfly-cache.yaml
  infrastructure/base/monitoring/grafana-dashboards/resources/rabbitmq.yaml
  infrastructure/base/monitoring/rabbitmq-monitoring/kustomization.yaml
  infrastructure/base/monitoring/rabbitmq-monitoring/podmonitor.yaml
  infrastructure/base/monitoring/v2-otel/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, markdownlint, trailing-whitespace

fix(argocd): enable Dragonfly /metrics via --primary_port_http_enabled=true (TALOS-0tbh)
  infrastructure/base/argocd/dragonfly.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(beads): note Dragonfly metrics flag on authentik-redis bead
  .beads/last-touched
Due: none

chore(beads): file Dragonfly metrics scrape http2 bug (TALOS-0tbh child)
  .beads/last-touched
Due: none

feat(monitoring): KEDA autoscaling dashboard + enable operator prometheus metrics (TALOS-0tbh)
  infrastructure/base/monitoring/grafana-dashboards/json/keda.json
  infrastructure/base/monitoring/grafana-dashboards/kustomization.yaml
  infrastructure/base/monitoring/grafana-dashboards/resources/keda.yaml
  infrastructure/base/monitoring/keda-monitoring/kustomization.yaml
  infrastructure/base/monitoring/keda-monitoring/podmonitor.yaml
  infrastructure/base/monitoring/v2-otel/kustomization.yaml
  infrastructure/base/operators/keda/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(monitoring): scrape Dragonfly over HTTP/1.1 (enableHttp2=false) — fixes up=0 (TALOS-tf6o)
  infrastructure/base/monitoring/dragonfly-monitoring/podmonitor.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(monitoring): Redis dashboard via redis_exporter (replaces failed direct scrape, TALOS-tf6o)
  infrastructure/base/argocd/dragonfly.yaml
  infrastructure/base/monitoring/dragonfly-monitoring/kustomization.yaml
  infrastructure/base/monitoring/dragonfly-monitoring/podmonitor.yaml
  infrastructure/base/monitoring/grafana-dashboards/json/dragonfly-cache.json
  infrastructure/base/monitoring/grafana-dashboards/resources/dragonfly-cache.yaml
  infrastructure/base/monitoring/redis-monitoring/exporter-argocd-dragonfly.yaml
  infrastructure/base/monitoring/redis-monitoring/exporter-boomtime-cache.yaml
  infrastructure/base/monitoring/redis-monitoring/kustomization.yaml
  infrastructure/base/monitoring/redis-monitoring/podmonitor.yaml
  infrastructure/base/monitoring/v2-otel/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(cilium): hop 1 — 1.16.6 → 1.17.18 (staged upgrade) [TALOS-p2g3.1]
  infrastructure/base/cilium/helmrelease.yaml
  infrastructure/base/cilium/values.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace
