Repository TheBranchDriftCatalyst/talos-homelab: changes, and which lefthook commands are due for each by the changed paths.
All: gitleaks, yamllint, kube-validate, shellcheck, shfmt, markdownlint, trailing-whitespace, helm-lint

Path conditions:
  gitleaks: any of: *.{yaml,yml,sh,json,env,txt,md}
  yamllint: any of: *.{yaml,yml}
  kube-validate: any of: *.{yaml,yml}
  shellcheck: any of: *.sh
  shfmt: any of: *.sh
  markdownlint: any of: *.md
  trailing-whitespace: any of: *.{yaml,yml,sh,md,json}
  helm-lint: any of: **/Chart.yaml

fix(linkwarden): add explicit namespace to IngressRoute services
  .beads/issues.jsonl
  applications/home-stack/base/linkwarden/ingressroute.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

bd sync: 2026-01-16 15:56:04
  .beads/issues.jsonl
Due: none

feat(clustermesh): add port forwarder manifests for Nebula bridge
  .beads/issues.jsonl
  clusters/aws-k3s/manifests/clustermesh/kustomization.yaml
  clusters/aws-k3s/manifests/clustermesh/port-forwarder.yaml
  docs/HYBRID-CLOUD-PLAYBOOK.md
  infrastructure/base/cilium/clustermesh-forwarders/aws-to-talos.yaml
  infrastructure/base/cilium/clustermesh-forwarders/kustomization.yaml
  infrastructure/base/cilium/clustermesh-forwarders/talos-to-aws.yaml
  infrastructure/base/nebula/configmap.yaml
Due: gitleaks, yamllint, kube-validate, markdownlint, trailing-whitespace

bd sync: 2026-01-16 16:06:15
  .beads/issues.jsonl
Due: none

fix(flux): delete network policies that break Cilium CNI connectivity
  clusters/catalyst-cluster/flux-system/flux-system/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(cilium): run SPIRE server as root to fix socket permission issues
  configs/cilium-values.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(pulsarr): use TCP socket probe for health checks
  applications/arr-stack/base/pulsarr/deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(cilium): adjust MTU and cert SANs for ClusterMesh over Nebula
  configs/cilium-values.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(arr-stack): add Pulsarr integration for request automation
  applications/arr-stack/base/kustomization.yaml
  applications/arr-stack/base/pulsarr/deployment.yaml
  applications/arr-stack/base/pulsarr/ingressroute.yaml
  applications/arr-stack/base/pulsarr/kustomization.yaml
  applications/arr-stack/base/pulsarr/pvc.yaml
  applications/arr-stack/base/pulsarr/service.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(monitoring): update Tdarr transcoding dashboard
  infrastructure/base/monitoring/grafana-dashboards/json/tdarr-transcoding.json
Due: gitleaks, trailing-whitespace

feat(tools): add beads-manager containerization and CLI
  tools/beads-manager/.dockerignore
  tools/beads-manager/Dockerfile
  tools/beads-manager/README.md
  tools/beads-manager/docker-compose.yml
  tools/beads-manager/package.json
  tools/beads-manager/scripts/beads-ui
  tools/beads-manager/src/cli.ts
  tools/beads-manager/src/server/index.ts
  tools/beads-manager/tsconfig.server.json
  tools/beads-manager/vite.config.ts
Due: gitleaks, yamllint, kube-validate, markdownlint, trailing-whitespace

feat(scripts): add file and video chunking utilities
  scripts/chunk-file.sh
  scripts/chunk-video.sh
Due: gitleaks, shellcheck, shfmt, trailing-whitespace

ci(workflows): add beads-manager Docker build workflow
  .github/workflows/beads-manager.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(beads): update sync state and gitignore
  .beads/.gitignore
  .beads/.local_version
  .beads/deletions.jsonl
  .beads/last-touched
  .beads/sync_base.jsonl
Due: none
