Repository TheBranchDriftCatalyst/talos-homelab: changes, and which lefthook commands are due for each by the changed paths.
All: gitleaks, yamllint, kube-validate, shellcheck, shfmt, markdownlint, trailing-whitespace, helm-lint

gitleaks:
  tags: security
  run: gitleaks protect --verbose --redact --staged
  skip:
  - merge
  - rebase

yamllint:
  tags: linting yaml
  run: yamllint --strict .
  skip:
  - merge
  - rebase

kube-validate:
  tags: kubernetes yaml
  ...

shellcheck:
  tags: linting shell
  run: shellcheck -x {staged_files}
  skip:
  - merge
  - rebase

shfmt:
  tags: formatting shell
  run: shfmt -w -i 2 -ci -sr {staged_files}
  skip:
  - merge
  - rebase
  stage_fixed: true

markdownlint:
  tags: linting markdown
  run: npx markdownlint-cli2 {staged_files}
  skip:
  - merge
  - rebase

trailing-whitespace:
  tags: formatting
  run: "if grep -n '[[:space:]]$' {staged_files}; then\n  echo \"‚ùå Error: Trailing whitespace found\"\n  echo \"Run: sed -i '' 's/[[:space:]]*$//' <file>\"\n  exit 1\nfi\n"
  skip:
  - merge
  - rebase

helm-lint:
  tags: kubernetes helm
  run: "for chart_dir in infrastructure/base/*/; do\n  if [ -f \"$chart_dir/Chart.yaml\" ]; then\n    echo \"Linting Helm chart: $chart_dir\"\n    helm lint \"$chart_dir\" || exit 1\n  fi\ndone\n"
  skip:
  - merge
  - rebase

feat(arr-stack): radarr-main and radarr-log on arr-postgres [TALOS-l4uo]
  applications/arr-stack/base/postgres/databases.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(radarr): point at CNPG Postgres via env [TALOS-l4uo]
  applications/arr-stack/base/radarr/deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(prowlarr): unbind the SQLite volume, un-node-bind the app [TALOS-93cz]
  applications/arr-stack/base/prowlarr/deployment.yaml
  applications/arr-stack/base/prowlarr/pvc.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

docs(arr-stack): runbook covers the unbind and how to prove it worked [TALOS-93cz]
  applications/arr-stack/base/postgres/MIGRATION-RUNBOOK.md
Due: gitleaks, markdownlint, trailing-whitespace

docs(arr-stack): radarr migration results and the deletes the wiki misses [TALOS-l4uo]
  applications/arr-stack/base/postgres/MIGRATION-RUNBOOK.md
Due: gitleaks, markdownlint, trailing-whitespace

docs(arr-stack): verify sequences with is_called, not pg_sequences [TALOS-93cz]
  applications/arr-stack/base/postgres/MIGRATION-RUNBOOK.md
Due: gitleaks, markdownlint, trailing-whitespace

docs(arr-stack): gate the cordon test, stop hardcoding the primary [TALOS-93cz]
  applications/arr-stack/base/postgres/MIGRATION-RUNBOOK.md
Due: gitleaks, markdownlint, trailing-whitespace

feat(arr-stack): sonarr-main and sonarr-log on arr-postgres [TALOS-eaa4]
  applications/arr-stack/base/postgres/databases.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(radarr): unbind the SQLite volume, un-node-bind the app [TALOS-l4uo]
  applications/arr-stack/base/radarr/deployment.yaml
  applications/arr-stack/base/radarr/pvc.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(sonarr): point at CNPG Postgres via env [TALOS-eaa4]
  applications/arr-stack/base/sonarr/deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

docs(architecture): audit embedded DBs for CNPG/Mongo migration candidates
  docs/02-architecture/README.md
  docs/02-architecture/embedded-db-migration-audit.md
Due: gitleaks, markdownlint, trailing-whitespace

docs(arr-stack): the second pin, and how to prove the unbind safely [TALOS-l4uo]
  applications/arr-stack/base/postgres/MIGRATION-RUNBOOK.md
Due: gitleaks, markdownlint, trailing-whitespace

docs(architecture): settle the NFS question for media-experimental with cluster history
  docs/02-architecture/embedded-db-migration-audit.md
Due: gitleaks, markdownlint, trailing-whitespace

docs(arr-stack): sonarr migration results, and the two deletes that flipped [TALOS-eaa4]
  applications/arr-stack/base/postgres/MIGRATION-RUNBOOK.md
Due: gitleaks, markdownlint, trailing-whitespace

docs(architecture): complete audit scope - sister repos, remaining namespaces, coverage
  docs/02-architecture/embedded-db-migration-audit.md
Due: gitleaks, markdownlint, trailing-whitespace

gitblobstore: checkandput manifest
  gutbrvqs463atbci0e8h988o7utr59ai.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  manifest
  rgnjj3l9poiempra1oiq4hrghfri3vhi
Due: none

docs(arr-stack): the pin comment makes a co-location claim the cluster disproves [TALOS-6ck8]
  applications/arr-stack/base/postgres/MIGRATION-RUNBOOK.md
Due: gitleaks, markdownlint, trailing-whitespace

gitblobstore: checkandput manifest
  ctdh5tq8ot2j6u2nrs82voci5ga7cqpq.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  catm5vme3cel9k1svdhpphbf544lqmh0
  manifest
Due: none

dolt remote info
  DOLT_REMOTE.md
Due: gitleaks, markdownlint, trailing-whitespace

feat(sonarr): unbind the SQLite volume, un-node-bind the app [TALOS-6ck8]
  applications/arr-stack/base/prowlarr/deployment.yaml
  applications/arr-stack/base/radarr/deployment.yaml
  applications/arr-stack/base/sonarr/deployment.yaml
  applications/arr-stack/base/sonarr/pvc.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

docs(arr-stack): make retiring a pin a procedure, not a sonarr anecdote [TALOS-6ck8]
  applications/arr-stack/base/postgres/MIGRATION-RUNBOOK.md
Due: gitleaks, markdownlint, trailing-whitespace

chore(sonarr): delete the orphaned db-config ConfigMap [TALOS-6ck8]
  applications/arr-stack/base/sonarr/db-config.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(minio): reflect cnpg-minio-backup into catalyst-data [TALOS-zjh0]
  infrastructure/base/minio/cnpg-backup/externalsecret.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

docs(architecture): MongoDB migration audit -- no Mongo work on the control-plane critical path [TALOS-3hl8]
  docs/02-architecture/README.md
  docs/02-architecture/embedded-db-migration-audit.md
  docs/02-architecture/mongodb-migration-audit.md
Due: gitleaks, markdownlint, trailing-whitespace

docs(architecture): link the two tickets filed by the MongoDB audit [TALOS-3hl8]
  docs/02-architecture/mongodb-migration-audit.md
Due: gitleaks, markdownlint, trailing-whitespace

feat(media-experimental): BookOrbit on CNPG + pgvector, zero node pinning [TALOS-3hl8]
  applications/media-experimental/base/bookorbit/OIDC.md
  applications/media-experimental/base/bookorbit/database.yaml
  applications/media-experimental/base/bookorbit/deployment.yaml
  applications/media-experimental/base/bookorbit/externalsecret.yaml
  applications/media-experimental/base/bookorbit/ingressroute-http.yaml
  applications/media-experimental/base/bookorbit/ingressroute.yaml
  applications/media-experimental/base/bookorbit/kustomization.yaml
  applications/media-experimental/base/bookorbit/objectstore.yaml
  applications/media-experimental/base/bookorbit/postgres.yaml
  applications/media-experimental/base/bookorbit/pvc-data.yaml
  applications/media-experimental/base/bookorbit/scheduledbackup.yaml
  applications/media-experimental/base/bookorbit/service.yaml
  applications/media-experimental/base/kustomization.yaml
  infrastructure/base/minio/cnpg-backup/externalsecret.yaml
Due: gitleaks, yamllint, kube-validate, markdownlint, trailing-whitespace

feat(forgejo): add forgejo-data-nfs PVC on fatboy-nfs-appdata [TALOS-upme]
  infrastructure/base/forgejo/deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(forgejo): mount forgejo-data-nfs, un-pinning forgejo from talos01 [TALOS-upme]
  infrastructure/base/forgejo/deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

docs(cilium): SPIRE disposition — recommend disable and remove [TALOS-1d4o]
  docs/02-architecture/README.md
  docs/02-architecture/cilium-spire-disposition.md
Due: gitleaks, markdownlint, trailing-whitespace

fix(bookorbit): gate startup on the vector extension existing [TALOS-3hl8]
  applications/media-experimental/base/bookorbit/deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(tasks): reconcile 12 task/script paths, retire the deploy-over-Flux tasks
  CLAUDE.md
  IMPLEMENTATION-TRACKER.md
  README.md
  Taskfile.dev.yaml
  Taskfile.infra.yaml
  Taskfile.k8s.yaml
  Taskfile.talos.yaml
  Taskfile.yaml
  docs/01-getting-started/quickstart.md
  docs/02-architecture/dual-gitops.md
  docs/02-architecture/infrastructure-diagrams.md
  docs/02-architecture/observability.md
  docs/03-operations/local-development-eso.md
  docs/03-operations/provisioning.md
  docs/06-project-management/enhancement-roadmap.md
  docs/07-reference/taskfile-organization.md
  docs/08-monitoring/GRAFANA-DASHBOARDS.md
  infrastructure/base/monitoring/grafana-dashboards/README.md
  infrastructure/dashboard.sh
  scripts/dashboards/README.md
Due: gitleaks, yamllint, kube-validate, shellcheck, shfmt, markdownlint, trailing-whitespace

fix(dbgate): one connection per database, not per cluster [TALOS-clz4]
  applications/media-experimental/base/_instance/deployment.yaml
  applications/media-experimental/base/backup/README.md
  applications/media-experimental/base/backup/cronjob-backup.yaml
  applications/media-experimental/base/backup/cronjob-restore-verify.yaml
  applications/media-experimental/base/backup/cronjob-restore.yaml
  applications/media-experimental/base/backup/kustomization.yaml
  applications/media-experimental/base/backup/pvc.yaml
  applications/media-experimental/base/backup/rbac.yaml
  applications/media-experimental/base/backup/scripts-configmap.yaml
  applications/media-experimental/base/kustomization.yaml
  clusters/catalyst-cluster/cluster-settings.yaml
  infrastructure/base/databases/dbgate-connection-sync/configmap-script.yaml
  infrastructure/base/databases/dbgate-connection-sync/rbac.yaml
Due: gitleaks, yamllint, kube-validate, markdownlint, trailing-whitespace

fix(bookorbit): pin en_US.utf8 collation before any data lands [TALOS-3hl8]
  applications/media-experimental/base/bookorbit/postgres.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(dbgate): write connections secret as data, so removed keys get pruned [TALOS-clz4]
  infrastructure/base/databases/dbgate-connection-sync/configmap-script.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(cilium): disable SPIRE mutual authentication [TALOS-1d4o]
  infrastructure/base/cilium/helmrelease.yaml
  infrastructure/base/cilium/kube-system-namespace.yaml
  infrastructure/base/cilium/kustomization.yaml
  infrastructure/base/cilium/spire-namespace.yaml
  infrastructure/base/cilium/values.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(lint): clear the 111 markdown errors the glob fix exposed
  .markdownlint-cli2.yaml
  CLAUDE.md
  DAH_REPORT.md
  IMPLEMENTATION-TRACKER.md
  applications/gaming/base/kubevirt/README.md
  applications/poisonarr/src/browser_agent/prompts/code_navigator.md
  applications/the-corpus/devsauce/todo.md
  applications/the-corpus/frontends/credIT/todo.md
  applications/the-corpus/frontends/todo.md
  applications/the-corpus/memex/src/the-sorting-hat/todo.md
  docs/01-getting-started/quickstart.md
  docs/02-architecture/crossplane-platformapp-plan.md
  docs/02-architecture/embedded-db-migration-audit.md
  docs/08-monitoring/GRAFANA-DASHBOARD-QUERY-AUDIT.md
  docs/changelogs/image-updates-TALOS-zadf.md
  infrastructure/base/vpn-gateway/README.md
Due: gitleaks, yamllint, kube-validate, markdownlint, trailing-whitespace

fix(media-experimental): three real defects the first backup run exposed [TALOS-uml1]
  applications/media-experimental/base/backup/cronjob-backup.yaml
  applications/media-experimental/base/backup/cronjob-restore-verify.yaml
  applications/media-experimental/base/backup/cronjob-restore.yaml
  applications/media-experimental/base/backup/scripts-configmap.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

Path conditions:
  gitleaks: any of: *.{yaml,yml,sh,json,env,txt,md}
  yamllint: any of: *.{yaml,yml}
  kube-validate: any of: *.{yaml,yml}
  shellcheck: any of: *.sh
  shfmt: any of: *.sh
  markdownlint: any of: *.md
  trailing-whitespace: any of: *.{yaml,yml,sh,md,json}
  helm-lint: any of: **/Chart.yaml
