Repository TheBranchDriftCatalyst/talos-homelab: changes, and which lefthook commands are due for each by the changed paths.
All: gitleaks, yamllint, kube-validate, shellcheck, shfmt, markdownlint, trailing-whitespace, helm-lint

gitleaks:
  tags: security
  run: gitleaks protect --verbose --redact --staged
  skip:
  - merge
  - rebase

yamllint:
  tags: linting yaml
  run: yamllint --strict .
  skip:
  - merge
  - rebase

kube-validate:
  tags: kubernetes yaml
  ...

shellcheck:
  tags: linting shell
  run: shellcheck -x {staged_files}
  skip:
  - merge
  - rebase

shfmt:
  tags: formatting shell
  run: shfmt -w -i 2 -ci -sr {staged_files}
  skip:
  - merge
  - rebase
  stage_fixed: true

markdownlint:
  tags: linting markdown
  run: npx markdownlint-cli2 {staged_files}
  skip:
  - merge
  - rebase

trailing-whitespace:
  tags: formatting
  run: "if grep -n '[[:space:]]$' {staged_files}; then\n  echo \"‚ùå Error: Trailing whitespace found\"\n  echo \"Run: sed -i '' 's/[[:space:]]*$//' <file>\"\n  exit 1\nfi\n"
  skip:
  - merge
  - rebase

helm-lint:
  tags: kubernetes helm
  run: "for chart_dir in infrastructure/base/*/; do\n  if [ -f \"$chart_dir/Chart.yaml\" ]; then\n    echo \"Linting Helm chart: $chart_dir\"\n    helm lint \"$chart_dir\" || exit 1\n  fi\ndone\n"
  skip:
  - merge
  - rebase

fix: Add fallback for GELF short_message in Fluent Bit
  infrastructure/base/observability/fluent-bit/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix: Add GELF host field mapping for Fluent Bit
  infrastructure/base/observability/fluent-bit/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat: Implement Tilt development workflow for arr-stack
  applications/arr-stack/README.md
  applications/arr-stack/Tiltfile
  applications/arr-stack/deploy.sh
  docs/tilt-dev-workflow-implementation.md
Due: gitleaks, shellcheck, shfmt, markdownlint, trailing-whitespace

feat: Add root Tiltfile orchestration pattern
  Tiltfile
  docs/tilt-dev-workflow-implementation.md
Due: gitleaks, markdownlint, trailing-whitespace

fix: Remove trailing slash from Graylog externalUri
  infrastructure/base/observability/graylog/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix: Fix GELF structured logging - Fluent Bit timestamp format and Graylog OOM
  infrastructure/base/observability/fluent-bit/helmrelease.yaml
  infrastructure/base/observability/graylog/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix: Add Gelf_Timestamp_Key to use integer timestamp from Lua
  infrastructure/base/observability/fluent-bit/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

wip: Attempted fixes for GELF timestamp scientific notation
  infrastructure/base/observability/fluent-bit/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix: Remove custom timestamp handling from Fluent Bit GELF output
  infrastructure/base/observability/fluent-bit/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix: Add docker_no_time parser to INPUT for proper timestamp handling
  infrastructure/base/observability/fluent-bit/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix: Remove multiline.parser to allow docker_no_time parser to work
  infrastructure/base/observability/fluent-bit/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

docs: Add final GELF structured logging summary
  docs/gelf-logging-final-summary.md
Due: gitleaks, markdownlint, trailing-whitespace

feat: Add custom multiline parser with Time_Keep Off for GELF
  infrastructure/base/observability/fluent-bit/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix: Update Homepage service URLs and add Flux control tasks
  Taskfile.k8s.yaml
  Taskfile.yaml
  applications/arr-stack/base/homepage/configs/services.yaml
  applications/arr-stack/base/homepage/deployment.yaml
  infrastructure/base/traefik/kustomization.yaml
  infrastructure/base/traefik/service-internal.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

refactor: Simplify namespace architecture to eliminate environment naming
  Tiltfile
  applications/arr-stack/Tiltfile
  applications/arr-stack/base/kustomization.yaml
  applications/arr-stack/overlays/dev/kustomization.yaml
  infrastructure/base/namespaces/kustomization.yaml
  infrastructure/base/namespaces/media.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

refactor: Eliminate overlays and use cluster-settings for ingress domains
  applications/arr-stack/base/homepage/ingressroute.yaml
  applications/arr-stack/base/homepage/kustomization.yaml
  applications/arr-stack/base/jellyfin/ingressroute.yaml
  applications/arr-stack/base/jellyfin/kustomization.yaml
  applications/arr-stack/base/overseerr/ingressroute.yaml
  applications/arr-stack/base/overseerr/kustomization.yaml
  applications/arr-stack/base/plex/ingressroute.yaml
  applications/arr-stack/base/plex/kustomization.yaml
  applications/arr-stack/base/prowlarr/ingressroute.yaml
  applications/arr-stack/base/prowlarr/kustomization.yaml
  applications/arr-stack/base/radarr/ingressroute.yaml
  applications/arr-stack/base/radarr/kustomization.yaml
  applications/arr-stack/base/readarr/ingressroute.yaml
  applications/arr-stack/base/sonarr/ingressroute.yaml
  applications/arr-stack/base/sonarr/kustomization.yaml
  applications/arr-stack/base/tdarr/ingressroute.yaml
  applications/arr-stack/base/tdarr/kustomization.yaml
  applications/arr-stack/overlays/fatboy/kustomization.yaml
  applications/arr-stack/overlays/ingress/talos00/ingressroutes.yaml
  applications/arr-stack/overlays/ingress/talos00/kustomization.yaml
  applications/arr-stack/overlays/prod/common-env.yaml
  applications/arr-stack/overlays/prod/kustomization.yaml
  applications/arr-stack/overlays/storage/README.md
  applications/arr-stack/overlays/storage/fatboy-nfs/kustomization.yaml
  applications/arr-stack/overlays/storage/fatboy-nfs/storage.yaml
  applications/arr-stack/overlays/storage/local-path/kustomization.yaml
  applications/arr-stack/overlays/storage/local-path/storage.yaml
  clusters/homelab-single/flux-system/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, markdownlint, trailing-whitespace

fix: Comment out TrueNAS/Synology storage files with YAML anchor issues
  infrastructure/base/storage/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat: Add Nexus registry, refactor dashboards, fix storage mounts
  CLAUDE.md
  applications/arr-stack/base/homepage/configs/services.yaml
  applications/arr-stack/base/jellyfin/deployment.yaml
  applications/arr-stack/base/plex/deployment.yaml
  applications/arr-stack/base/radarr/deployment.yaml
  applications/arr-stack/base/readarr/deployment.yaml
  applications/arr-stack/base/sonarr/deployment.yaml
  applications/arr-stack/base/tdarr/deployment.yaml
  applications/arr-stack/dashboard.sh
  infrastructure/base/registry/README.md
  infrastructure/base/registry/deployment.yaml
  infrastructure/base/registry/kustomization.yaml
  infrastructure/base/storage/STRUCTURE.md
  infrastructure/base/storage/kustomization.yaml
  infrastructure/base/storage/nfs-storageclass.yaml
  infrastructure/base/storage/synology-storage.yaml
  infrastructure/base/storage/truenas-storage.yaml
  infrastructure/dashboard.sh
  infrastructure/overlays/dev/kustomization.yaml
  infrastructure/overlays/prod/kustomization.yaml
  scripts/bootstrap-complete-system.sh
  scripts/build-and-deploy-catalyst-ui.sh
  scripts/lib/dashboard-common.sh
Due: gitleaks, yamllint, kube-validate, shellcheck, shfmt, markdownlint, trailing-whitespace

fix: Split Flux Kustomizations for proper postBuild variable substitution
  clusters/homelab-single/arr-stack.yaml
  clusters/homelab-single/external-secrets.yaml
  clusters/homelab-single/flux-system/kustomization.yaml
  clusters/homelab-single/observability.yaml
  clusters/homelab-single/registry.yaml
  clusters/homelab-single/traefik.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

Path conditions:
  gitleaks: any of: *.{yaml,yml,sh,json,env,txt,md}
  yamllint: any of: *.{yaml,yml}
  kube-validate: any of: *.{yaml,yml}
  shellcheck: any of: *.sh
  shfmt: any of: *.sh
  markdownlint: any of: *.md
  trailing-whitespace: any of: *.{yaml,yml,sh,md,json}
  helm-lint: any of: **/Chart.yaml
