Repository TheBranchDriftCatalyst/talos-homelab: changes, and which lefthook commands are due for each by the changed paths.
All: gitleaks, yamllint, kube-validate, shellcheck, shfmt, markdownlint, trailing-whitespace, helm-lint

gitleaks:
  tags: security
  run: gitleaks protect --verbose --redact --staged
  skip:
  - merge
  - rebase

yamllint:
  tags: linting yaml
  run: yamllint --strict .
  skip:
  - merge
  - rebase

kube-validate:
  tags: kubernetes yaml
  ...

shellcheck:
  tags: linting shell
  run: shellcheck -x {staged_files}
  skip:
  - merge
  - rebase

shfmt:
  tags: formatting shell
  run: shfmt -w -i 2 -ci -sr {staged_files}
  skip:
  - merge
  - rebase
  stage_fixed: true

markdownlint:
  tags: linting markdown
  run: npx markdownlint-cli2 {staged_files}
  skip:
  - merge
  - rebase

trailing-whitespace:
  tags: formatting
  run: "if grep -n '[[:space:]]$' {staged_files}; then\n  echo \"‚ùå Error: Trailing whitespace found\"\n  echo \"Run: sed -i '' 's/[[:space:]]*$//' <file>\"\n  exit 1\nfi\n"
  skip:
  - merge
  - rebase

helm-lint:
  tags: kubernetes helm
  run: "for chart_dir in infrastructure/base/*/; do\n  if [ -f \"$chart_dir/Chart.yaml\" ]; then\n    echo \"Linting Helm chart: $chart_dir\"\n    helm lint \"$chart_dir\" || exit 1\n  fi\ndone\n"
  skip:
  - merge
  - rebase

fix(authentik): boomtime OIDC access_token_validity 10m -> 12h (gaka-93f.11.6)
  infrastructure/base/authentik/boomtime-blueprint.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(pihole): Prometheus metrics — exporter sidecar, PodMonitor, Grafana dashboard
  infrastructure/base/monitoring/grafana-dashboards/json/pihole.json
  infrastructure/base/monitoring/grafana-dashboards/kustomization.yaml
  infrastructure/base/monitoring/grafana-dashboards/resources/pihole.yaml
  infrastructure/base/pihole/helmrelease.yaml
  infrastructure/base/pihole/kustomization.yaml
  infrastructure/base/pihole/podmonitor.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(pihole): Traefik sticky sessions on web IngressRoute (fixes 401 login)
  infrastructure/base/pihole/ingressroute.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(pihole): web UI active/standby failover via VIP (supersedes sticky LB)
  infrastructure/base/pihole/ingressroute.yaml
  infrastructure/base/pihole/kustomization.yaml
  infrastructure/base/pihole/web-vip-endpoint.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(pihole): sticky sessions to pod endpoints (VIP-failover doesn't work in-cluster)
  infrastructure/base/pihole/ingressroute.yaml
  infrastructure/base/pihole/kustomization.yaml
  infrastructure/base/pihole/web-vip-endpoint.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(pihole-dashboard): expand & polish — rate/latency panels, gauges, gradients
  infrastructure/base/monitoring/grafana-dashboards/json/pihole.json
Due: gitleaks, trailing-whitespace

feat(mail): scaffold mailer subsystem — namespace + ESO relay creds + Flux wiring (TALOS-w5b.1/.2)
  clusters/catalyst-cluster/mail.yaml
  infrastructure/base/mail/externalsecret.yaml
  infrastructure/base/mail/kustomization.yaml
  infrastructure/base/mail/namespace.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(mail): register mail Flux Kustomization in cluster component list
  clusters/catalyst-cluster/flux-system/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(mail): single-source relay creds — pull username+password from one 1Password item
  infrastructure/base/mail/externalsecret.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(pihole-dashboard): state-timeline for active-instance, domain search, fix table cell bars
  infrastructure/base/monitoring/grafana-dashboards/json/pihole.json
Due: gitleaks, trailing-whitespace

fix(pihole-dashboard): make serving-instance panel useful — per-pod q/s timeseries
  infrastructure/base/monitoring/grafana-dashboards/json/pihole.json
Due: gitleaks, trailing-whitespace

feat(pihole-dashboard): move 'DNS Served per Instance' up under Active Instance panel
  infrastructure/base/monitoring/grafana-dashboards/json/pihole.json
Due: gitleaks, trailing-whitespace

fix(pihole): web Service ClusterIP so .240 is DNS-only — kills DNS split (TALOS-ghw)
  infrastructure/base/pihole/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(pihole)!: StatefulSet + single VIP (DNS+web) — persistent, UI follows active primary
  infrastructure/base/pihole/helmrelease.yaml
  infrastructure/base/pihole/ingressroute.yaml
  infrastructure/base/pihole/kustomization.yaml
  infrastructure/base/pihole/service-headless.yaml
  infrastructure/base/pihole/service-vip.yaml
  infrastructure/base/pihole/statefulset.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(pihole): nebula-sync config-sync worker (follows the active primary, 60s)
  infrastructure/base/pihole/kustomization.yaml
  infrastructure/base/pihole/nebula-sync/deployment.yaml
  infrastructure/base/pihole/nebula-sync/rbac.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(pihole): nebula-sync interval 60s -> 5m; widen liveness window
  infrastructure/base/pihole/nebula-sync/deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(pihole): harden nebula-sync per adversarial audit (TALOS-0nt.1) + DR test
  infrastructure/base/pihole/nebula-sync/deployment.yaml
  infrastructure/base/pihole/tests/jest.config.js
  infrastructure/base/pihole/tests/package.json
  infrastructure/base/pihole/tests/pihole-dr.test.js
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(pihole): nebula-sync in-cluster kubeconfig (alpine/k8s kubectl needs it)
  infrastructure/base/pihole/nebula-sync/deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

refactor(pihole): extract nebula-sync script to sync.sh via configMapGenerator
  infrastructure/base/pihole/kustomization.yaml
  infrastructure/base/pihole/nebula-sync/deployment.yaml
  infrastructure/base/pihole/nebula-sync/sync.sh
Due: gitleaks, yamllint, kube-validate, shellcheck, shfmt, trailing-whitespace

test(pihole): DR harness — measurements summary, 5s failover budget, robust checks (TALOS-0nt.2)
  infrastructure/base/pihole/tests/pihole-dr.test.js
Due: none

test(pihole): write DR output via process.stdout (drop Jest console.log/at-log noise)
  infrastructure/base/pihole/tests/pihole-dr.test.js
Due: none

chore(beads): sync tracking after Pi-hole HA v2 (TALOS-0nt done)
  .beads/last-touched
Due: none

test: root jest aggregator — progressively link component DR suites
  infrastructure/base/pihole/tests/jest.config.js
  jest.config.js
  package.json
Due: gitleaks, trailing-whitespace

test(vpn): chaos/DR suite for the gluetun/ProtonVPN rotator + link into root aggregator
  infrastructure/base/vpn-gateway/tests/jest.config.js
  infrastructure/base/vpn-gateway/tests/vpn-dr.test.js
  jest.config.js
Due: none

test(vpn-dr): run chaos against an ad-hoc canary + assert T0 baseline
  infrastructure/base/vpn-gateway/tests/canary-pod.yaml
  infrastructure/base/vpn-gateway/tests/vpn-dr.test.js
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

test(vpn-dr): stale-route regression guards + faithful canary; docs: egress rotation designs
  docs/02-architecture/vpn-egress-rotation-designs.md
  infrastructure/base/vpn-gateway/tests/canary-pod.yaml
  infrastructure/base/vpn-gateway/tests/vpn-dr.test.js
Due: gitleaks, yamllint, kube-validate, markdownlint, trailing-whitespace

feat(pihole): nebula-sync metrics + Grafana sync-run overlays & panels
  infrastructure/base/monitoring/grafana-dashboards/json/pihole.json
  infrastructure/base/pihole/kustomization.yaml
  infrastructure/base/pihole/nebula-sync/deployment.yaml
  infrastructure/base/pihole/nebula-sync/podmonitor.yaml
  infrastructure/base/pihole/nebula-sync/sync.sh
Due: gitleaks, yamllint, kube-validate, shellcheck, shfmt, trailing-whitespace

feat(grafana): Authentik OIDC SSO via blueprint (GitOps)
  .beads/last-touched
  infrastructure/base/authentik/externalsecret.yaml
  infrastructure/base/authentik/grafana-blueprint.yaml
  infrastructure/base/authentik/helmrelease.yaml
  infrastructure/base/authentik/kustomization.yaml
  infrastructure/base/monitoring/grafana-instances/grafana-instance.yaml
  infrastructure/base/monitoring/grafana-instances/kustomization.yaml
  infrastructure/base/monitoring/grafana-instances/oidc-client-secret-externalsecret.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(pihole): disable Flux envsubst on nebula-sync-script ConfigMap
  infrastructure/base/pihole/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(grafana): use in-cluster DNS for OIDC token/userinfo URLs
  infrastructure/base/monitoring/grafana-instances/grafana-instance.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(grafana): remove vestigial PVC, embrace ephemeral/cattle
  infrastructure/base/monitoring/grafana-instances/grafana-instance.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(monitoring): operator-focused external-dns dashboard (replaces community 15038)
  infrastructure/base/monitoring/grafana-dashboards/external/external-dns-dashboard.yaml
  infrastructure/base/monitoring/grafana-dashboards/json/external-dns.json
  infrastructure/base/monitoring/grafana-dashboards/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(external-dns): Cloudflare records exporter for live inventory + status buckets (TALOS-2kg)
  infrastructure/base/external-dns/cf-records-exporter/deployment.yaml
  infrastructure/base/external-dns/cf-records-exporter/exporter.py
  infrastructure/base/external-dns/cf-records-exporter/podmonitor.yaml
  infrastructure/base/external-dns/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(monitoring): wire CF records exporter into external-dns dashboard
  infrastructure/base/monitoring/grafana-dashboards/json/external-dns.json
Due: gitleaks, trailing-whitespace

gitblobstore: checkandput manifest
  c8211rlv2pf0gch6sc9nvrjhsdtdjfaj
  manifest
Due: none

feat(monitoring): external-dns dashboard instance switcher ($instance)
  infrastructure/base/monitoring/grafana-dashboards/json/external-dns.json
Due: gitleaks, trailing-whitespace

gitblobstore: checkandput manifest
  gg2ni6308g32bnooocibdhngtnlou4nc.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  d7vuqp0vh4rq3venbsc3fsfkhoipgls7
  manifest
Due: none

feat(authentik): talos-private access group blueprint (kelsboi→talos-private, TALOS-h4j)
  infrastructure/base/authentik/helmrelease.yaml
  infrastructure/base/authentik/kustomization.yaml
  infrastructure/base/authentik/talos-private-blueprint.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

Path conditions:
  gitleaks: any of: *.{yaml,yml,sh,json,env,txt,md}
  yamllint: any of: *.{yaml,yml}
  kube-validate: any of: *.{yaml,yml}
  shellcheck: any of: *.sh
  shfmt: any of: *.sh
  markdownlint: any of: *.md
  trailing-whitespace: any of: *.{yaml,yml,sh,md,json}
  helm-lint: any of: **/Chart.yaml
