Repository TheBranchDriftCatalyst/talos-homelab: changes, and which lefthook commands are due for each by the changed paths.
All: gitleaks, yamllint, kube-validate, shellcheck, shfmt, markdownlint, trailing-whitespace, helm-lint

gitleaks:
  tags: security
  run: gitleaks protect --verbose --redact --staged
  skip:
  - merge
  - rebase

yamllint:
  tags: linting yaml
  run: yamllint --strict .
  skip:
  - merge
  - rebase

kube-validate:
  tags: kubernetes yaml
  ...

shellcheck:
  tags: linting shell
  run: shellcheck -x {staged_files}
  skip:
  - merge
  - rebase

shfmt:
  tags: formatting shell
  run: shfmt -w -i 2 -ci -sr {staged_files}
  skip:
  - merge
  - rebase
  stage_fixed: true

markdownlint:
  tags: linting markdown
  run: npx markdownlint-cli2 {staged_files}
  skip:
  - merge
  - rebase

trailing-whitespace:
  tags: formatting
  run: "if grep -n '[[:space:]]$' {staged_files}; then\n  echo \"‚ùå Error: Trailing whitespace found\"\n  echo \"Run: sed -i '' 's/[[:space:]]*$//' <file>\"\n  exit 1\nfi\n"
  skip:
  - merge
  - rebase

helm-lint:
  tags: kubernetes helm
  run: "for chart_dir in infrastructure/base/*/; do\n  if [ -f \"$chart_dir/Chart.yaml\" ]; then\n    echo \"Linting Helm chart: $chart_dir\"\n    helm lint \"$chart_dir\" || exit 1\n  fi\ndone\n"
  skip:
  - merge
  - rebase

docs: update credentials to reference secrets instead of hardcoded values
  CLAUDE.md
  README.md
Due: gitleaks, markdownlint, trailing-whitespace

fix(tempo): enable local-blocks processor for TraceQL metrics
  infrastructure/base/monitoring/v2-otel/tempo/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(grafana): correct Tempo datasource port from 3100 to 3200
  infrastructure/base/monitoring/v2-otel/grafana-datasources/datasources.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat: add MinIO widget, in-memory tdarr cache, increase Hubble buffer
  applications/arr-stack/base/homepage/configmap-services.yaml
  applications/arr-stack/base/homepage/configs/services.yaml
  applications/arr-stack/base/tdarr/deployment.yaml
  applications/arr-stack/base/tdarr/pvc.yaml
  configs/cilium-values.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(tdarr): increase memory limit to 10Gi for 8Gi tmpfs cache
  applications/arr-stack/base/tdarr/deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(tdarr): reduce memory to 8Gi max (LimitRange constraint)
  applications/arr-stack/base/tdarr/deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(tdarr): increase memory limits for 10Gi tmpfs cache
  applications/arr-stack/base/tdarr/deployment.yaml
  infrastructure/base/namespaces/media.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(tools): add beads-manager UI for task visualization
  .beads/issues.jsonl
  tools/beads-manager/.gitignore
  tools/beads-manager/Tiltfile
  tools/beads-manager/index.html
  tools/beads-manager/package.json
  tools/beads-manager/postcss.config.js
  tools/beads-manager/public/beads.svg
  tools/beads-manager/src/client/App.tsx
  tools/beads-manager/src/client/components/DependencyGraph/DependencyGraph.tsx
  tools/beads-manager/src/client/components/IssueDetail/IssueDetail.tsx
  tools/beads-manager/src/client/components/IssueDetail/MarkdownEditor.tsx
  tools/beads-manager/src/client/components/IssueList/IssueList.tsx
  tools/beads-manager/src/client/components/Sidebar/Sidebar.tsx
  tools/beads-manager/src/client/hooks/useIssues.ts
  tools/beads-manager/src/client/hooks/useWebSocket.ts
  tools/beads-manager/src/client/lib/transformers.ts
  tools/beads-manager/src/client/lib/types.ts
  tools/beads-manager/src/client/main.tsx
  tools/beads-manager/src/client/styles/globals.css
  tools/beads-manager/src/server/index.ts
  tools/beads-manager/tailwind.config.js
  tools/beads-manager/tsconfig.json
  tools/beads-manager/tsconfig.node.json
  tools/beads-manager/vite.config.ts
Due: gitleaks, trailing-whitespace

feat(monitoring): configure retention for Mimir, Loki, Tempo
  infrastructure/base/monitoring/v2-otel/loki/helmrelease.yaml
  infrastructure/base/monitoring/v2-otel/mimir/helmrelease.yaml
  infrastructure/base/monitoring/v2-otel/tempo/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

refactor(beads-manager): replace custom SVG graph with React Flow
  .beads/issues.jsonl
  tools/beads-manager/package.json
  tools/beads-manager/src/client/App.tsx
  tools/beads-manager/src/client/components/DependencyGraph/DependencyGraph.tsx
Due: gitleaks, trailing-whitespace

feat(beads-manager): add collapsible nodes to dependency graph
  tools/beads-manager/src/client/components/DependencyGraph/DependencyGraph.tsx
Due: none

fix(beads-manager): add readiness probe to ensure server is ready before client
  tools/beads-manager/Tiltfile
Due: none

fix(beads-manager): fix three UI bugs discovered during testing
  .beads/issues.jsonl
  tools/beads-manager/src/client/App.tsx
  tools/beads-manager/src/client/components/IssueList/IssueList.tsx
  tools/beads-manager/src/client/hooks/useWebSocket.ts
  tools/beads-manager/src/server/index.ts
Due: none

feat(beads-manager): widen detail panel and add markdown rendering
  .beads/issues.jsonl
  tools/beads-manager/src/client/components/IssueDetail/IssueDetail.tsx
  tools/beads-manager/src/client/components/IssueDetail/MarkdownDisplay.tsx
Due: none

feat(beads-manager): add search, epic filter, and label chip filter
  .beads/issues.jsonl
  tools/beads-manager/src/client/App.tsx
  tools/beads-manager/src/client/components/Sidebar/Sidebar.tsx
Due: none

fix(beads-manager): increase detail panel width to 2x original
  tools/beads-manager/src/client/components/IssueDetail/IssueDetail.tsx
Due: none

feat(beads-manager): add Epic graph grouping feature (TALOS-2kn)
  .beads/issues.jsonl
  tools/beads-manager/src/client/components/DependencyGraph/DependencyGraph.tsx
Due: none

feat(beads-manager): upgrade layout engine from Dagre to ELK (TALOS-0nb)
  .beads/issues.jsonl
  tools/beads-manager/package.json
  tools/beads-manager/src/client/components/DependencyGraph/DependencyGraph.tsx
Due: gitleaks, trailing-whitespace

feat(databases): add database operator layer with PostgreSQL, MongoDB, MinIO
  .beads/issues.jsonl
  applications/scratch/dbgate/deployment.yaml
  applications/scratch/dbgate/ingressroute.yaml
  applications/scratch/dbgate/kustomization.yaml
  applications/scratch/dbgate/pvc.yaml
  applications/scratch/dbgate/service.yaml
  applications/scratch/example-mongodb/kustomization.yaml
  applications/scratch/example-mongodb/mongodb.yaml
  applications/scratch/example-mongodb/secret.yaml
  applications/scratch/example-postgres/cluster.yaml
  applications/scratch/example-postgres/kustomization.yaml
  applications/scratch/example-postgres/secret.yaml
  applications/scratch/kustomization.yaml
  applications/scratch/namespace.yaml
  clusters/catalyst-cluster/databases.yaml
  clusters/catalyst-cluster/minio.yaml
  clusters/catalyst-cluster/scratch.yaml
  infrastructure/base/databases/README.md
  infrastructure/base/databases/cloudnative-pg/helmrelease.yaml
  infrastructure/base/databases/cloudnative-pg/kustomization.yaml
  infrastructure/base/databases/kustomization.yaml
  infrastructure/base/databases/minio-operator/helmrelease.yaml
  infrastructure/base/databases/minio-operator/kustomization.yaml
  infrastructure/base/databases/mongodb-operator/helmrelease.yaml
  infrastructure/base/databases/mongodb-operator/kustomization.yaml
  infrastructure/base/databases/namespace.yaml
  infrastructure/base/minio/helmrelease.yaml.bak
  infrastructure/base/minio/tenant.yaml
Due: gitleaks, yamllint, kube-validate, markdownlint, trailing-whitespace

fix(mongodb): use chart defaults for image versions and add SA
  applications/scratch/example-mongodb/mongodb.yaml
  infrastructure/base/databases/mongodb-operator/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(beads-manager): add configurable ELK layout settings modal
  tools/beads-manager/src/client/components/DependencyGraph/DependencyGraph.tsx
  tools/beads-manager/src/client/components/DependencyGraph/ElkSettingsModal.tsx
Due: none

fix(mongodb): increase agent memory limits
  applications/scratch/example-mongodb/mongodb.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(tdarr): increase resource limits for GPU transcoding
  applications/arr-stack/base/tdarr/deployment.yaml
  applications/scratch/example-mongodb/mongodb.yaml
  infrastructure/base/databases/mongodb-operator/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(mongodb): add RBAC for agent to set pod annotations
  infrastructure/base/databases/mongodb-operator/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(media): increase LimitRange to allow Tdarr higher resources
  infrastructure/base/namespaces/media.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(tdarr): update to 2.58.02 with DB compatibility note
  applications/arr-stack/base/tdarr/deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(storage): upgrade NFS to v4.1 for better performance
  infrastructure/base/storage/nfs-provisioner/helmrelease.yaml
  infrastructure/base/storage/synology-storage.yaml
  infrastructure/base/storage/truenas-storage.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(minio): update IngressRoute ports for operator-managed Tenant
  infrastructure/base/minio/ingressroute.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(monitoring): update MinIO endpoint to headless service
  infrastructure/base/monitoring/v2-otel/alloy/helmrelease.yaml
  infrastructure/base/monitoring/v2-otel/loki/helmrelease.yaml
  infrastructure/base/monitoring/v2-otel/mimir/helmrelease.yaml
  infrastructure/base/monitoring/v2-otel/tempo/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(beads): close TALOS-cgq - Tdarr AV1 transcoding verified
  .beads/issues.jsonl
Due: none

fix(alloy): add proper resource limits for collector
  infrastructure/base/monitoring/v2-otel/alloy/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(tdarr): add CPU worker nodes via DaemonSet
  applications/arr-stack/base/tdarr/deployment.yaml
  applications/arr-stack/base/tdarr/kustomization.yaml
  applications/arr-stack/base/tdarr/tdarr-node-daemonset.yaml
  infrastructure/base/monitoring/v2-otel/alloy/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(mimir): use kube-dns IP for nginx resolver
  infrastructure/base/monitoring/v2-otel/mimir/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

refactor(monitoring): remove legacy observability stack, move blackbox-exporter
  clusters/catalyst-cluster/flux-system/kustomization.yaml
  clusters/catalyst-cluster/observability.yaml
  infrastructure/base/monitoring/kustomization.yaml
  infrastructure/base/monitoring/v2-otel/blackbox-exporter/helmrelease.yaml
  infrastructure/base/monitoring/v2-otel/blackbox-exporter/kustomization.yaml
  infrastructure/base/monitoring/v2-otel/kustomization.yaml
  infrastructure/base/observability/fluent-bit/helmrelease.yaml
  infrastructure/base/observability/graylog/exporter.yaml
  infrastructure/base/observability/graylog/externalsecret.yaml
  infrastructure/base/observability/graylog/helmrelease.yaml
  infrastructure/base/observability/ingressroutes.yaml
  infrastructure/base/observability/kustomization.yaml
  infrastructure/base/observability/loki/helmrelease.yaml
  infrastructure/base/observability/loki/kustomization.yaml
  infrastructure/base/observability/mongodb/exporter.yaml
  infrastructure/base/observability/mongodb/helmrelease.yaml
  infrastructure/base/observability/namespace.yaml
  infrastructure/base/observability/opensearch/exporter.yaml
  infrastructure/base/observability/opensearch/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(infra): add Cloudflare DDNS for *.knowledgedump.space
  .beads/issues.jsonl
  clusters/catalyst-cluster/cloudflare-ddns.yaml
  clusters/catalyst-cluster/flux-system/kustomization.yaml
  infrastructure/base/cloudflare-ddns/deployment.yaml
  infrastructure/base/cloudflare-ddns/externalsecret.yaml
  infrastructure/base/cloudflare-ddns/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(cert-manager): add Let's Encrypt with Cloudflare DNS-01
  .beads/issues.jsonl
  clusters/catalyst-cluster/cert-manager-issuers.yaml
  infrastructure/base/cert-manager-issuers/cloudflare-secret.yaml
  infrastructure/base/cert-manager-issuers/kustomization.yaml
  infrastructure/base/cert-manager-issuers/letsencrypt-issuer.yaml
  infrastructure/base/cert-manager-issuers/wildcard-certificate.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(cert-manager): add trust-manager for CA bundle distribution
  infrastructure/base/cert-manager/kustomization.yaml
  infrastructure/base/cert-manager/trust-manager.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(trust-manager): remove unsupported prometheus values
  .beads/issues.jsonl
  infrastructure/base/cert-manager/trust-manager.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(auth): add Authelia SSO gateway and whoami test service
  .beads/issues.jsonl
  clusters/catalyst-cluster/authelia.yaml
  clusters/catalyst-cluster/flux-system/kustomization.yaml
  clusters/catalyst-cluster/whoami.yaml
  infrastructure/base/authelia/configmap.yaml
  infrastructure/base/authelia/deployment.yaml
  infrastructure/base/authelia/externalsecret.yaml
  infrastructure/base/authelia/ingressroute.yaml
  infrastructure/base/authelia/kustomization.yaml
  infrastructure/base/authelia/middleware.yaml
  infrastructure/base/authelia/namespace.yaml
  infrastructure/base/authelia/users-database.yaml
  infrastructure/base/traefik/kustomization.yaml
  infrastructure/base/traefik/middlewares.yaml
  infrastructure/base/whoami/deployment.yaml
  infrastructure/base/whoami/ingressroute.yaml
  infrastructure/base/whoami/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

Path conditions:
  gitleaks: any of: *.{yaml,yml,sh,json,env,txt,md}
  yamllint: any of: *.{yaml,yml}
  kube-validate: any of: *.{yaml,yml}
  shellcheck: any of: *.sh
  shfmt: any of: *.sh
  markdownlint: any of: *.md
  trailing-whitespace: any of: *.{yaml,yml,sh,md,json}
  helm-lint: any of: **/Chart.yaml
