Repository TheBranchDriftCatalyst/talos-homelab: changes, and which lefthook commands are due for each by the changed paths.
All: gitleaks, yamllint, kube-validate, shellcheck, shfmt, markdownlint, trailing-whitespace, helm-lint

Path conditions:
  gitleaks: any of: *.{yaml,yml,sh,json,env,txt,md}
  yamllint: any of: *.{yaml,yml}
  kube-validate: any of: *.{yaml,yml}
  shellcheck: any of: *.sh
  shfmt: any of: *.sh
  markdownlint: any of: *.md
  trailing-whitespace: any of: *.{yaml,yml,sh,md,json}
  helm-lint: any of: **/Chart.yaml

fix(talos03): cap maxPods at 60 on the node that wedged
  docs/05-runbooks/talos03-kubelet-maxpods-patch.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(clickstack): narrow node exclusion from all control planes to just talos00
  infrastructure/base/monitoring/v2-otel/clickstack/clickhouse.yaml
  infrastructure/base/monitoring/v2-otel/clickstack/mongodb.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(alloy): merge the node affinity into the real controller block
  infrastructure/base/monitoring/v2-otel/alloy/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(monitoring,minio): honest sizing for mimir, minio, loki and KSM [TALOS-eda0]
  infrastructure/base/minio/tenant.yaml
  infrastructure/base/monitoring/v2-otel/clickstack/helmrelease.yaml
  infrastructure/base/monitoring/v2-otel/clickstack/mongodb.yaml
  infrastructure/base/monitoring/v2-otel/kube-state-metrics/helmrelease.yaml
  infrastructure/base/monitoring/v2-otel/loki/helmrelease.yaml
  infrastructure/base/monitoring/v2-otel/mimir/helmrelease.yaml
  infrastructure/base/monitoring/version-checker/deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(honeypot): unpin cowrie from talos03
  infrastructure/base/honeypot/deployment.yaml
  infrastructure/base/minio/tenant.yaml
  infrastructure/base/monitoring/v2-otel/clickstack/helmrelease.yaml
  infrastructure/base/monitoring/v2-otel/clickstack/mongodb.yaml
  infrastructure/base/monitoring/v2-otel/kube-state-metrics/helmrelease.yaml
  infrastructure/base/monitoring/v2-otel/loki/helmrelease.yaml
  infrastructure/base/monitoring/v2-otel/mimir/helmrelease.yaml
  infrastructure/base/monitoring/version-checker/deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

refactor(media-experimental): unpin the stack from talos03
  applications/media-experimental/base/_instance/deployment.yaml
  infrastructure/base/minio/tenant.yaml
  infrastructure/base/monitoring/v2-otel/clickstack/helmrelease.yaml
  infrastructure/base/monitoring/v2-otel/clickstack/mongodb.yaml
  infrastructure/base/monitoring/v2-otel/kube-state-metrics/helmrelease.yaml
  infrastructure/base/monitoring/v2-otel/loki/helmrelease.yaml
  infrastructure/base/monitoring/v2-otel/mimir/helmrelease.yaml
  infrastructure/base/monitoring/version-checker/deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(media-experimental): spread the stack instead of leaving it to the scheduler
  applications/media-experimental/base/_instance/deployment.yaml
  applications/media-experimental/base/bookorbit/deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(monitoring,minio): honest memory requests for mimir, minio and friends [TALOS-eda0]
  infrastructure/base/minio/tenant.yaml
  infrastructure/base/monitoring/v2-otel/clickstack/helmrelease.yaml
  infrastructure/base/monitoring/v2-otel/clickstack/mongodb.yaml
  infrastructure/base/monitoring/v2-otel/kube-state-metrics/helmrelease.yaml
  infrastructure/base/monitoring/v2-otel/loki/helmrelease.yaml
  infrastructure/base/monitoring/v2-otel/mimir/helmrelease.yaml
  infrastructure/base/monitoring/version-checker/deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(tdarr,kometa): re-land memory sizing lost to a third revert [TALOS-m7to]
  applications/arr-stack/base/kometa/deployment.yaml
  applications/tdarr/base/server.yaml
  applications/tdarr/base/worker-daemonset.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(platform): honest DaemonSet memory requests on all five nodes [TALOS-gj3n]
  infrastructure/base/backup/velero.yaml
  infrastructure/base/cilium/values.yaml
  infrastructure/base/intel-gpu/nfd-helmrelease.yaml
  infrastructure/base/monitoring/v2-otel/alloy-node/helmrelease.yaml
  infrastructure/base/monitoring/v2-otel/node-exporter/helmrelease.yaml
  infrastructure/base/traefik/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(platform): honest memory requests for argocd, flux, kyverno, cert-manager, reflector [TALOS-gj3n]
  clusters/catalyst-cluster/flux-system/kustomization.yaml
  infrastructure/base/argocd/helmrelease.yaml
  infrastructure/base/cert-manager/helmrelease.yaml
  infrastructure/base/kyverno/helmrelease.yaml
  infrastructure/base/reflector/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(operators): honest memory for CNPG, KEDA and the MongoDB operator [TALOS-gj3n]
  infrastructure/base/databases/cloudnative-pg/helmrelease.yaml
  infrastructure/base/databases/mongodb-operator/helmrelease.yaml
  infrastructure/base/operators/keda/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(monitoring): repel three singletons from talos03 so gj3n's DaemonSets fit
  clusters/catalyst-cluster/flux-system/kustomization.yaml
  infrastructure/base/argocd/helmrelease.yaml
  infrastructure/base/backup/velero.yaml
  infrastructure/base/cert-manager/helmrelease.yaml
  infrastructure/base/cilium/values.yaml
  infrastructure/base/databases/cloudnative-pg/helmrelease.yaml
  infrastructure/base/databases/mongodb-operator/helmrelease.yaml
  infrastructure/base/intel-gpu/nfd-helmrelease.yaml
  infrastructure/base/kyverno/helmrelease.yaml
  infrastructure/base/monitoring/v2-otel/alloy-node/helmrelease.yaml
  infrastructure/base/monitoring/v2-otel/kube-state-metrics/helmrelease.yaml
  infrastructure/base/monitoring/v2-otel/mimir/helmrelease.yaml
  infrastructure/base/monitoring/v2-otel/node-exporter/helmrelease.yaml
  infrastructure/base/monitoring/version-checker/deployment.yaml
  infrastructure/base/operators/keda/helmrelease.yaml
  infrastructure/base/reflector/helmrelease.yaml
  infrastructure/base/traefik/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(platform): re-land gj3n sizing reverted by fc7103db [TALOS-gj3n]
  clusters/catalyst-cluster/flux-system/kustomization.yaml
  infrastructure/base/argocd/helmrelease.yaml
  infrastructure/base/backup/velero.yaml
  infrastructure/base/cert-manager/helmrelease.yaml
  infrastructure/base/cilium/values.yaml
  infrastructure/base/databases/cloudnative-pg/helmrelease.yaml
  infrastructure/base/databases/mongodb-operator/helmrelease.yaml
  infrastructure/base/intel-gpu/nfd-helmrelease.yaml
  infrastructure/base/kyverno/helmrelease.yaml
  infrastructure/base/monitoring/v2-otel/alloy-node/helmrelease.yaml
  infrastructure/base/monitoring/v2-otel/node-exporter/helmrelease.yaml
  infrastructure/base/operators/keda/helmrelease.yaml
  infrastructure/base/reflector/helmrelease.yaml
  infrastructure/base/traefik/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(reflector,posterizarr): repel from talos03 so gj3n's DaemonSets actually fit
  applications/arr-stack/base/posterizarr/deployment.yaml
  infrastructure/base/reflector/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(clickstack): repel the otel-collector from talos03 via postRenderer
  infrastructure/base/monitoring/v2-otel/clickstack/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

docs: post-mortem for the four concurrent-writer reverts
  docs/06-project-management/postmortems/2026-08-24-concurrent-writer-reverts.md
Due: gitleaks, markdownlint, trailing-whitespace

fix(crossplane): repel from talos01 so alloy-node's DaemonSet can fit
  infrastructure/base/operators/crossplane/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(talos): PreferNoSchedule taint on talos01 and talos03
  docs/05-runbooks/talos-memory-constrained-taint-patch.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(talos): declare kube-apiserver honestly — 5Gi request, 7Gi limit [TALOS-7q34]
  docs/05-runbooks/talos-apiserver-resources-patch.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(talos): kube-apiserver 5Gi/7Gi on all three control planes [TALOS-7q34]
  docs/05-runbooks/talos-apiserver-resources-patch.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(scripts): node-dossier.sh — hardware inventory with a RAM upgrade planner
  docs/07-reference/node-inventory.md
  scripts/node-dossier.sh
Due: gitleaks, shellcheck, shfmt, markdownlint, trailing-whitespace

feat(scripts): node-dossier — USB tree, network ports, and device passthrough
  docs/07-reference/node-inventory.md
  scripts/node-dossier.sh
Due: gitleaks, shellcheck, shfmt, markdownlint, trailing-whitespace

feat(scripts): grouped HTML tables + network-attached device guidance
  docs/07-reference/node-inventory.md
  scripts/node-dossier.sh
Due: gitleaks, shellcheck, shfmt, markdownlint, trailing-whitespace

feat(bt-radar): RF presence radar POC — manifests
  applications/bt-radar/base/00-namespace.yaml
  applications/bt-radar/base/10-appdb.yaml
  applications/bt-radar/base/15-secrets.yaml
  applications/bt-radar/base/20-collector.yaml
  applications/bt-radar/base/30-wifi-agent.yaml
  applications/bt-radar/base/40-bt-agent.yaml
  applications/bt-radar/base/50-ingressroute.yaml
  applications/bt-radar/base/kustomization.yaml
  clusters/catalyst-cluster/bt-radar.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(nfd): discover USB and WiFi hardware so pods can select on it
  applications/bt-radar/base/40-bt-agent.yaml
  infrastructure/base/intel-gpu/nfd-helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

docs(bt-radar): record that the Flux home is temporary, ArgoCD is the destination
  clusters/catalyst-cluster/bt-radar.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(flux): register the bt-radar Kustomization
  clusters/catalyst-cluster/flux-system/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(bt-radar): correct the collector flag, and stop wifi-agent hammering UniFi
  applications/bt-radar/base/20-collector.yaml
  applications/bt-radar/base/30-wifi-agent.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(bt-radar): namespace must be PodSecurity privileged for BLE
  applications/bt-radar/base/00-namespace.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(talos): track the GPU udev rules that were untracked drift
  docs/05-runbooks/talos-gpu-udev-rules-patch.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

docs(runbook): Bluetooth enablement on Talos — built and gated, not applied
  docs/05-runbooks/bluetooth-enablement.md
Due: gitleaks, markdownlint, trailing-whitespace

feat(talos): declarative machine config via talhelper — dry-run stage
  .gitignore
  talos/patches/all-kubelet-baseline.yaml
  talos/patches/cluster-baseline.yaml
  talos/patches/controlplane-apiserver-resources.yaml
  talos/patches/controlplane-baseline.yaml
  talos/patches/controlplane-inlinemanifests.yaml
  talos/patches/controlplane-nodelabels.yaml
  talos/patches/gpu-udev-rules.yaml
  talos/patches/memory-constrained-taint.yaml
  talos/patches/network-hostentries.yaml
  talos/patches/talos00-controlplane-taint.yaml
  talos/patches/talos02-gpu-nodelabels.yaml
  talos/patches/talos03-maxpods.yaml
  talos/patches/talos06-hostentries.yaml
  talos/patches/talos06-nodelabels.yaml
  talos/talconfig.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(talos): talhelper reaches parity — every diff explained, none unresolved
  talos/patches/all-kubelet-baseline.yaml
  talos/patches/maxpods-200.yaml
  talos/talconfig.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

docs(runbook): step-by-step for backing up the Talos secrets bundle to 1Password
  docs/05-runbooks/talsecret-1password-backup.md
Due: gitleaks, markdownlint, trailing-whitespace

docs(talos): the hand-maintained nodeLabels are unused and duplicate NFD
  talos/patches/talos02-gpu-nodelabels.yaml
  talos/patches/talos06-nodelabels.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(talos): restore certSANs the generated config was silently stripping
  talos/talconfig.yaml
  talos/verify-diff.py
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(talos): the planned cutover would have destroyed CA keys and leaked secrets
  .gitignore
  docs/05-runbooks/talhelper-cutover.md
  talos/patches/talos06-hostentries.yaml
Due: gitleaks, yamllint, kube-validate, markdownlint, trailing-whitespace

fix(talos): verify-diff.py was blind to every document but the first
  docs/05-runbooks/talhelper-cutover.md
  talos/verify-diff.py
Due: gitleaks, markdownlint, trailing-whitespace
