Repository TheBranchDriftCatalyst/talos-homelab: changes, and which lefthook commands are due for each by the changed paths.
All: gitleaks, yamllint, kube-validate, shellcheck, shfmt, markdownlint, trailing-whitespace, helm-lint

Path conditions:
  gitleaks: any of: *.{yaml,yml,sh,json,env,txt,md}
  yamllint: any of: *.{yaml,yml}
  kube-validate: any of: *.{yaml,yml}
  shellcheck: any of: *.sh
  shfmt: any of: *.sh
  markdownlint: any of: *.md
  trailing-whitespace: any of: *.{yaml,yml,sh,md,json}
  helm-lint: any of: **/Chart.yaml

feat(infra-control): add Flux deployment for Goldilocks/VPA
  clusters/homelab-single/flux-system/kustomization.yaml
  clusters/homelab-single/infra-control.yaml
  infrastructure/base/infra-control/README.md
  infrastructure/base/infra-control/goldilocks/deployment.yaml
  infrastructure/base/infra-control/goldilocks/ingressroute.yaml
  infrastructure/base/infra-control/goldilocks/kustomization.yaml
  infrastructure/base/infra-control/goldilocks/vpa-crd.yaml
  infrastructure/base/infra-control/goldilocks/vpa-install.yaml
  infrastructure/base/infra-control/headlamp/helmrelease.yaml
  infrastructure/base/infra-control/headlamp/ingressroute.yaml
  infrastructure/base/infra-control/headlamp/kustomization.yaml
  infrastructure/base/infra-control/kube-ops-view/deployment.yaml
  infrastructure/base/infra-control/kube-ops-view/ingressroute.yaml
  infrastructure/base/infra-control/kube-ops-view/kustomization.yaml
  infrastructure/base/infra-control/kubeview/deployment.yaml
  infrastructure/base/infra-control/kubeview/ingressroute.yaml
  infrastructure/base/infra-control/kubeview/kustomization.yaml
  infrastructure/base/infra-control/kustomization.yaml
  infrastructure/base/infra-control/namespace/kustomization.yaml
  infrastructure/base/infra-control/namespace/namespace.yaml
Due: gitleaks, yamllint, kube-validate, markdownlint, trailing-whitespace

fix(monitoring): add RBAC for kube-state-metrics to collect VPA metrics
  infrastructure/base/monitoring/kube-prometheus-stack/kube-state-metrics-vpa-rbac.yaml
  infrastructure/base/monitoring/kube-prometheus-stack/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(monitoring): Add Grafana dashboards, ArgoCD metrics, and Linkerd viz
  CLAUDE.md
  docs/GRAFANA-DASHBOARDS.md
  infrastructure/base/argocd/kustomization.yaml
  infrastructure/base/argocd/servicemonitor.yaml
  infrastructure/base/argocd/values.yaml
  infrastructure/base/monitoring/grafana-dashboards/README.md
  scripts/deploy-linkerd-viz.sh
  scripts/import-grafana-dashboards.sh
Due: gitleaks, yamllint, kube-validate, shellcheck, shfmt, markdownlint, trailing-whitespace

feat(monitoring): add PodMonitor for Flux metrics
  infrastructure/base/monitoring/kube-prometheus-stack/flux-podmonitor.yaml
  infrastructure/base/monitoring/kube-prometheus-stack/kustomization.yaml
  scripts/deploy-linkerd-viz.sh
Due: gitleaks, yamllint, kube-validate, shellcheck, shfmt, trailing-whitespace

feat(argocd): Add Discord webhook notifications
  infrastructure/base/argocd/discord-webhook-externalsecret.yaml
  infrastructure/base/argocd/helmrelease.yaml
  infrastructure/base/argocd/kustomization.yaml
  scripts/import-grafana-dashboards.sh
Due: gitleaks, yamllint, kube-validate, shellcheck, shfmt, trailing-whitespace

fix(monitoring): add VPA RBAC rules to kube-state-metrics helm values
  infrastructure/base/monitoring/kube-prometheus-stack/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(monitoring): remove VPA config from kube-state-metrics
  infrastructure/base/monitoring/kube-prometheus-stack/helmrelease.yaml
  infrastructure/base/monitoring/kube-prometheus-stack/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(notifications): Synthwave cyberpunk Discord templates
  infrastructure/base/argocd/helmrelease.yaml
  infrastructure/base/flux-notifications/alert.yaml
  infrastructure/base/flux-notifications/provider.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(nebula): Replace hardcoded certs with dynamic certificate management
  scripts/hybrid-llm/lighthouse-userdata.sh
  scripts/hybrid-llm/nebula-certs.sh
Due: gitleaks, shellcheck, shfmt, trailing-whitespace

docs: add k8s enhancements roadmap for future tooling
  docs/k8s-enhancements-roadmap.md
Due: gitleaks, markdownlint, trailing-whitespace

docs: enhance k8s roadmap with descriptions and resource links
  docs/k8s-enhancements-roadmap.md
Due: gitleaks, markdownlint, trailing-whitespace

feat(argocd): Add Image Updater for automatic container image updates
  infrastructure/base/argocd/applications/catalyst-ui.yaml
  infrastructure/base/argocd/image-updater/configmap-patch.yaml
  infrastructure/base/argocd/image-updater/install.yaml
  infrastructure/base/argocd/image-updater/kustomization.yaml
  infrastructure/base/argocd/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat: Add ImageUpdater CR for catalyst-ui
  infrastructure/base/argocd/image-updater/catalyst-ui-image-updater.yaml
  infrastructure/base/argocd/image-updater/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix: Correct ImageUpdater CR schema for v1.0.1
  infrastructure/base/argocd/image-updater/catalyst-ui-image-updater.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix: Use newest-build strategy for ImageUpdater
  infrastructure/base/argocd/image-updater/catalyst-ui-image-updater.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat: Add ArgoCD Application for kasa-exporter
  infrastructure/base/argocd/applications/kasa-exporter.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat: Add kasa-exporter to ArgoCD applications kustomization
  infrastructure/base/argocd/applications/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat: Add Grafana Operator for team-owned dashboard CRDs
  infrastructure/base/monitoring/grafana-operator/grafana-instance.yaml
  infrastructure/base/monitoring/grafana-operator/helmrelease.yaml
  infrastructure/base/monitoring/grafana-operator/kustomization.yaml
  infrastructure/base/monitoring/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix: Update monitoring kustomization to include grafana-operator
  clusters/homelab-single/monitoring.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix: Split grafana-operator and grafana-instances for CRD dependency
  clusters/homelab-single/grafana-instances.yaml
  infrastructure/base/monitoring/grafana-instances/grafana-instance.yaml
  infrastructure/base/monitoring/grafana-instances/kustomization.yaml
  infrastructure/base/monitoring/grafana-operator/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace
