Repository TheBranchDriftCatalyst/talos-homelab: changes, and which lefthook commands are due for each by the changed paths.
All: gitleaks, yamllint, kube-validate, shellcheck, shfmt, markdownlint, trailing-whitespace, helm-lint

gitleaks:
  tags: security
  run: gitleaks protect --verbose --redact --staged
  skip:
  - merge
  - rebase

yamllint:
  tags: linting yaml
  run: yamllint --strict .
  skip:
  - merge
  - rebase

kube-validate:
  tags: kubernetes yaml
  ...

shellcheck:
  tags: linting shell
  run: shellcheck -x {staged_files}
  skip:
  - merge
  - rebase

shfmt:
  tags: formatting shell
  run: shfmt -w -i 2 -ci -sr {staged_files}
  skip:
  - merge
  - rebase
  stage_fixed: true

markdownlint:
  tags: linting markdown
  run: npx markdownlint-cli2 {staged_files}
  skip:
  - merge
  - rebase

trailing-whitespace:
  tags: formatting
  run: "if grep -n '[[:space:]]$' {staged_files}; then\n  echo \"‚ùå Error: Trailing whitespace found\"\n  echo \"Run: sed -i '' 's/[[:space:]]*$//' <file>\"\n  exit 1\nfi\n"
  skip:
  - merge
  - rebase

helm-lint:
  tags: kubernetes helm
  run: "for chart_dir in infrastructure/base/*/; do\n  if [ -f \"$chart_dir/Chart.yaml\" ]; then\n    echo \"Linting Helm chart: $chart_dir\"\n    helm lint \"$chart_dir\" || exit 1\n  fi\ndone\n"
  skip:
  - merge
  - rebase

fix(pterodactyl): generate proper Laravel APP_KEY
  applications/gaming/base/pterodactyl/panel/secret.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(pterodactyl): add Kuber config and 1Password TODO notes
  applications/gaming/base/pterodactyl/kuber/deployment.yaml
  applications/gaming/base/pterodactyl/kuber/kustomization.yaml
  applications/gaming/base/pterodactyl/kuber/secret.yaml
  applications/gaming/base/pterodactyl/mariadb/secret.yaml
  applications/gaming/base/pterodactyl/panel/secret.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(pterodactyl): add Kuber config and 1Password TODO notes
  applications/gaming/base/pterodactyl/kuber/config.yaml
  applications/gaming/base/pterodactyl/kuber/deployment.yaml
  applications/gaming/base/pterodactyl/kuber/kustomization.yaml
  applications/gaming/base/pterodactyl/kuber/secret.yaml
  applications/gaming/base/pterodactyl/mariadb/secret.yaml
  applications/gaming/base/pterodactyl/panel/secret.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

docs(pterodactyl): add setup README
  applications/gaming/base/pterodactyl/README.md
Due: gitleaks, markdownlint, trailing-whitespace

docs(pterodactyl): fix - use Clusters not Nodes
  applications/gaming/base/pterodactyl/README.md
Due: gitleaks, markdownlint, trailing-whitespace

feat(pterodactyl): add ServiceMonitor for game server metrics
  applications/gaming/base/pterodactyl/kustomization.yaml
  applications/gaming/base/pterodactyl/servicemonitor.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(pterodactyl): add Panel RBAC and fix Kuber config volume
  applications/gaming/base/pterodactyl/kuber/deployment.yaml
  applications/gaming/base/pterodactyl/panel/deployment.yaml
  applications/gaming/base/pterodactyl/panel/ingressroute.yaml
  applications/gaming/base/pterodactyl/panel/kustomization.yaml
  applications/gaming/base/pterodactyl/panel/rbac.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(pterodactyl): add Panel RBAC and fix Kuber config volume
  applications/gaming/base/pterodactyl/kuber/config.yaml
  applications/gaming/base/pterodactyl/kuber/deployment.yaml
  applications/gaming/base/pterodactyl/panel/deployment.yaml
  applications/gaming/base/pterodactyl/panel/ingressroute.yaml
  applications/gaming/base/pterodactyl/panel/kustomization.yaml
  applications/gaming/base/pterodactyl/panel/rbac.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(pterodactyl): add Kuber IngressRoute and Panel hostAliases
  applications/gaming/base/pterodactyl/kuber/ingressroute.yaml
  applications/gaming/base/pterodactyl/kuber/kustomization.yaml
  applications/gaming/base/pterodactyl/panel/deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(pterodactyl): update Kuber config for external access
  applications/gaming/base/pterodactyl/kuber/config.yaml
  applications/gaming/base/pterodactyl/kuber/deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(pterodactyl): update Kuber config for external access
  applications/gaming/base/pterodactyl/kuber/deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(pterodactyl): update Kuber tokens for new cluster
  applications/gaming/base/pterodactyl/kuber/config.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(pterodactyl): add deletecollection permission for Kuber
  applications/gaming/base/pterodactyl/kuber/rbac.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(gaming): remove Pterodactyl/Kubectyl, prepare for KubeVirt
  applications/gaming/base/kustomization.yaml
  applications/gaming/base/pterodactyl/README.md
  applications/gaming/base/pterodactyl/kuber/config.yaml
  applications/gaming/base/pterodactyl/kuber/configmap.yaml
  applications/gaming/base/pterodactyl/kuber/deployment.yaml
  applications/gaming/base/pterodactyl/kuber/ingressroute.yaml
  applications/gaming/base/pterodactyl/kuber/kustomization.yaml
  applications/gaming/base/pterodactyl/kuber/rbac.yaml
  applications/gaming/base/pterodactyl/kuber/secret.yaml
  applications/gaming/base/pterodactyl/kuber/service.yaml
  applications/gaming/base/pterodactyl/kustomization.yaml
  applications/gaming/base/pterodactyl/mariadb/deployment.yaml
  applications/gaming/base/pterodactyl/mariadb/kustomization.yaml
  applications/gaming/base/pterodactyl/mariadb/pvc.yaml
  applications/gaming/base/pterodactyl/mariadb/secret.yaml
  applications/gaming/base/pterodactyl/mariadb/service.yaml
  applications/gaming/base/pterodactyl/panel/configmap.yaml
  applications/gaming/base/pterodactyl/panel/deployment.yaml
  applications/gaming/base/pterodactyl/panel/ingressroute.yaml
  applications/gaming/base/pterodactyl/panel/kustomization.yaml
  applications/gaming/base/pterodactyl/panel/pvc.yaml
  applications/gaming/base/pterodactyl/panel/rbac.yaml
  applications/gaming/base/pterodactyl/panel/secret.yaml
  applications/gaming/base/pterodactyl/panel/service.yaml
  applications/gaming/base/pterodactyl/redis/deployment.yaml
  applications/gaming/base/pterodactyl/redis/kustomization.yaml
  applications/gaming/base/pterodactyl/redis/service.yaml
  applications/gaming/base/pterodactyl/servicemonitor.yaml
Due: gitleaks, yamllint, kube-validate, markdownlint, trailing-whitespace

feat(gaming): remove Pterodactyl/Kubectyl, prepare for KubeVirt
  applications/gaming/base/kustomization.yaml
  applications/gaming/base/pterodactyl/README.md
  applications/gaming/base/pterodactyl/kuber/configmap.yaml
  applications/gaming/base/pterodactyl/kuber/deployment.yaml
  applications/gaming/base/pterodactyl/kuber/ingressroute.yaml
  applications/gaming/base/pterodactyl/kuber/kustomization.yaml
  applications/gaming/base/pterodactyl/kuber/rbac.yaml
  applications/gaming/base/pterodactyl/kuber/secret.yaml
  applications/gaming/base/pterodactyl/kuber/service.yaml
  applications/gaming/base/pterodactyl/kustomization.yaml
  applications/gaming/base/pterodactyl/mariadb/deployment.yaml
  applications/gaming/base/pterodactyl/mariadb/kustomization.yaml
  applications/gaming/base/pterodactyl/mariadb/pvc.yaml
  applications/gaming/base/pterodactyl/mariadb/secret.yaml
  applications/gaming/base/pterodactyl/mariadb/service.yaml
  applications/gaming/base/pterodactyl/panel/configmap.yaml
  applications/gaming/base/pterodactyl/panel/deployment.yaml
  applications/gaming/base/pterodactyl/panel/ingressroute.yaml
  applications/gaming/base/pterodactyl/panel/kustomization.yaml
  applications/gaming/base/pterodactyl/panel/pvc.yaml
  applications/gaming/base/pterodactyl/panel/rbac.yaml
  applications/gaming/base/pterodactyl/panel/secret.yaml
  applications/gaming/base/pterodactyl/panel/service.yaml
  applications/gaming/base/pterodactyl/redis/deployment.yaml
  applications/gaming/base/pterodactyl/redis/kustomization.yaml
  applications/gaming/base/pterodactyl/redis/service.yaml
  applications/gaming/base/pterodactyl/servicemonitor.yaml
Due: gitleaks, yamllint, kube-validate, markdownlint, trailing-whitespace

feat(gaming): add KubeVirt Windows VM for Conan Exiles
  applications/gaming/base/kubevirt/kustomization.yaml
  applications/gaming/base/kubevirt/windows-service.yaml
  applications/gaming/base/kubevirt/windows-vm.yaml
  applications/gaming/base/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(gaming): add noVNC web console for Windows VM
  applications/gaming/base/kubevirt/kustomization.yaml
  applications/gaming/base/kubevirt/novnc.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(gaming): add VirtIO drivers and setup docs for Windows VM
  applications/gaming/base/kubevirt/README.md
  applications/gaming/base/kubevirt/kustomization.yaml
  applications/gaming/base/kubevirt/virtio-drivers-dv.yaml
  applications/gaming/base/kubevirt/windows-vm.yaml
Due: gitleaks, yamllint, kube-validate, markdownlint, trailing-whitespace

fix(gaming): update Conan Exiles ports to match Dedicated Server Launcher defaults
  applications/gaming/base/kubevirt/windows-service.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(gaming): correct VM masquerade ports for Conan Exiles defaults
  applications/gaming/base/kubevirt/windows-vm.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(gaming): add Apache Guacamole for web-based RDP with clipboard
  applications/gaming/base/kubevirt/guacamole.yaml
  applications/gaming/base/kubevirt/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(gaming): set Guacamole WEBAPP_CONTEXT to ROOT for clean URL
  applications/gaming/base/kubevirt/guacamole.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(gaming): add Conan Exiles mod list for dedicated server
  applications/gaming/base/kubevirt/conan-modlist.txt
Due: gitleaks

feat(gaming): add Windows setup scripts ConfigMap with modlist
  applications/gaming/base/kubevirt/kustomization.yaml
  applications/gaming/base/kubevirt/windows-setup-scripts.yaml
  applications/gaming/base/kubevirt/windows-vm.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(gaming): use sata cdrom for ConfigMap disk mount
  applications/gaming/base/kubevirt/windows-vm.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

Path conditions:
  gitleaks: any of: *.{yaml,yml,sh,json,env,txt,md}
  yamllint: any of: *.{yaml,yml}
  kube-validate: any of: *.{yaml,yml}
  shellcheck: any of: *.sh
  shfmt: any of: *.sh
  markdownlint: any of: *.md
  trailing-whitespace: any of: *.{yaml,yml,sh,md,json}
  helm-lint: any of: **/Chart.yaml
