Repository TheBranchDriftCatalyst/talos-homelab: changes, and which lefthook commands are due for each by the changed paths.
All: gitleaks, yamllint, kube-validate, shellcheck, shfmt, markdownlint, trailing-whitespace, helm-lint

gitleaks:
  tags: security
  run: gitleaks protect --verbose --redact --staged
  skip:
  - merge
  - rebase

yamllint:
  tags: linting yaml
  run: yamllint --strict .
  skip:
  - merge
  - rebase

kube-validate:
  tags: kubernetes yaml
  ...

shellcheck:
  tags: linting shell
  run: shellcheck -x {staged_files}
  skip:
  - merge
  - rebase

shfmt:
  tags: formatting shell
  run: shfmt -w -i 2 -ci -sr {staged_files}
  skip:
  - merge
  - rebase
  stage_fixed: true

markdownlint:
  tags: linting markdown
  run: npx markdownlint-cli2 {staged_files}
  skip:
  - merge
  - rebase

trailing-whitespace:
  tags: formatting
  run: "if grep -n '[[:space:]]$' {staged_files}; then\n  echo \"‚ùå Error: Trailing whitespace found\"\n  echo \"Run: sed -i '' 's/[[:space:]]*$//' <file>\"\n  exit 1\nfi\n"
  skip:
  - merge
  - rebase

helm-lint:
  tags: kubernetes helm
  run: "for chart_dir in infrastructure/base/*/; do\n  if [ -f \"$chart_dir/Chart.yaml\" ]; then\n    echo \"Linting Helm chart: $chart_dir\"\n    helm lint \"$chart_dir\" || exit 1\n  fi\ndone\n"
  skip:
  - merge
  - rebase

feat(home-automation): add OmniTools web utilities
  applications/home-automation/base/kustomization.yaml
  applications/home-automation/base/omnitools/deployment.yaml
  applications/home-automation/base/omnitools/ingressroute.yaml
  applications/home-automation/base/omnitools/kustomization.yaml
  applications/home-automation/base/omnitools/service.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

refactor(home-automation): rename home-stack to home-automation, fix gluetun iptables
  applications/arr-stack/base/homepage/configmap-services.yaml
  applications/home-automation/base/homeassistant/configmap.yaml
  applications/home-automation/base/homeassistant/deployment.yaml
  applications/home-automation/base/homeassistant/ingressroute.yaml
  applications/home-automation/base/homeassistant/kustomization.yaml
  applications/home-automation/base/homeassistant/pvc.yaml
  applications/home-automation/base/homeassistant/service.yaml
  applications/home-automation/base/linkwarden/deployment.yaml
  applications/home-automation/base/linkwarden/external-secret.yaml
  applications/home-automation/base/linkwarden/ingressroute.yaml
  applications/home-automation/base/linkwarden/kustomization.yaml
  applications/home-automation/base/linkwarden/pvc.yaml
  applications/home-automation/base/linkwarden/service.yaml
  applications/home-stack/base/kustomization.yaml
  clusters/catalyst-cluster/flux-system/kustomization.yaml
  clusters/catalyst-cluster/home-automation.yaml
  infrastructure/base/namespaces/home-automation.yaml
  infrastructure/base/vpn-gateway/deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(scripts): add VPN gateway e2e test script
  scripts/test-vpn-rotation.sh
Due: gitleaks, shellcheck, shfmt, trailing-whitespace

feat(scripts): add namespace-scoped scripts with discovery tool
  Taskfile.yaml
  infrastructure/base/vpn-gateway/scripts/test-vpn-rotation.sh
  scripts/list-scripts.sh
Due: gitleaks, yamllint, kube-validate, shellcheck, shfmt, trailing-whitespace

bd sync: 2026-01-22 12:26:40
  .beads/.gitignore
  .beads/.local_version
  .beads/deletions.jsonl
  .beads/last-touched
  .beads/sync_base.jsonl
  Taskfile.yaml
  applications/arr-stack/base/homepage/configmap-services.yaml
  applications/home-automation/base/omnitools/deployment.yaml
  applications/home-automation/base/omnitools/ingressroute.yaml
  applications/home-automation/base/omnitools/kustomization.yaml
  applications/home-automation/base/omnitools/service.yaml
  applications/home-stack/base/homeassistant/configmap.yaml
  applications/home-stack/base/homeassistant/deployment.yaml
  applications/home-stack/base/homeassistant/ingressroute.yaml
  applications/home-stack/base/homeassistant/kustomization.yaml
  applications/home-stack/base/homeassistant/pvc.yaml
  applications/home-stack/base/homeassistant/service.yaml
  applications/home-stack/base/kustomization.yaml
  applications/home-stack/base/linkwarden/deployment.yaml
  applications/home-stack/base/linkwarden/external-secret.yaml
  applications/home-stack/base/linkwarden/ingressroute.yaml
  applications/home-stack/base/linkwarden/kustomization.yaml
  applications/home-stack/base/linkwarden/pvc.yaml
  applications/home-stack/base/linkwarden/service.yaml
  clusters/catalyst-cluster/flux-system/kustomization.yaml
  clusters/catalyst-cluster/home-stack.yaml
  infrastructure/base/namespaces/home-automation.yaml
  infrastructure/base/vpn-gateway/deployment.yaml
  infrastructure/base/vpn-gateway/scripts/test-vpn-rotation.sh
  scripts/list-scripts.sh
  tools/beads-manager/.dockerignore
  tools/beads-manager/Dockerfile
  tools/beads-manager/README.md
  tools/beads-manager/docker-compose.yml
  tools/beads-manager/package.json
  tools/beads-manager/scripts/beads-ui
  tools/beads-manager/src/cli.ts
  tools/beads-manager/src/server/index.ts
  tools/beads-manager/tsconfig.server.json
  tools/beads-manager/vite.config.ts
Due: gitleaks, yamllint, kube-validate, shellcheck, shfmt, markdownlint, trailing-whitespace

perf(tdarr): remove CPU and memory limits from workers
  applications/tdarr/base/worker-daemonset.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

refactor(corpus): DRY improvements with shared utilities
  applications/the-corpus/corpus-core/src/corpus_core/__init__.py
  applications/the-corpus/corpus-core/src/corpus_core/utils.py
  applications/the-corpus/pipelines/src/domains/congress/assets.py
  applications/the-corpus/pipelines/src/domains/congress/entities.py
  applications/the-corpus/pipelines/src/domains/edgar/assets.py
  applications/the-corpus/pipelines/src/domains/edgar/entities.py
  applications/the-corpus/pipelines/src/domains/reddit/assets.py
  applications/the-corpus/pipelines/src/domains/reddit/entities.py
Due: none

feat(linkwarden): enable Authentik SSO integration
  applications/home-automation/base/linkwarden/deployment.yaml
  applications/home-automation/base/linkwarden/external-secret.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(corpus-core): add centralized environment variable registry
  applications/the-corpus/corpus-core/src/corpus_core/__init__.py
  applications/the-corpus/corpus-core/src/corpus_core/utils.py
  applications/the-corpus/pipelines/src/cli.py
  applications/the-corpus/pipelines/src/domains/congress/assets.py
  applications/the-corpus/pipelines/src/domains/congress/client.py
  applications/the-corpus/pipelines/src/domains/edgar/assets.py
  applications/the-corpus/pipelines/src/domains/reddit/assets.py
Due: none

feat(vpn-gateway): enable RWX for secure-chrome PVC
  infrastructure/base/vpn-gateway/secure-chrome.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(vpn-gateway): add blue-green rotation strategy
  infrastructure/base/vpn-gateway/rotation/configmap-config.yaml
  infrastructure/base/vpn-gateway/rotation/configmap-script.yaml
  infrastructure/base/vpn-gateway/rotation/cronjob.yaml
  infrastructure/base/vpn-gateway/rotation/rbac.yaml
  infrastructure/base/vpn-gateway/secure-chrome.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(vpn-gateway): disable rotation for secure-chrome
  infrastructure/base/vpn-gateway/secure-chrome.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(gaming): add gaming namespace with OpenSim and Conan Exiles servers
  applications/gaming/base/common-env.yaml
  applications/gaming/base/conan-exiles/configmap.yaml
  applications/gaming/base/conan-exiles/deployment.yaml
  applications/gaming/base/conan-exiles/kustomization.yaml
  applications/gaming/base/conan-exiles/pvc.yaml
  applications/gaming/base/conan-exiles/service.yaml
  applications/gaming/base/kustomization.yaml
  applications/gaming/base/namespace.yaml
  applications/gaming/base/opensim/configmap.yaml
  applications/gaming/base/opensim/deployment.yaml
  applications/gaming/base/opensim/kustomization.yaml
  applications/gaming/base/opensim/pvc.yaml
  applications/gaming/base/opensim/service.yaml
  clusters/catalyst-cluster/gaming.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(flux): add gaming kustomization to flux-system
  clusters/catalyst-cluster/flux-system/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(gaming): fix OpenSim and Conan Exiles startup issues
  applications/gaming/base/conan-exiles/deployment.yaml
  applications/gaming/base/opensim/configmap.yaml
  applications/gaming/base/opensim/deployment.yaml
  applications/gaming/base/opensim/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore(gaming): remove Conan Exiles server
  applications/gaming/base/conan-exiles/configmap.yaml
  applications/gaming/base/conan-exiles/deployment.yaml
  applications/gaming/base/conan-exiles/kustomization.yaml
  applications/gaming/base/conan-exiles/pvc.yaml
  applications/gaming/base/conan-exiles/service.yaml
  applications/gaming/base/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(gaming): add Pterodactyl/Kubectyl game server panel
  applications/gaming/base/kustomization.yaml
  applications/gaming/base/pterodactyl/kuber/configmap.yaml
  applications/gaming/base/pterodactyl/kuber/deployment.yaml
  applications/gaming/base/pterodactyl/kuber/kustomization.yaml
  applications/gaming/base/pterodactyl/kuber/rbac.yaml
  applications/gaming/base/pterodactyl/kuber/secret.yaml
  applications/gaming/base/pterodactyl/kuber/service.yaml
  applications/gaming/base/pterodactyl/kustomization.yaml
  applications/gaming/base/pterodactyl/mariadb/deployment.yaml
  applications/gaming/base/pterodactyl/mariadb/kustomization.yaml
  applications/gaming/base/pterodactyl/mariadb/pvc.yaml
  applications/gaming/base/pterodactyl/mariadb/secret.yaml
  applications/gaming/base/pterodactyl/mariadb/service.yaml
  applications/gaming/base/pterodactyl/panel/configmap.yaml
  applications/gaming/base/pterodactyl/panel/deployment.yaml
  applications/gaming/base/pterodactyl/panel/ingressroute.yaml
  applications/gaming/base/pterodactyl/panel/kustomization.yaml
  applications/gaming/base/pterodactyl/panel/pvc.yaml
  applications/gaming/base/pterodactyl/panel/secret.yaml
  applications/gaming/base/pterodactyl/panel/service.yaml
  applications/gaming/base/pterodactyl/redis/deployment.yaml
  applications/gaming/base/pterodactyl/redis/kustomization.yaml
  applications/gaming/base/pterodactyl/redis/service.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

Path conditions:
  gitleaks: any of: *.{yaml,yml,sh,json,env,txt,md}
  yamllint: any of: *.{yaml,yml}
  kube-validate: any of: *.{yaml,yml}
  shellcheck: any of: *.sh
  shfmt: any of: *.sh
  markdownlint: any of: *.md
  trailing-whitespace: any of: *.{yaml,yml,sh,md,json}
  helm-lint: any of: **/Chart.yaml
