Repository TheBranchDriftCatalyst/talos-homelab: changes, and which lefthook commands are due for each by the changed paths.
All: gitleaks, yamllint, kube-validate, shellcheck, shfmt, markdownlint, trailing-whitespace, helm-lint

gitleaks:
  tags: security
  run: gitleaks protect --verbose --redact --staged
  skip:
  - merge
  - rebase

yamllint:
  tags: linting yaml
  run: yamllint --strict .
  skip:
  - merge
  - rebase

kube-validate:
  tags: kubernetes yaml
  ...

shellcheck:
  tags: linting shell
  run: shellcheck -x {staged_files}
  skip:
  - merge
  - rebase

shfmt:
  tags: formatting shell
  run: shfmt -w -i 2 -ci -sr {staged_files}
  skip:
  - merge
  - rebase
  stage_fixed: true

markdownlint:
  tags: linting markdown
  run: npx markdownlint-cli2 {staged_files}
  skip:
  - merge
  - rebase

trailing-whitespace:
  tags: formatting
  run: "if grep -n '[[:space:]]$' {staged_files}; then\n  echo \"‚ùå Error: Trailing whitespace found\"\n  echo \"Run: sed -i '' 's/[[:space:]]*$//' <file>\"\n  exit 1\nfi\n"
  skip:
  - merge
  - rebase

helm-lint:
  tags: kubernetes helm
  run: "for chart_dir in infrastructure/base/*/; do\n  if [ -f \"$chart_dir/Chart.yaml\" ]; then\n    echo \"Linting Helm chart: $chart_dir\"\n    helm lint \"$chart_dir\" || exit 1\n  fi\ndone\n"
  skip:
  - merge
  - rebase

fix: Include namespace in external-secrets-operator kustomization
  infrastructure/base/external-secrets/operator/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix: Use static Grafana datasources instead of sidecar discovery
  infrastructure/base/monitoring/kube-prometheus-stack/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore: misc stuff move scripts
  infrastructure/base/_scripts/onepassword-debug.sh
  infrastructure/base/_scripts/onepassword-list-secrets.sh
  infrastructure/base/_scripts/setup-1password-connect.sh
  infrastructure/base/infra-testing/goldilocks/vpa-crd.yaml
  scripts/dashboards/list-dashboards.sh
  scripts/kube-dashboard-token.sh
Due: gitleaks, yamllint, kube-validate, shellcheck, shfmt, trailing-whitespace

feat: Add Grafana dashboards for cluster services via gnetId
  infrastructure/base/monitoring/kube-prometheus-stack/helmrelease.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

docs: Reorganize documentation into ##-domain structure
  docs/02-architecture/auth-implementation-guide.md
  docs/02-architecture/infrastructure-diagrams.md
  docs/02-architecture/service-mesh.md
  docs/03-operations/local-development-eso.md
  docs/03-operations/node-shutdown-procedure.md
  docs/05-projects/hybrid-llm-cluster/AWS-EC2-INSTANCE-TYPES.md
  docs/05-projects/hybrid-llm-cluster/DISCOVERY.md
  docs/05-projects/hybrid-llm-cluster/GITOPS-PATTERNS.md
  docs/05-projects/hybrid-llm-cluster/NEXT-STEPS.md
  docs/05-projects/hybrid-llm-cluster/PROJECT-STRUCTURE.md
  docs/05-projects/hybrid-llm-cluster/STORAGE-STRATEGY.md
  docs/05-projects/hybrid-llm-cluster/TODO.md
  docs/06-project-management/enhancement-roadmap.md
  docs/07-reference/taskfile-organization.md
  docs/INDEX.md
Due: gitleaks, markdownlint, trailing-whitespace

feat: Add Linkerd service mesh infrastructure
  infrastructure/base/linkerd/.gitignore
  infrastructure/base/linkerd/external-secret.yaml
  infrastructure/base/linkerd/kustomization.yaml
  infrastructure/base/linkerd/values-control-plane.yaml
  infrastructure/base/linkerd/values-crds.yaml
  infrastructure/base/namespaces/linkerd.yaml
  infrastructure/base/namespaces/scratch.yaml
  scripts/deploy-linkerd.sh
Due: gitleaks, yamllint, kube-validate, shellcheck, shfmt, trailing-whitespace

feat: Add hybrid LLM cluster infrastructure
  infrastructure/base/hybrid-llm/_scripts/01-create-security-groups.sh
  infrastructure/base/hybrid-llm/_scripts/02-deploy-lighthouse.sh
  infrastructure/base/hybrid-llm/_scripts/03-allocate-elastic-ip.sh
  infrastructure/base/hybrid-llm/_scripts/04-create-s3-bucket.sh
  infrastructure/base/hybrid-llm/_scripts/05-store-secrets.sh
  infrastructure/base/hybrid-llm/_scripts/06-create-iam-role.sh
  infrastructure/base/hybrid-llm/_scripts/provision.sh
  infrastructure/base/hybrid-llm/aws-credentials-externalsecret.yaml
  infrastructure/base/hybrid-llm/kustomization.yaml
  infrastructure/base/hybrid-llm/liqo/README.md
  infrastructure/base/hybrid-llm/liqo/kustomization.yaml
  infrastructure/base/hybrid-llm/namespace.yaml
  infrastructure/base/hybrid-llm/nebula/README.md
  infrastructure/base/hybrid-llm/nebula/kustomization.yaml
  infrastructure/base/hybrid-llm/ollama/README.md
  infrastructure/base/hybrid-llm/ollama/kustomization.yaml
  scripts/hybrid-llm/export-aws-creds.sh
  scripts/hybrid-llm/lighthouse-userdata.sh
Due: gitleaks, yamllint, kube-validate, shellcheck, shfmt, markdownlint, trailing-whitespace

feat: Integrate ArgoCD Application CRDs with Flux
  bootstrap/argocd/applications/arr-stack-private.yaml
  bootstrap/argocd/applications/catalyst-ui.yaml
  bootstrap/argocd/applications/kustomization.yaml
  bootstrap/argocd/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

refactor: Move ArgoCD from bootstrap/ to infrastructure/base/
  bootstrap/argocd/ingressroute.yaml
  clusters/homelab-single/argocd.yaml
  infrastructure/base/argocd/README.md
  infrastructure/base/argocd/applications/arr-stack-private.yaml
  infrastructure/base/argocd/applications/catalyst-ui.yaml
  infrastructure/base/argocd/applications/kustomization.yaml
  infrastructure/base/argocd/helmrelease.yaml
  infrastructure/base/argocd/kustomization.yaml
  infrastructure/base/argocd/namespace.yaml
Due: gitleaks, yamllint, kube-validate, markdownlint, trailing-whitespace

fix: Use SSH URL for private ArgoCD repo
  infrastructure/base/argocd/applications/arr-stack-private.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat: Add ExternalSecret for ArgoCD private repo credentials
  infrastructure/base/argocd/externalsecret-private-repo.yaml
  infrastructure/base/argocd/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix: Hardcode URL in ExternalSecret, simplify 1Password item
  infrastructure/base/argocd/externalsecret-private-repo.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

style: Use b64enc template function instead of pre-computed base64
  infrastructure/base/argocd/externalsecret-private-repo.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix: Use single quotes for YAML to allow nested double quotes in template
  infrastructure/base/argocd/externalsecret-private-repo.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix: Use stringData instead of data to avoid double base64 encoding
  infrastructure/base/argocd/externalsecret-private-repo.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix: Revert to data with pre-encoded base64 (ESO doesn't support stringData)
  infrastructure/base/argocd/externalsecret-private-repo.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix: Use plain text in ESO template.data (ESO auto-encodes to base64)
  infrastructure/base/argocd/externalsecret-private-repo.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix: Add Flux kustomization for discord notifications
  clusters/homelab-single/flux-notifications.yaml
  clusters/homelab-single/flux-system/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

Path conditions:
  gitleaks: any of: *.{yaml,yml,sh,json,env,txt,md}
  yamllint: any of: *.{yaml,yml}
  kube-validate: any of: *.{yaml,yml}
  shellcheck: any of: *.sh
  shfmt: any of: *.sh
  markdownlint: any of: *.md
  trailing-whitespace: any of: *.{yaml,yml,sh,md,json}
  helm-lint: any of: **/Chart.yaml
