Repository TheBranchDriftCatalyst/talos-homelab: changes, and which lefthook commands are due for each by the changed paths.
All: gitleaks, yamllint, kube-validate, shellcheck, shfmt, markdownlint, trailing-whitespace, helm-lint

Path conditions:
  gitleaks: any of: *.{yaml,yml,sh,json,env,txt,md}
  yamllint: any of: *.{yaml,yml}
  kube-validate: any of: *.{yaml,yml}
  shellcheck: any of: *.sh
  shfmt: any of: *.sh
  markdownlint: any of: *.md
  trailing-whitespace: any of: *.{yaml,yml,sh,md,json}
  helm-lint: any of: **/Chart.yaml

fix(talos): second audit — no rollback path, CNPG gate missing, verifier dies post-apply
  docs/05-runbooks/talhelper-cutover.md
  talos/verify-diff.py
Due: gitleaks, markdownlint, trailing-whitespace

feat(task): talos:verify and talos:verify-dry-run — drift detection anyone can run [TALOS-frvi]
  Taskfile.talos.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(ci): static lint for the Talos config source [TALOS-xxmd]
  .github/workflows/talos-config-lint.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

refactor(talos): complete the strangler fig — talos/ becomes configs/
  .gitignore
  Taskfile.talos.yaml
  configs/.gitignore
  configs/README.md
  configs/patches/all-kubelet-baseline.yaml
  configs/patches/cluster-baseline.yaml
  configs/patches/controlplane-apiserver-resources.yaml
  configs/patches/controlplane-baseline.yaml
  configs/patches/controlplane-inlinemanifests.yaml
  configs/patches/controlplane-nodelabels.yaml
  configs/patches/gpu-udev-rules.yaml
  configs/patches/maxpods-200.yaml
  configs/patches/memory-constrained-taint.yaml
  configs/patches/network-hostentries.yaml
  configs/patches/talos00-controlplane-taint.yaml
  configs/patches/talos02-gpu-nodelabels.yaml
  configs/patches/talos03-maxpods.yaml
  configs/patches/talos06-hostentries.yaml
  configs/patches/talos06-nodelabels.yaml
  configs/talconfig.yaml
  configs/verify-diff.py
Due: gitleaks, yamllint, kube-validate, markdownlint, trailing-whitespace

fix(homeassistant): imagePullPolicy Always — IfNotPresent made the version node-dependent
  applications/home-automation/base/homeassistant/deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(task): repoint dead configs/nodes paths at the archive [TALOS-ow7w]
  Taskfile.talos.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

docs: session handoff 2026-08-24 — talhelper migration complete
  docs/06-project-management/handoff-2026-08-24.md
Due: gitleaks, markdownlint, trailing-whitespace

docs(talos): record WHY iscsi-tools is on talos01/talos03 only — do not reboot 3 nodes for symmetry [TALOS-v3wy]
  configs/talconfig.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(media-experimental,linkwarden): floating tag + IfNotPresent makes the version node-dependent
  applications/home-automation/base/linkwarden/deployment.yaml
  applications/media-experimental/base/_instance/deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

refactor(provision): port provision.sh to talhelper as a plan-only rebuild planner
  scripts/provision.sh
Due: gitleaks, shellcheck, shfmt, trailing-whitespace

fix(infra,omnitools): Always on the remaining floating tags pinned by IfNotPresent
  applications/home-automation/base/omnitools/deployment.yaml
  infrastructure/base/authentik/login-background/deployment.yaml
  infrastructure/base/external-secrets/jobs/secret-dump-cronjob.yaml
  infrastructure/base/minio/cnpg-backup/provision.yaml
  infrastructure/base/minio/scoped-users/provision.yaml
  infrastructure/base/vpn-gateway/secure-webtop.yaml
  infrastructure/base/whoami/deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(cert-manager): desec webhook pullPolicy Always — the one floating tag hiding in chart values
  infrastructure/base/cert-manager-issuers/desec-webhook.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

refactor(task): port gen-config/apply-config to talhelper, drop the archive vars
  Taskfile.talos.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

docs(talos): mark iscsi-tools as a settled decision, not an open question [TALOS-v3wy]
  configs/talconfig.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

refactor(scripts): retire bootstrap-talos-patches.sh — talhelper declares these patches now
  Taskfile.talos.yaml
  scripts/bootstrap-talos-patches.sh
  scripts/test-suspect-etcd-snapshot.sh
Due: gitleaks, yamllint, kube-validate, shellcheck, shfmt, trailing-whitespace

gitblobstore: checkandput manifest
  b7kh7s9vh8kupkn5tnv3r4kq3328f78p.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  5uiku0073h98f23dvjf3dgpor13dfoeb
  manifest
Due: none

gitblobstore: checkandput manifest
  m1qah9oqqr9e11sfpjh3pq7hetggipfu.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  manifest
  o3mb76d9imserav36gd73eu349uqdhku
Due: none

fix(upgrade-talos): record the upgrade in talconfig.yaml, not the deleted configs/nodes
  scripts/upgrade-talos.py
Due: none

docs: repoint recovery procedures off configs/controlplane.yaml onto the generated configs
  docs/01-getting-started/quickstart.md
  docs/02-architecture/CONTROL-PLANE-MIGRATION.md
  docs/03-operations/etcd-backup-restore.md
  docs/03-operations/node-shutdown-procedure.md
  docs/03-operations/provisioning.md
  docs/07-reference/taskfile-organization.md
Due: gitleaks, markdownlint, trailing-whitespace

docs(runbooks): fix the talsecret backup path and mark the hand-patch copies superseded
  docs/05-runbooks/talos-apiserver-resources-patch.yaml
  docs/05-runbooks/talos-controlplane-metrics-patch.yaml
  docs/05-runbooks/talos-gpu-udev-rules-patch.yaml
  docs/05-runbooks/talos-kubelet-image-gc-patch.yaml
  docs/05-runbooks/talos-kubelet-iscsi-patch.yaml
  docs/05-runbooks/talos-kubelet-localpath-patch.yaml
  docs/05-runbooks/talos-kubelet-maxpods-patch.yaml
  docs/05-runbooks/talos-kubelet-memory-reserve-patch.yaml
  docs/05-runbooks/talos-memory-constrained-taint-patch.yaml
  docs/05-runbooks/talos-schedulable-controlplane-patch.yaml
  docs/05-runbooks/talos03-kubelet-maxpods-patch.yaml
  docs/05-runbooks/talsecret-1password-backup.md
Due: gitleaks, yamllint, kube-validate, markdownlint, trailing-whitespace

docs: mark the completed migrations historical so their stale paths cannot mislead
  docs/02-architecture/talos-config-management.md
  docs/05-runbooks/ha-control-plane-migration.md
  docs/05-runbooks/promote-workers-to-controlplane.md
Due: gitleaks, markdownlint, trailing-whitespace

docs(task): flag the unautomated kubernetesVersion bump; mark TALOS-ow7w done
  Taskfile.talos.yaml
  docs/06-project-management/handoff-2026-08-24.md
Due: gitleaks, yamllint, kube-validate, markdownlint, trailing-whitespace

docs(runbooks): drop the patch-bootstrap step from the recovery path — it is machine config now
  docs/05-runbooks/README.md
  docs/05-runbooks/cluster-bootstrap.md
Due: gitleaks, markdownlint, trailing-whitespace

docs(readme): stop telling readers the machine configs live in configs/nodes/ [TALOS-ow7w]
  README.md
  applications/home-automation/base/linkwarden/deployment.yaml
  applications/home-automation/base/omnitools/deployment.yaml
  applications/media-experimental/base/_instance/deployment.yaml
  configs/talconfig.yaml
  infrastructure/base/authentik/login-background/deployment.yaml
  infrastructure/base/cert-manager-issuers/desec-webhook.yaml
  infrastructure/base/external-secrets/jobs/secret-dump-cronjob.yaml
  infrastructure/base/minio/cnpg-backup/provision.yaml
  infrastructure/base/minio/scoped-users/provision.yaml
  infrastructure/base/vpn-gateway/secure-webtop.yaml
  infrastructure/base/whoami/deployment.yaml
Due: gitleaks, yamllint, kube-validate, markdownlint, trailing-whitespace

fix: restore 11 files my README commit silently reverted
  applications/home-automation/base/linkwarden/deployment.yaml
  applications/home-automation/base/omnitools/deployment.yaml
  applications/media-experimental/base/_instance/deployment.yaml
  configs/talconfig.yaml
  infrastructure/base/authentik/login-background/deployment.yaml
  infrastructure/base/cert-manager-issuers/desec-webhook.yaml
  infrastructure/base/external-secrets/jobs/secret-dump-cronjob.yaml
  infrastructure/base/minio/cnpg-backup/provision.yaml
  infrastructure/base/minio/scoped-users/provision.yaml
  infrastructure/base/vpn-gateway/secure-webtop.yaml
  infrastructure/base/whoami/deployment.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

gitblobstore: checkandput manifest
  1s9q8oe7h53vtnuouk947jldj9k6eger.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  4hbvial53bt2uts5q341p3o6vg3f0msi
  manifest
Due: none

gitblobstore: checkandput manifest
  manifest
  n4mghhukaro85uudmompln5qqgi7l228.darc
Due: none

gitblobstore: checkandput manifest
  ctgldiu00at04k5ue73r7p39iaiaev1o
  manifest
Due: none

gitblobstore: checkandput manifest
  ea5en0i5spkn4nioj4t22d70jgk0bqdc.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  1c3e4hgeftb3fe9ib36jjrmv00o0p8r8
  manifest
Due: none

gitblobstore: checkandput manifest
  5nsto6au1nl9trmfl8dsmvj035es9fkt.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  0irlu9b8hk7tb62ks878sq6htsq8dd1p
  manifest
Due: none

gitblobstore: checkandput manifest
  kuk4i3jiufs1ag22itvo10t8b9odagi5.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  9ovhfq1hu6r1hojtpba1ks6vudkkfl7a
  manifest
Due: none

gitblobstore: checkandput manifest
  5u2r1md66lk55dcchk2l1atr6grfd7mj.darc
  manifest
Due: none

gitblobstore: checkandput manifest
  4ieu0lmkl7uulmjndnp9gjg9tpnkln0o
  manifest
Due: none
