Repository TheBranchDriftCatalyst/talos-homelab: changes, and which lefthook commands are due for each by the changed paths.
All: gitleaks, yamllint, kube-validate, shellcheck, shfmt, markdownlint, trailing-whitespace, helm-lint

gitleaks:
  tags: security
  run: gitleaks protect --verbose --redact --staged
  skip:
  - merge
  - rebase

yamllint:
  tags: linting yaml
  run: yamllint --strict .
  skip:
  - merge
  - rebase

kube-validate:
  tags: kubernetes yaml
  ...

shellcheck:
  tags: linting shell
  run: shellcheck -x {staged_files}
  skip:
  - merge
  - rebase

shfmt:
  tags: formatting shell
  run: shfmt -w -i 2 -ci -sr {staged_files}
  skip:
  - merge
  - rebase
  stage_fixed: true

markdownlint:
  tags: linting markdown
  run: npx markdownlint-cli2 {staged_files}
  skip:
  - merge
  - rebase

trailing-whitespace:
  tags: formatting
  run: "if grep -n '[[:space:]]$' {staged_files}; then\n  echo \"‚ùå Error: Trailing whitespace found\"\n  echo \"Run: sed -i '' 's/[[:space:]]*$//' <file>\"\n  exit 1\nfi\n"
  skip:
  - merge
  - rebase

helm-lint:
  tags: kubernetes helm
  run: "for chart_dir in infrastructure/base/*/; do\n  if [ -f \"$chart_dir/Chart.yaml\" ]; then\n    echo \"Linting Helm chart: $chart_dir\"\n    helm lint \"$chart_dir\" || exit 1\n  fi\ndone\n"
  skip:
  - merge
  - rebase

chore(homepage): delete orphaned configs/ directory
  .beads/issues.jsonl
  applications/arr-stack/base/homepage/configs/bookmarks.yaml
  applications/arr-stack/base/homepage/configs/docker.yaml
  applications/arr-stack/base/homepage/configs/kubernetes.yaml
  applications/arr-stack/base/homepage/configs/services.yaml
  applications/arr-stack/base/homepage/configs/settings.yaml
  applications/arr-stack/base/homepage/configs/widgets.yaml
  applications/arr-stack/base/shared/_downloads-local-pvc.yaml
  applications/arr-stack/base/shared/kustomization.yaml
  applications/arr-stack/overlays/themepark/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(vpn-gateway): add VPN rotation CronJob with deterministic balancing
  applications/arr-stack/base/qbittorrent/deployment.yaml
  infrastructure/base/vpn-gateway/deployment.yaml
  infrastructure/base/vpn-gateway/kustomization.yaml
  infrastructure/base/vpn-gateway/rotation/configmap-config.yaml
  infrastructure/base/vpn-gateway/rotation/configmap-script.yaml
  infrastructure/base/vpn-gateway/rotation/cronjob.yaml
  infrastructure/base/vpn-gateway/rotation/kustomization.yaml
  infrastructure/base/vpn-gateway/rotation/rbac.yaml
  infrastructure/base/vpn-gateway/secure-chrome.yaml
  infrastructure/base/vpn-gateway/securexng.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(vpn-rotator): use kubectl 1.30 image (1.31 doesn't exist)
  infrastructure/base/vpn-gateway/rotation/cronjob.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(vpn-rotator): use dtzar/helm-kubectl image (Alpine-based)
  infrastructure/base/vpn-gateway/rotation/cronjob.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(vpn-rotator): add metrics exporter and Grafana dashboard
  infrastructure/base/vpn-gateway/rotation/configmap-exporter.yaml
  infrastructure/base/vpn-gateway/rotation/configmap-script.yaml
  infrastructure/base/vpn-gateway/rotation/exporter.yaml
  infrastructure/base/vpn-gateway/rotation/grafana-dashboard.yaml
  infrastructure/base/vpn-gateway/rotation/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(grafana): enable cross-namespace dashboard import
  infrastructure/base/vpn-gateway/rotation/grafana-dashboard.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

chore: remove readarr from ExternalSecrets (not in use)
  applications/arr-stack/base/homepage/deployment.yaml
  applications/arr-stack/base/shared/external-secret.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(vpn-rotator): add Tiltfile for dev rotation testing
  infrastructure/base/vpn-gateway/rotation/Tiltfile
Due: none

feat(tilt): link vpn-gateway Tiltfiles to root
  Tiltfile
  infrastructure/base/vpn-gateway/Tiltfile
  infrastructure/base/vpn-gateway/rotation/Tiltfile
Due: none

fix(vpn-gateway): enable gluetun API access for rotation
  applications/arr-stack/base/qbittorrent/deployment.yaml
  infrastructure/base/vpn-gateway/deployment.yaml
  infrastructure/base/vpn-gateway/rotation/.qa-checklist
  infrastructure/base/vpn-gateway/rotation/Tiltfile
  infrastructure/base/vpn-gateway/secure-chrome.yaml
  infrastructure/base/vpn-gateway/secure-webtop.yaml
  infrastructure/base/vpn-gateway/securexng.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(llm-scaler): dual-backend status UI + TTL controls + EC2 self-destruct
  .beads/issues.jsonl
  infrastructure/base/catalyst-llm/kustomization.yaml
  infrastructure/base/catalyst-llm/ollama-talos06.yaml
  infrastructure/base/catalyst-llm/scaler-deployment.yaml
  scripts/hybrid-llm/worker-userdata.sh
  tools/llm-scaler/main.go
  tools/llm-scaler/scaler.go
  tools/llm-scaler/ui.go
Due: gitleaks, yamllint, kube-validate, shellcheck, shfmt, trailing-whitespace

fix(vpn-gateway): add HTTP_CONTROL_SERVER_AUTH_DEFAULT_ROLE for PUT endpoints
  applications/arr-stack/base/qbittorrent/deployment.yaml
  infrastructure/base/vpn-gateway/deployment.yaml
  infrastructure/base/vpn-gateway/secure-chrome.yaml
  infrastructure/base/vpn-gateway/secure-webtop.yaml
  infrastructure/base/vpn-gateway/securexng.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(llm-scaler): WebSocket control panel with dual-backend status
  tools/llm-scaler/go.mod
  tools/llm-scaler/go.sum
  tools/llm-scaler/main.go
  tools/llm-scaler/scaler.go
  tools/llm-scaler/ui.go
  tools/llm-scaler/websocket.go
Due: none

docs(vpn-rotator): update QA checklist - all commands verified working
  infrastructure/base/vpn-gateway/rotation/.qa-checklist
Due: none

fix(llm-scaler): multi-arch Docker build + beads issue for React UI refactor
  .beads/issues.jsonl
  tools/llm-scaler/Dockerfile
Due: none

fix(vpn-rotator): fix inspect:vpn-status escaping in Tiltfile
  infrastructure/base/vpn-gateway/rotation/Tiltfile
Due: none

beads: close TALOS-pv9z (API keys added to 1Password)
  .beads/issues.jsonl
Due: none

refactor(vpn-gateway): consolidate VPN Rotation dashboard into VPN Gateway
  infrastructure/base/monitoring/grafana-dashboards/json/vpn-gateway.json
  infrastructure/base/vpn-gateway/rotation/grafana-dashboard.yaml
  infrastructure/base/vpn-gateway/rotation/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(vpn-dashboard): hide extra columns and filter blank rows in tables
  infrastructure/base/monitoring/grafana-dashboards/json/vpn-gateway.json
Due: gitleaks, trailing-whitespace

fix(catalyst-llm): set privileged PodSecurity for GPU access
  infrastructure/base/catalyst-llm/namespace.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(dashboard): deduplicate VPN Rotation panels with job filters
  infrastructure/base/monitoring/grafana-dashboards/json/vpn-gateway.json
Due: gitleaks, trailing-whitespace

fix(open-webui): use llm-scaler proxy instead of direct ollama-remote
  infrastructure/base/catalyst-llm/open-webui.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

refactor(catalyst-llm): relocate to applications/ with Tiltfile
  applications/catalyst-llm/Tiltfile
  applications/catalyst-llm/configmap.yaml
  applications/catalyst-llm/dashboard.sh
  applications/catalyst-llm/ingressroute.yaml
  applications/catalyst-llm/kustomization.yaml
  applications/catalyst-llm/llm-scaler/.todo
  applications/catalyst-llm/llm-scaler/Dockerfile
  applications/catalyst-llm/llm-scaler/go.mod
  applications/catalyst-llm/llm-scaler/go.sum
  applications/catalyst-llm/llm-scaler/main.go
  applications/catalyst-llm/llm-scaler/scaler.go
  applications/catalyst-llm/llm-scaler/scripts/llm-worker.sh
  applications/catalyst-llm/llm-scaler/ui.go
  applications/catalyst-llm/llm-scaler/websocket.go
  applications/catalyst-llm/namespace.yaml
  applications/catalyst-llm/ollama-talos06.yaml
  applications/catalyst-llm/open-webui.yaml
  applications/catalyst-llm/pvc.yaml
  applications/catalyst-llm/scaler-deployment.yaml
  applications/catalyst-llm/scaler-secrets.yaml
  applications/catalyst-llm/searxng.yaml
  applications/catalyst-llm/service.yaml
  applications/catalyst-llm/sillytavern.yaml
  applications/catalyst-llm/worker-script-configmap.yaml
  clusters/catalyst-cluster/catalyst-llm.yaml
  dashboard.sh
  infrastructure/base/vpn-gateway/README.md
  tools/stack-dashboard/README.md
  tools/stack-dashboard/configs/arr-stack.yaml
  tools/stack-dashboard/pyproject.toml
  tools/stack-dashboard/src/stack_dashboard/__init__.py
  tools/stack-dashboard/src/stack_dashboard/app.py
  tools/stack-dashboard/src/stack_dashboard/cli.py
  tools/stack-dashboard/src/stack_dashboard/credentials.py
  tools/stack-dashboard/src/stack_dashboard/k8s.py
  tools/stack-dashboard/src/stack_dashboard/models.py
  tools/stack-dashboard/src/stack_dashboard/widgets.py
Due: gitleaks, yamllint, kube-validate, shellcheck, shfmt, markdownlint, trailing-whitespace

fix(flux): add catalyst-llm to flux-system kustomization
  clusters/catalyst-cluster/flux-system/kustomization.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(catalyst-llm): remove ConfigMap script mount, use Docker image
  applications/catalyst-llm/Tiltfile
  applications/catalyst-llm/kustomization.yaml
  applications/catalyst-llm/scaler-deployment.yaml
  applications/catalyst-llm/worker-script-configmap.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(llm-scaler): set correct file permissions for non-root user
  applications/catalyst-llm/llm-scaler/Dockerfile
Due: none

feat(catalyst-llm): add IngressRoute links to Tiltfile
  applications/catalyst-llm/Tiltfile
Due: none

fix(vpn-rotation): correct gluetun API payload format + add vpnctl CLI
  infrastructure/base/vpn-gateway/rotation/Tiltfile
  infrastructure/base/vpn-gateway/rotation/configmap-exporter.yaml
  infrastructure/base/vpn-gateway/rotation/configmap-script.yaml
  infrastructure/base/vpn-gateway/rotation/exporter.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(llm-scaler): dual status indicators + tabbed iframe UI
  applications/catalyst-llm/llm-scaler/go.mod
  applications/catalyst-llm/llm-scaler/go.sum
  applications/catalyst-llm/llm-scaler/ui.go
  applications/catalyst-llm/llm-scaler/websocket.go
Due: none

feat(vpn-rotation): add maintenance pod with unified vpnctl CLI
  infrastructure/base/vpn-gateway/rotation/Tiltfile
  infrastructure/base/vpn-gateway/rotation/configmap-maintenance.yaml
  infrastructure/base/vpn-gateway/rotation/kustomization.yaml
  infrastructure/base/vpn-gateway/rotation/maintenance.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

feat(tilt): include catalyst-llm in root Tiltfile
  Tiltfile
  applications/catalyst-llm/Tiltfile
Due: none

fix(tilt): use single cluster context admin@homelab-single
  applications/catalyst-llm/Tiltfile
Due: none

fix(tilt): rename context to admin@catalyst-cluster
  Tiltfile
  applications/catalyst-llm/Tiltfile
Due: none

fix(tilt): fix live_update ordering and remove globs from only
  applications/catalyst-llm/Tiltfile
Due: none

fix(tilt): update tdarr to use tdarr namespace and tdarr-server deployment
  Tiltfile
Due: none

fix(tilt): allow both catalyst-cluster and homelab-single contexts
  Tiltfile
  applications/catalyst-llm/Tiltfile
Due: none

fix(tilt): use only admin@catalyst-cluster context
  Tiltfile
  applications/catalyst-llm/Tiltfile
Due: none

fix(tiltfile): fix Starlark syntax and add ollama model buttons
  applications/catalyst-llm/Tiltfile
  infrastructure/base/vpn-gateway/rotation/Tiltfile
Due: none

feat(ollama): auto-pull models with sidecar + text input buttons
  applications/catalyst-llm/Tiltfile
  applications/catalyst-llm/ollama-talos06.yaml
Due: gitleaks, yamllint, kube-validate, trailing-whitespace

fix(tilt): load text_input extension in catalyst-llm Tiltfile
  applications/catalyst-llm/Tiltfile
Due: none

Path conditions:
  gitleaks: any of: *.{yaml,yml,sh,json,env,txt,md}
  yamllint: any of: *.{yaml,yml}
  kube-validate: any of: *.{yaml,yml}
  shellcheck: any of: *.sh
  shfmt: any of: *.sh
  markdownlint: any of: *.md
  trailing-whitespace: any of: *.{yaml,yml,sh,md,json}
  helm-lint: any of: **/Chart.yaml
